[KCM Locale]
Name=Tatar
Name[ca]=Tàtar
Name[es]=Tártaro
Name[ia]=Tataro
Name[nl]=Tataars
Name[sl]=Tatarščina
Name[tr]=Tatarca
Name[uk]=татарська
Name[x-test]=xxTatarxx
