[KCM Locale]
Name=Brazil portuguese
Name[ca]=Portuguès del Brasil
Name[es]=Portugués brasileño
Name[ia]=Portugese de Brasil
Name[nl]=Braziliaans Portugees
Name[sl]=Portugalščina (Brazilija)
Name[tr]=Brezilya Portekizcesi
Name[uk]=бразильська португальська
Name[x-test]=xxBrazil portuguesexx
