[KCM Locale]
Name=Brazil portuguese
Name[ia]=Portugese de Brasil
Name[nl]=Braziliaans Portugees
Name[tr]=Brezilya Portekizcesi
Name[uk]=бразильська португальська
