# This file is distributed under the same license as the PACKAGE package.
#
# Danishka Navin <danishka@gmail.com>, 2008, 2009, 2010, 2011.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2019-09-12 02:45+0200\n"
"PO-Revision-Date: 2011-07-25 07:45+0530\n"
"Last-Translator: Danishka Navin <danishka@gmail.com>\n"
"Language-Team: Sinhala <danishka@gmail.com>\n"
"Language: si\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=(n != 1);\n"
" \n"
" \n"
"X-Generator: Lokalize 1.2\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "ඩනිෂ්ක නවින්"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "danishka@gmail.com"

#: kcmodule.cpp:170
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr ""

#: kcmodule.cpp:174
#, fuzzy, kde-format
#| msgid "Do you want to reload KDE configuration?"
msgid "You are not allowed to save the configuration"
msgstr "ඔබට KDE මානකරණය යළි පූරණය කිරීමට ඇවශ්‍යද?"

#: kcodecaction.cpp:90
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "ප්‍රකෘතිය"

#: kcodecaction.cpp:98
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "ස්වයංහැදිනුම"

#: kconfigdialog.cpp:44
#, fuzzy, kde-format
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "දිගටම කරගෙන යන්න"

#: krecentfilesaction.cpp:79
#, kde-format
msgid "No Entries"
msgstr "ඇතුළත් කිරීම් නැත"

#: krecentfilesaction.cpp:85
#, kde-format
msgid "Clear List"
msgstr "ලැයිස්තුව මකන්න"

#: kstandardaction.cpp:153
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "පසුපසට (&B)"

#: kstandardaction.cpp:160
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "ඉදිරියට (&F)"

#: kstandardaction.cpp:167
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "නිවස (&H)"

#: kstandardaction.cpp:170
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "උදව් (&H)"

#: kstandardaction.cpp:214
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "මෙනුබාරය පෙන්වන්න<p>මෙනුතීරුව සැඟවූ පසු යළි පෙන්වීම</p>"

#: kstandardaction.cpp:234
#, fuzzy, kde-format
#| msgid ""
#| "Show Statusbar<br /><br />Shows the statusbar, which is the bar at the "
#| "bottom of the window used for status information."
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"තත්ව තීරුව පෙන්නන්න<br /><br />තත්ව තොරතුරු සඳහා භාවිතා වන කවුළුවේ පතුලේ ඇති තීරුව වන තත්ව "
"තීරුව පෙන්නයි."

#: kstandardaction_p.h:41
#, kde-format
msgid "&New"
msgstr "නව (&N)"

#: kstandardaction_p.h:41
#, fuzzy, kde-format
#| msgctxt "@label"
#| msgid "Create new tag:"
msgid "Create new document"
msgstr "අලුත් ටැග් තනන්න..."

#: kstandardaction_p.h:42
#, kde-format
msgid "&Open..."
msgstr "විවෘත කරන්න... (&O)"

#: kstandardaction_p.h:42
#, fuzzy, kde-format
#| msgid "&Back in the Document"
msgid "Open an existing document"
msgstr "ලේඛනයේ පසුපසින් (&B)"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open &Recent"
msgstr "මෑතකදි භාවිතා කළ දැ විවෘත කරන්න (&R)"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:44
#, kde-format
msgid "&Save"
msgstr "සුරකින්න &S"

#: kstandardaction_p.h:44
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Save document"
msgstr "ලේඛනය වසන්න"

#: kstandardaction_p.h:45
#, kde-format
msgid "Save &As..."
msgstr "සුරකින අයුර... &A"

#: kstandardaction_p.h:45
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Save document under a new name"
msgstr "ලේඛනය වසන්න"

#: kstandardaction_p.h:46
#, kde-format
msgid "Re&vert"
msgstr "පෙර තත්ව්යට (&v)"

#: kstandardaction_p.h:46
#, kde-format
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:47
#, kde-format
msgid "&Close"
msgstr "වසන්න (&C)"

#: kstandardaction_p.h:47
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Close document"
msgstr "ලේඛනය වසන්න"

#: kstandardaction_p.h:48
#, kde-format
msgid "&Print..."
msgstr "මුද්‍රණය... (&P)"

#: kstandardaction_p.h:48
#, fuzzy, kde-format
#| msgctxt "keyboard-key-name"
#| msgid "PrintScreen"
msgid "Print document"
msgstr "PrintScreen"

#: kstandardaction_p.h:49
#, kde-format
msgid "Print Previe&w"
msgstr "මුද්‍රණ පූර්‍වදසුන (&w)"

#: kstandardaction_p.h:49
#, kde-format
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:50
#, kde-format
msgid "&Mail..."
msgstr "තැපැල්... (&M)"

#: kstandardaction_p.h:50
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Send document by mail"
msgstr "ලේඛනය වසන්න"

#: kstandardaction_p.h:51
#, kde-format
msgid "&Quit"
msgstr "ඉවත් වන්න (&Q)"

#: kstandardaction_p.h:51
#, kde-format
msgid "Quit application"
msgstr "යෙදුමෙන් ඉවත් වන්න"

#: kstandardaction_p.h:53
#, kde-format
msgid "&Undo"
msgstr "අහෝසි කරන්න (&U)"

#: kstandardaction_p.h:53
#, fuzzy, kde-format
#| msgid "HTML documentation"
msgid "Undo last action"
msgstr "HTML ප්‍රලේඛනය"

#: kstandardaction_p.h:54
#, kde-format
msgid "Re&do"
msgstr "යළි කරන්න (&d)"

#: kstandardaction_p.h:54
#, fuzzy, kde-format
#| msgid "HTML documentation"
msgid "Redo last undone action"
msgstr "HTML ප්‍රලේඛනය"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cu&t"
msgstr "කපන්න (&t)"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:56
#, kde-format
msgid "&Copy"
msgstr "පිටපත් කරන්න (&C)"

#: kstandardaction_p.h:56
#, kde-format
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, kde-format
msgid "&Paste"
msgstr "අලවන්න (&P)"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, fuzzy, kde-format
#| msgid "Loading Preview"
msgid "Paste clipboard content"
msgstr "පූර්‍වදසුන පූර්‍ණය වෙමින්"

#: kstandardaction_p.h:59
#, kde-format
msgid "C&lear"
msgstr "පැහැදිලි කරන්න (&l)"

#: kstandardaction_p.h:60
#, kde-format
msgid "Select &All"
msgstr "සියල්ල තෝරන්න (&A)"

#: kstandardaction_p.h:61
#, kde-format
msgid "Dese&lect"
msgstr "තෝරන්න ඒපා (&l)"

#: kstandardaction_p.h:62
#, kde-format
msgid "&Find..."
msgstr "සොයන්න... (&F)"

#: kstandardaction_p.h:63
#, kde-format
msgid "Find &Next"
msgstr "මීළඟ සෙවුම (&N)"

#: kstandardaction_p.h:64
#, kde-format
msgid "Find Pre&vious"
msgstr "පෙර සෙවුම (&v)"

#: kstandardaction_p.h:65
#, kde-format
msgid "&Replace..."
msgstr "ආදේශය... (&R)"

#: kstandardaction_p.h:67
#, kde-format
msgid "&Actual Size"
msgstr "නිසි ප්‍රමාණය (&A)"

#: kstandardaction_p.h:67
#, kde-format
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:68
#, kde-format
msgid "&Fit to Page"
msgstr "පිටුවට ගලපන්න (&F)"

#: kstandardaction_p.h:68
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Zoom to fit page in window"
msgstr "පෙළට යන්න"

#: kstandardaction_p.h:69
#, kde-format
msgid "Fit to Page &Width"
msgstr "පිටුවේ පළලට ගලපන්න (&W)"

#: kstandardaction_p.h:69
#, kde-format
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:70
#, kde-format
msgid "Fit to Page &Height"
msgstr "පිටුවේ උසට ගලපන්න (&H)"

#: kstandardaction_p.h:70
#, kde-format
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:71
#, kde-format
msgid "Zoom &In"
msgstr "විශාල කරන්න (&I)"

#: kstandardaction_p.h:72
#, kde-format
msgid "Zoom &Out"
msgstr "කුඩා කරන්න (&O)"

#: kstandardaction_p.h:73
#, kde-format
msgid "&Zoom..."
msgstr "විශාලනය... (&Z)"

#: kstandardaction_p.h:73
#, fuzzy, kde-format
#| msgid "Select a week"
msgid "Select zoom level"
msgstr "සතියක් තෝරන්න"

#: kstandardaction_p.h:74
#, kde-format
msgid "&Redisplay"
msgstr "යළි දර්ශනය (&R)"

#: kstandardaction_p.h:74
#, fuzzy, kde-format
#| msgid "&Redisplay"
msgid "Redisplay document"
msgstr "යළි දර්ශනය (&R)"

#: kstandardaction_p.h:76
#, kde-format
msgid "&Up"
msgstr "ඉහළ (&U)"

#: kstandardaction_p.h:76
#, kde-format
msgid "Go up"
msgstr ""

#: kstandardaction_p.h:81
#, kde-format
msgid "&Previous Page"
msgstr "පෙර පිටුව (&P)"

#: kstandardaction_p.h:81
#, fuzzy, kde-format
#| msgid "&Previous Page"
msgid "Go to previous page"
msgstr "පෙර පිටුව (&P)"

#: kstandardaction_p.h:82
#, kde-format
msgid "&Next Page"
msgstr "මීළඟ පිටුව (&N)"

#: kstandardaction_p.h:82
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to next page"
msgstr "පෙළට යන්න"

#: kstandardaction_p.h:83
#, kde-format
msgid "&Go To..."
msgstr "යායුත්තේ... (&G)"

#: kstandardaction_p.h:84
#, kde-format
msgid "&Go to Page..."
msgstr "පිටුවට යන්න... (&G)"

#: kstandardaction_p.h:85
#, kde-format
msgid "&Go to Line..."
msgstr "පේළියට යන්න... (&G)"

#: kstandardaction_p.h:86
#, kde-format
msgid "&First Page"
msgstr "පළමු පිටුව (&F)"

#: kstandardaction_p.h:86
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to first page"
msgstr "පෙළට යන්න"

#: kstandardaction_p.h:87
#, kde-format
msgid "&Last Page"
msgstr "අවසන් පිටුව (&L)"

#: kstandardaction_p.h:87
#, fuzzy, kde-format
#| msgid "&Go to Page..."
msgid "Go to last page"
msgstr "පිටුවට යන්න... (&G)"

#: kstandardaction_p.h:88
#, kde-format
msgid "&Back"
msgstr "පිටු පසට (&B)"

#: kstandardaction_p.h:88
#, fuzzy, kde-format
#| msgid "&Back in the Document"
msgid "Go back in document"
msgstr "ලේඛනයේ පසුපසින් (&B)"

#: kstandardaction_p.h:89
#, fuzzy, kde-format
#| msgctxt "go forward"
#| msgid "&Forward"
msgid "&Forward"
msgstr "ඉදිරියට (&F)"

#: kstandardaction_p.h:89
#, fuzzy, kde-format
#| msgid "&Forward in the Document"
msgid "Go forward in document"
msgstr "ලේඛනයේ ඉදිරියෙන් (&F)"

#: kstandardaction_p.h:91
#, kde-format
msgid "&Add Bookmark"
msgstr "පිටු සලකුණු එක් කරන්න (&A)"

#: kstandardaction_p.h:92
#, kde-format
msgid "&Edit Bookmarks..."
msgstr "පිටු සලකුණු සකසන්න... (&E)"

#: kstandardaction_p.h:94
#, kde-format
msgid "&Spelling..."
msgstr "අක්‍ෂර වින්‍යාසය... (&S)"

#: kstandardaction_p.h:94
#, fuzzy, kde-format
#| msgid "Check Spelling"
msgid "Check spelling in document"
msgstr "අක්‍ෂර වින්‍යාසය පරීක්‍ෂා කරන්න"

#: kstandardaction_p.h:96
#, kde-format
msgid "Show &Menubar"
msgstr "මෙනුතීරුව පෙන්වන්න (&M)"

#: kstandardaction_p.h:96
#, fuzzy, kde-format
#| msgid "Show &Menubar"
msgid "Show or hide menubar"
msgstr "මෙනුතීරුව පෙන්වන්න (&M)"

#: kstandardaction_p.h:97
#, kde-format
msgid "Show &Toolbar"
msgstr "මෙවලම් තීරුව පෙන්වන්න"

#: kstandardaction_p.h:97
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Show Toolbar"
msgid "Show or hide toolbar"
msgstr "මෙවලම්තීරුව පෙන්වන්න"

#: kstandardaction_p.h:98
#, kde-format
msgid "Show St&atusbar"
msgstr "තත්ත්ව තීරුව පෙන්වන්න(&a)"

#: kstandardaction_p.h:98
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Show Statusbar"
msgid "Show or hide statusbar"
msgstr "තත්ත්වතීරුව පෙන්වන්න"

#: kstandardaction_p.h:99
#, kde-format
msgid "F&ull Screen Mode"
msgstr "පූර්‍ණතිර ආකාරය (&u)"

#: kstandardaction_p.h:100
#, kde-format
msgid "&Save Settings"
msgstr "සැකසුම් සුරකින්න (&S)"

#: kstandardaction_p.h:101
#, kde-format
msgid "Configure S&hortcuts..."
msgstr "කෙටි මාර්‍ග මානකරණය... (&h)"

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "%1 මානකරණය... (&C)"

#: kstandardaction_p.h:103
#, kde-format
msgid "Configure Tool&bars..."
msgstr "මෙවලම් තීරු මානකරණය... (&b)"

#: kstandardaction_p.h:104
#, kde-format
msgid "Configure &Notifications..."
msgstr "දැනුම් දීම් මානකරණය... (&N)"

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 අත්පොත (&H)"

#: kstandardaction_p.h:110
#, kde-format
msgid "What's &This?"
msgstr "මේ කුමක්ඳ? (&T)"

#: kstandardaction_p.h:111
#, kde-format
msgid "Tip of the &Day"
msgstr "දවසේ ඉඟිය (&D)"

#: kstandardaction_p.h:112
#, kde-format
msgid "&Report Bug..."
msgstr "දෝෂ වාර්තා කරන්න... (&R)"

#: kstandardaction_p.h:113
#, kde-format
msgid "Switch Application &Language..."
msgstr "යෙදුම් භාෂාව මාරු කරන්න... (&L)"

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "%1 පිළිබඳ (&A)"

#: kstandardaction_p.h:115
#, kde-format
msgid "About &KDE"
msgstr "&KDE පිළිබඳ"

#: kstandardaction_p.h:116
#, kde-format
msgid "&Delete"
msgstr "මකන්න (&D)"

#: kstandardaction_p.h:117
#, fuzzy, kde-format
#| msgid "&Replace..."
msgid "&Rename..."
msgstr "ආදේශය... (&R)"

#: kstandardaction_p.h:118
#, fuzzy, kde-format
#| msgid "Move to Trash"
msgid "&Move to Trash"
msgstr "ඉවතලන්න"

#: kstandardaction_p.h:119
#, kde-format
msgid "&Donate"
msgstr ""

#: ktipdialog.cpp:240
#, fuzzy, kde-format
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "දිනයේ ඉඟිය"

#: ktipdialog.cpp:256
#, fuzzy, kde-format
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "ඔබ දැනගෙන සිටියාද...?\n"

#: ktipdialog.cpp:310
#, fuzzy, kde-format
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "ආරම්භයේදි ඉඟි දර්ෂණය කරන්න (&S)"

#: ktipdialog.cpp:315
#, fuzzy, kde-format
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "මීට පෙර (&P)"

#: ktipdialog.cpp:320
#, fuzzy, kde-format
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "මීළඟ (&N)"
