[KCM Locale]
Name=Khmer
Name[ca]=Khmer
Name[es]=Jémer
Name[ia]=Khmer 
Name[nl]=Khmer
Name[sl]=Kmerščina
Name[tr]=Kmerce
Name[uk]=кхмерська
Name[x-test]=xxKhmerxx
