# Bengali (Bangla) translation of kdelibs4.
# Copyright (C) 2009, Free Software Foundation, Inc.
# translation of kdelibs4.po to Bengali
# Copyright (C) 2003, 2004, 2005, 2006, 2008 Free Software Foundation, Inc.
# Deepayan Sarkar,,, <deepayan.sarkar@gmail.com>, 2003.
# Deepayan Sarkar <deepayan.sarkar@gmail.com>, 2003, 2004, 2005.
# Deepayan Sarkar <deepayan.sarkar@gmail.com>, 2006, 2008, 2009..
# Deepayan Sarkar <deepayan.sarkar@gmail.com>, 2009, 2010, 2012.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2020-08-22 02:07+0200\n"
"PO-Revision-Date: 2012-07-16 14:27+0530\n"
"Last-Translator: Deepayan Sarkar <deepayan.sarkar@gmail.com>\n"
"Language-Team: American English <kde-translation@bengalinux.org>\n"
"Language: bn\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Generator: Lokalize 1.4\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "দীপায়ন সরকার"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "deepayan.sarkar@gmail.com"

#: kcmodule.cpp:182
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr ""

#: kcmodule.cpp:186
#, fuzzy, kde-format
msgid "You are not allowed to save the configuration"
msgstr "আপনি কি কনফিগারেশন ফাইল নতুন করে পড়তে চান?"

#: kcodecaction.cpp:71
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "ডিফল্ট"

#: kcodecaction.cpp:79
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "স্বয়ংক্রিয়"

#: kcolorschememanager.cpp:147
#, fuzzy, kde-format
#| msgctxt "Encodings menu"
#| msgid "Default"
msgid "Default"
msgstr "ডিফল্ট"

#: kcolorschememanager.cpp:224 kcolorschememanager.cpp:229
#, fuzzy, kde-format
#| msgid "Shortcut Schemes"
msgid "Color Scheme"
msgstr "শর্টকাট স্কীম"

#: kconfigdialog.cpp:33
#, fuzzy, kde-format
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "কনফিগার করো"

#: krecentfilesaction.cpp:67
#, kde-format
msgid "No Entries"
msgstr "কোনও এন্ট্রি নেই"

#: krecentfilesaction.cpp:73
#, kde-format
msgid "Clear List"
msgstr "তালিকা ফাঁকা করো"

#: kstandardaction.cpp:142
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "পিছিয়ে যা&ও"

#: kstandardaction.cpp:149
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&এগিয়ে যাও"

#: kstandardaction.cpp:156
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "হো&ম"

#: kstandardaction.cpp:160
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&সহায়িকা"

#: kstandardaction.cpp:205
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "মেনুবার দেখাও<p>লুকনোর পর মেনুবার আবার প্রদর্শন করে</p>"

#: kstandardaction.cpp:225
#, fuzzy, kde-format
#| msgid ""
#| "Show Statusbar<br /><br />Shows the statusbar, which is the bar at the "
#| "bottom of the window used for status information."
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"স্ট্যাটাস বার দেখাও<br /><br />স্ট্যাটাস বার (উইণ্ডোর তলায় অবস্থিত বার যা স্ট্যাটাস "
"তথ্য দেখানোর জন্য ব্যবহৃত হয়) প্রদর্শন করে।"

#: kstandardaction_p.h:30
#, kde-format
msgid "&New"
msgstr "&নতুন"

#: kstandardaction_p.h:30
#, kde-format
msgid "Create new document"
msgstr "নতুন নথী তৈরি করো"

#: kstandardaction_p.h:31
#, kde-format
msgid "&Open..."
msgstr "খোলো (&খ)..."

#: kstandardaction_p.h:31
#, fuzzy, kde-format
#| msgid "Go back in document"
msgid "Open an existing document"
msgstr "নথীতে পিছিয়ে যাও"

#: kstandardaction_p.h:32
#, kde-format
msgid "Open &Recent"
msgstr "&সম্প্রতি ব্যবহৃত"

#: kstandardaction_p.h:32
#, kde-format
msgid "Open a document which was recently opened"
msgstr "সম্প্রতি ব্যাবহার হয়েছে এমন একটি নথী খোলো"

#: kstandardaction_p.h:33
#, kde-format
msgid "&Save"
msgstr "সংরক্ষণ &করো"

#: kstandardaction_p.h:33
#, kde-format
msgid "Save document"
msgstr "নথী সংরক্ষণ করো"

#: kstandardaction_p.h:34
#, kde-format
msgid "Save &As..."
msgstr "&নতুন নামে সংরক্ষণ..."

#: kstandardaction_p.h:34
#, kde-format
msgid "Save document under a new name"
msgstr "নথী নতুন নামে সংরক্ষণ করো"

#: kstandardaction_p.h:35
#, kde-format
msgid "Re&vert"
msgstr "আগের অ&বস্থায় ফিরে যাও"

#: kstandardaction_p.h:35
#, kde-format
msgid "Revert unsaved changes made to document"
msgstr "নথীতে করা অসংরক্ষিত পরিবর্তন বাতিল করো"

#: kstandardaction_p.h:36
#, kde-format
msgid "&Close"
msgstr "&বন্ধ করো"

#: kstandardaction_p.h:36
#, kde-format
msgid "Close document"
msgstr "নথী বন্ধ করো"

#: kstandardaction_p.h:37
#, kde-format
msgid "&Print..."
msgstr "ছাপা&ও..."

#: kstandardaction_p.h:37
#, kde-format
msgid "Print document"
msgstr "নথী ছাপাও"

#: kstandardaction_p.h:38
#, kde-format
msgid "Print Previe&w"
msgstr "মুদ্রণ প্রাক্‌দর্শ&ন"

#: kstandardaction_p.h:38
#, kde-format
msgid "Show a print preview of document"
msgstr "নথীর মুদ্রণ প্রাকদর্শন দেখাও"

#: kstandardaction_p.h:39
#, kde-format
msgid "&Mail..."
msgstr "মে&ইল করো..."

#: kstandardaction_p.h:39
#, kde-format
msgid "Send document by mail"
msgstr "নথী ই-মেইল করে পাঠাও"

#: kstandardaction_p.h:40
#, kde-format
msgid "&Quit"
msgstr "প্রস্থা&ন করো"

#: kstandardaction_p.h:40
#, kde-format
msgid "Quit application"
msgstr "অ্যাপলিকেশন বন্ধ করো"

#: kstandardaction_p.h:42
#, kde-format
msgid "&Undo"
msgstr "বাতিল &করো"

#: kstandardaction_p.h:42
#, fuzzy, kde-format
msgid "Undo last action"
msgstr "এইচ-টি-এম-এল ডকুমেনটেশন"

#: kstandardaction_p.h:43
#, kde-format
msgid "Re&do"
msgstr "&আবার করো"

#: kstandardaction_p.h:43
#, fuzzy, kde-format
msgid "Redo last undone action"
msgstr "এইচ-টি-এম-এল ডকুমেনটেশন"

#: kstandardaction_p.h:44
#, kde-format
msgid "Cu&t"
msgstr "কাটো (&ট)"

#: kstandardaction_p.h:44
#, kde-format
msgid "Cut selection to clipboard"
msgstr "নির্বাচন কেটে ক্লীপবোর্ডে রাখো"

#: kstandardaction_p.h:45
#, kde-format
msgid "&Copy"
msgstr "কপি করো (&ক)"

#: kstandardaction_p.h:45
#, kde-format
msgid "Copy selection to clipboard"
msgstr "নির্বাচন ক্লীপবোর্ডে কপি করো"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
#, kde-format
msgid "&Paste"
msgstr "সাঁটো (&স)"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
#, kde-format
msgid "Paste clipboard content"
msgstr "ক্লিপবোর্ড-এর বিষয়বস্তু পেস্ট করো"

#: kstandardaction_p.h:50
#, kde-format
msgid "C&lear"
msgstr "ফাঁকা &করো"

#: kstandardaction_p.h:51
#, kde-format
msgid "Select &All"
msgstr "&সব নির্বাচন করো"

#: kstandardaction_p.h:52
#, kde-format
msgid "Dese&lect"
msgstr "নির্বা&চন বাতিল করো"

#: kstandardaction_p.h:53
#, kde-format
msgid "&Find..."
msgstr "&সন্ধান করো..."

#: kstandardaction_p.h:54
#, kde-format
msgid "Find &Next"
msgstr "&পরেরটি সন্ধান করো"

#: kstandardaction_p.h:55
#, kde-format
msgid "Find Pre&vious"
msgstr "আগে&রটি খোঁজো"

#: kstandardaction_p.h:56
#, kde-format
msgid "&Replace..."
msgstr "&বদলে বসাও..."

#: kstandardaction_p.h:58
#, kde-format
msgid "&Actual Size"
msgstr "&আসল মাপ"

#: kstandardaction_p.h:58
#, kde-format
msgid "View document at its actual size"
msgstr "নথীর সঠিক মাপে দেখাও"

#: kstandardaction_p.h:59
#, kde-format
msgid "&Fit to Page"
msgstr "পাতার &মধ্যে আঁটাও"

#: kstandardaction_p.h:59
#, kde-format
msgid "Zoom to fit page in window"
msgstr "পাতা পুরোপুরি উইণ্ডোর মধ্যে আঁটাতে প্রয়োজনমত ছোট বা বড় করো"

#: kstandardaction_p.h:60
#, kde-format
msgid "Fit to Page &Width"
msgstr "পাতার প্রস্থের মধ্যে আঁটা&ও"

#: kstandardaction_p.h:60
#, kde-format
msgid "Zoom to fit page width in window"
msgstr "পাতা প্রস্থে উইণ্ডোর মধ্যে আঁটাতে প্রয়োজনমত ছোট বা বড় করো"

#: kstandardaction_p.h:61
#, kde-format
msgid "Fit to Page &Height"
msgstr "পাতার &উচ্চতার মধ্যে আঁটাও"

#: kstandardaction_p.h:61
#, kde-format
msgid "Zoom to fit page height in window"
msgstr "পাতা উচ্চতায় উইণ্ডোর মধ্যে আঁটাতে প্রয়োজনমত ছোট বা বড় করো"

#: kstandardaction_p.h:62
#, kde-format
msgid "Zoom &In"
msgstr "&বড় করো "

#: kstandardaction_p.h:63
#, kde-format
msgid "Zoom &Out"
msgstr "ছো&ট করো"

#: kstandardaction_p.h:64
#, kde-format
msgid "&Zoom..."
msgstr "ছোট/ব&ড় করো..."

#: kstandardaction_p.h:64
#, fuzzy, kde-format
#| msgid "Select a week"
msgid "Select zoom level"
msgstr "একটি সপ্তাহ নির্বাচন করুন"

#: kstandardaction_p.h:65
#, kde-format
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:65
#, fuzzy, kde-format
#| msgid "Redisplay document"
msgid "Refresh document"
msgstr "নথী আবার দেখাও"

#: kstandardaction_p.h:67
#, kde-format
msgid "&Up"
msgstr "&উপর"

#: kstandardaction_p.h:67
#, kde-format
msgid "Go up"
msgstr "উপরে যাও"

#: kstandardaction_p.h:72
#, kde-format
msgid "&Previous Page"
msgstr "&আগের পাতা"

#: kstandardaction_p.h:72
#, kde-format
msgid "Go to previous page"
msgstr "আগের পাতায় যাও"

#: kstandardaction_p.h:73
#, kde-format
msgid "&Next Page"
msgstr "&পরের পাতা"

#: kstandardaction_p.h:73
#, kde-format
msgid "Go to next page"
msgstr "পরের পাতায় যাও"

#: kstandardaction_p.h:74
#, kde-format
msgid "&Go To..."
msgstr "...যা&ও"

#: kstandardaction_p.h:75
#, kde-format
msgid "&Go to Page..."
msgstr "...পাতায় যা&ও"

#: kstandardaction_p.h:76
#, kde-format
msgid "&Go to Line..."
msgstr "...লাইনে যা&ও"

#: kstandardaction_p.h:77
#, kde-format
msgid "&First Page"
msgstr "প্রথ&ম পাতা"

#: kstandardaction_p.h:77
#, kde-format
msgid "Go to first page"
msgstr "প্রথম পাতায় যাও"

#: kstandardaction_p.h:78
#, kde-format
msgid "&Last Page"
msgstr "শে&ষ পাতা"

#: kstandardaction_p.h:78
#, kde-format
msgid "Go to last page"
msgstr "শেষ পাতায় যাও"

#: kstandardaction_p.h:79
#, kde-format
msgid "&Back"
msgstr "ফিরে যা&ও"

#: kstandardaction_p.h:79
#, kde-format
msgid "Go back in document"
msgstr "নথীতে পিছিয়ে যাও"

#: kstandardaction_p.h:80
#, kde-format
msgid "&Forward"
msgstr "এগিয়ে যাও"

#: kstandardaction_p.h:80
#, kde-format
msgid "Go forward in document"
msgstr "নথীতে এগিয়ে যাও"

#: kstandardaction_p.h:82
#, kde-format
msgid "&Add Bookmark"
msgstr "বুকমার্ক &করো"

#: kstandardaction_p.h:83
#, kde-format
msgid "&Edit Bookmarks..."
msgstr "বুকমার্ক &সম্পাদনা করো..."

#: kstandardaction_p.h:85
#, kde-format
msgid "&Spelling..."
msgstr "বানা&ন..."

#: kstandardaction_p.h:85
#, kde-format
msgid "Check spelling in document"
msgstr "নথীতে বানান পরীক্ষা করো"

#: kstandardaction_p.h:87
#, kde-format
msgid "Show &Menubar"
msgstr "মেনুবা&র দেখাও"

#: kstandardaction_p.h:87
#, kde-format
msgid "Show or hide menubar"
msgstr "মেনুবার দেখাও বা লুকাও"

#: kstandardaction_p.h:88
#, kde-format
msgid "Show &Toolbar"
msgstr "টু&লবার দেখাও"

#: kstandardaction_p.h:88
#, kde-format
msgid "Show or hide toolbar"
msgstr "টুলবার দেখাও বা লুকাও"

#: kstandardaction_p.h:89
#, kde-format
msgid "Show St&atusbar"
msgstr "স্ট্যাটা&স বার দেখাও"

#: kstandardaction_p.h:89
#, kde-format
msgid "Show or hide statusbar"
msgstr "স্ট্যাটাস বার দেখাও বা লুকাও"

#: kstandardaction_p.h:90
#, kde-format
msgid "F&ull Screen Mode"
msgstr "ফু&ল স্ক্রীণ মোড"

#: kstandardaction_p.h:92
#, kde-format
msgid "&Save Settings"
msgstr "&পছন্দ সংরক্ষণ করো"

#: kstandardaction_p.h:94
#, fuzzy, kde-format
#| msgid "Configure S&hortcuts..."
msgid "Configure Keyboard S&hortcuts..."
msgstr "&শর্টকাট কনফিগার করো..."

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "%1 &কনফিগার করো..."

#: kstandardaction_p.h:96
#, kde-format
msgid "Configure Tool&bars..."
msgstr "টুলবার ক&নফিগার করো..."

#: kstandardaction_p.h:97
#, kde-format
msgid "Configure &Notifications..."
msgstr "বার্তা&বলী কনফিগার করো..."

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 হ্যাণ্ডবু&ক"

#: kstandardaction_p.h:105
#, kde-format
msgid "What's &This?"
msgstr "&এটা কী?"

#: kstandardaction_p.h:106
#, kde-format
msgid "Tip of the &Day"
msgstr "&আজকের টিপ"

#: kstandardaction_p.h:107
#, kde-format
msgid "&Report Bug..."
msgstr "বা&গ টিপোর্ট করো..."

#: kstandardaction_p.h:108
#, fuzzy, kde-format
#| msgid "Configure Email..."
msgid "Configure &Language..."
msgstr "ই-মেইল কনফিগার করো..."

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "%1 &সম্বন্ধে"

#: kstandardaction_p.h:110
#, kde-format
msgid "About &KDE"
msgstr "কে-ডি-&ই পরিচিতি"

#: kstandardaction_p.h:111
#, kde-format
msgid "&Delete"
msgstr "মুছে ফেলো (&ম)"

#: kstandardaction_p.h:112
#, fuzzy, kde-format
#| msgid "&Replace..."
msgid "&Rename..."
msgstr "&বদলে বসাও..."

#: kstandardaction_p.h:113
#, kde-format
msgid "&Move to Trash"
msgstr ""

#: kstandardaction_p.h:114
#, kde-format
msgid "&Donate"
msgstr ""

#: ktipdialog.cpp:225
#, fuzzy, kde-format
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "আজকের টিপ"

#: ktipdialog.cpp:241
#, fuzzy, kde-format
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "আপনি কি জানেন...?\n"

#: ktipdialog.cpp:295
#, fuzzy, kde-format
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "শুরু করার সময় টি&প দেখাও"

#: ktipdialog.cpp:300
#, fuzzy, kde-format
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "পূর্ব&বর্তী"

#: ktipdialog.cpp:305
#, fuzzy, kde-format
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&পরবর্তী"
