[KCM Locale]
Name=Hindi
Name[ca]=Hindi
Name[es]=Hindi
Name[ia]=Hindi 
Name[nl]=Hindi
Name[sl]=Hindujščina
Name[tr]=Hintçe
Name[uk]=хінді
Name[x-test]=xxHindixx

