# Copyright (C) YEAR This_file_is_part_of_KDE
# This file is distributed under the same license as the PACKAGE package.
#
# g.sora <g.sora@tiscali.it>, 2010, 2011, 2012, 2013.
msgid ""
msgstr ""
"Project-Id-Version: \n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2015-02-28 09:34+0000\n"
"PO-Revision-Date: 2013-10-16 14:03+0200\n"
"Last-Translator: G.Sora <g.sora@tiscali.it>\n"
"Language-Team: Interlingua <kde-l10n-ia@kde.org>\n"
"Language: ia\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Generator: Lokalize 1.5\n"

msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Giovanni Sora"

msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "g.sora@tiscali.it"

#: kcmodule.cpp:166
msgid "You will be asked to authenticate before saving"
msgstr "Tu essera requirite de authenticar ante salveguardar"

#: kcmodule.cpp:170
msgid "You are not allowed to save the configuration"
msgstr "Tu non ha le permissiones de salveguardar le configuration"

#: kcodecaction.cpp:90
msgctxt "Encodings menu"
msgid "Default"
msgstr "Predefinite"

#: kcodecaction.cpp:98
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Auto relevate"

#: kconfigdialog.cpp:45
#, fuzzy
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "Configura"

#: klanguagebutton.cpp:194
msgid "without name"
msgstr "sin nomine"

#: krecentfilesaction.cpp:78
msgid "No Entries"
msgstr "Necun entratas"

#: krecentfilesaction.cpp:84
msgid "Clear List"
msgstr "Netta Lista"

#: kstandardaction.cpp:90
msgctxt "go back"
msgid "&Back"
msgstr "&Retro"

#: kstandardaction.cpp:97
msgctxt "go forward"
msgid "&Forward"
msgstr "&Avante"

#: kstandardaction.cpp:104
msgctxt "home page"
msgid "&Home"
msgstr "&Domo"

#: kstandardaction.cpp:107
msgctxt "show help"
msgid "&Help"
msgstr "Ad&jutar"

#: kstandardaction.cpp:526 kstandardaction_p.h:96
msgid "Show &Menubar"
msgstr "Monstra barra de &menu"

#: kstandardaction.cpp:534
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Monstra barra de menu <p> Il monstra le barra de menu de nove postea que "
"habeva essite celate</p>"

#: kstandardaction.cpp:552 kstandardaction_p.h:98
msgid "Show St&atusbar"
msgstr "Monstrar barra de st&ato"

#: kstandardaction.cpp:555
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Monstra barra de stato <p> Il monstra le barra de stato, que es le barra a "
"basso del fenestra usate pro le information de stato.</p>"

#: kstandardaction_p.h:41
msgid "&New"
msgstr "&Nove"

#: kstandardaction_p.h:41
msgid "Create new document"
msgstr "Crea nove documento"

#: kstandardaction_p.h:42
msgid "&Open..."
msgstr "&Aperi ..."

#: kstandardaction_p.h:42
msgid "Open an existing document"
msgstr "Aperi un documento existente"

#: kstandardaction_p.h:43
msgid "Open &Recent"
msgstr "Aperi &recente"

#: kstandardaction_p.h:43
msgid "Open a document which was recently opened"
msgstr "Aperi un documento que ha essite aperite recentemente"

#: kstandardaction_p.h:44
msgid "&Save"
msgstr "&Salveguarda"

#: kstandardaction_p.h:44
msgid "Save document"
msgstr "Salveguarda documento"

#: kstandardaction_p.h:45
msgid "Save &As..."
msgstr "S&alveguarda como ..."

#: kstandardaction_p.h:45
msgid "Save document under a new name"
msgstr "Salveguarda un documento con un nove nomine"

#: kstandardaction_p.h:46
msgid "Re&vert"
msgstr "Re&verte"

#: kstandardaction_p.h:46
msgid "Revert unsaved changes made to document"
msgstr "Reverte modificationes non salveguardate facite al documento"

#: kstandardaction_p.h:47
msgid "&Close"
msgstr "&Claude"

#: kstandardaction_p.h:47
msgid "Close document"
msgstr "Claude documento"

#: kstandardaction_p.h:48
msgid "&Print..."
msgstr "Im&prime..."

#: kstandardaction_p.h:48
msgid "Print document"
msgstr "Imprime documento"

#: kstandardaction_p.h:49
msgid "Print Previe&w"
msgstr "Vista Preliminar de &Imprimer"

#: kstandardaction_p.h:49
msgid "Show a print preview of document"
msgstr "Monstra un vista preliminar del documento"

#: kstandardaction_p.h:50
msgid "&Mail..."
msgstr "Invia via &E-posta..."

#: kstandardaction_p.h:50
msgid "Send document by mail"
msgstr "Invia un documento per e-posta"

#: kstandardaction_p.h:51
msgid "&Quit"
msgstr "&Quita"

#: kstandardaction_p.h:51
msgid "Quit application"
msgstr "Quita Application"

#: kstandardaction_p.h:53
msgid "&Undo"
msgstr "Ann&ulla"

#: kstandardaction_p.h:53
msgid "Undo last action"
msgstr "Annulla ultime action"

#: kstandardaction_p.h:54
msgid "Re&do"
msgstr "R&eface"

#: kstandardaction_p.h:54
msgid "Redo last undone action"
msgstr "Face de nove ultime action annullate"

#: kstandardaction_p.h:55
msgid "Cu&t"
msgstr "&Talia"

#: kstandardaction_p.h:55
msgid "Cut selection to clipboard"
msgstr "Talia selection a area de transferentia"

#: kstandardaction_p.h:56
msgid "&Copy"
msgstr "&Copia"

#: kstandardaction_p.h:56
msgid "Copy selection to clipboard"
msgstr "Copia selection a area de transferentia"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "&Paste"
msgstr "Co&lla"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "Paste clipboard content"
msgstr "Colla contento de area de transferentia"

#: kstandardaction_p.h:59
msgid "C&lear"
msgstr "&Netta"

#: kstandardaction_p.h:60
msgid "Select &All"
msgstr "Selection&a Tote"

#: kstandardaction_p.h:61
msgid "Dese&lect"
msgstr "De-se&lectiona"

#: kstandardaction_p.h:62
msgid "&Find..."
msgstr "&Trova..."

#: kstandardaction_p.h:63
msgid "Find &Next"
msgstr "Trova proxi&me"

#: kstandardaction_p.h:64
msgid "Find Pre&vious"
msgstr "Tro&va precedente "

#: kstandardaction_p.h:65
msgid "&Replace..."
msgstr "&Reimplacia"

#: kstandardaction_p.h:67
msgid "&Actual Size"
msgstr "Dimension &actual"

#: kstandardaction_p.h:67
msgid "View document at its actual size"
msgstr "Vide documento a su grandor actual"

#: kstandardaction_p.h:68
msgid "&Fit to Page"
msgstr "Ada&pta a la pagina"

#: kstandardaction_p.h:68
msgid "Zoom to fit page in window"
msgstr "Face zoom usque il adapta a pagina in fenestra"

#: kstandardaction_p.h:69
msgid "Fit to Page &Width"
msgstr "Adapta a le largessa de pa&gina"

#: kstandardaction_p.h:69
msgid "Zoom to fit page width in window"
msgstr "Face zoom usque il adapta a largessa de pagina pagina in fenestra"

#: kstandardaction_p.h:70
msgid "Fit to Page &Height"
msgstr "Adapta  a le altessa de pagi&na"

#: kstandardaction_p.h:70
msgid "Zoom to fit page height in window"
msgstr "Face zoom usque il adapta a altessa de pagina in fenestra"

#: kstandardaction_p.h:71
msgid "Zoom &In"
msgstr "Zoom &In (aggrandi)"

#: kstandardaction_p.h:72
msgid "Zoom &Out"
msgstr "Zoom&Out (diminue)"

#: kstandardaction_p.h:73
msgid "&Zoom..."
msgstr "&Zoom"

#: kstandardaction_p.h:73
msgid "Select zoom level"
msgstr "Selectiona nivello de zoom"

#: kstandardaction_p.h:74
msgid "&Redisplay"
msgstr "Monst&ra de nove"

#: kstandardaction_p.h:74
msgid "Redisplay document"
msgstr "Monstra de nove le documento"

#: kstandardaction_p.h:76
msgid "&Up"
msgstr "In Al&to"

#: kstandardaction_p.h:76
msgid "Go up"
msgstr "Vade in alto"

#: kstandardaction_p.h:81
msgid "&Previous Page"
msgstr "&Pagina precedente"

#: kstandardaction_p.h:81
msgid "Go to previous page"
msgstr "Vade a pagina precedente"

#: kstandardaction_p.h:82
msgid "&Next Page"
msgstr "Pagi&na Proxime"

#: kstandardaction_p.h:82
msgid "Go to next page"
msgstr "Vade a pagina proxime"

#: kstandardaction_p.h:83
msgid "&Go To..."
msgstr "&Vade a..."

#: kstandardaction_p.h:84
msgid "&Go to Page..."
msgstr "&Vade a pagina ..."

#: kstandardaction_p.h:85
msgid "&Go to Line..."
msgstr "&Vade a linea..."

#: kstandardaction_p.h:86
msgid "&First Page"
msgstr "&Pagina prime"

#: kstandardaction_p.h:86
msgid "Go to first page"
msgstr "Vade a prime pagina"

#: kstandardaction_p.h:87
msgid "&Last Page"
msgstr "Pagina u&ltime"

#: kstandardaction_p.h:87
msgid "Go to last page"
msgstr "Vade a ultime pagina"

#: kstandardaction_p.h:88
msgid "&Back"
msgstr "&Retro"

#: kstandardaction_p.h:88
msgid "Go back in document"
msgstr "Vade retro in le documento"

#: kstandardaction_p.h:89
msgid "&Forward"
msgstr "&Avante"

#: kstandardaction_p.h:89
msgid "Go forward in document"
msgstr "Vade avante in le documento"

#: kstandardaction_p.h:91
msgid "&Add Bookmark"
msgstr "&Adde marcator de libro"

#: kstandardaction_p.h:92
msgid "&Edit Bookmarks..."
msgstr "&Edita marcatores de libro..."

#: kstandardaction_p.h:94
msgid "&Spelling..."
msgstr "Controlo Ort&hographic..."

#: kstandardaction_p.h:94
msgid "Check spelling in document"
msgstr "Controlo Orthographic in documento"

#: kstandardaction_p.h:96
msgid "Show or hide menubar"
msgstr "Monstra o cela barra de menu"

#: kstandardaction_p.h:97
msgid "Show &Toolbar"
msgstr "Mons&tra le barra de instrumentos"

#: kstandardaction_p.h:97
msgid "Show or hide toolbar"
msgstr "Monstra o cela barra de instrumentos"

#: kstandardaction_p.h:98
msgid "Show or hide statusbar"
msgstr "Monstra o cela barra de stato"

#: kstandardaction_p.h:99
msgid "F&ull Screen Mode"
msgstr "M&odo de schermo integre"

#: kstandardaction_p.h:100
msgid "&Save Settings"
msgstr "&Salveguarda preferentias"

#: kstandardaction_p.h:101
msgid "Configure S&hortcuts..."
msgstr "Confi&gura Vias breve ..."

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "&Configura %1..."

#: kstandardaction_p.h:103
msgid "Configure Tool&bars..."
msgstr "Configura &barras de instrumento..."

#: kstandardaction_p.h:104
msgid "Configure &Notifications..."
msgstr "Configura &Notificationes..."

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 &Manual"

#: kstandardaction_p.h:110
msgid "What's &This?"
msgstr "Que es is&to?"

#: kstandardaction_p.h:111
msgid "Tip of the &Day"
msgstr "Consilio del &Die"

#: kstandardaction_p.h:112
msgid "&Report Bug..."
msgstr "&Reporta Bug..."

#: kstandardaction_p.h:113
msgid "Switch Application &Language..."
msgstr "Commuta &Linguage de Application"

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "&A proposito de %1"

#: kstandardaction_p.h:115
msgid "About &KDE"
msgstr "A proposito de &KDE"

#: ktipdialog.cpp:239
#, fuzzy
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Suggestion del die"

#: ktipdialog.cpp:255
#, fuzzy
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Tu sape ...?\n"

#: ktipdialog.cpp:307
#, fuzzy
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "Mon&stra suggestiones a le initio"

#: ktipdialog.cpp:312
#, fuzzy
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Previe"

#: ktipdialog.cpp:317
#, fuzzy
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "Seque&nte"
