[KCM Locale]
Name=Burmese
Name[ca]=Birmà
Name[cs]=Barmský
Name[el]=Βιρμανικά
Name[es]=Birmano
Name[fr]=Birman
Name[nl]=Burmees
Name[pt]=Birmanês
Name[sl]=Burmanščina
Name[sv]=Burmesiska
Name[uk]=Бірманська
Name[vi]=Tiếng Myanmar
Name[x-test]=xxBurmesexx
