[KCM Locale]
Name=မြန်မာ
Name[az]=မြန်မာ (Myanma)
Name[ca]=Birmà
Name[el]=Βιρμανικά
Name[es]=Birmano
Name[fr]=မြန်မာ
Name[hu]=မြန်မာ
Name[ia]=မြန်မာ
Name[nl]=မြန်မာ
Name[pl]=မြန်မာ
Name[sv]=Myanmar
Name[uk]=Бірманська
Name[vi]=Tiếng Miến Điện
Name[x-test]=xxမြန်မာxx
Name[zh_CN]=缅甸语
