[KCM Locale]
Name=Burmese
Name[az]=Birma dili
Name[ca]=Birmà
Name[cs]=Barmský
Name[de]=Burmesisch
Name[el]=Βιρμανικά
Name[en_GB]=Burmese
Name[es]=Birmano
Name[eu]=Birmaniera
Name[fi]=Burma
Name[fr]=Birman
Name[hi]=बर्मी
Name[hu]=Burmai
Name[ia]=Burmese
Name[it]=Birmano
Name[ko]=버마어
Name[nl]=Burmees
Name[pl]=Birmański
Name[pt]=Birmanês
Name[pt_BR]=Birmanês
Name[sk]=Barmčina
Name[sl]=Burmanščina
Name[sv]=Burmesiska
Name[ta]=பர்மியம்
Name[uk]=Бірманська
Name[vi]=Tiếng Myanmar
Name[x-test]=xxBurmesexx
Name[zh_CN]=缅甸语
