# translation of kdelibs4.po to Tajik Language
# 2004, 2005, 2006, 2007 infoDev, a World Bank organization.
# 2004, 2005, 2006, 2007 Khujand Computer Technologies, Inc.
# 2004, 2005, 2006, 2007 Youth Opportunities, NGO, 2005.
# Roger Kovacs <rkovacs@khujand.org>, 2003.
# Thomas Diehl <thd@kde.org>, 2003.
# Victor Ibragimov <victor.ibragimov@gmail.com>, 2003, 2004, 2005, 2006, 2007, 2008, 2019.
# Copyright (C) 2004, 2002, 2005, 2006, 2007, 2008 Free Software Foundation, Inc.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2019-08-05 02:40+0200\n"
"PO-Revision-Date: 2019-08-15 16:13+0500\n"
"Last-Translator: Victor Ibragimov <victor.ibragimov@gmail.com>\n"
"Language-Team: Tajik Language\n"
"Language: tg\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Poedit 2.2.1\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Victor Ibragimov"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "victor.ibragimov@gmail.com"

#: kcmodule.cpp:170
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "Пеш аз нигоҳдорӣ ба шумо санҷиши ҳаққоният пешниҳод карда мешавад"

#: kcmodule.cpp:174
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "Шумо барои нигоҳ доштани танзимот иҷозат надоред"

#: kcodecaction.cpp:90
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Стандартӣ"

#: kcodecaction.cpp:98
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Худмуайянкунии"

#: kconfigdialog.cpp:44
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Танзимот"

#: krecentfilesaction.cpp:77
#, kde-format
msgid "No Entries"
msgstr "Ягон ворида нест"

#: krecentfilesaction.cpp:83
#, kde-format
msgid "Clear List"
msgstr "Пок кардани рӯйхат"

#: kstandardaction.cpp:153
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Ба қафо"

#: kstandardaction.cpp:160
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Ба пеш"

#: kstandardaction.cpp:167
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Асосӣ"

#: kstandardaction.cpp:170
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&Кумак"

#: kstandardaction.cpp:214
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Нишон додани навори феҳрист<p>Навори менюро аз нав нишон медиҳад, агар он "
"пинҳон карда шуда бошад</p>"

#: kstandardaction.cpp:234
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Нишон додани навори вазъият<p>Навори вазъиятеро нишон медиҳад, ки дар поёни "
"равзана ҷойгир аст ва барои намоиши иттилооти вазъият истифода мешавад.</p>"

#: kstandardaction_p.h:41
#, kde-format
msgid "&New"
msgstr "&Нав"

#: kstandardaction_p.h:41
#, kde-format
msgid "Create new document"
msgstr "Эҷод кардани ҳуҷҷати нав"

#: kstandardaction_p.h:42
#, kde-format
msgid "&Open..."
msgstr "&Кушодан..."

#: kstandardaction_p.h:42
#, kde-format
msgid "Open an existing document"
msgstr "Кушодани ҳуҷҷати мавҷудбуда"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open &Recent"
msgstr "&Кушодани маводи охирин"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open a document which was recently opened"
msgstr "&Кушодани маводе, ки охирин бор кушода буд"

#: kstandardaction_p.h:44
#, kde-format
msgid "&Save"
msgstr "&Нигоҳ доштан"

#: kstandardaction_p.h:44
#, kde-format
msgid "Save document"
msgstr "Нигоҳ доштани ҳуҷҷат"

#: kstandardaction_p.h:45
#, kde-format
msgid "Save &As..."
msgstr "&Нигоҳ доштан ҳамчун..."

#: kstandardaction_p.h:45
#, kde-format
msgid "Save document under a new name"
msgstr "Нигоҳ доштани ҳуҷҷат дар таҳти номи нав"

#: kstandardaction_p.h:46
#, kde-format
msgid "Re&vert"
msgstr "&Бозсозӣ"

#: kstandardaction_p.h:46
#, kde-format
msgid "Revert unsaved changes made to document"
msgstr "Бозгашти тағйироте, ки дар ҳуҷҷат нигоҳ дошта нашуд"

#: kstandardaction_p.h:47
#, kde-format
msgid "&Close"
msgstr "&Пӯшидан"

#: kstandardaction_p.h:47
#, kde-format
msgid "Close document"
msgstr "Пӯшидани ҳуҷҷат"

#: kstandardaction_p.h:48
#, kde-format
msgid "&Print..."
msgstr "&Чоп кардан…"

#: kstandardaction_p.h:48
#, kde-format
msgid "Print document"
msgstr "Чоп кардани ҳуҷҷат"

#: kstandardaction_p.h:49
#, kde-format
msgid "Print Previe&w"
msgstr "&Пешнамоиши чоп"

#: kstandardaction_p.h:49
#, kde-format
msgid "Show a print preview of document"
msgstr "Нишон додани пешнамоиши чопи ҳуҷҷат"

#: kstandardaction_p.h:50
#, kde-format
msgid "&Mail..."
msgstr "&Почта..."

#: kstandardaction_p.h:50
#, kde-format
msgid "Send document by mail"
msgstr "Фиристодани ҳуҷҷат ба воситаи почта"

#: kstandardaction_p.h:51
#, kde-format
msgid "&Quit"
msgstr "&Баромадан"

#: kstandardaction_p.h:51
#, kde-format
msgid "Quit application"
msgstr "Баромадан аз барнома"

#: kstandardaction_p.h:53
#, kde-format
msgid "&Undo"
msgstr "&Ботил сохтан"

#: kstandardaction_p.h:53
#, kde-format
msgid "Undo last action"
msgstr "Ботил сохтани амали охирин"

#: kstandardaction_p.h:54
#, kde-format
msgid "Re&do"
msgstr "&Дубора анҷом додан"

#: kstandardaction_p.h:54
#, kde-format
msgid "Redo last undone action"
msgstr "Дубора анҷом додани амали охирин"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cu&t"
msgstr "&Буридан"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cut selection to clipboard"
msgstr "Буридани интихоб ба ҳофизаи муваққатӣ"

#: kstandardaction_p.h:56
#, kde-format
msgid "&Copy"
msgstr "&Нусха бардоштан"

#: kstandardaction_p.h:56
#, kde-format
msgid "Copy selection to clipboard"
msgstr "Нусха бардоштани интихоб ба ҳофизаи муваққатӣ"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, kde-format
msgid "&Paste"
msgstr "&Гузоштан"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, kde-format
msgid "Paste clipboard content"
msgstr "Гузоштани муҳтавои ҳофизаи муваққатӣ"

#: kstandardaction_p.h:59
#, kde-format
msgid "C&lear"
msgstr "&Пок кардан"

#: kstandardaction_p.h:60
#, kde-format
msgid "Select &All"
msgstr "&Ҳамаро интихоб кардан"

#: kstandardaction_p.h:61
#, kde-format
msgid "Dese&lect"
msgstr "&Интихобро бекор кардан"

#: kstandardaction_p.h:62
#, kde-format
msgid "&Find..."
msgstr "&Ёфтан..."

#: kstandardaction_p.h:63
#, kde-format
msgid "Find &Next"
msgstr "&Ёфтани навбатӣ"

#: kstandardaction_p.h:64
#, kde-format
msgid "Find Pre&vious"
msgstr "&Ёфтани қаблӣ"

#: kstandardaction_p.h:65
#, kde-format
msgid "&Replace..."
msgstr "&Ҷойгузин кардан..."

#: kstandardaction_p.h:67
#, kde-format
msgid "&Actual Size"
msgstr "&Андозаи ҳақиқӣ"

#: kstandardaction_p.h:67
#, kde-format
msgid "View document at its actual size"
msgstr "Намоиш додани ҳуҷҷат дар андозаи ҳақиқӣ"

#: kstandardaction_p.h:68
#, kde-format
msgid "&Fit to Page"
msgstr "&Ба саҳифа ғунҷидан"

#: kstandardaction_p.h:68
#, kde-format
msgid "Zoom to fit page in window"
msgstr "Танзими андоза барои ба равзана ғунҷидан"

#: kstandardaction_p.h:69
#, kde-format
msgid "Fit to Page &Width"
msgstr "&Ба паҳнии саҳифа ғунҷидан"

#: kstandardaction_p.h:69
#, kde-format
msgid "Zoom to fit page width in window"
msgstr "Танзими андоза барои ба паҳнии саҳифа дар равзана ғунҷидан"

#: kstandardaction_p.h:70
#, kde-format
msgid "Fit to Page &Height"
msgstr "&Ба баландии саҳифа ғунҷидан"

#: kstandardaction_p.h:70
#, kde-format
msgid "Zoom to fit page height in window"
msgstr "Танзими андоза барои ба баландии саҳифа дар равзана ғунҷидан"

#: kstandardaction_p.h:71
#, kde-format
msgid "Zoom &In"
msgstr "&Бузург кардани андоза"

#: kstandardaction_p.h:72
#, kde-format
msgid "Zoom &Out"
msgstr "&Хурд кардани андоза"

#: kstandardaction_p.h:73
#, kde-format
msgid "&Zoom..."
msgstr "&Танзими андоза..."

#: kstandardaction_p.h:73
#, kde-format
msgid "Select zoom level"
msgstr "Интихоби дараҷаи танзими андоза"

#: kstandardaction_p.h:74
#, kde-format
msgid "&Redisplay"
msgstr "&Аз нав нишон додан"

#: kstandardaction_p.h:74
#, kde-format
msgid "Redisplay document"
msgstr "Аз нав нишон додани ҳуҷҷат"

#: kstandardaction_p.h:76
#, kde-format
msgid "&Up"
msgstr "&Ба боло"

#: kstandardaction_p.h:76
#, kde-format
msgid "Go up"
msgstr "Гузариш ба боло"

#: kstandardaction_p.h:81
#, kde-format
msgid "&Previous Page"
msgstr "&Саҳифаи қаблӣ"

#: kstandardaction_p.h:81
#, kde-format
msgid "Go to previous page"
msgstr "Гузариш ба саҳифаи қаблӣ"

#: kstandardaction_p.h:82
#, kde-format
msgid "&Next Page"
msgstr "&Саҳифаи навбатӣ"

#: kstandardaction_p.h:82
#, kde-format
msgid "Go to next page"
msgstr "Гузариш ба саҳифаи навбатӣ"

#: kstandardaction_p.h:83
#, kde-format
msgid "&Go To..."
msgstr "&Гузариш ба..."

#: kstandardaction_p.h:84
#, kde-format
msgid "&Go to Page..."
msgstr "&Гузариш ба саҳифа..."

#: kstandardaction_p.h:85
#, kde-format
msgid "&Go to Line..."
msgstr "&Гузариш ба сатр..."

#: kstandardaction_p.h:86
#, kde-format
msgid "&First Page"
msgstr "&Саҳифаи аввалин"

#: kstandardaction_p.h:86
#, kde-format
msgid "Go to first page"
msgstr "Гузариш ба саҳифаи аввалин"

#: kstandardaction_p.h:87
#, kde-format
msgid "&Last Page"
msgstr "&Саҳифаи охирин"

#: kstandardaction_p.h:87
#, kde-format
msgid "Go to last page"
msgstr "Гузариш ба саҳифаи охирин"

#: kstandardaction_p.h:88
#, kde-format
msgid "&Back"
msgstr "&Ба қафо"

#: kstandardaction_p.h:88
#, kde-format
msgid "Go back in document"
msgstr "Гузариш ба қафо дар ҳуҷҷат"

#: kstandardaction_p.h:89
#, kde-format
msgid "&Forward"
msgstr "&Ба пеш"

#: kstandardaction_p.h:89
#, kde-format
msgid "Go forward in document"
msgstr "Гузариш ба пеш дар ҳуҷҷат"

#: kstandardaction_p.h:91
#, kde-format
msgid "&Add Bookmark"
msgstr "&Илова кардани хатчӯб"

#: kstandardaction_p.h:92
#, kde-format
msgid "&Edit Bookmarks..."
msgstr "&Таҳрир кардани хатчӯб..."

#: kstandardaction_p.h:94
#, kde-format
msgid "&Spelling..."
msgstr "&Санҷиши имло..."

#: kstandardaction_p.h:94
#, kde-format
msgid "Check spelling in document"
msgstr "Санҷиши имло дар ҳуҷҷат"

#: kstandardaction_p.h:96
#, kde-format
msgid "Show &Menubar"
msgstr "&Нишон додани навори феҳрист"

#: kstandardaction_p.h:96
#, kde-format
msgid "Show or hide menubar"
msgstr "Нишон додан ё пинҳон кардани навори феҳрист"

#: kstandardaction_p.h:97
#, kde-format
msgid "Show &Toolbar"
msgstr "&Нишон додани навори абзорҳо"

#: kstandardaction_p.h:97
#, kde-format
msgid "Show or hide toolbar"
msgstr "Нишон додан ё пинҳон кардани навори абзорҳо"

#: kstandardaction_p.h:98
#, kde-format
msgid "Show St&atusbar"
msgstr "Намоиш додани навори &вазъият"

#: kstandardaction_p.h:98
#, kde-format
msgid "Show or hide statusbar"
msgstr "Нишон додан ё пинҳон кардани навори вазъият"

#: kstandardaction_p.h:99
#, kde-format
msgid "F&ull Screen Mode"
msgstr "&Реҷаи экрани пурра"

#: kstandardaction_p.h:100
#, kde-format
msgid "&Save Settings"
msgstr "&Нигоҳ доштани танзимот"

#: kstandardaction_p.h:101
#, kde-format
msgid "Configure S&hortcuts..."
msgstr "Танзимоти &миёнбурҳо..."

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "&Танзим кардани %1..."

#: kstandardaction_p.h:103
#, kde-format
msgid "Configure Tool&bars..."
msgstr "&Танзимоти навори абзорҳо..."

#: kstandardaction_p.h:104
#, kde-format
msgid "Configure &Notifications..."
msgstr "Танзимоти &огоҳиномаҳо..."

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "&Маълумотномаи %1"

#: kstandardaction_p.h:110
#, kde-format
msgid "What's &This?"
msgstr "Ин чист?"

#: kstandardaction_p.h:111
#, kde-format
msgid "Tip of the &Day"
msgstr "&Маслиҳати рӯз"

#: kstandardaction_p.h:112
#, kde-format
msgid "&Report Bug..."
msgstr "Гузориш дар бораи &хато..."

#: kstandardaction_p.h:113
#, kde-format
msgid "Switch Application &Language..."
msgstr "&Иваз кардани забони барнома..."

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "&Дар бораи барномаи %1"

#: kstandardaction_p.h:115
#, kde-format
msgid "About &KDE"
msgstr "&Дар бораи KDE"

#: kstandardaction_p.h:116
#, kde-format
msgid "&Delete"
msgstr "&Нест кардан"

#: kstandardaction_p.h:117
#, kde-format
msgid "&Rename..."
msgstr "&Номро иваз кардан..."

#: kstandardaction_p.h:118
#, kde-format
msgid "&Move to Trash"
msgstr "&Интиқол додан ба сабад"

#: kstandardaction_p.h:119
#, kde-format
msgid "&Donate"
msgstr "&Дастгирии молӣ"

#: ktipdialog.cpp:239
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Маслиҳати рӯз"

#: ktipdialog.cpp:255
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Оё шумо медонед, ки...?\n"

#: ktipdialog.cpp:307
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "&Нишон додани маслиҳат дар оғози кор"

#: ktipdialog.cpp:312
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Қаблӣ"

#: ktipdialog.cpp:317
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Навбатӣ"
