# translation of kdelibs4.po to Tajik Language
# 2004, 2005, 2006, 2007 infoDev, a World Bank organization.
# 2004, 2005, 2006, 2007 Khujand Computer Technologies, Inc.
# 2004, 2005, 2006, 2007 Youth Opportunities, NGO, 2005.
# Roger Kovacs <rkovacs@khujand.org>, 2003.
# Thomas Diehl <thd@kde.org>, 2003.
# Akmal Vatanshoev <akmalvatanshoev@yahoo.com>, 2004.
# Victor Ibragimov <youth_opportunities@tajikngo.org>, 2003, 2004, 2005, 2006, 2007, 2008.
# Copyright (C) 2004, 2002, 2005, 2006, 2007, 2008 Free Software Foundation, Inc.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2015-10-26 07:54+0000\n"
"PO-Revision-Date: 2013-06-04 17:36+0500\n"
"Last-Translator: Victor Ibragimov <victor.ibragimov@gmail.com>\n"
"Language-Team: Tajik Language\n"
"Language: \n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Poedit 1.5.4\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"

msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Victor Ibragimov"

msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "victor.ibragimov@gmail.com"

#: kcmodule.cpp:166
msgid "You will be asked to authenticate before saving"
msgstr "Перед сохранением настроек нужно будет подтвердить вход в систему"

#: kcmodule.cpp:170
msgid "You are not allowed to save the configuration"
msgstr "У вас нет прав на изменение этих настроек"

#: kcodecaction.cpp:90
msgctxt "Encodings menu"
msgid "Default"
msgstr "Стандартӣ"

#: kcodecaction.cpp:98
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Худпайдошавӣ"

#: kconfigdialog.cpp:45
#, fuzzy
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "Танзимот"

#: klanguagebutton.cpp:194
msgid "without name"
msgstr "Бе ном"

#: krecentfilesaction.cpp:78
msgid "No Entries"
msgstr "Холӣ"

#: krecentfilesaction.cpp:84
msgid "Clear List"
msgstr "Рӯйхатро тоза кунед"

#: kstandardaction.cpp:90
msgctxt "go back"
msgid "&Back"
msgstr "&Ақиб"

#: kstandardaction.cpp:97
msgctxt "go forward"
msgid "&Forward"
msgstr "&Ба пеш"

#: kstandardaction.cpp:104
msgctxt "home page"
msgid "&Home"
msgstr "&Хона"

#: kstandardaction.cpp:107
msgctxt "show help"
msgid "&Help"
msgstr "&Роҳнамо"

#: kstandardaction.cpp:526 kstandardaction_p.h:96
msgid "Show &Menubar"
msgstr "Намоиши &панели меню"

#: kstandardaction.cpp:534
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Показать меню<p>Показать меню снова после того, как оно было скрыто</p>"

#: kstandardaction.cpp:552 kstandardaction_p.h:98
msgid "Show St&atusbar"
msgstr "Намоиши панели &вазъият"

#: kstandardaction.cpp:555
#, fuzzy
#| msgid ""
#| "Show Statusbar<br /><br />Shows the statusbar, which is the bar at the "
#| "bottom of the window used for status information."
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Показать строку состояния<br /><br />Строка состояния — это полоса в нижней "
"части окна, в которой выводится информация о состоянии приложения."

#: kstandardaction_p.h:41
msgid "&New"
msgstr "&Нав"

#: kstandardaction_p.h:41
msgid "Create new document"
msgstr "Эҷод кардани ҳуҷҷати нав"

#: kstandardaction_p.h:42
msgid "&Open..."
msgstr "&Кушодан..."

#: kstandardaction_p.h:42
#, fuzzy
#| msgid "&Back in the Document"
msgid "Open an existing document"
msgstr "&Ба ақиб дар ҳуҷҷат"

#: kstandardaction_p.h:43
msgid "Open &Recent"
msgstr "&Кушодани охиринҳо"

#: kstandardaction_p.h:43
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:44
msgid "&Save"
msgstr "&Нигоҳ доштан"

#: kstandardaction_p.h:44
#, fuzzy
#| msgid "Close Document"
msgid "Save document"
msgstr "Пӯшидани Ҳуҷҷат"

#: kstandardaction_p.h:45
msgid "Save &As..."
msgstr "&Нигоҳ доштан ҳамчун..."

#: kstandardaction_p.h:45
#, fuzzy
#| msgid "Close Document"
msgid "Save document under a new name"
msgstr "Пӯшидани Ҳуҷҷат"

#: kstandardaction_p.h:46
msgid "Re&vert"
msgstr "&Бозгашт"

#: kstandardaction_p.h:46
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:47
msgid "&Close"
msgstr "&Хуруҷ"

#: kstandardaction_p.h:47
#, fuzzy
#| msgid "Close Document"
msgid "Close document"
msgstr "Пӯшидани Ҳуҷҷат"

#: kstandardaction_p.h:48
msgid "&Print..."
msgstr "&Чоп кардан..."

#: kstandardaction_p.h:48
msgid "Print document"
msgstr "Чоп кардани ҳуҷҷат"

#: kstandardaction_p.h:49
msgid "Print Previe&w"
msgstr "&Пешнамоиши чоп"

#: kstandardaction_p.h:49
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:50
msgid "&Mail..."
msgstr "&Почтаи электронӣ..."

#: kstandardaction_p.h:50
#, fuzzy
#| msgid "Close Document"
msgid "Send document by mail"
msgstr "Пӯшидани Ҳуҷҷат"

#: kstandardaction_p.h:51
msgid "&Quit"
msgstr "&Хомӯш"

#: kstandardaction_p.h:51
msgid "Quit application"
msgstr "Хомӯши барнома"

#: kstandardaction_p.h:53
msgid "&Undo"
msgstr "&Бозгашт"

#: kstandardaction_p.h:53
#, fuzzy
#| msgid "HTML documentation"
msgid "Undo last action"
msgstr "Ҳуҷҷатҳои HTML"

#: kstandardaction_p.h:54
msgid "Re&do"
msgstr "&Дубора"

#: kstandardaction_p.h:54
#, fuzzy
#| msgid "HTML documentation"
msgid "Redo last undone action"
msgstr "Ҳуҷҷатҳои HTML"

#: kstandardaction_p.h:55
msgid "Cu&t"
msgstr "&Буридан"

#: kstandardaction_p.h:55
msgid "Cut selection to clipboard"
msgstr "Буридани интихоб ба ҳофизаи муваққатӣ"

#: kstandardaction_p.h:56
msgid "&Copy"
msgstr "&Нусха бардоштан"

#: kstandardaction_p.h:56
#, fuzzy
#| msgid "Cut selection to clipboard"
msgid "Copy selection to clipboard"
msgstr "Буридани интихоб ба ҳофизаи муваққатӣ"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "&Paste"
msgstr "&Часпондан"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, fuzzy
#| msgid "Upload content"
msgid "Paste clipboard content"
msgstr "Боркунии мазмун"

#: kstandardaction_p.h:59
msgid "C&lear"
msgstr "&Тоза кардан"

#: kstandardaction_p.h:60
msgid "Select &All"
msgstr "Интихоби &ҳама"

#: kstandardaction_p.h:61
msgid "Dese&lect"
msgstr "Нагу&зоштан"

#: kstandardaction_p.h:62
msgid "&Find..."
msgstr "&Ҷустуҷӯ..."

#: kstandardaction_p.h:63
msgid "Find &Next"
msgstr "&Ёфтани баъдӣ"

#: kstandardaction_p.h:64
msgid "Find Pre&vious"
msgstr "&Ёфтани қаблӣ"

#: kstandardaction_p.h:65
msgid "&Replace..."
msgstr "&Ҷойгузорӣ кардан..."

#: kstandardaction_p.h:67
msgid "&Actual Size"
msgstr "Андозаи &воқеъи"

#: kstandardaction_p.h:67
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:68
msgid "&Fit to Page"
msgstr "&Дар саҳифа ҷо кунед"

#: kstandardaction_p.h:68
#, fuzzy
#| msgid "Go to first page"
msgid "Zoom to fit page in window"
msgstr "Гузариш ба саҳифаи аввалин"

#: kstandardaction_p.h:69
msgid "Fit to Page &Width"
msgstr "Дар &урзи сафҳа ҷо кунед"

#: kstandardaction_p.h:69
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:70
msgid "Fit to Page &Height"
msgstr "Дар &тавли сафҳ ҷо кунед"

#: kstandardaction_p.h:70
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:71
msgid "Zoom &In"
msgstr "Zoom &ба"

#: kstandardaction_p.h:72
msgid "Zoom &Out"
msgstr "Zoom &ба уқуби"

#: kstandardaction_p.h:73
msgid "&Zoom..."
msgstr "&Калон кардан..."

#: kstandardaction_p.h:73
#, fuzzy
#| msgid "Select a week"
msgid "Select zoom level"
msgstr "Интихоби ҳафта"

#: kstandardaction_p.h:74
msgid "&Redisplay"
msgstr "&Намоиши маҷдуд"

#: kstandardaction_p.h:74
#, fuzzy
#| msgid "&Redisplay"
msgid "Redisplay document"
msgstr "&Намоиши маҷдуд"

#: kstandardaction_p.h:76
msgid "&Up"
msgstr "&Ба боло"

#: kstandardaction_p.h:76
msgid "Go up"
msgstr ""

#: kstandardaction_p.h:81
msgid "&Previous Page"
msgstr "&Саҳифаи қаблӣ"

#: kstandardaction_p.h:81
msgid "Go to previous page"
msgstr "Гузариш ба саҳифаи қаблӣ"

#: kstandardaction_p.h:82
msgid "&Next Page"
msgstr "&Саҳифаи баъдӣ"

#: kstandardaction_p.h:82
msgid "Go to next page"
msgstr "Гузариш ба саҳифаи навбатӣ"

#: kstandardaction_p.h:83
msgid "&Go To..."
msgstr "&Гузаштан ба..."

#: kstandardaction_p.h:84
msgid "&Go to Page..."
msgstr "Гузаштан ба &саҳифаи..."

#: kstandardaction_p.h:85
msgid "&Go to Line..."
msgstr "&Гузаштан ба сатри..."

#: kstandardaction_p.h:86
msgid "&First Page"
msgstr "&Саҳифаи аввал"

#: kstandardaction_p.h:86
msgid "Go to first page"
msgstr "Гузариш ба саҳифаи аввалин"

#: kstandardaction_p.h:87
msgid "&Last Page"
msgstr "&Саҳифаи охир"

#: kstandardaction_p.h:87
msgid "Go to last page"
msgstr "Гузариш ба саҳифаи охирин"

#: kstandardaction_p.h:88
msgid "&Back"
msgstr "&Ақиб"

#: kstandardaction_p.h:88
#, fuzzy
#| msgid "&Back in the Document"
msgid "Go back in document"
msgstr "&Ба ақиб дар ҳуҷҷат"

#: kstandardaction_p.h:89
#, fuzzy
#| msgctxt "go forward"
#| msgid "&Forward"
msgid "&Forward"
msgstr "&Ба пеш"

#: kstandardaction_p.h:89
#, fuzzy
#| msgid "&Forward in the Document"
msgid "Go forward in document"
msgstr "&Ба пеш дар ҳуҷҷат"

#: kstandardaction_p.h:91
msgid "&Add Bookmark"
msgstr "&Иловаи Монданиҳо"

#: kstandardaction_p.h:92
msgid "&Edit Bookmarks..."
msgstr "&Таҳрири хатчӯбҳо..."

#: kstandardaction_p.h:94
msgid "&Spelling..."
msgstr "&Имло..."

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "Check Spelling"
msgid "Check spelling in document"
msgstr "Тафтиши Имло"

#: kstandardaction_p.h:96
#, fuzzy
#| msgid "Show &Menubar"
msgid "Show or hide menubar"
msgstr "Намоиши &панели меню"

#: kstandardaction_p.h:97
msgid "Show &Toolbar"
msgstr "Намоиши &пайраҳаи хизматҳо"

#: kstandardaction_p.h:97
#, fuzzy
#| msgid "Show Toolbar"
msgid "Show or hide toolbar"
msgstr "Намоиши панели асбобҳо"

#: kstandardaction_p.h:98
#, fuzzy
#| msgid "Show Statusbar"
msgid "Show or hide statusbar"
msgstr "Намоиши панели ҳолат"

#: kstandardaction_p.h:99
msgid "F&ull Screen Mode"
msgstr "Ҳолати &экрани васеъ"

#: kstandardaction_p.h:100
msgid "&Save Settings"
msgstr "&Нигоҳ доштани танзимот"

#: kstandardaction_p.h:101
msgid "Configure S&hortcuts..."
msgstr "&Танзими кнопкаҳои тез..."

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "&Танзими %1..."

#: kstandardaction_p.h:103
msgid "Configure Tool&bars..."
msgstr "Танзими панели &хизматгузорӣ..."

#: kstandardaction_p.h:104
msgid "Configure &Notifications..."
msgstr "Танзими &хабарномаҳо..."

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 &Блокнот"

#: kstandardaction_p.h:110
msgid "What's &This?"
msgstr "&Ин чист?"

#: kstandardaction_p.h:111
msgid "Tip of the &Day"
msgstr "Хабари &рӯз"

#: kstandardaction_p.h:112
msgid "&Report Bug..."
msgstr "&Сообщить об ошибке..."

#: kstandardaction_p.h:113
msgid "Switch Application &Language..."
msgstr "Интихоби &забони барнома..."

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "&Дар бораи %1"

#: kstandardaction_p.h:115
msgid "About &KDE"
msgstr "&Дар бораи KDE"

#: ktipdialog.cpp:238
#, fuzzy
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Хабари рӯз!"

#: ktipdialog.cpp:254
#, fuzzy
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Оё медонистед ки...?\n"

#: ktipdialog.cpp:306
#, fuzzy
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "&Намоиши хабари рӯз ҳангоми оғозии система"

#: ktipdialog.cpp:311
#, fuzzy
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Пешина"

#: ktipdialog.cpp:316
#, fuzzy
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Навбатӣ"
