[KCM Locale]
Name=Burmese
Name[ca]=Birmà
Name[es]=Birmano
Name[ia]=Burmese
Name[nl]=Burmees
Name[sl]=Burmanščina
Name[tr]=Burmaca
Name[uk]=бірманська
Name[x-test]=xxBurmesexx
