# Translation of kdelibs4 to Croatian
#
# Renato Pavicic <renato@translator-shop.org>, 2006.
# Zarko Pintar <zarko.pintar@gmail.com>, 2009.
# Marko Dimjasevic <marko@dimjasevic.net>, 2009, 2010, 2011.
# Andrej Dundović <adundovi@gmail.com>, 2009, 2010.
# DoDo <DoDoEntertainment@gmail.com>, 2009.
# Andrej Dundovic <andrej@dundovic.com.hr>, 2009, 2010, 2011.
# Marko Dimjašević <marko@dimjasevic.net>, 2011.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2015-02-28 09:34+0000\n"
"PO-Revision-Date: 2011-07-22 16:08+0200\n"
"Last-Translator: Marko Dimjašević <marko@dimjasevic.net>\n"
"Language-Team: Croatian <kde-croatia-list@lists.sourceforge.net>\n"
"Language: hr\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=3; plural=(n%10==1 && n%100!=11 ? 0 : n%10>=2 && n"
"%10<=4 && (n%100<10 || n%100>=20) ? 1 : 2);\n"
"X-Generator: Lokalize 1.2\n"
"X-Poedit-Language: Croatian\n"
"X-Poedit-Country: CROATIA\n"
"X-Poedit-Bookmarks: 1601,-1,-1,-1,-1,-1,-1,-1,-1,-1\n"
"X-Environment: kde\n"
"X-Accelerator-Marker: &\n"
"X-Text-Markup: kde4\n"

msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Renato Pavičić, Žarko Pintar, Marko Dimjašević, Andrej Dundović"

msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr ""
"renato@translator-shop.org, zarko.pintar@gmail.com, marko@dimjasevic.net, "
"adundovi@gmail.com"

#: kcmodule.cpp:166
msgid "You will be asked to authenticate before saving"
msgstr "Pitat će se Vas za prijavu prije spremanja"

#: kcmodule.cpp:170
msgid "You are not allowed to save the configuration"
msgstr "Nije Vam dozvoljeno spremati postavu"

#: kcodecaction.cpp:90
msgctxt "Encodings menu"
msgid "Default"
msgstr "Uuobičajeno"

#: kcodecaction.cpp:98
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Samodetekcija"

#: kconfigdialog.cpp:45
#, fuzzy
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "Konfiguriranje"

#: klanguagebutton.cpp:194
msgid "without name"
msgstr "Bez naziva"

#: krecentfilesaction.cpp:78
msgid "No Entries"
msgstr "Nema unosa"

#: krecentfilesaction.cpp:84
msgid "Clear List"
msgstr "Isprazni listu"

#: kstandardaction.cpp:90
msgctxt "go back"
msgid "&Back"
msgstr "&Natrag"

#: kstandardaction.cpp:97
msgctxt "go forward"
msgid "&Forward"
msgstr "Na&prijed"

#: kstandardaction.cpp:104
msgctxt "home page"
msgid "&Home"
msgstr "&Početak"

#: kstandardaction.cpp:107
msgctxt "show help"
msgid "&Help"
msgstr "&Pomoć"

#: kstandardaction.cpp:526 kstandardaction_p.h:96
msgid "Show &Menubar"
msgstr "Prikaži traku s &izbornikom"

#: kstandardaction.cpp:534
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Prikaži traku s izbornikom<p>Prikazuje traku s izbornikom nakon skrivanja.</"
"p>"

#: kstandardaction.cpp:552 kstandardaction_p.h:98
msgid "Show St&atusbar"
msgstr "Prikaži traku &stanja"

#: kstandardaction.cpp:555
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Prikaži traku stanja<p>Prikazuje traku stanja. To je traka na dnu prozora "
"koja se koristi za statusne informacije.</p>"

#: kstandardaction_p.h:41
msgid "&New"
msgstr "&Novi"

#: kstandardaction_p.h:41
#, fuzzy
#| msgctxt "@label"
#| msgid "Create new tag:"
msgid "Create new document"
msgstr "Stvori novu oznaku:"

#: kstandardaction_p.h:42
msgid "&Open..."
msgstr "&Otvori…"

#: kstandardaction_p.h:42
msgid "Open an existing document"
msgstr ""

#: kstandardaction_p.h:43
msgid "Open &Recent"
msgstr "Otvori &nedavno"

#: kstandardaction_p.h:43
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:44
msgid "&Save"
msgstr "&Spremi"

#: kstandardaction_p.h:44
#, fuzzy
#| msgid "Close Document"
msgid "Save document"
msgstr "Zatvori dokument"

#: kstandardaction_p.h:45
msgid "Save &As..."
msgstr "Spremi &kao…"

#: kstandardaction_p.h:45
msgid "Save document under a new name"
msgstr ""

#: kstandardaction_p.h:46
msgid "Re&vert"
msgstr "Vrati &izvorno"

#: kstandardaction_p.h:46
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:47
msgid "&Close"
msgstr "&Zatvori"

#: kstandardaction_p.h:47
#, fuzzy
#| msgid "Close Document"
msgid "Close document"
msgstr "Zatvori dokument"

#: kstandardaction_p.h:48
msgid "&Print..."
msgstr "&Ispis…"

#: kstandardaction_p.h:48
#, fuzzy
#| msgctxt "keyboard-key-name"
#| msgid "PrintScreen"
msgid "Print document"
msgstr "Ispis"

#: kstandardaction_p.h:49
msgid "Print Previe&w"
msgstr "Preg&led prije ispisa…"

#: kstandardaction_p.h:49
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:50
msgid "&Mail..."
msgstr "&Pošta…"

#: kstandardaction_p.h:50
msgid "Send document by mail"
msgstr ""

#: kstandardaction_p.h:51
msgid "&Quit"
msgstr "&Izlaz"

#: kstandardaction_p.h:51
msgid "Quit application"
msgstr "Izlazak iz programa"

#: kstandardaction_p.h:53
msgid "&Undo"
msgstr "&Poništi"

#: kstandardaction_p.h:53
msgid "Undo last action"
msgstr ""

#: kstandardaction_p.h:54
msgid "Re&do"
msgstr "Po&novi"

#: kstandardaction_p.h:54
#, fuzzy
#| msgctxt ""
#| "A link to make a donation for a Get Hot New Stuff item (opens a web "
#| "browser)"
#| msgid "Make a donation"
msgid "Redo last undone action"
msgstr "Donirajte"

#: kstandardaction_p.h:55
msgid "Cu&t"
msgstr "&Izreži"

#: kstandardaction_p.h:55
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:56
msgid "&Copy"
msgstr "&Kopiraj"

#: kstandardaction_p.h:56
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "&Paste"
msgstr "&Zalijepi"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, fuzzy
#| msgid "Upload content"
msgid "Paste clipboard content"
msgstr "Pošalji sadržaj"

#: kstandardaction_p.h:59
msgid "C&lear"
msgstr "&Očisti"

#: kstandardaction_p.h:60
msgid "Select &All"
msgstr "Označi &sve"

#: kstandardaction_p.h:61
msgid "Dese&lect"
msgstr "Od&znači"

#: kstandardaction_p.h:62
msgid "&Find..."
msgstr "&Traži…"

#: kstandardaction_p.h:63
msgid "Find &Next"
msgstr "Nađi &sljedeći"

#: kstandardaction_p.h:64
msgid "Find Pre&vious"
msgstr "Nađi &prethodni"

#: kstandardaction_p.h:65
msgid "&Replace..."
msgstr "&Zamijeni…"

#: kstandardaction_p.h:67
msgid "&Actual Size"
msgstr "St&varna veličina"

#: kstandardaction_p.h:67
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:68
msgid "&Fit to Page"
msgstr "&Prilagodi prema stranici"

#: kstandardaction_p.h:68
msgid "Zoom to fit page in window"
msgstr ""

#: kstandardaction_p.h:69
msgid "Fit to Page &Width"
msgstr "Prilagodi &prema širini stranice"

#: kstandardaction_p.h:69
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:70
msgid "Fit to Page &Height"
msgstr "Prilagodi prema v&isini stranice"

#: kstandardaction_p.h:70
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:71
msgid "Zoom &In"
msgstr "U&većaj"

#: kstandardaction_p.h:72
msgid "Zoom &Out"
msgstr "U&manji"

#: kstandardaction_p.h:73
msgid "&Zoom..."
msgstr "&Zumiraj…"

#: kstandardaction_p.h:73
#, fuzzy
#| msgid "Select a week"
msgid "Select zoom level"
msgstr "Odaberite tjedan"

#: kstandardaction_p.h:74
msgid "&Redisplay"
msgstr "Ponovno pri&kaži"

#: kstandardaction_p.h:74
#, fuzzy
#| msgid "&Redisplay"
msgid "Redisplay document"
msgstr "Ponovno pri&kaži"

#: kstandardaction_p.h:76
msgid "&Up"
msgstr "&Gore"

#: kstandardaction_p.h:76
msgid "Go up"
msgstr ""

#: kstandardaction_p.h:81
msgid "&Previous Page"
msgstr "P&rethodna stranica"

#: kstandardaction_p.h:81
#, fuzzy
#| msgid "&Previous Page"
msgid "Go to previous page"
msgstr "P&rethodna stranica"

#: kstandardaction_p.h:82
msgid "&Next Page"
msgstr "&Sljedeća stranica"

#: kstandardaction_p.h:82
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to next page"
msgstr "Kreni na redak"

#: kstandardaction_p.h:83
msgid "&Go To..."
msgstr "&Idi na…"

#: kstandardaction_p.h:84
msgid "&Go to Page..."
msgstr "Idi &na stranicu…"

#: kstandardaction_p.h:85
msgid "&Go to Line..."
msgstr "I&di na redak…"

#: kstandardaction_p.h:86
msgid "&First Page"
msgstr "&Prva stranica"

#: kstandardaction_p.h:86
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to first page"
msgstr "Kreni na redak"

#: kstandardaction_p.h:87
msgid "&Last Page"
msgstr "&Zadnja stranica"

#: kstandardaction_p.h:87
#, fuzzy
#| msgid "&Go to Page..."
msgid "Go to last page"
msgstr "Idi &na stranicu…"

#: kstandardaction_p.h:88
msgid "&Back"
msgstr "&Prethodno"

#: kstandardaction_p.h:88
#, fuzzy
#| msgid "&Back in the Document"
msgid "Go back in document"
msgstr "&Vrati u dokument"

#: kstandardaction_p.h:89
#, fuzzy
#| msgctxt "go forward"
#| msgid "&Forward"
msgid "&Forward"
msgstr "Na&prijed"

#: kstandardaction_p.h:89
#, fuzzy
#| msgid "&Forward in the Document"
msgid "Go forward in document"
msgstr "&Proslijedi u dokument"

#: kstandardaction_p.h:91
msgid "&Add Bookmark"
msgstr "&Dodaj knjižnu oznaku"

#: kstandardaction_p.h:92
msgid "&Edit Bookmarks..."
msgstr "&Uredi oznake…"

#: kstandardaction_p.h:94
msgid "&Spelling..."
msgstr "&Pravopis…"

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "Check Spelling"
msgid "Check spelling in document"
msgstr "Provjeri pravopis"

#: kstandardaction_p.h:96
#, fuzzy
#| msgid "Show &Menubar"
msgid "Show or hide menubar"
msgstr "Prikaži traku s &izbornikom"

#: kstandardaction_p.h:97
msgid "Show &Toolbar"
msgstr "Prikaži &alatnu traku"

#: kstandardaction_p.h:97
#, fuzzy
#| msgctxt "@action"
#| msgid "Show Toolbar"
msgid "Show or hide toolbar"
msgstr "Prikaži alatnu traku"

#: kstandardaction_p.h:98
#, fuzzy
#| msgctxt "@action"
#| msgid "Show Statusbar"
msgid "Show or hide statusbar"
msgstr "Prikaži traku stanja"

#: kstandardaction_p.h:99
msgid "F&ull Screen Mode"
msgstr "Preko punog &zaslona"

#: kstandardaction_p.h:100
msgid "&Save Settings"
msgstr "&Spremi postavke"

#: kstandardaction_p.h:101
msgid "Configure S&hortcuts..."
msgstr "Podešavanje &prečaca…"

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "&Podešavanje %1… |/| &Podešavanje $[gen %1]"

#: kstandardaction_p.h:103
msgid "Configure Tool&bars..."
msgstr "Podšavanje trake s &alatima…"

#: kstandardaction_p.h:104
msgid "Configure &Notifications..."
msgstr "Podešava&nje obavijesti…"

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "&Priručnik %1 |/| &Priručnik za $[aku %1]"

#: kstandardaction_p.h:110
msgid "What's &This?"
msgstr "Š&to je ovo?"

#: kstandardaction_p.h:111
msgid "Tip of the &Day"
msgstr "Savjet &dana"

#: kstandardaction_p.h:112
msgid "&Report Bug..."
msgstr "&Prijava nedostatka…"

#: kstandardaction_p.h:113
msgid "Switch Application &Language..."
msgstr "Promijeni &jezik aplikacije"

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "&O programu %1"

#: kstandardaction_p.h:115
msgid "About &KDE"
msgstr "O okruženju &KDE"

#: ktipdialog.cpp:239
#, fuzzy
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Savjet dana"

#: ktipdialog.cpp:255
#, fuzzy
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Jeste li znal…?\n"

#: ktipdialog.cpp:307
#, fuzzy
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "Tijekom pokretanja &prikaži savjete"

#: ktipdialog.cpp:312
#, fuzzy
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Prethodno"

#: ktipdialog.cpp:317
#, fuzzy
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Sljedeće"
