[KCM Locale]
Name=Finnish
Name[ca]=Finès
Name[es]=Finés
Name[ia]=Finnese 
Name[nl]=Fins
Name[sl]=Finščina
Name[tr]=Fince
Name[uk]=фінська
Name[x-test]=xxFinnishxx
