[KCM Locale]
Name=Ukrainian
Name[ca]=Ucraïnès
Name[es]=Ucraniano
Name[ia]=Ucrainiano
Name[nl]=Oekraïens
Name[sl]=Ukrajinščina
Name[tr]=Ukraynaca
Name[uk]=українська
Name[x-test]=xxUkrainianxx
