[KCM Locale]
Name=Galician
Name[ca]=Gallec
Name[es]=Gallego
Name[ia]=Galleco 
Name[nl]=Galicisch
Name[sl]=Galicijščina
Name[tr]=Galiçyaca
Name[uk]=галісійська
Name[x-test]=xxGalicianxx
