[KCM Locale]
Name=Kashubian
Name[ca]=Caixubi
Name[es]=Casubio
Name[ia]=Kashubian 
Name[nl]=Kasjoebisch
Name[sl]=Kašubščina
Name[tr]=Kaşupça
Name[uk]=кашубська
Name[x-test]=xxKashubianxx
