[KCM Locale]
Name=Nepali
Name[ca]=Nepalès
Name[es]=Nepalí
Name[ia]=Nepali 
Name[nl]=Nepalees
Name[sl]=Nepalščina
Name[tr]=Nepalce
Name[uk]=непальська
Name[x-test]=xxNepalixx
