# translation of kdelibs4.po to Slovak
# Stanislav Visnovsky <visnovsky@nenya.ms.mff.cuni.cz>, 2002.
# Stanislav Visnovsky <visnovsky@kde.org>, 2003, 2004, 2005.
# Richard Fric <Richard.Fric@kdemail.net>, 2006, 2007, 2010.
# Michal Gaspar <miguel@portugal.sk>, 2006.
# Jakub <vatrtj@gmail.com>, 2009.
# Michal Sulek <misurel@gmail.com>, 2009, 2010, 2011.
# Richard Frič <Richard.Fric@kdemail.net>, 2011.
# Roman Paholík <wizzardsk@gmail.com>, 2012, 2013, 2015, 2016, 2021.
# Mthw <jari_45@hotmail.com>, 2019.
# Matej Mrenica <matejm98mthw@gmail.com>, 2019, 2020, 2021, 2022.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2022-07-20 00:41+0000\n"
"PO-Revision-Date: 2022-02-14 11:55+0100\n"
"Last-Translator: Matej Mrenica <matejm98mthw@gmail.com>\n"
"Language-Team: Slovak <kde-i18n-doc@kde.org>\n"
"Language: sk\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 21.12.2\n"
"Plural-Forms: nplurals=3; plural=(n==1) ? 0 : (n>=2 && n<=4) ? 1 : 2;\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr ""
"Stanislav Višňovský,Richard Frič,Michal Gašpar,Jakub Vatrt,Michal Šulek"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr ""
"visnovsky@kde.org,Richard.Fric@kdemail.net,miguel@portugal.sk,vatrtj@gmail."
"com,misurel@gmail.com"

#: kcmodule.cpp:195
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "Pred uložením budete požiadaný o overenie"

#: kcmodule.cpp:199
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "Na uloženie konfigurácie nemáte oprávnenie"

#: kcodecaction.cpp:66
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Štandardné"

#: kcodecaction.cpp:74
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Automatická detekcia"

#: kcolorschememanager.cpp:226 kcolorschememanager.cpp:235
#, kde-format
msgid "Color Scheme"
msgstr "Farebná schéma"

#: kcolorschememodel.cpp:71
#, kde-format
msgid "Default"
msgstr "Štandardné"

#: kcommandbar.cpp:559
#, kde-format
msgid "No commands matching the filter"
msgstr "Žiadne príkazy vyhovujúce filtru"

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Nastaviť"

#: khamburgermenu.cpp:128
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "Ponuka"

#: khamburgermenu.cpp:334
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "Zobrazí ponuku so všetkými akciami"

#: khamburgermenu.cpp:362
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "Viac"

#: khamburgermenu.cpp:363
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "Ďalšie akcie"

#: krecentfilesaction.cpp:70
#, kde-format
msgid "No Entries"
msgstr "Žiadne položky"

#: krecentfilesaction.cpp:76
#, kde-format
msgid "Clear List"
msgstr "Vyčistiť zoznam"

#: kstandardaction.cpp:158
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "Do&zadu"

#: kstandardaction.cpp:165
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "Do&predu"

#: kstandardaction.cpp:172
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Domov"

#: kstandardaction.cpp:176
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&Pomocník"

#: kstandardaction.cpp:233
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "Zobraziť ponuku<p>Znovu zobrazí ponuku potom, čo bola skrytá</p>"

#: kstandardaction.cpp:254
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Zobraziť stavový riadok<p>Zobrazí stavový riadok, čo je panel v dolnej časti "
"okna použitý na stavové informácie.</p>"

#: kstandardaction_p.h:30
msgid "&New"
msgstr "&Nový"

#: kstandardaction_p.h:30
msgid "Create new document"
msgstr "Vytvoriť nový dokument"

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "&Otvoriť..."

#: kstandardaction_p.h:31
msgid "Open an existing document"
msgstr "Otvoriť existujúci dokument"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "Otvoriť n&edávne"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr "Otvoriť dokument, ktorý bol nedávno otvorený"

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "&Uložiť"

#: kstandardaction_p.h:33
msgid "Save document"
msgstr "Uložiť dokument"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "Uložiť &ako..."

#: kstandardaction_p.h:34
msgid "Save document under a new name"
msgstr "Uložiť dokument pod novým názvom"

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "V&rátiť"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr "Vrátiť neuložené zmeny urobené v dokumente"

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "&Zavrieť"

#: kstandardaction_p.h:36
msgid "Close document"
msgstr "Zavrieť dokument"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "&Tlačiť..."

#: kstandardaction_p.h:37
msgid "Print document"
msgstr "Vytlačiť dokument"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "Ná&hľad tlače"

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr "Zobraziť náhľad tlače dokumentu"

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "&Pošta..."

#: kstandardaction_p.h:39
msgid "Send document by mail"
msgstr "Poslať dokument mailom"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "&Koniec"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "Ukončiť aplikáciu"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "&Späť"

#: kstandardaction_p.h:42
msgid "Undo last action"
msgstr "Zrušiť poslednú akciu"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "Zn&ovu"

#: kstandardaction_p.h:43
msgid "Redo last undone action"
msgstr "Obnoviť poslednú zrušenú operáciu"

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "Vys&trihnúť"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr "Vystrihnúť výber do schránky"

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "&Kopírovať"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr "Skopírovať výber do schránky"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "V&ložiť"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "Paste clipboard content"
msgstr "Vložiť obsah schránky"

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "Vyčis&tiť"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "Vybrať &všetko"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "Zr&ušiť výber"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "&Nájsť..."

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "Nájsť nasledu&júci"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "Nájsť pre&dchádzajúci"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "Nahr&adiť..."

#: kstandardaction_p.h:58
#, fuzzy
#| msgid "&Actual Size"
msgid "Zoom to &Actual Size"
msgstr "&Aktuálna veľkosť"

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr "Zobraziť dokument v pôvodnej veľkosti"

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "P&rispôsobiť stránke"

#: kstandardaction_p.h:59
msgid "Zoom to fit page in window"
msgstr "Priblížiť na prispôsobenie strany"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "Prispôsobiť šírke &stránky"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr "Priblížiť na prispôsobenie šírky strany"

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "Prispôsobiť &výške stránky"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr "Priblížiť na prispôsobenie výšky strany"

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "Z&väčšiť"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "Z&menšiť"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "&Lupa..."

#: kstandardaction_p.h:64
msgid "Select zoom level"
msgstr "Vybrať úroveň priblíženia"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr "&Obnoviť"

#: kstandardaction_p.h:65
msgid "Refresh document"
msgstr "Znovu načítať dokument"

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "Na&hor"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr "Prejsť vyššie"

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "&Predchádzajúca stránka"

#: kstandardaction_p.h:72
msgid "Go to previous page"
msgstr "Prejsť na predošlú stranu"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "&Nasledujúca stránka"

#: kstandardaction_p.h:73
msgid "Go to next page"
msgstr "Prejsť na nasledujúcu stránku"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "&Prejsť na..."

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "Prejsť na &stránku..."

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "Prejsť na &riadok..."

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "&Prvá stránka"

#: kstandardaction_p.h:77
msgid "Go to first page"
msgstr "Prejsť na prvú stranu"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "Po&sledná stránka"

#: kstandardaction_p.h:78
msgid "Go to last page"
msgstr "Prejsť na poslednú stránku"

#: kstandardaction_p.h:79
msgid "&Back"
msgstr "&Späť"

#: kstandardaction_p.h:79
msgid "Go back in document"
msgstr "Prejsť späť v dokumente"

#: kstandardaction_p.h:80
msgid "&Forward"
msgstr "Do&predu"

#: kstandardaction_p.h:80
msgid "Go forward in document"
msgstr "Prejsť dopredu v dokumente"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "&Pridať záložku"

#: kstandardaction_p.h:83
msgid "&Edit Bookmarks..."
msgstr "&Upraviť záložky..."

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "Kontrola &pravopisu..."

#: kstandardaction_p.h:85
msgid "Check spelling in document"
msgstr "Skontrolovať pravopis v dokumente"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "Zobraziť ponuku"

#: kstandardaction_p.h:87
msgid "Show or hide menubar"
msgstr "Zobraziť alebo skryť ponuku"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "Zobraziť panel &nástrojov"

#: kstandardaction_p.h:88
msgid "Show or hide toolbar"
msgstr "Zobraziť alebo skryť panel nástrojov"

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "Zobraziť s&tavový riadok"

#: kstandardaction_p.h:89
msgid "Show or hide statusbar"
msgstr "Zobraziť alebo skryť stavový riadok"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "Režim &celej obrazovky"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "&Uložiť nastavenie"

#: kstandardaction_p.h:94
msgid "Configure Keyboard S&hortcuts..."
msgstr "Nastaviť &klávesové skratky..."

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "Nas&taviť %1..."

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "Nastaviť panely &nástrojov..."

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "Nastaviť &upozornenia..."

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "&Príručka %1"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "Čo je &to?"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "Tip &dňa"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "&Nahlásiť chybu..."

#: kstandardaction_p.h:108
msgid "Configure &Language..."
msgstr "Nastaviť jazyk..."

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "&O aplikácii %1"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "Informácie o &KDE"

#: kstandardaction_p.h:111
msgid "&Delete"
msgstr "Odstrániť"

#: kstandardaction_p.h:112
msgid "&Rename..."
msgstr "Premenovať..."

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr "Presunúť do &koša"

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr "Venovať peniaze"

#: kstandardaction_p.h:115
msgid "Open &Menu"
msgstr "Otvoriť ponuku"

#: ktipdialog.cpp:219
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Tip dňa"

#: ktipdialog.cpp:235
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Viete, že...?\n"

#: ktipdialog.cpp:288
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "Zobraziť tipy pri š&tarte"

#: ktipdialog.cpp:293
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Predošlé"

#: ktipdialog.cpp:298
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Ďalšie"
