# translation of kdelibs4.po to Belarusian Latin
# Copyright (C) 2008 This_file_is_part_of_KDE
# This file is distributed under the same license as the kdelibs4 package.
#
# Ihar Hrachyshka <ihar.hrachyshka@gmail.com>, 2008.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2015-01-31 08:03+0000\n"
"PO-Revision-Date: 2008-08-30 01:10+0300\n"
"Last-Translator: Ihar Hrachyshka <ihar.hrachyshka@gmail.com>\n"
"Language-Team: Belarusian Latin <i18n@mova.org>\n"
"Language: \n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=3; plural=(n%10==1 && n%100!=11 ? 0 : n%10>=2 && n"
"%10<=4 && (n%100<10 || n%100>=20) ? 1 : 2);\n"
"X-Generator: KBabel 1.11.4\n"

msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Ihar Hračyška"

msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "ihar.hrachyshka@gmail.com"

#: kcmodule.cpp:153
msgid "You will be asked to authenticate before saving"
msgstr ""

#: kcmodule.cpp:157
#, fuzzy
#| msgid "Do you want to reload KDE configuration?"
msgid "You are not allowed to save the configuration"
msgstr "Pieračytać nałady KDE?"

#: kcodecaction.cpp:90
msgctxt "Encodings menu"
msgid "Default"
msgstr "Zmoŭčanaje"

#: kcodecaction.cpp:98
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Aŭtamatyčna vyznačanaje"

#: klanguagebutton.cpp:194
msgid "without name"
msgstr "biaz nazvy"

#: krecentfilesaction.cpp:78
msgid "No Entries"
msgstr "Ničoha niama"

#: krecentfilesaction.cpp:84
msgid "Clear List"
msgstr "Vyčyści śpis"

#: kstandardaction.cpp:90
msgctxt "go back"
msgid "&Back"
msgstr "&Nazad"

#: kstandardaction.cpp:97
msgctxt "go forward"
msgid "&Forward"
msgstr "Na&pierad"

#: kstandardaction.cpp:104
msgctxt "home page"
msgid "&Home"
msgstr "&Dadomu"

#: kstandardaction.cpp:107
msgctxt "show help"
msgid "&Help"
msgstr "&Dapamoha"

#: kstandardaction.cpp:526 kstandardaction_p.h:96
msgid "Show &Menubar"
msgstr "Pakažy &menu"

#: kstandardaction.cpp:534
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "Pakažy menu<p>Pakazvaje menu, kali jano schavanaje.</p>"

#: kstandardaction.cpp:552 kstandardaction_p.h:98
msgid "Show St&atusbar"
msgstr "Pakažy panel &stanu"

#: kstandardaction.cpp:555
#, fuzzy
#| msgid ""
#| "Show Statusbar<br /><br />Shows the statusbar, which is the bar at the "
#| "bottom of the window used for status information."
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr "Pakažy panel stanu<br /><br />Pakazvaje panel stanu ŭnizie akna."

#: kstandardaction_p.h:41
msgid "&New"
msgstr "&Novy"

#: kstandardaction_p.h:41
#, fuzzy
#| msgid "Create New Tag..."
msgid "Create new document"
msgstr "Stvary novy tag..."

#: kstandardaction_p.h:42
msgid "&Open..."
msgstr "&Adčyni..."

#: kstandardaction_p.h:42
#, fuzzy
#| msgid "&Back in the Document"
msgid "Open an existing document"
msgstr "Na&zad u dakumencie"

#: kstandardaction_p.h:43
msgid "Open &Recent"
msgstr "Adčyni &niadaŭnaje"

#: kstandardaction_p.h:43
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:44
msgid "&Save"
msgstr "&Zapišy"

#: kstandardaction_p.h:44
#, fuzzy
#| msgid "Close Document"
msgid "Save document"
msgstr "Začyni dakument"

#: kstandardaction_p.h:45
msgid "Save &As..."
msgstr "Zapišy &jak..."

#: kstandardaction_p.h:45
#, fuzzy
#| msgid "Close Document"
msgid "Save document under a new name"
msgstr "Začyni dakument"

#: kstandardaction_p.h:46
msgid "Re&vert"
msgstr "&Viarni"

#: kstandardaction_p.h:46
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:47
msgid "&Close"
msgstr "&Začyni"

#: kstandardaction_p.h:47
#, fuzzy
#| msgid "Close Document"
msgid "Close document"
msgstr "Začyni dakument"

#: kstandardaction_p.h:48
msgid "&Print..."
msgstr "&Vydrukuj..."

#: kstandardaction_p.h:48
#, fuzzy
#| msgctxt "keyboard-key-name"
#| msgid "PrintScreen"
msgid "Print document"
msgstr "PrintScreen"

#: kstandardaction_p.h:49
msgid "Print Previe&w"
msgstr "&Vydrukuj padhlad"

#: kstandardaction_p.h:49
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:50
msgid "&Mail..."
msgstr "&Vyšli list..."

#: kstandardaction_p.h:50
#, fuzzy
#| msgid "Close Document"
msgid "Send document by mail"
msgstr "Začyni dakument"

#: kstandardaction_p.h:51
msgid "&Quit"
msgstr "&Vyjdzi"

#: kstandardaction_p.h:51
msgid "Quit application"
msgstr "Vyjdzi z aplikacyi"

#: kstandardaction_p.h:53
msgid "&Undo"
msgstr "&Anuluj"

#: kstandardaction_p.h:53
#, fuzzy
#| msgid "HTML documentation"
msgid "Undo last action"
msgstr "Dakumentacyja HTML"

#: kstandardaction_p.h:54
msgid "Re&do"
msgstr "&Uznavi"

#: kstandardaction_p.h:54
#, fuzzy
#| msgid "HTML documentation"
msgid "Redo last undone action"
msgstr "Dakumentacyja HTML"

#: kstandardaction_p.h:55
msgid "Cu&t"
msgstr "&Vytni"

#: kstandardaction_p.h:55
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:56
msgid "&Copy"
msgstr "&Skapijuj"

#: kstandardaction_p.h:56
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "&Paste"
msgstr "&Uklej"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, fuzzy
#| msgid "Loading Preview"
msgid "Paste clipboard content"
msgstr "Atrymańnie padhladu"

#: kstandardaction_p.h:59
msgid "C&lear"
msgstr "&Vyčyści"

#: kstandardaction_p.h:60
msgid "Select &All"
msgstr "Vyłučy &ŭsio"

#: kstandardaction_p.h:61
msgid "Dese&lect"
msgstr "&Anuluj vyłučeńnie"

#: kstandardaction_p.h:62
msgid "&Find..."
msgstr "&Znajdzi..."

#: kstandardaction_p.h:63
msgid "Find &Next"
msgstr "Znajdzi &nastupnaje"

#: kstandardaction_p.h:64
msgid "Find Pre&vious"
msgstr "Znajdzi &papiaredniaje"

#: kstandardaction_p.h:65
msgid "&Replace..."
msgstr "&Zamiani..."

#: kstandardaction_p.h:67
msgid "&Actual Size"
msgstr "&Sapraŭdny pamier"

#: kstandardaction_p.h:67
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:68
msgid "&Fit to Page"
msgstr "&Układzi ŭ staronku"

#: kstandardaction_p.h:68
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Zoom to fit page in window"
msgstr "U peŭny radok"

#: kstandardaction_p.h:69
msgid "Fit to Page &Width"
msgstr "Układzi ŭ &šyryniu staronki"

#: kstandardaction_p.h:69
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:70
msgid "Fit to Page &Height"
msgstr "Układzi ŭ &vyšyniu staronki"

#: kstandardaction_p.h:70
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:71
msgid "Zoom &In"
msgstr "&Nabliź"

#: kstandardaction_p.h:72
msgid "Zoom &Out"
msgstr "&Addali"

#: kstandardaction_p.h:73
msgid "&Zoom..."
msgstr "&Maštabuj..."

#: kstandardaction_p.h:73
#, fuzzy
#| msgid "Select a week"
msgid "Select zoom level"
msgstr "Vybiery tydzień"

#: kstandardaction_p.h:74
msgid "&Redisplay"
msgstr "&Pakažy znoŭ"

#: kstandardaction_p.h:74
#, fuzzy
#| msgid "&Redisplay"
msgid "Redisplay document"
msgstr "&Pakažy znoŭ"

#: kstandardaction_p.h:76
msgid "&Up"
msgstr "&Vyšej"

#: kstandardaction_p.h:76
msgid "Go up"
msgstr ""

#: kstandardaction_p.h:81
msgid "&Previous Page"
msgstr "&Papiaredniaja staronka"

#: kstandardaction_p.h:81
#, fuzzy
#| msgid "&Previous Page"
msgid "Go to previous page"
msgstr "&Papiaredniaja staronka"

#: kstandardaction_p.h:82
msgid "&Next Page"
msgstr "&Nastupnaja staronka"

#: kstandardaction_p.h:82
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to next page"
msgstr "U peŭny radok"

#: kstandardaction_p.h:83
msgid "&Go To..."
msgstr "&Pierajdzi..."

#: kstandardaction_p.h:84
msgid "&Go to Page..."
msgstr "&Pierajdzi da staronki..."

#: kstandardaction_p.h:85
msgid "&Go to Line..."
msgstr "&Pierajdzi da radka..."

#: kstandardaction_p.h:86
msgid "&First Page"
msgstr "&Pieršaja staronka"

#: kstandardaction_p.h:86
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to first page"
msgstr "U peŭny radok"

#: kstandardaction_p.h:87
msgid "&Last Page"
msgstr "&Apošniaja staronka"

#: kstandardaction_p.h:87
#, fuzzy
#| msgid "&Go to Page..."
msgid "Go to last page"
msgstr "&Pierajdzi da staronki..."

#: kstandardaction_p.h:88
msgid "&Back"
msgstr "&Nazad"

#: kstandardaction_p.h:88
#, fuzzy
#| msgid "&Back in the Document"
msgid "Go back in document"
msgstr "Na&zad u dakumencie"

#: kstandardaction_p.h:89
#, fuzzy
#| msgctxt "go forward"
#| msgid "&Forward"
msgid "&Forward"
msgstr "Na&pierad"

#: kstandardaction_p.h:89
#, fuzzy
#| msgid "&Forward in the Document"
msgid "Go forward in document"
msgstr "Na&pierad u dakumencie"

#: kstandardaction_p.h:91
msgid "&Add Bookmark"
msgstr "&Dadaj zakładku"

#: kstandardaction_p.h:92
#, fuzzy
#| msgid "&Edit Bookmarks"
msgid "&Edit Bookmarks..."
msgstr "&Redahuj zakładki"

#: kstandardaction_p.h:94
msgid "&Spelling..."
msgstr "&Pravapis..."

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "Check Spelling"
msgid "Check spelling in document"
msgstr "Spraŭdź pravapis"

#: kstandardaction_p.h:96
#, fuzzy
#| msgid "Show &Menubar"
msgid "Show or hide menubar"
msgstr "Pakažy &menu"

#: kstandardaction_p.h:97
msgid "Show &Toolbar"
msgstr "Pakažy &panel pryładździa"

#: kstandardaction_p.h:97
#, fuzzy
#| msgctxt "@action"
#| msgid "Show Toolbar"
msgid "Show or hide toolbar"
msgstr "Pakažy panel pryładździa"

#: kstandardaction_p.h:98
#, fuzzy
#| msgctxt "@action"
#| msgid "Show Statusbar"
msgid "Show or hide statusbar"
msgstr "Pakažy panel stanu"

#: kstandardaction_p.h:99
msgid "F&ull Screen Mode"
msgstr "&Na ŭvieś ekran"

#: kstandardaction_p.h:100
msgid "&Save Settings"
msgstr "&Zapišy nałady"

#: kstandardaction_p.h:101
msgid "Configure S&hortcuts..."
msgstr "Naładź &klavijaturnyja skaroty..."

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "&Naładź %1..."

#: kstandardaction_p.h:103
msgid "Configure Tool&bars..."
msgstr "Naładź &paneli pryładździa..."

#: kstandardaction_p.h:104
msgid "Configure &Notifications..."
msgstr "Naładź &nahadvańni..."

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "&Padručnik pa %1"

#: kstandardaction_p.h:110
msgid "What's &This?"
msgstr "Što &heta?"

#: kstandardaction_p.h:111
msgid "Tip of the &Day"
msgstr "Štodzionnyja &parady"

#: kstandardaction_p.h:112
msgid "&Report Bug..."
msgstr "&Paviedam pra chibu..."

#: kstandardaction_p.h:113
msgid "Switch Application &Language..."
msgstr "Źmiani &movu aplikacyi..."

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "&Pra %1"

#: kstandardaction_p.h:115
msgid "About &KDE"
msgstr "Pra &KDE"
