[KCM Locale]
Name=Japanese
Name[ca]=Japonès
Name[es]=Japonés
Name[ia]=Japonese 
Name[nl]=Japans
Name[sl]=Japonščina
Name[tr]=Japonca
Name[uk]=японська
Name[x-test]=xxJapanesexx
