[KCM Locale]
Name=Basque
Name[ca]=Basc
Name[es]=Euskera
Name[ia]=Basco 
Name[nl]=Baskisch
Name[sl]=Baskovščina
Name[tr]=Baskça
Name[uk]=баскська
Name[x-test]=xxBasquexx
