[KCM Locale]
Name=Malayalam
Name[ca]=Malaiàlam
Name[es]=Malabar
Name[ia]=Malayalam
Name[nl]=Malayalam
Name[sl]=Malajalamščina
Name[tr]=Malayalam Dili
Name[uk]=малаялам
Name[x-test]=xxMalayalamxx
