[KCM Locale]
Name=Greek
Name[ca]=Grec
Name[es]=Griego
Name[ia]=Greco 
Name[nl]=Grieks
Name[sl]=Grščina
Name[tr]=Yunanca
Name[uk]=грецька
Name[x-test]=xxGreekxx
