[KCM Locale]
Name=Kannada
Name[ca]=Kanarès
Name[es]=Canarés
Name[ia]=Kannada
Name[nl]=Kannada
Name[sl]=Kanareščina
Name[tr]=Kannadaca
Name[uk]=каннада
Name[x-test]=xxKannadaxx
