[KCM Locale]
Name=Turkish
Name[ca]=Turc
Name[es]=Turco
Name[ia]=Turco
Name[nl]=Turks
Name[sl]=Turščina
Name[tr]=Türkçe
Name[uk]=турецька
Name[x-test]=xxTurkishxx
