[KCM Locale]
Name=Macedonian
Name[ia]=Macedone 
Name[nl]=Macedonisch
Name[tr]=Makedonca
Name[uk]=македонська
Languages=mk
Region=easteurope
DecimalSymbol=,
ThousandsSeparator=$0 $0
CurrencySymbol=MKD
MonetaryDecimalSymbol=,
MonetaryThousandsSeparator=$0 $0
PositiveSign=
NegativeSign=-
FractDigits=2
PositivePrefixCurrencySymbol=true
NegativePrefixCurrencySymbol=true
PositiveMonetarySignPosition=1
NegativeMonetarySignPosition=1
DateFormat=%A %e. %B %Y
DateFormatShort=%d.%m.%Y
TimeFormat=%H:%M:%S
