[KCM Locale]
Name=Walloon
Name[ca]=Való
Name[es]=Valón
Name[ia]=Valloniano
Name[nl]=Waals
Name[sl]=Valonščina
Name[tr]=Valonca
Name[uk]=валлонська
Name[x-test]=xxWalloonxx
