[KCM Locale]
Name=Farsi
Name[ca]=Farsi
Name[es]=Farsi
Name[ia]=Farsi 
Name[nl]=Farsi
Name[sl]=Perzijščina
Name[tr]=Farsça
Name[uk]=фарсі
Name[x-test]=xxFarsixx
