[KCM Locale]
Name=Gujarati
Name[ca]=Gujarati
Name[es]=Guyaratí
Name[ia]=Gujarati 
Name[nl]=Gujarati
Name[sl]=Gudžaratščina
Name[tr]=Güceratça
Name[uk]=гуджараті
Name[x-test]=xxGujaratixx
