[KCM Locale]
Name=Amharic
Name[ar]=الأمهرية
Name[bg]=Амхарски
Name[ca]=Amhàric
Name[ca@valencia]=Amhàric
Name[cs]=Amharský
Name[es]=Amhárico
Name[eu]=Amharera
Name[fr]=Amharique
Name[he]=אמהרית
Name[hu]=Amhara
Name[ia]=Amharic
Name[is]=Amharíska
Name[it]=Amarico
Name[ka]=ამჰარული
Name[ko]=암하라어
Name[lt]=Amharų
Name[nan_TW]=Amhara 語
Name[nan_TW@latin]=Amhara-gí
Name[nl]=Amharisch
Name[nn]=Amharisk
Name[pt_BR]=Amárico
Name[ro]=Amarică
Name[ru]=Амхарский
Name[sk]=Amharčina
Name[sl]=Amharščina
Name[sv]=Amarinja
Name[ta]=அம்ஹாரிக்
Name[tr]=Amharca
Name[ug]=ئامخارىكچە
Name[uk]=Амхарська
Name[zh_CN]=阿姆哈拉语
Name[zh_TW]=阿姆哈拉語
