[KCM Locale]
Name=Polish
Name[ca]=Polonès
Name[es]=Polaco
Name[ia]=Polonese 
Name[nl]=Pools
Name[sl]=Poljščina
Name[tr]=Lehçe
Name[uk]=польська
Name[x-test]=xxPolishxx
