# Eugene Zelenko <greendeath@mail.ru>, 2002-2004.
# Ihar Hrachyshka <ihar.hrachyshka@gmail.com>, 2006.
# Darafei Praliaskouski <komzpa@licei2.com>, 2007.
# Komяpa <symbol@me.by>, 2007.
# Komяpa <komzpa@gmail.com>, 2007.
# Darafei Praliaskoski <komzpa@gmail.com>, 2007.
# Darafei Praliaskouski <komzpa@gmail.com>, 2008, 2009.
# Siarhei Liantsevich <serzh.by@gmail.com>, 2008.
# kom <me@komzpa.net>, 2008.
msgid ""
msgstr ""
"Project-Id-Version: 86ff119b1606fcaa910d6b44fc14b611\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2022-08-27 00:42+0000\n"
"PO-Revision-Date: 2022-08-29 09:17\n"
"Last-Translator: Darafei Praliaskouski <komzpa@gmail.com>\n"
"Language-Team: Belarusian\n"
"Language: be\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 1.0\n"
"Plural-Forms: nplurals=4; plural=(n%10==1 && n%100!=11 ? 0 : n%10>=2 && n"
"%10<=4 && (n%100<12 || n%100>14) ? 1 : n%10==0 || n%10>=5 && n%10<=9 || n"
"%100>=11 && n%100<=14 ? 2 : 3);\n"
"X-Crowdin-Project: 86ff119b1606fcaa910d6b44fc14b611\n"
"X-Crowdin-Project-ID: 127\n"
"X-Crowdin-Language: be\n"
"X-Crowdin-File: /main/be/kconfigwidgets/kconfigwidgets5.po\n"
"X-Crowdin-File-ID: 7797\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Дарафей Праляскоўскі, Antikruk"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "komzpa@gmail.com, nashtlumach@gmail.com"

#: kcmodule.cpp:198
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "Перад захаваннем вам будзе прапанавана выканаць аўтэнтыфікацыю"

#: kcmodule.cpp:202
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "Вы не маеце правоў на захаванне канфігурацыі"

#: kcodecaction.cpp:66
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Прадвызначана"

#: kcodecaction.cpp:74
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Аўтаматычнае вызначэнне"

#: kcolorschememanager.cpp:226 kcolorschememanager.cpp:235
#, kde-format
msgid "Color Scheme"
msgstr "Колеравая схема"

#: kcolorschememodel.cpp:71
#, kde-format
msgid "Default"
msgstr "Прадвызначана"

#: kcommandbar.cpp:560
#, kde-format
msgid "No commands matching the filter"
msgstr "Няма загадаў, якія адпавядаюць фільтру"

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Наладжванне"

#: khamburgermenu.cpp:117
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "&Меню"

#: khamburgermenu.cpp:318
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "Паказваць &панэль меню з усімі дзеяннямі"

#: khamburgermenu.cpp:344
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "Яшчэ"

#: khamburgermenu.cpp:345
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "Дадатковыя дзеянні"

#: krecentfilesaction.cpp:70
#, kde-format
msgid "No Entries"
msgstr "Няма запісаў"

#: krecentfilesaction.cpp:76
#, kde-format
msgid "Clear List"
msgstr "Ачысціць спіс"

#: kstandardaction.cpp:158
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Назад"

#: kstandardaction.cpp:165
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Далей"

#: kstandardaction.cpp:172
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Хатняя старонка"

#: kstandardaction.cpp:176
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&Даведка"

#: kstandardaction.cpp:233
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "Паказваць меню<p>Паказвае меню пасля таго, як яно было схавана</p>"

#: kstandardaction.cpp:254
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Паказваць панэль стану<p>Паказвае панэль стану, якая ўяўляе сабой панэль "
"унізе акна, на якой паказваюцца звесткі пра стан.</p>"

#: kstandardaction_p.h:30
msgid "&New"
msgstr "&Стварыць"

#: kstandardaction_p.h:30
msgid "Create new document"
msgstr "Стварыць новы дакумент"

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "&Адкрыць..."

#: kstandardaction_p.h:31
msgid "Open an existing document"
msgstr "Адкрыць існы дакумент"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "Адкрыць &нядаўні файл"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr "Адкрыць дакумент, які нядаўна адкрываўся"

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "&Захаваць"

#: kstandardaction_p.h:33
msgid "Save document"
msgstr "Захаваць дакумент"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "Захаваць &як..."

#: kstandardaction_p.h:34
msgid "Save document under a new name"
msgstr "Захаваць дакумент пад новай назвай"

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "&Вярнуць"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr "Вярнуць незахаваныя змены, унесеныя ў дакумент"

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "За&крыць"

#: kstandardaction_p.h:36
msgid "Close document"
msgstr "Закрыць дакумент"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "&Друкаваць..."

#: kstandardaction_p.h:37
msgid "Print document"
msgstr "Друкаваць дакумент"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "Папярэдні п&рагляд друку"

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr "Вывесці папярэдні прагляд дакумента для друкавання"

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "&Напісаць ліст..."

#: kstandardaction_p.h:39
msgid "Send document by mail"
msgstr "Адправіць дакумент па электроннай пошце"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "&Выйсці"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "Выйсці з праграмы"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "&Адрабіць"

#: kstandardaction_p.h:42
msgid "Undo last action"
msgstr "Адрабіць апошняе дзеянне"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "Па&ўтарыць"

#: kstandardaction_p.h:43
msgid "Redo last undone action"
msgstr "Паўтарыць апошняе дзеянне"

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "&Выразаць"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr "Выразаць абранае ў буфер абмену"

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "&Скапіяваць"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr "Скапіяваць абранае ў буфер абмену"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "&Уставіць"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "Paste clipboard content"
msgstr "Уставіць змесціва з буфера абмену"

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "А&чысціць"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "Абраць &усё"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "&Адкінуць выбар"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "&Пошук..."

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "Шукаць &наступнае"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "Шукаць &папярэдняе"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "&Замяніць..."

#: kstandardaction_p.h:58
msgid "Zoom to &Actual Size"
msgstr "Маштабаваць да &сапраўднага памеру"

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr "Паказаць дакумент у яго сапраўдным памеры"

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "Па &памеры старонкі"

#: kstandardaction_p.h:59
msgid "Zoom to fit page in window"
msgstr "Маштабаваць па памеры акна"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "Па &шырыні старонкі"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr "Маштабаваць па шырыні акна"

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "Па &вышыні старонкі"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr "Маштабаваць па вышыні акна"

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "&Павялічыць"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "&Паменшыць"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "&Маштабаванне..."

#: kstandardaction_p.h:64
msgid "Select zoom level"
msgstr "Абраць узровень павелічэння"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr "&Абнавіць"

#: kstandardaction_p.h:65
msgid "Refresh document"
msgstr "Абнавіць дакумент"

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "&Уверх"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr "Перайсці вышэй"

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "&Папярэдняя старонка"

#: kstandardaction_p.h:72
msgid "Go to previous page"
msgstr "Перайсці да папярэдняй старонкі"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "&Наступная старонка"

#: kstandardaction_p.h:73
msgid "Go to next page"
msgstr "Перайсці да наступнай старонкі"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "&Пераход..."

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "&Перайсці да старонкі..."

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "Перайсці да радка..."

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "&Першая старонка"

#: kstandardaction_p.h:77
msgid "Go to first page"
msgstr "Перайсці да першай старонкі"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "&Апошняя старонка"

#: kstandardaction_p.h:78
msgid "Go to last page"
msgstr "Перайсці да апошняй старонкі"

#: kstandardaction_p.h:79
msgid "&Back"
msgstr "&Назад"

#: kstandardaction_p.h:79
msgid "Go back in document"
msgstr "Перайсці назад у дакуменце"

#: kstandardaction_p.h:80
msgid "&Forward"
msgstr "Д&алей"

#: kstandardaction_p.h:80
msgid "Go forward in document"
msgstr "Перайсці наперад ў дакуменце"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "&Дадаць закладку"

#: kstandardaction_p.h:83
msgid "&Edit Bookmarks..."
msgstr "&Рэдагаваць закладкі..."

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "&Праверыць правапіс..."

#: kstandardaction_p.h:85
msgid "Check spelling in document"
msgstr "Праверыць правапіс у дакуменце"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "Паказваць &меню"

#: kstandardaction_p.h:87
msgid "Show or hide menubar"
msgstr "Паказаць або схаваць панэль меню"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "Паказваць &панэль інструментаў"

#: kstandardaction_p.h:88
msgid "Show or hide toolbar"
msgstr "Паказаць або схаваць панэль інструментаў"

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "Паказваць панэль ст&ану"

#: kstandardaction_p.h:89
msgid "Show or hide statusbar"
msgstr "Паказаць або схаваць панэль стану"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "&Поўнаэкранны рэжым"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "&Захаваць налады"

#: kstandardaction_p.h:94
msgid "Configure Keyboard S&hortcuts..."
msgstr "Наладжванне &спалучэнняў клавіш..."

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "&Наладжванне %1..."

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "Наладжванне панэлі інструментаў..."

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "Наладжванне &апавяшчэнняў..."

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "&Даведнік па %1"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "Што &гэта?"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "Карысная &парада"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "&Паведаміць пра хібу..."

#: kstandardaction_p.h:108
msgid "Configure &Language..."
msgstr "Наладжванне &мовы..."

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "&Пра %1"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "Пра &KDE"

#: kstandardaction_p.h:111
msgid "&Delete"
msgstr "В&ыдаліць"

#: kstandardaction_p.h:112
msgid "&Rename..."
msgstr "З&мяніць назву..."

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr "&Перамясціць у сметніцу"

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr "&Ахвяраваць"

#: kstandardaction_p.h:115
msgid "Open &Menu"
msgstr "Адкрыць &меню"

#: ktipdialog.cpp:219
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Карысная парада"

#: ktipdialog.cpp:235
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Вы ведалі, што...?\n"

#: ktipdialog.cpp:288
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "&Паказваць парады падчас запуску"

#: ktipdialog.cpp:293
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Папярэдняя"

#: ktipdialog.cpp:298
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Наступная"
