[KCM Locale]
Name=Scottish Gaelic
Name[ca]=Gaèlic escocès
Name[es]=Gaélico escocés
Name[ia]=Gaelic de Scotia
Name[nl]=Scottish Gaelic
Name[tr]=İskoç Gaelcesi
Name[uk]=шотландська гаельська
