[KCM Locale]
Name=Danish
Name[ca]=Danès
Name[es]=Danés
Name[ia]=Danese 
Name[nl]=Deens
Name[sl]=Danščina
Name[tr]=Danca
Name[uk]=данська
Name[x-test]=xxDanishxx
