[KCM Locale]
Name=Occitan
Name[ca]=Occità
Name[es]=Occitano
Name[ia]=Occitano
Name[nl]=Occitaans
Name[sl]=Oksitanščina
Name[tr]=Oksitanca
Name[uk]=окситанська
Name[x-test]=xxOccitanxx
