[KCM Locale]
Name=Serbian Ijekavian Latin
Name[ia]=Serbo Latino Ljekavian
Name[nl]=Servisch Ijekavian latijn
Name[tr]=İyekavi Sırpçası Latin
Name[uk]=сербська (ієкавиця, латиниця)
