# translation of kdelibs4.po to Gujarati
# Copyright (C) 2008 This_file_is_part_of_KDE
# This file is distributed under the same license as the PACKAGE package.
#
# Kartik Mistry <kartik.mistry@gmail.com>, 2008.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2020-02-07 03:03+0100\n"
"PO-Revision-Date: 2009-11-22 00:01+0530\n"
"Last-Translator: Kartik Mistry <kartik.mistry@gmail.com>\n"
"Language-Team: Gujarati <team@utkarsh.org>\n"
"Language: gu\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=(n!=1);\n"
"X-Generator: KBabel 1.11.4\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Kartik Mistry"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "kartik.mistry@gmail.com"

#: kcmodule.cpp:176
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "સંગ્રહ કરતા પહેલાં તમને સત્તાધિકરણ માટે પૂછવામાં આવશે"

#: kcmodule.cpp:180
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "તમને રૂપરેખાંકન સંગ્રહ કરવાની પરવાનગી નથી"

#: kcodecaction.cpp:90
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "મૂળભૂત"

#: kcodecaction.cpp:98
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "આપમેળે ચકાસો"

#: kcolorschememanager.cpp:158
#, fuzzy, kde-format
#| msgctxt "Encodings menu"
#| msgid "Default"
msgid "Default"
msgstr "મૂળભૂત"

#: kcolorschememanager.cpp:235 kcolorschememanager.cpp:240
#, fuzzy, kde-format
#| msgid "Shortcut Schemes"
msgid "Color Scheme"
msgstr "ટૂંકાણ પધ્ધતિઓ"

#: kconfigdialog.cpp:44
#, fuzzy, kde-format
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "રૂપરેખાંકિત કરો"

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "કોઇ દાખલાઓ નથી"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "યાદી સાફ કરો"

#: kstandardaction.cpp:153
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "પાછળ (&B)"

#: kstandardaction.cpp:160
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "આગળ (&F)"

#: kstandardaction.cpp:167
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "ઘર (&H)"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "મદદ (&H)"

#: kstandardaction.cpp:216
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "મેનુપટ્ટી બતાવો<p>મેનુબારને છુપાવી દીધા પછી ફરીથી બતાવે છે</p>"

#: kstandardaction.cpp:236
#, fuzzy, kde-format
#| msgid ""
#| "Show Statusbar<br /><br />Shows the statusbar, which is the bar at the "
#| "bottom of the window used for status information."
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"સ્થિતિપટ્ટી બતાવો<br /><br />સ્થિતિપટ્ટી બતાવે છે જે ઉપયોગમાં લેવાતી વિન્ડોનાં તળિયાં પર "
"સ્થિતિ માહિતી બતાવે છે."

#: kstandardaction_p.h:41
#, kde-format
msgid "&New"
msgstr "નવું (&N)"

#: kstandardaction_p.h:41
#, fuzzy, kde-format
#| msgctxt "@label"
#| msgid "Create new tag:"
msgid "Create new document"
msgstr "નવું ટેગ બનાવો:"

#: kstandardaction_p.h:42
#, kde-format
msgid "&Open..."
msgstr "ખોલો (&O)..."

#: kstandardaction_p.h:42
#, fuzzy, kde-format
#| msgid "&Back in the Document"
msgid "Open an existing document"
msgstr "દસ્તાવેજમાં પાછળ જાવ (&B)"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open &Recent"
msgstr "તાજેતરનું ખોલો (&R)"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:44
#, kde-format
msgid "&Save"
msgstr "સંગ્રહો (&S)"

#: kstandardaction_p.h:44
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Save document"
msgstr "દસ્તાવેજ બંધ કરો"

#: kstandardaction_p.h:45
#, kde-format
msgid "Save &As..."
msgstr "આ રીતે સંગ્રહો (&A)..."

#: kstandardaction_p.h:45
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Save document under a new name"
msgstr "દસ્તાવેજ બંધ કરો"

#: kstandardaction_p.h:46
#, kde-format
msgid "Re&vert"
msgstr "ફેરવી નાખો (&v)"

#: kstandardaction_p.h:46
#, kde-format
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:47
#, kde-format
msgid "&Close"
msgstr "બંધ કરો (&C)"

#: kstandardaction_p.h:47
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Close document"
msgstr "દસ્તાવેજ બંધ કરો"

#: kstandardaction_p.h:48
#, kde-format
msgid "&Print..."
msgstr "છાપો (&P)..."

#: kstandardaction_p.h:48
#, fuzzy, kde-format
#| msgctxt "keyboard-key-name"
#| msgid "PrintScreen"
msgid "Print document"
msgstr "પ્રિન્ટસ્ક્રિન"

#: kstandardaction_p.h:49
#, kde-format
msgid "Print Previe&w"
msgstr "છાપકામ પૂર્વદર્શન (&w)"

#: kstandardaction_p.h:49
#, kde-format
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:50
#, kde-format
msgid "&Mail..."
msgstr "મેઈલ (&M)..."

#: kstandardaction_p.h:50
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Send document by mail"
msgstr "દસ્તાવેજ બંધ કરો"

#: kstandardaction_p.h:51
#, kde-format
msgid "&Quit"
msgstr "બહાર નીકળો (&Q)"

#: kstandardaction_p.h:51
#, kde-format
msgid "Quit application"
msgstr "કાર્યક્રમની બહાર નીકળો"

#: kstandardaction_p.h:53
#, kde-format
msgid "&Undo"
msgstr "રદ કરો (&U)"

#: kstandardaction_p.h:53
#, fuzzy, kde-format
#| msgid "HTML documentation"
msgid "Undo last action"
msgstr "HTML દસ્તાવેજ"

#: kstandardaction_p.h:54
#, kde-format
msgid "Re&do"
msgstr "ફરી કરો (&d)"

#: kstandardaction_p.h:54
#, fuzzy, kde-format
#| msgid "HTML documentation"
msgid "Redo last undone action"
msgstr "HTML દસ્તાવેજ"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cu&t"
msgstr "કાપો (&t)"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:56
#, kde-format
msgid "&Copy"
msgstr "નકલ (&C)"

#: kstandardaction_p.h:56
#, kde-format
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:57 kstandardaction_p.h:59
#, kde-format
msgid "&Paste"
msgstr "ચોંટાડો (&P)"

#: kstandardaction_p.h:57 kstandardaction_p.h:59
#, fuzzy, kde-format
#| msgid "Upload content"
msgid "Paste clipboard content"
msgstr "માહિતી અપલોડ કરો"

#: kstandardaction_p.h:61
#, kde-format
msgid "C&lear"
msgstr "સાફ કરો (&l)"

#: kstandardaction_p.h:62
#, kde-format
msgid "Select &All"
msgstr "બધું પસંદ કરો (&A)"

#: kstandardaction_p.h:63
#, kde-format
msgid "Dese&lect"
msgstr "પસંદગી દૂર કરો (&l)"

#: kstandardaction_p.h:64
#, kde-format
msgid "&Find..."
msgstr "શોધો (&F)..."

#: kstandardaction_p.h:65
#, kde-format
msgid "Find &Next"
msgstr "આગળનું શોધો (&N)"

#: kstandardaction_p.h:66
#, kde-format
msgid "Find Pre&vious"
msgstr "પહેલાનું શોધો (&v)"

#: kstandardaction_p.h:67
#, kde-format
msgid "&Replace..."
msgstr "બદલો (&R)..."

#: kstandardaction_p.h:69
#, kde-format
msgid "&Actual Size"
msgstr "ખરેખર માપ (&A)"

#: kstandardaction_p.h:69
#, kde-format
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:70
#, kde-format
msgid "&Fit to Page"
msgstr "પાનાંમાં બેસતું (&F)"

#: kstandardaction_p.h:70
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Zoom to fit page in window"
msgstr "લીટી પર જાવ"

#: kstandardaction_p.h:71
#, kde-format
msgid "Fit to Page &Width"
msgstr "પાનાં પહોળાઈમાં બેસતું (&W)"

#: kstandardaction_p.h:71
#, kde-format
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:72
#, kde-format
msgid "Fit to Page &Height"
msgstr "પાનાં ઊંચાઈમાં બેસતું (&H)"

#: kstandardaction_p.h:72
#, kde-format
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:73
#, kde-format
msgid "Zoom &In"
msgstr "મોટું (&I)"

#: kstandardaction_p.h:74
#, kde-format
msgid "Zoom &Out"
msgstr "નાનું (&O)"

#: kstandardaction_p.h:75
#, kde-format
msgid "&Zoom..."
msgstr "નાનું-મોટું (&Z)..."

#: kstandardaction_p.h:75
#, fuzzy, kde-format
#| msgid "Select a week"
msgid "Select zoom level"
msgstr "અઠવાડિયું પસંદ કરો"

#: kstandardaction_p.h:76
#, kde-format
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:76
#, fuzzy, kde-format
#| msgid "&Redisplay"
msgid "Refresh document"
msgstr "ફરી બતાવો (&R)"

#: kstandardaction_p.h:78
#, kde-format
msgid "&Up"
msgstr " ઉપર (&U)"

#: kstandardaction_p.h:78
#, kde-format
msgid "Go up"
msgstr ""

#: kstandardaction_p.h:83
#, kde-format
msgid "&Previous Page"
msgstr "પહેલાનું પાનું (&P)"

#: kstandardaction_p.h:83
#, fuzzy, kde-format
#| msgid "&Previous Page"
msgid "Go to previous page"
msgstr "પહેલાનું પાનું (&P)"

#: kstandardaction_p.h:84
#, kde-format
msgid "&Next Page"
msgstr "આગળનું પાનું (&N)"

#: kstandardaction_p.h:84
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to next page"
msgstr "લીટી પર જાવ"

#: kstandardaction_p.h:85
#, kde-format
msgid "&Go To..."
msgstr "પ્રતિ જાઓ. (&G).."

#: kstandardaction_p.h:86
#, kde-format
msgid "&Go to Page..."
msgstr "પાનાંમાં જાઓ (&G)..."

#: kstandardaction_p.h:87
#, kde-format
msgid "&Go to Line..."
msgstr "લીટીમાં જાઓ (&G)..."

#: kstandardaction_p.h:88
#, kde-format
msgid "&First Page"
msgstr "પહેલું પાનું (&F)"

#: kstandardaction_p.h:88
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to first page"
msgstr "લીટી પર જાવ"

#: kstandardaction_p.h:89
#, kde-format
msgid "&Last Page"
msgstr "છેલ્લું પાનું (&L)"

#: kstandardaction_p.h:89
#, fuzzy, kde-format
#| msgid "&Go to Page..."
msgid "Go to last page"
msgstr "પાનાંમાં જાઓ (&G)..."

#: kstandardaction_p.h:90
#, kde-format
msgid "&Back"
msgstr "પાછળ (&B)"

#: kstandardaction_p.h:90
#, fuzzy, kde-format
#| msgid "&Back in the Document"
msgid "Go back in document"
msgstr "દસ્તાવેજમાં પાછળ જાવ (&B)"

#: kstandardaction_p.h:91
#, fuzzy, kde-format
#| msgctxt "go forward"
#| msgid "&Forward"
msgid "&Forward"
msgstr "આગળ (&F)"

#: kstandardaction_p.h:91
#, fuzzy, kde-format
#| msgid "&Forward in the Document"
msgid "Go forward in document"
msgstr "દસ્તાવેજમાં આગળ વધો (&F)"

#: kstandardaction_p.h:93
#, kde-format
msgid "&Add Bookmark"
msgstr "બુકમાર્ક ઉમેરો (&A)"

#: kstandardaction_p.h:94
#, fuzzy, kde-format
#| msgid "&Edit Bookmarks"
msgid "&Edit Bookmarks..."
msgstr "બુકમાર્કો ફેરફાર કરો (&E)"

#: kstandardaction_p.h:96
#, kde-format
msgid "&Spelling..."
msgstr "જોડણી (&S)..."

#: kstandardaction_p.h:96
#, fuzzy, kde-format
#| msgid "Check Spelling"
msgid "Check spelling in document"
msgstr "જોડણી ચકાસો"

#: kstandardaction_p.h:98
#, kde-format
msgid "Show &Menubar"
msgstr "મેનુપટ્ટી બતાવો (&M)"

#: kstandardaction_p.h:98
#, fuzzy, kde-format
#| msgid "Show &Menubar"
msgid "Show or hide menubar"
msgstr "મેનુપટ્ટી બતાવો (&M)"

#: kstandardaction_p.h:99
#, kde-format
msgid "Show &Toolbar"
msgstr "સાધનપટ્ટી બતાવો (&T)"

#: kstandardaction_p.h:99
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Show Toolbar"
msgid "Show or hide toolbar"
msgstr "સાધનપટ્ટી બતાવો"

#: kstandardaction_p.h:100
#, kde-format
msgid "Show St&atusbar"
msgstr "સ્થિતિપટ્ટી બતાવો (&a)"

#: kstandardaction_p.h:100
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Show Statusbar"
msgid "Show or hide statusbar"
msgstr "સ્થિતિપટ્ટી બતાવો"

#: kstandardaction_p.h:101
#, kde-format
msgid "F&ull Screen Mode"
msgstr "પૂર્ણ સ્ક્રીન સ્થિતિ (&u)"

#: kstandardaction_p.h:103
#, kde-format
msgid "&Save Settings"
msgstr "સુયોજનાઓ સંગ્રહ કરો (&S)"

#: kstandardaction_p.h:105
#, fuzzy, kde-format
#| msgid "Configure S&hortcuts..."
msgid "Configure Keyboard S&hortcuts..."
msgstr "ટૂંકારસ્તાઓ રૂપરેખાંકિત કરો (&h)..."

#: kstandardaction_p.h:106
#, kde-format
msgid "&Configure %1..."
msgstr "%1 રૂપરેખાંકિત કરો (&C)..."

#: kstandardaction_p.h:107
#, kde-format
msgid "Configure Tool&bars..."
msgstr "સાધનપટ્ટીઓ રૂપરેખાંકિત કરો (&b)..."

#: kstandardaction_p.h:108
#, kde-format
msgid "Configure &Notifications..."
msgstr "નોંધણીઓ રૂપરેખાંકિત કરો (&N)..."

#: kstandardaction_p.h:115
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 માર્ગદર્શિકા (&H)"

#: kstandardaction_p.h:116
#, kde-format
msgid "What's &This?"
msgstr "આ શું છે? (&T)"

#: kstandardaction_p.h:117
#, kde-format
msgid "Tip of the &Day"
msgstr "દિવસની શિખામણ (&D)"

#: kstandardaction_p.h:118
#, kde-format
msgid "&Report Bug..."
msgstr "ક્ષતિ અહેવાલ (&R)..."

#: kstandardaction_p.h:119
#, kde-format
msgid "Switch Application &Language..."
msgstr "કાર્યક્રમની ભાષા બદલો (&L)..."

#: kstandardaction_p.h:120
#, kde-format
msgid "&About %1"
msgstr "%1 વિશે (&A)"

#: kstandardaction_p.h:121
#, kde-format
msgid "About &KDE"
msgstr "&KDE વિશે"

#: kstandardaction_p.h:122
#, fuzzy, kde-format
#| msgid "Delete"
msgid "&Delete"
msgstr "દૂર કરો"

#: kstandardaction_p.h:123
#, fuzzy, kde-format
#| msgid "&Replace..."
msgid "&Rename..."
msgstr "બદલો (&R)..."

#: kstandardaction_p.h:124
#, kde-format
msgid "&Move to Trash"
msgstr ""

#: kstandardaction_p.h:125
#, kde-format
msgid "&Donate"
msgstr ""

#: ktipdialog.cpp:241
#, fuzzy, kde-format
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "દિવસની ટીપ્પણી"

#: ktipdialog.cpp:257
#, fuzzy, kde-format
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "શું તમે જાણો છો...?\n"

#: ktipdialog.cpp:311
#, fuzzy, kde-format
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "ટીપ્પણી શરૂઆતમાં બતાવો (&S)"

#: ktipdialog.cpp:316
#, fuzzy, kde-format
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "પાછળ (&P)"

#: ktipdialog.cpp:321
#, fuzzy, kde-format
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "આગળ (&N)"
