# translation of kdelibs4.po to marathi
# Copyright (C) YEAR This_file_is_part_of_KDE
# This file is distributed under the same license as the PACKAGE package.
#
# Sandeep Shedmake <sandeep.shedmake@gmail.com>, 2008, 2009.
# Chetan Khona <chetan@kompkin.com>, 2012, 2013.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2020-01-30 02:51+0100\n"
"PO-Revision-Date: 2013-03-29 16:14+0530\n"
"Last-Translator: Chetan Khona <chetan@kompkin.com>\n"
"Language-Team: Marathi <kde-i18n-doc@kde.org>\n"
"Language: mr\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=(n!=1);\n"
"X-Generator: Lokalize 1.5\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr ""
"संदिप शेडमाके, \n"
"चेतन खोना"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr ""
"sandeep.shedmake@gmail.com, \n"
"chetan@kompkin.com"

#: kcmodule.cpp:176
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "बदल कायम करण्याकरिता तुमची परवानगी घेण्यात येइल"

#: kcmodule.cpp:180
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "तुम्हाला व्यवस्था बदलांची परवानगी नाही"

#: kcodecaction.cpp:90
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "मूलभूत"

#: kcodecaction.cpp:98
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "स्वशोध"

#: kcolorschememanager.cpp:158
#, fuzzy, kde-format
#| msgctxt "Encodings menu"
#| msgid "Default"
msgid "Default"
msgstr "मूलभूत"

#: kcolorschememanager.cpp:235 kcolorschememanager.cpp:240
#, fuzzy, kde-format
#| msgid "Shortcut Schemes"
msgid "Color Scheme"
msgstr "शॉर्टकट सुत्रयोजना"

#: kconfigdialog.cpp:44
#, fuzzy, kde-format
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "संयोजीत करा"

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "नोंदणी नाही"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "यादी रिकामी करा"

#: kstandardaction.cpp:153
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "मागे (&B)"

#: kstandardaction.cpp:160
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "पुढे (&F)"

#: kstandardaction.cpp:167
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "मुख्य (&H)"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "मदत (&H)"

#: kstandardaction.cpp:216
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "मेन्यूपट्टी दर्शवा <p>लपवलेली मेन्यूपट्टी पुन्हा दर्शवितो </p>"

#: kstandardaction.cpp:236
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"स्थितीपट्टी दर्शवा <p>स्थितीपट्टी दर्शवतो, ही पट्टी चौकटीच्या खालच्या बाजुस असून तिचा "
"वापर वस्तुस्थितीची माहिती देण्यासाठी होतो.</p>"

#: kstandardaction_p.h:41
#, kde-format
msgid "&New"
msgstr "नवीन (&N)"

#: kstandardaction_p.h:41
#, kde-format
msgid "Create new document"
msgstr "नवीन दस्तऐवज बनवा"

#: kstandardaction_p.h:42
#, kde-format
msgid "&Open..."
msgstr "उघडा (&O)..."

#: kstandardaction_p.h:42
#, kde-format
msgid "Open an existing document"
msgstr "अस्तित्वात असलेला दस्तऐवज उघडा"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open &Recent"
msgstr "अलिकडील उघडा (&R)"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open a document which was recently opened"
msgstr "नुकताच बंद केलेला दस्तऐवज उघडा"

#: kstandardaction_p.h:44
#, kde-format
msgid "&Save"
msgstr "साठवा (&S)"

#: kstandardaction_p.h:44
#, kde-format
msgid "Save document"
msgstr "दस्तऐवज साठवा"

#: kstandardaction_p.h:45
#, kde-format
msgid "Save &As..."
msgstr "असे साठवा (&A)..."

#: kstandardaction_p.h:45
#, kde-format
msgid "Save document under a new name"
msgstr "दस्तऐवज नव्या नावाने साठवा"

#: kstandardaction_p.h:46
#, kde-format
msgid "Re&vert"
msgstr "पूर्वस्थितीकडे जा (&v)"

#: kstandardaction_p.h:46
#, kde-format
msgid "Revert unsaved changes made to document"
msgstr "दस्तऐवजातील न साठवलेले बदल काढून टाका"

#: kstandardaction_p.h:47
#, kde-format
msgid "&Close"
msgstr "बंद करा (&C)"

#: kstandardaction_p.h:47
#, kde-format
msgid "Close document"
msgstr "दस्तऐवज बंद करा"

#: kstandardaction_p.h:48
#, kde-format
msgid "&Print..."
msgstr "छपाई (&P)..."

#: kstandardaction_p.h:48
#, kde-format
msgid "Print document"
msgstr "दस्तऐवज छापा"

#: kstandardaction_p.h:49
#, kde-format
msgid "Print Previe&w"
msgstr "छपाई पूर्वावलोकन (&W)"

#: kstandardaction_p.h:49
#, kde-format
msgid "Show a print preview of document"
msgstr "दस्तऐवजाचे छपाई पूर्वावलोकन दर्शवा"

#: kstandardaction_p.h:50
#, kde-format
msgid "&Mail..."
msgstr "मेल (&M)..."

#: kstandardaction_p.h:50
#, kde-format
msgid "Send document by mail"
msgstr "दस्तऐवज इमेलने पाठवा"

#: kstandardaction_p.h:51
#, kde-format
msgid "&Quit"
msgstr "बाहेर पडा (&Q)"

#: kstandardaction_p.h:51
#, kde-format
msgid "Quit application"
msgstr "अनुप्रयोगातून बाहेर पडा"

#: kstandardaction_p.h:53
#, kde-format
msgid "&Undo"
msgstr "पूर्ववत करा (&U)"

#: kstandardaction_p.h:53
#, kde-format
msgid "Undo last action"
msgstr "शेवटची केलेली क्रिया पूर्ववत करा"

#: kstandardaction_p.h:54
#, kde-format
msgid "Re&do"
msgstr "पुन्हा करा (&D)"

#: kstandardaction_p.h:54
#, kde-format
msgid "Redo last undone action"
msgstr "शेवटची नष्ट केलेली क्रिया पूर्ववत करा"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cu&t"
msgstr "कापा (&T)"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cut selection to clipboard"
msgstr "निवड कापुन क्लिपबोर्ड मधे टाका "

#: kstandardaction_p.h:56
#, kde-format
msgid "&Copy"
msgstr "प्रत करा (&C)"

#: kstandardaction_p.h:56
#, kde-format
msgid "Copy selection to clipboard"
msgstr "निवडीची प्रत क्लिपबोर्ड मधे टाका"

#: kstandardaction_p.h:57 kstandardaction_p.h:59
#, kde-format
msgid "&Paste"
msgstr "चिटकवा (&P)"

#: kstandardaction_p.h:57 kstandardaction_p.h:59
#, kde-format
msgid "Paste clipboard content"
msgstr "क्लिपबोर्ड मधील मजकूर चिटकवा "

#: kstandardaction_p.h:61
#, kde-format
msgid "C&lear"
msgstr "पुसून टाका (&L)"

#: kstandardaction_p.h:62
#, kde-format
msgid "Select &All"
msgstr "सर्व निवडा (&A)"

#: kstandardaction_p.h:63
#, kde-format
msgid "Dese&lect"
msgstr "निवड काढून टाका (&L)"

#: kstandardaction_p.h:64
#, kde-format
msgid "&Find..."
msgstr "शोधा (&F)..."

#: kstandardaction_p.h:65
#, kde-format
msgid "Find &Next"
msgstr "पुढील शोधा (&N)"

#: kstandardaction_p.h:66
#, kde-format
msgid "Find Pre&vious"
msgstr "मागील शोधा (&V)"

#: kstandardaction_p.h:67
#, kde-format
msgid "&Replace..."
msgstr "बदला (&R)..."

#: kstandardaction_p.h:69
#, kde-format
msgid "&Actual Size"
msgstr "वास्तविक आकार (&A)"

#: kstandardaction_p.h:69
#, kde-format
msgid "View document at its actual size"
msgstr "दस्तऐवज मूळ आकारात बघा"

#: kstandardaction_p.h:70
#, kde-format
msgid "&Fit to Page"
msgstr "पानाप्रमाणे समर्पक बसवा (&F)"

#: kstandardaction_p.h:70
#, kde-format
msgid "Zoom to fit page in window"
msgstr "चौकटीत पुर्ण पान समर्पक बसेल असे झूम करा"

#: kstandardaction_p.h:71
#, kde-format
msgid "Fit to Page &Width"
msgstr "पानाच्या रुंदीप्रमाणे समर्पक बसवा (&W)"

#: kstandardaction_p.h:71
#, kde-format
msgid "Zoom to fit page width in window"
msgstr "चौकटीत पानाची रुंदी समर्पक बसेल असे झूम करा"

#: kstandardaction_p.h:72
#, kde-format
msgid "Fit to Page &Height"
msgstr "पानाच्या उंचीप्रमाणे समर्पक बसवा (&H)"

#: kstandardaction_p.h:72
#, kde-format
msgid "Zoom to fit page height in window"
msgstr "चौकटीत पानाची उंची समर्पक बसेल असे झूम करा"

#: kstandardaction_p.h:73
#, kde-format
msgid "Zoom &In"
msgstr "मोठे करा (&I)"

#: kstandardaction_p.h:74
#, kde-format
msgid "Zoom &Out"
msgstr "लहान करा (&O)"

#: kstandardaction_p.h:75
#, kde-format
msgid "&Zoom..."
msgstr "झूम (&Z)..."

#: kstandardaction_p.h:75
#, kde-format
msgid "Select zoom level"
msgstr "झूमचा स्तर निवडा"

#: kstandardaction_p.h:76
#, kde-format
msgid "&Redisplay"
msgstr "पुन्हा प्रदर्शन (&R)"

#: kstandardaction_p.h:76
#, kde-format
msgid "Redisplay document"
msgstr "दस्तऐवज पुन्हप्रदर्शन "

#: kstandardaction_p.h:78
#, kde-format
msgid "&Up"
msgstr "वर (&U)"

#: kstandardaction_p.h:78
#, kde-format
msgid "Go up"
msgstr "वर जा"

#: kstandardaction_p.h:83
#, kde-format
msgid "&Previous Page"
msgstr "मागील पान (&P)"

#: kstandardaction_p.h:83
#, kde-format
msgid "Go to previous page"
msgstr "मागील पानावर जा"

#: kstandardaction_p.h:84
#, kde-format
msgid "&Next Page"
msgstr "पुढील पान (&N)"

#: kstandardaction_p.h:84
#, kde-format
msgid "Go to next page"
msgstr "पुढील पानावर जा"

#: kstandardaction_p.h:85
#, kde-format
msgid "&Go To..."
msgstr "येथे जा (&G)..."

#: kstandardaction_p.h:86
#, kde-format
msgid "&Go to Page..."
msgstr "या पानावर जा (&G)..."

#: kstandardaction_p.h:87
#, kde-format
msgid "&Go to Line..."
msgstr "या ओळीवर जा (&G)..."

#: kstandardaction_p.h:88
#, kde-format
msgid "&First Page"
msgstr "पहिले पान (&F)"

#: kstandardaction_p.h:88
#, kde-format
msgid "Go to first page"
msgstr "पहिल्या पानावर जा"

#: kstandardaction_p.h:89
#, kde-format
msgid "&Last Page"
msgstr "शेवटचे पान (&L)"

#: kstandardaction_p.h:89
#, kde-format
msgid "Go to last page"
msgstr "शेवटच्या पानावर जा"

#: kstandardaction_p.h:90
#, kde-format
msgid "&Back"
msgstr "मागे (&B)"

#: kstandardaction_p.h:90
#, kde-format
msgid "Go back in document"
msgstr "दस्तऐवजात मागे जा"

#: kstandardaction_p.h:91
#, kde-format
msgid "&Forward"
msgstr "पुढे (&F)"

#: kstandardaction_p.h:91
#, kde-format
msgid "Go forward in document"
msgstr "दस्तऐवजात पुढे जा"

#: kstandardaction_p.h:93
#, kde-format
msgid "&Add Bookmark"
msgstr "ओळखचिन्ह जोडा (&A)"

#: kstandardaction_p.h:94
#, kde-format
msgid "&Edit Bookmarks..."
msgstr "ओळखचिन्ह संपादित करा (&E)"

#: kstandardaction_p.h:96
#, kde-format
msgid "&Spelling..."
msgstr "वर्णलेखन (&S)..."

#: kstandardaction_p.h:96
#, kde-format
msgid "Check spelling in document"
msgstr "दस्तऐवजात स्पेलिंग तपासा"

#: kstandardaction_p.h:98
#, kde-format
msgid "Show &Menubar"
msgstr "मेन्यूपट्टी दर्शवा (&M)"

#: kstandardaction_p.h:98
#, kde-format
msgid "Show or hide menubar"
msgstr "मेन्यूपट्टी दर्शवा किंवा लपवा (&M)"

#: kstandardaction_p.h:99
#, kde-format
msgid "Show &Toolbar"
msgstr "साधनपट्टी दर्शवा (&T)"

#: kstandardaction_p.h:99
#, kde-format
msgid "Show or hide toolbar"
msgstr "साधनपट्टी दर्शवा किंवा लपवा"

#: kstandardaction_p.h:100
#, kde-format
msgid "Show St&atusbar"
msgstr "स्थितीपट्टी दर्शवा (&A)"

#: kstandardaction_p.h:100
#, kde-format
msgid "Show or hide statusbar"
msgstr "स्थितीपट्टी दर्शवा किंवा लपवा"

#: kstandardaction_p.h:101
#, kde-format
msgid "F&ull Screen Mode"
msgstr "पूर्ण स्क्रीन पद्धत (&U)"

#: kstandardaction_p.h:103
#, kde-format
msgid "&Save Settings"
msgstr "संयोजना साठवा (&S)"

#: kstandardaction_p.h:105
#, fuzzy, kde-format
#| msgid "Configure S&hortcuts..."
msgid "Configure Keyboard S&hortcuts..."
msgstr "शॉर्टकट संयोजीत करा (&H)..."

#: kstandardaction_p.h:106
#, kde-format
msgid "&Configure %1..."
msgstr "%1 संयोजीत करा (&C)..."

#: kstandardaction_p.h:107
#, kde-format
msgid "Configure Tool&bars..."
msgstr "साधनपट्टी संयोजीत करा (&B)..."

#: kstandardaction_p.h:108
#, kde-format
msgid "Configure &Notifications..."
msgstr "सूचना संयोजीत करा (&N)..."

#: kstandardaction_p.h:115
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 पुस्तिका (&H)"

#: kstandardaction_p.h:116
#, kde-format
msgid "What's &This?"
msgstr "हे काय आहे? (&T)"

#: kstandardaction_p.h:117
#, kde-format
msgid "Tip of the &Day"
msgstr "आजची विशेष टिपण्णी (&D)"

#: kstandardaction_p.h:118
#, kde-format
msgid "&Report Bug..."
msgstr "बग सादर करा (&R)..."

#: kstandardaction_p.h:119
#, kde-format
msgid "Switch Application &Language..."
msgstr "अनुप्रयोग भाषा बदला (&L)..."

#: kstandardaction_p.h:120
#, kde-format
msgid "&About %1"
msgstr "%1 विषयी (&A)"

#: kstandardaction_p.h:121
#, kde-format
msgid "About &KDE"
msgstr "केडीई विषयी (&K)"

#: kstandardaction_p.h:122
#, fuzzy, kde-format
#| msgid "Delete"
msgid "&Delete"
msgstr "काढून टाका"

#: kstandardaction_p.h:123
#, fuzzy, kde-format
#| msgid "&Replace..."
msgid "&Rename..."
msgstr "बदला (&R)..."

#: kstandardaction_p.h:124
#, kde-format
msgid "&Move to Trash"
msgstr ""

#: kstandardaction_p.h:125
#, kde-format
msgid "&Donate"
msgstr ""

#: ktipdialog.cpp:241
#, fuzzy, kde-format
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "आजची विशेष टिपण्णी"

#: ktipdialog.cpp:257
#, fuzzy, kde-format
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "तुम्हाला माहित आहे का...?\n"

#: ktipdialog.cpp:311
#, fuzzy, kde-format
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "प्रारंभवेळी टिपण्णी दर्शवा (&S)"

#: ktipdialog.cpp:316
#, fuzzy, kde-format
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "पूर्वीचे (&P)"

#: ktipdialog.cpp:321
#, fuzzy, kde-format
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "पुढचे (&N)"
