[KCM Locale]
Name=Interlingua
Name[ca]=Interlingua
Name[es]=Interlingua
Name[ia]=Interlingua
Name[nl]=Interlingua
Name[sl]=Interlingva
Name[tr]=İnterlingua
Name[uk]=інтерлінгва
Name[x-test]=xxInterlinguaxx
