[KCM Locale]
Name=Serbian Ijekavian
Name[ca]=Serbi ijekavski
Name[es]=Serbio ijekavski
Name[ia]=Serbo Ljekavian 
Name[nl]=Servisch Ijekavian
Name[sl]=Srbščina (ijekavščina)
Name[tr]=İyekavi Sırpçası
Name[uk]=сербська (ієкавиця)
Name[x-test]=xxSerbian Ijekavianxx
