[KCM Locale]
Name=Serbian
Name[ca]=Serbi
Name[es]=Serbio
Name[ia]=Serbo
Name[nl]=Servisch
Name[sl]=Srbščina
Name[tr]=Sırpça
Name[uk]=сербська
Name[x-test]=xxSerbianxx
