# translation of kdelibs4.po to Chinese (Hong Kong)
# Chinese (traditional) translation for kdeutils
# Copyright (C) 2001, 02, 04, 05 Free Software Foundation, Inc.
#
# Eric Cheng <ericc@shinewave.com.tw>, unknown.
#
# with reference from zh_CN translation (as of 2002-11-08):
# Chih-Wei Huang <cwhuang@linux.org.tw>, 2001.
# Kenduest Lee <kenduest@i18n.linux.org.tw>, 2001.
# Jouston Huang (Huang, Jiun-Jeng) <jouston@housediy.com>, 2002.
# Kenduest Lee <kenduest@i18n.linux.org.tw>, 2002.
# Wang Jian <lark@linux.net.cn>, 2002.
# Anthony Fok <anthony@thizlinux.com>, 2002.
# Yuan-Chen Cheng <ycheng@slat.org>, 2002.
#   Wang Jian <lark@linux.ustc.edu.cn>, 1998.
#   Funda Wang <fundawang@en2china.com>, 2002.
#   Sarah Smith <sarahs@redhat.com>, 2002.
#   Xiong Jiang <jxiong@offtopic.org>, 2002.
# Chia-Lin, Kao <acelan@linux.org.tw>, 2004.
# Stanley Wong <stanley18fan0k@yahoo.com.hk>, 2005.
# Abel Cheung <abel@oaka.org>, 2005.
#
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2020-07-21 02:03+0200\n"
"PO-Revision-Date: 2006-01-04 13:32+0800\n"
"Last-Translator: Abel Cheung <abel@oaka.org>\n"
"Language-Team: Chinese (Hong Kong) <community@linuxhall.org>\n"
"Language: zh_HK\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: KBabel 1.3\n"
"Plural-Forms: nplurals=1; plural=0;\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr ""
"Chih-Wei Huang,Kenduest Lee,Jouston Huang (Jiun-Jeng Huang),Kenduest Lee,"
"Wang Jian,Anthony Fok,Yuan-Chen Cheng,Wang Jian,Funda Wang,Sarah Smith,Xiong "
"Jiang,Kao Chia-Lin,Stanley Wong"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr ""
"cwhuang@linux.org.tw,kenduest@i18n.linux.org.tw,jouston@housediy.com,"
"kenduest@i18n.linux.org.tw,lark@linux.net.cn,anthony@thizlinux.com,"
"ycheng@slat.org,lark@linux.ustc.edu.cn,fundawang@en2china.com,sarahs@redhat."
"com,jxiong@offtopic.org,acelan@linux.org.tw,stanley18fan0k@yahoo.com.hk"

#: kcmodule.cpp:196
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr ""

#: kcmodule.cpp:200
#, fuzzy, kde-format
#| msgid "Could not create the new configuration file."
msgid "You are not allowed to save the configuration"
msgstr "無法建立新的設定檔。"

#: kcodecaction.cpp:90
#, fuzzy, kde-format
#| msgid "Default"
msgctxt "Encodings menu"
msgid "Default"
msgstr "預設"

#: kcodecaction.cpp:98
#, fuzzy, kde-format
#| msgid "Autocorrect"
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "自動更正"

#: kcolorschememanager.cpp:158
#, fuzzy, kde-format
#| msgid "Default"
msgid "Default"
msgstr "預設"

#: kcolorschememanager.cpp:235 kcolorschememanager.cpp:240
#, fuzzy, kde-format
#| msgid "Shortcuts"
msgid "Color Scheme"
msgstr "快速鍵"

#: kconfigdialog.cpp:44
#, fuzzy, kde-format
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "設定"

#: krecentfilesaction.cpp:78
#, fuzzy, kde-format
msgid "No Entries"
msgstr "內容"

#: krecentfilesaction.cpp:84
#, fuzzy, kde-format
#| msgid "Clear input"
msgid "Clear List"
msgstr "清除輸入"

#: kstandardaction.cpp:153
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "往回(&B)"

#: kstandardaction.cpp:160
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "往前(&F)"

#: kstandardaction.cpp:167
#, fuzzy, kde-format
#| msgctxt "beginning (of line)"
#| msgid "&Home"
msgctxt "home page"
msgid "&Home"
msgstr "行開頭(&H)"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "說明(&H)"

#: kstandardaction.cpp:216
#, fuzzy, kde-format
#| msgid "Show Menubar<p>Shows the menubar again after it has been hidden"
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "顯示選單列<p>隱藏選單列後再次顯示它"

#: kstandardaction.cpp:236
#, fuzzy, kde-format
#| msgid ""
#| "Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of "
#| "the window used for status information."
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr "顯示狀態列<p>顯示狀態列，它會在視窗底部顯示狀態資料。"

#: kstandardaction_p.h:41
#, kde-format
msgid "&New"
msgstr "開新檔案(&N)"

#: kstandardaction_p.h:41
#, fuzzy, kde-format
#| msgid "Clear shortcut"
msgid "Create new document"
msgstr "清除快速鍵"

#: kstandardaction_p.h:42
#, kde-format
msgid "&Open..."
msgstr "開啟(&O)..."

#: kstandardaction_p.h:42
#, fuzzy, kde-format
#| msgid "Go back one step"
msgid "Open an existing document"
msgstr "返回上一個步驟"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open &Recent"
msgstr "開啟最近的(&R)"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:44
#, kde-format
msgid "&Save"
msgstr "儲存(&S)"

#: kstandardaction_p.h:44
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Save document"
msgstr "關閉文件"

#: kstandardaction_p.h:45
#, kde-format
msgid "Save &As..."
msgstr "另存新檔(&A)..."

#: kstandardaction_p.h:45
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Save document under a new name"
msgstr "關閉文件"

#: kstandardaction_p.h:46
#, kde-format
msgid "Re&vert"
msgstr "恢復(&V)"

#: kstandardaction_p.h:46
#, kde-format
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:47
#, kde-format
msgid "&Close"
msgstr "關閉(&C)"

#: kstandardaction_p.h:47
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Close document"
msgstr "關閉文件"

#: kstandardaction_p.h:48
#, kde-format
msgid "&Print..."
msgstr "列印(&P)..."

#: kstandardaction_p.h:48
#, fuzzy, kde-format
#| msgctxt "QAccel"
#| msgid "Print Screen"
msgid "Print document"
msgstr "PrintScreen"

#: kstandardaction_p.h:49
#, fuzzy, kde-format
#| msgid "Print Previe&w..."
msgid "Print Previe&w"
msgstr "預覽列印(&W)..."

#: kstandardaction_p.h:49
#, kde-format
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:50
#, kde-format
msgid "&Mail..."
msgstr "郵寄(&M)..."

#: kstandardaction_p.h:50
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Send document by mail"
msgstr "關閉文件"

#: kstandardaction_p.h:51
#, kde-format
msgid "&Quit"
msgstr "離開(&Q)"

#: kstandardaction_p.h:51
#, kde-format
msgid "Quit application"
msgstr "結束應用程式"

#: kstandardaction_p.h:53
#, kde-format
msgid "&Undo"
msgstr "復原(&U)"

#: kstandardaction_p.h:53
#, fuzzy, kde-format
#| msgid "HTML documentation"
msgid "Undo last action"
msgstr "HTML 文件"

#: kstandardaction_p.h:54
#, kde-format
msgid "Re&do"
msgstr "重做(&D)"

#: kstandardaction_p.h:54
#, fuzzy, kde-format
#| msgid "HTML documentation"
msgid "Redo last undone action"
msgstr "HTML 文件"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cu&t"
msgstr "剪下(&T)"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:56
#, kde-format
msgid "&Copy"
msgstr "複製(&C)"

#: kstandardaction_p.h:56
#, kde-format
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:57 kstandardaction_p.h:59
#, kde-format
msgid "&Paste"
msgstr "貼上(&P)"

#: kstandardaction_p.h:57 kstandardaction_p.h:59
#, fuzzy, kde-format
#| msgid "Upload Info"
msgid "Paste clipboard content"
msgstr "上傳資訊"

#: kstandardaction_p.h:61
#, kde-format
msgid "C&lear"
msgstr "清除(&L)"

#: kstandardaction_p.h:62
#, kde-format
msgid "Select &All"
msgstr "全選(&A)"

#: kstandardaction_p.h:63
#, kde-format
msgid "Dese&lect"
msgstr "取消選擇(&L)"

#: kstandardaction_p.h:64
#, kde-format
msgid "&Find..."
msgstr "尋找(&F)..."

#: kstandardaction_p.h:65
#, kde-format
msgid "Find &Next"
msgstr "尋找下一個(&N)"

#: kstandardaction_p.h:66
#, kde-format
msgid "Find Pre&vious"
msgstr "尋找上一個(&V)"

#: kstandardaction_p.h:67
#, kde-format
msgid "&Replace..."
msgstr "取代(&R)..."

#: kstandardaction_p.h:69
#, kde-format
msgid "&Actual Size"
msgstr "實際大小(&A)"

#: kstandardaction_p.h:69
#, kde-format
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:70
#, kde-format
msgid "&Fit to Page"
msgstr "調整成適合頁面大小(&F)"

#: kstandardaction_p.h:70
#, fuzzy, kde-format
#| msgid "Go to Line"
msgid "Zoom to fit page in window"
msgstr "跳至行數"

#: kstandardaction_p.h:71
#, kde-format
msgid "Fit to Page &Width"
msgstr "調整成適合頁面寬度(&W)"

#: kstandardaction_p.h:71
#, kde-format
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:72
#, kde-format
msgid "Fit to Page &Height"
msgstr "調整成適合頁面高度(&H)"

#: kstandardaction_p.h:72
#, kde-format
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:73
#, kde-format
msgid "Zoom &In"
msgstr "放大(&I)"

#: kstandardaction_p.h:74
#, kde-format
msgid "Zoom &Out"
msgstr "縮小(&O)"

#: kstandardaction_p.h:75
#, kde-format
msgid "&Zoom..."
msgstr "縮放(&Z)..."

#: kstandardaction_p.h:75
#, fuzzy, kde-format
#| msgid "Select a week"
msgid "Select zoom level"
msgstr "選擇一個星期"

#: kstandardaction_p.h:76
#, fuzzy, kde-format
#| msgctxt "QAccel"
#| msgid "Refresh"
msgid "&Refresh"
msgstr "重新整理"

#: kstandardaction_p.h:76
#, fuzzy, kde-format
#| msgid "&Redisplay"
msgid "Refresh document"
msgstr "重新顯示(&R)"

#: kstandardaction_p.h:78
#, kde-format
msgid "&Up"
msgstr "向上(&U)"

#: kstandardaction_p.h:78
#, kde-format
msgid "Go up"
msgstr ""

#: kstandardaction_p.h:83
#, kde-format
msgid "&Previous Page"
msgstr "前一頁(&P)"

#: kstandardaction_p.h:83
#, fuzzy, kde-format
#| msgid "&Previous Page"
msgid "Go to previous page"
msgstr "前一頁(&P)"

#: kstandardaction_p.h:84
#, kde-format
msgid "&Next Page"
msgstr "下一頁(&N)"

#: kstandardaction_p.h:84
#, fuzzy, kde-format
#| msgid "Go to Line"
msgid "Go to next page"
msgstr "跳至行數"

#: kstandardaction_p.h:85
#, kde-format
msgid "&Go To..."
msgstr "移至(&G)..."

#: kstandardaction_p.h:86
#, kde-format
msgid "&Go to Page..."
msgstr "移至頁面(&G)..."

#: kstandardaction_p.h:87
#, kde-format
msgid "&Go to Line..."
msgstr "跳至行數(&G)..."

#: kstandardaction_p.h:88
#, kde-format
msgid "&First Page"
msgstr "第一頁(&F)"

#: kstandardaction_p.h:88
#, fuzzy, kde-format
#| msgid "Go to Line"
msgid "Go to first page"
msgstr "跳至行數"

#: kstandardaction_p.h:89
#, kde-format
msgid "&Last Page"
msgstr "最後一頁(&L)"

#: kstandardaction_p.h:89
#, fuzzy, kde-format
#| msgid "&Go to Page..."
msgid "Go to last page"
msgstr "移至頁面(&G)..."

#: kstandardaction_p.h:90
#, kde-format
msgid "&Back"
msgstr "上一步(&B)"

#: kstandardaction_p.h:90
#, fuzzy, kde-format
#| msgid "Go back one step"
msgid "Go back in document"
msgstr "返回上一個步驟"

#: kstandardaction_p.h:91
#, fuzzy, kde-format
#| msgctxt "go forward"
#| msgid "&Forward"
msgid "&Forward"
msgstr "往前(&F)"

#: kstandardaction_p.h:91
#, fuzzy, kde-format
#| msgid "Go forward one step"
msgid "Go forward in document"
msgstr "前進到下一個步驟"

#: kstandardaction_p.h:93
#, kde-format
msgid "&Add Bookmark"
msgstr "加入書籤(&A)"

#: kstandardaction_p.h:94
#, kde-format
msgid "&Edit Bookmarks..."
msgstr "編輯書籤(&E)..."

#: kstandardaction_p.h:96
#, kde-format
msgid "&Spelling..."
msgstr "拼字檢查(&S)..."

#: kstandardaction_p.h:96
#, fuzzy, kde-format
#| msgid "Check Spelling"
msgid "Check spelling in document"
msgstr "拼字檢查"

#: kstandardaction_p.h:98
#, kde-format
msgid "Show &Menubar"
msgstr "顯示選單列(&M)"

#: kstandardaction_p.h:98
#, fuzzy, kde-format
#| msgid "Show &Menubar"
msgid "Show or hide menubar"
msgstr "顯示選單列(&M)"

#: kstandardaction_p.h:99
#, kde-format
msgid "Show &Toolbar"
msgstr "顯示工具列(&T)"

#: kstandardaction_p.h:99
#, fuzzy, kde-format
#| msgid "Show &Toolbar"
msgid "Show or hide toolbar"
msgstr "顯示工具列(&T)"

#: kstandardaction_p.h:100
#, kde-format
msgid "Show St&atusbar"
msgstr "顯示狀態列(&A)"

#: kstandardaction_p.h:100
#, fuzzy, kde-format
#| msgid "Show St&atusbar"
msgid "Show or hide statusbar"
msgstr "顯示狀態列(&A)"

#: kstandardaction_p.h:101
#, kde-format
msgid "F&ull Screen Mode"
msgstr "全螢幕模式(&U)"

#: kstandardaction_p.h:103
#, kde-format
msgid "&Save Settings"
msgstr "儲存設定(&S)"

#: kstandardaction_p.h:105
#, fuzzy, kde-format
#| msgid "Configure S&hortcuts..."
msgid "Configure Keyboard S&hortcuts..."
msgstr "設定快速鍵(&H)..."

#: kstandardaction_p.h:106
#, kde-format
msgid "&Configure %1..."
msgstr "設定 %1(&C)..."

#: kstandardaction_p.h:107
#, kde-format
msgid "Configure Tool&bars..."
msgstr "設定工具列(&B)..."

#: kstandardaction_p.h:108
#, kde-format
msgid "Configure &Notifications..."
msgstr "設定通知(&N)..."

#: kstandardaction_p.h:115
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 手冊(&H)"

#: kstandardaction_p.h:116
#, kde-format
msgid "What's &This?"
msgstr "這是什麼？(&T)"

#: kstandardaction_p.h:117
#, kde-format
msgid "Tip of the &Day"
msgstr "每日小祕訣(&D)"

#: kstandardaction_p.h:118
#, kde-format
msgid "&Report Bug..."
msgstr "報告問題(&R)..."

#: kstandardaction_p.h:119
#, fuzzy, kde-format
#| msgid "Configure Email..."
msgid "Configure &Language..."
msgstr "設定 Email..."

#: kstandardaction_p.h:120
#, kde-format
msgid "&About %1"
msgstr "關於 %1(&A)"

#: kstandardaction_p.h:121
#, kde-format
msgid "About &KDE"
msgstr "關於 KDE(&K)"

#: kstandardaction_p.h:122
#, kde-format
msgid "&Delete"
msgstr "刪除(&D)"

#: kstandardaction_p.h:123
#, fuzzy, kde-format
#| msgid "&Replace..."
msgid "&Rename..."
msgstr "取代(&R)..."

#: kstandardaction_p.h:124
#, kde-format
msgid "&Move to Trash"
msgstr ""

#: kstandardaction_p.h:125
#, fuzzy, kde-format
#| msgid "&Done"
msgid "&Donate"
msgstr "完成(&D)"

#: ktipdialog.cpp:242
#, fuzzy, kde-format
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "每日小祕訣"

#: ktipdialog.cpp:258
#, fuzzy, kde-format
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "你知道嗎...？\n"

#: ktipdialog.cpp:312
#, fuzzy, kde-format
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "啟動時顯示小秘訣(&S)"

#: ktipdialog.cpp:317
#, fuzzy, kde-format
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "上一頁(&P)"

#: ktipdialog.cpp:322
#, fuzzy, kde-format
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "下一頁(&N)"
