[KCM Locale]
Name=Chinese (Hong Kong)
Name[ia]=Chinese (Hong Kong) 
Name[nl]=Chinees (Hong Kong)
Name[tr]=Çince (Hong Kong)
Name[uk]=китайська (Гонконг)
