[KCM Locale]
Name=Korean
Name[ca]=Coreà
Name[es]=Coreano
Name[ia]=Coreano 
Name[nl]=Koreaans
Name[sl]=Korejščina
Name[tr]=Korece
Name[uk]=корейська
Name[x-test]=xxKoreanxx
