[KCM Locale]
Name=Assamese
Name[ca]=Assamès
Name[es]=Asamés
Name[ia]=Assamese
Name[nl]=Assamees
Name[sl]=Asamščina
Name[tr]=Assamca
Name[uk]=ассамська
Name[x-test]=xxAssamesexx
