[KCM Locale]
Name=Irish
Name[ca]=Irlandès
Name[es]=Irlandés
Name[ia]=Irlandese
Name[nl]=Iers
Name[sl]=Irščina
Name[tr]=İrlandaca
Name[uk]=ірландська
Name[x-test]=xxIrishxx
