[KCM Locale]
Name=Tajik
Name[ca]=Tadjik
Name[es]=Tayiko
Name[ia]=Tadzhiko
Name[nl]=Tadzjieks
Name[sl]=Tadžiščina
Name[tr]=Tacikçe
Name[uk]=таджицька
Name[x-test]=xxTajikxx

