[KCM Locale]
Name=Low Saxon
Name[ca]=Baix Saxó
Name[es]=Bajo sajón
Name[ia]=Basso Saxone
Name[nl]=Nedersaksisch
Name[tr]=Aşağı Saksonca
Name[uk]=нижньосаксонська
