# Translation of kconfigwidgets5.po to Ukrainian
# Copyright (C) 2018-2020 This_file_is_part_of_KDE
# This file is distributed under the license LGPL version 2.1 or
# version 3 or later versions approved by the membership of KDE e.V.
#
# Eugene Onischenko <oneugene@ukr.net>, 2002, 2003, 2004, 2005, 2006.
# Andriy Rysin <arysin@bcsii.com>, 2002, 2003, 2006, 2007.
# Ivan Petrouchtchak <fr.ivan@ukrainian-orthodox.org>, 2005, 2006, 2007, 2008.
# Yuri Chornoivan <yurchor@ukr.net>, 2008, 2009, 2010, 2011, 2012, 2013, 2015, 2016, 2017, 2019, 2020.
msgid ""
msgstr ""
"Project-Id-Version: kconfigwidgets5\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2020-01-30 02:51+0100\n"
"PO-Revision-Date: 2020-01-17 08:51+0200\n"
"Last-Translator: Yuri Chornoivan <yurchor@ukr.net>\n"
"Language-Team: Ukrainian <kde-i18n-uk@kde.org>\n"
"Language: uk\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 20.03.70\n"
"Plural-Forms: nplurals=4; plural=n==1 ? 3 : n%10==1 && n%100!=11 ? 0 : n"
"%10>=2 && n%10<=4 && (n%100<10 || n%100>=20) ? 1 : 2;\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "о. Іван Петрущак,Юрій Чорноіван"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "fr.ivan@ukrainian-orthodox.org,yurchor@ukr.net"

#: kcmodule.cpp:176
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "Програма попросить вас пройти розпізнавання перед збереженням"

#: kcmodule.cpp:180
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "Вам заборонено зберігати налаштування"

#: kcodecaction.cpp:90
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Типове"

#: kcodecaction.cpp:98
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Автовиявлення"

#: kcolorschememanager.cpp:158
#, kde-format
msgid "Default"
msgstr "Типовий"

#: kcolorschememanager.cpp:235 kcolorschememanager.cpp:240
#, kde-format
msgid "Color Scheme"
msgstr "Схема кольорів"

#: kconfigdialog.cpp:44
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Налаштовування"

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "Немає записів"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "Спорожнити список"

#: kstandardaction.cpp:153
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Назад"

#: kstandardaction.cpp:160
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Вперед"

#: kstandardaction.cpp:167
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Домівка"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&Довідка"

#: kstandardaction.cpp:216
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Показати смужку меню<p>Вмикає відображення смужки меню після того як її було "
"сховано</p>"

#: kstandardaction.cpp:236
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Показати смужку стану<p>Вмикає показ смужки стану, панелі у нижній частині "
"вікна, яку використовують для показу даних щодо стану.</p>"

#: kstandardaction_p.h:41
#, kde-format
msgid "&New"
msgstr "&Створити"

#: kstandardaction_p.h:41
#, kde-format
msgid "Create new document"
msgstr "Створити новий документ"

#: kstandardaction_p.h:42
#, kde-format
msgid "&Open..."
msgstr "&Відкрити…"

#: kstandardaction_p.h:42
#, kde-format
msgid "Open an existing document"
msgstr "Відкрити вже створений документ"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open &Recent"
msgstr "Відкрити &недавні"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open a document which was recently opened"
msgstr "Відкрити документ, який вже було нещодавно відкрито"

#: kstandardaction_p.h:44
#, kde-format
msgid "&Save"
msgstr "&Зберегти"

#: kstandardaction_p.h:44
#, kde-format
msgid "Save document"
msgstr "Зберегти документ"

#: kstandardaction_p.h:45
#, kde-format
msgid "Save &As..."
msgstr "Зберегти &як…"

#: kstandardaction_p.h:45
#, kde-format
msgid "Save document under a new name"
msgstr "Зберегти документ під іншою назвою"

#: kstandardaction_p.h:46
#, kde-format
msgid "Re&vert"
msgstr "&Відновити"

#: kstandardaction_p.h:46
#, kde-format
msgid "Revert unsaved changes made to document"
msgstr "Скасувати незбережені зміни у документі"

#: kstandardaction_p.h:47
#, kde-format
msgid "&Close"
msgstr "&Закрити"

#: kstandardaction_p.h:47
#, kde-format
msgid "Close document"
msgstr "Закрити документ"

#: kstandardaction_p.h:48
#, kde-format
msgid "&Print..."
msgstr "&Друкувати…"

#: kstandardaction_p.h:48
#, kde-format
msgid "Print document"
msgstr "Надрукувати документ"

#: kstandardaction_p.h:49
#, kde-format
msgid "Print Previe&w"
msgstr "Перегляд др&уку"

#: kstandardaction_p.h:49
#, kde-format
msgid "Show a print preview of document"
msgstr "Показати попередній перегляд результатів друку документа"

#: kstandardaction_p.h:50
#, kde-format
msgid "&Mail..."
msgstr "&Надіслати листа…"

#: kstandardaction_p.h:50
#, kde-format
msgid "Send document by mail"
msgstr "Надіслати документ електронною поштою"

#: kstandardaction_p.h:51
#, kde-format
msgid "&Quit"
msgstr "Ви&йти"

#: kstandardaction_p.h:51
#, kde-format
msgid "Quit application"
msgstr "Вийти з програми"

#: kstandardaction_p.h:53
#, kde-format
msgid "&Undo"
msgstr "&Вернути"

#: kstandardaction_p.h:53
#, kde-format
msgid "Undo last action"
msgstr "Скасувати останню дію"

#: kstandardaction_p.h:54
#, kde-format
msgid "Re&do"
msgstr "П&овторити"

#: kstandardaction_p.h:54
#, kde-format
msgid "Redo last undone action"
msgstr "Повернути результат останньої скасованої дії"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cu&t"
msgstr "Виріза&ти"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cut selection to clipboard"
msgstr "Вирізати позначені об’єкти до буфера обміну даними"

#: kstandardaction_p.h:56
#, kde-format
msgid "&Copy"
msgstr "&Копіювати"

#: kstandardaction_p.h:56
#, kde-format
msgid "Copy selection to clipboard"
msgstr "Копіювати позначений фрагмент до буфера обміну даними"

#: kstandardaction_p.h:57 kstandardaction_p.h:59
#, kde-format
msgid "&Paste"
msgstr "&Вставити"

#: kstandardaction_p.h:57 kstandardaction_p.h:59
#, kde-format
msgid "Paste clipboard content"
msgstr "Вставити вміст буфера обміну даними"

#: kstandardaction_p.h:61
#, kde-format
msgid "C&lear"
msgstr "О&чистити"

#: kstandardaction_p.h:62
#, kde-format
msgid "Select &All"
msgstr "Вибрати &все"

#: kstandardaction_p.h:63
#, kde-format
msgid "Dese&lect"
msgstr "Скасувати ви&бір"

#: kstandardaction_p.h:64
#, kde-format
msgid "&Find..."
msgstr "&Пошук…"

#: kstandardaction_p.h:65
#, kde-format
msgid "Find &Next"
msgstr "Знайти &далі"

#: kstandardaction_p.h:66
#, kde-format
msgid "Find Pre&vious"
msgstr "Знайти &позаду"

#: kstandardaction_p.h:67
#, kde-format
msgid "&Replace..."
msgstr "&Замінити…"

#: kstandardaction_p.h:69
#, kde-format
msgid "&Actual Size"
msgstr "&Фактичний розмір"

#: kstandardaction_p.h:69
#, kde-format
msgid "View document at its actual size"
msgstr "Переглянути документ з використанням його справжніх розмірів"

#: kstandardaction_p.h:70
#, kde-format
msgid "&Fit to Page"
msgstr "&Влаштувати в сторінку"

#: kstandardaction_p.h:70
#, kde-format
msgid "Zoom to fit page in window"
msgstr "Змінити масштаб, щоб розмістити сторінку цілком"

#: kstandardaction_p.h:71
#, kde-format
msgid "Fit to Page &Width"
msgstr "Влаштувати в &ширину сторінки"

#: kstandardaction_p.h:71
#, kde-format
msgid "Zoom to fit page width in window"
msgstr "Змінити масштаб, щоб розмістити всю ширину сторінки документа"

#: kstandardaction_p.h:72
#, kde-format
msgid "Fit to Page &Height"
msgstr "Влаштувати в &висоту сторінки"

#: kstandardaction_p.h:72
#, kde-format
msgid "Zoom to fit page height in window"
msgstr "Змінити масштаб, щоб розмістити всю висоту сторінки документа"

#: kstandardaction_p.h:73
#, kde-format
msgid "Zoom &In"
msgstr "З&більшити"

#: kstandardaction_p.h:74
#, kde-format
msgid "Zoom &Out"
msgstr "З&меншити"

#: kstandardaction_p.h:75
#, kde-format
msgid "&Zoom..."
msgstr "&Масштаб…"

#: kstandardaction_p.h:75
#, kde-format
msgid "Select zoom level"
msgstr "Вибрати масштаб"

#: kstandardaction_p.h:76
#, kde-format
msgid "&Redisplay"
msgstr "&Перемалювати"

#: kstandardaction_p.h:76
#, kde-format
msgid "Redisplay document"
msgstr "Перемалювати документ"

#: kstandardaction_p.h:78
#, kde-format
msgid "&Up"
msgstr "&Нагору"

#: kstandardaction_p.h:78
#, kde-format
msgid "Go up"
msgstr "Перейти вгору"

#: kstandardaction_p.h:83
#, kde-format
msgid "&Previous Page"
msgstr "&Попередня"

#: kstandardaction_p.h:83
#, kde-format
msgid "Go to previous page"
msgstr "Перейти до попередньої сторінки"

#: kstandardaction_p.h:84
#, kde-format
msgid "&Next Page"
msgstr "&Наступна"

#: kstandardaction_p.h:84
#, kde-format
msgid "Go to next page"
msgstr "Перейти до наступної сторінки"

#: kstandardaction_p.h:85
#, kde-format
msgid "&Go To..."
msgstr "П&ерейти…"

#: kstandardaction_p.h:86
#, kde-format
msgid "&Go to Page..."
msgstr "Перейти до &сторінки…"

#: kstandardaction_p.h:87
#, kde-format
msgid "&Go to Line..."
msgstr "Перейти до ря&дка…"

#: kstandardaction_p.h:88
#, kde-format
msgid "&First Page"
msgstr "Пе&рша"

#: kstandardaction_p.h:88
#, kde-format
msgid "Go to first page"
msgstr "Перейти до першої сторінки"

#: kstandardaction_p.h:89
#, kde-format
msgid "&Last Page"
msgstr "&Остання"

#: kstandardaction_p.h:89
#, kde-format
msgid "Go to last page"
msgstr "Перейти до останньої сторінки"

#: kstandardaction_p.h:90
#, kde-format
msgid "&Back"
msgstr "&Назад"

#: kstandardaction_p.h:90
#, kde-format
msgid "Go back in document"
msgstr "Перейти назад документом"

#: kstandardaction_p.h:91
#, kde-format
msgid "&Forward"
msgstr "&Вперед"

#: kstandardaction_p.h:91
#, kde-format
msgid "Go forward in document"
msgstr "Перейти вперед документом"

#: kstandardaction_p.h:93
#, kde-format
msgid "&Add Bookmark"
msgstr "&Додати закладку"

#: kstandardaction_p.h:94
#, kde-format
msgid "&Edit Bookmarks..."
msgstr "&Редагувати закладки…"

#: kstandardaction_p.h:96
#, kde-format
msgid "&Spelling..."
msgstr "&Перевірка правопису…"

#: kstandardaction_p.h:96
#, kde-format
msgid "Check spelling in document"
msgstr "Перевірити правопис у документі"

#: kstandardaction_p.h:98
#, kde-format
msgid "Show &Menubar"
msgstr "Показати смужку &меню"

#: kstandardaction_p.h:98
#, kde-format
msgid "Show or hide menubar"
msgstr "Показати або приховати смужку меню"

#: kstandardaction_p.h:99
#, kde-format
msgid "Show &Toolbar"
msgstr "Показати &пенал"

#: kstandardaction_p.h:99
#, kde-format
msgid "Show or hide toolbar"
msgstr "Показати або приховати панель інструментів"

#: kstandardaction_p.h:100
#, kde-format
msgid "Show St&atusbar"
msgstr "Пок&азувати смужку стану"

#: kstandardaction_p.h:100
#, kde-format
msgid "Show or hide statusbar"
msgstr "Показати або приховати смужку стану"

#: kstandardaction_p.h:101
#, kde-format
msgid "F&ull Screen Mode"
msgstr "Повноекранний &режим"

#: kstandardaction_p.h:103
#, kde-format
msgid "&Save Settings"
msgstr "&Зберегти параметри"

#: kstandardaction_p.h:105
#, kde-format
msgid "Configure Keyboard S&hortcuts..."
msgstr "Налаштувати клавіатурні с&корочення…"

#: kstandardaction_p.h:106
#, kde-format
msgid "&Configure %1..."
msgstr "&Налаштувати %1…"

#: kstandardaction_p.h:107
#, kde-format
msgid "Configure Tool&bars..."
msgstr "Налаштувати пенал&и…"

#: kstandardaction_p.h:108
#, kde-format
msgid "Configure &Notifications..."
msgstr "Налаштувати &сповіщення…"

#: kstandardaction_p.h:115
#, kde-format
msgid "%1 &Handbook"
msgstr "П&ідручник з %1"

#: kstandardaction_p.h:116
#, kde-format
msgid "What's &This?"
msgstr "&Що це?"

#: kstandardaction_p.h:117
#, kde-format
msgid "Tip of the &Day"
msgstr "П&орада дня"

#: kstandardaction_p.h:118
#, kde-format
msgid "&Report Bug..."
msgstr "Надіслати &звіт про помилку…"

#: kstandardaction_p.h:119
#, kde-format
msgid "Switch Application &Language..."
msgstr "Перемкнути &мову програми…"

#: kstandardaction_p.h:120
#, kde-format
msgid "&About %1"
msgstr "&Про %1"

#: kstandardaction_p.h:121
#, kde-format
msgid "About &KDE"
msgstr "П&ро KDE"

#: kstandardaction_p.h:122
#, kde-format
msgid "&Delete"
msgstr "Ви&лучити"

#: kstandardaction_p.h:123
#, kde-format
msgid "&Rename..."
msgstr "П&ерейменувати…"

#: kstandardaction_p.h:124
#, kde-format
msgid "&Move to Trash"
msgstr "&Пересунути до смітника"

#: kstandardaction_p.h:125
#, kde-format
msgid "&Donate"
msgstr "Підтримати &фінансово"

#: ktipdialog.cpp:241
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Підказка дня"

#: ktipdialog.cpp:257
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Чи знали ви, що…\n"

#: ktipdialog.cpp:311
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "П&оказувати підказки під час запуску"

#: ktipdialog.cpp:316
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Попередня"

#: ktipdialog.cpp:321
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Наступна"
