# translation of kdelibs4.po to Persian
# Nazanin Kazemi <kazemi@itland.ir>, 2006, 2007.
# Mahdi Foladgar <foladgar@itland.ir>, 2006.
# Nasim Daniarzadeh <daniarzadeh@itland.ir>, 2006, 2007.
# Tahereh Dadkhahfar <dadkhahfar@itland.ir>, 2006.
# MaryamSadat Razavi <razavi@itland.ir>, 2007.
# Nooshin Asiaie <asiaie@itland.ir>, 2007.
# Mohamad Reza Mirdamadi <mohi@linuxshop.ir>, 2009, 2010, 2011, 2012.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2021-02-28 02:21+0100\n"
"PO-Revision-Date: 2012-06-28 16:40+0430\n"
"Last-Translator: Mohammad Reza Mirdamadi <mohi@linuxshop.ir>\n"
"Language-Team: Farsi (Persian) <kde-i18n-fa@kde.org>\n"
"Language: fa\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 1.4\n"
"Plural-Forms: nplurals=1; plural=0;\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "محمدرضا میردامادی , نازنین کاظمی , محمد ابراهیم محمدی پناه , سعید تقوی"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr ""
"mohi@linuxshop.ir , kazemi@itland.ir , mebrahim@gmail.com , s.taghavi@gmail."
"com"

#: kcmodule.cpp:185
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "قبل از ذخیره برای اعتبارسنجی از شما سوال خواهد شد"

#: kcmodule.cpp:189
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "شما اجاره ذخیره تنظیمات را ندارید"

#: kcodecaction.cpp:66
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "پیش‌فرض"

#: kcodecaction.cpp:74
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "آشکارسازی خودکار"

#: kcolorschememanager.cpp:147
#, fuzzy, kde-format
#| msgctxt "Encodings menu"
#| msgid "Default"
msgid "Default"
msgstr "پیش‌فرض"

#: kcolorschememanager.cpp:224 kcolorschememanager.cpp:229
#, fuzzy, kde-format
#| msgid "Shortcut Schemes"
msgid "Color Scheme"
msgstr "شمای میان‌برها"

#: kconfigdialog.cpp:33
#, fuzzy, kde-format
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "پیکربندی"

#: krecentfilesaction.cpp:68
#, kde-format
msgid "No Entries"
msgstr "بدون مدخل"

#: krecentfilesaction.cpp:74
#, kde-format
msgid "Clear List"
msgstr "پاک کردن سیاهه"

#: kstandardaction.cpp:139
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&پس‌سو‌"

#: kstandardaction.cpp:146
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&پیش‌سو‌"

# &Home
#: kstandardaction.cpp:153
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&آغازه‌"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&کمک‌"

#: kstandardaction.cpp:214
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"نمایش میله گزینگان<p> میله گزینگان را دوباره بعد از اینکه مخفی شدند نمایش "
"می‌دهد</p>"

#: kstandardaction.cpp:235
#, fuzzy, kde-format
#| msgid ""
#| "Show Statusbar<br /><br />Shows the statusbar, which is the bar at the "
#| "bottom of the window used for status information."
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"نمایش میله وضعیت<br /><br />میله وضعیت، میله‌ای است در پایین پنجره که برای "
"اطلاعات وضعیت استفاده می‌شود، را نمایش می‌دهد."

#: kstandardaction_p.h:29
#, kde-format
msgid "&New"
msgstr "&جدید‌"

#: kstandardaction_p.h:29
#, fuzzy, kde-format
#| msgctxt "@label"
#| msgid "Create new tag:"
msgid "Create new document"
msgstr "ایجاد برچسب جدید:"

#: kstandardaction_p.h:30
#, kde-format
msgid "&Open..."
msgstr "&باز کردن...‌"

# &Back in the Document
#: kstandardaction_p.h:30
#, fuzzy, kde-format
#| msgid "&Back in the Document"
msgid "Open an existing document"
msgstr "&عقب در سند"

#: kstandardaction_p.h:31
#, kde-format
msgid "Open &Recent"
msgstr "باز کردن &اخیر‌"

#: kstandardaction_p.h:31
#, kde-format
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:32
#, kde-format
msgid "&Save"
msgstr "&ذخیره‌"

#: kstandardaction_p.h:32
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Save document"
msgstr "بستن سند"

#: kstandardaction_p.h:33
#, kde-format
msgid "Save &As..."
msgstr "ذخیره &به عنوان...‌"

#: kstandardaction_p.h:33
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Save document under a new name"
msgstr "بستن سند"

#: kstandardaction_p.h:34
#, kde-format
msgid "Re&vert"
msgstr "&وارونه‌"

#: kstandardaction_p.h:34
#, kde-format
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:35
#, kde-format
msgid "&Close"
msgstr "&بستن‌"

#: kstandardaction_p.h:35
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Close document"
msgstr "بستن سند"

#: kstandardaction_p.h:36
#, kde-format
msgid "&Print..."
msgstr "&چاپ...‌"

# PrintScreen
#: kstandardaction_p.h:36
#, fuzzy, kde-format
#| msgctxt "keyboard-key-name"
#| msgid "PrintScreen"
msgid "Print document"
msgstr "چاپ صفحه"

#: kstandardaction_p.h:37
#, kde-format
msgid "Print Previe&w"
msgstr "چاپ &پیش‌نمایش"

#: kstandardaction_p.h:37
#, kde-format
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:38
#, kde-format
msgid "&Mail..."
msgstr "&نامه...‌"

#: kstandardaction_p.h:38
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Send document by mail"
msgstr "بستن سند"

#: kstandardaction_p.h:39
#, kde-format
msgid "&Quit"
msgstr "&خروج‌"

#: kstandardaction_p.h:39
#, kde-format
msgid "Quit application"
msgstr "خروج کاربرد"

#: kstandardaction_p.h:41
#, kde-format
msgid "&Undo"
msgstr "&واگرد‌"

#: kstandardaction_p.h:41
#, fuzzy, kde-format
#| msgid "HTML documentation"
msgid "Undo last action"
msgstr "سند زنگام"

#: kstandardaction_p.h:42
#, kde-format
msgid "Re&do"
msgstr "&از نو‌"

#: kstandardaction_p.h:42
#, fuzzy, kde-format
#| msgid "HTML documentation"
msgid "Redo last undone action"
msgstr "سند زنگام"

#: kstandardaction_p.h:43
#, kde-format
msgid "Cu&t"
msgstr "&برش‌"

#: kstandardaction_p.h:43
#, kde-format
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:44
#, kde-format
msgid "&Copy"
msgstr "&رونوشت‌"

#: kstandardaction_p.h:44
#, kde-format
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:45 kstandardaction_p.h:47
#, kde-format
msgid "&Paste"
msgstr "&چسباندن‌"

#: kstandardaction_p.h:45 kstandardaction_p.h:47
#, fuzzy, kde-format
#| msgid "Upload content"
msgid "Paste clipboard content"
msgstr "به‌روزرسانی محتویات"

#: kstandardaction_p.h:49
#, kde-format
msgid "C&lear"
msgstr "&پاک کردن‌"

#: kstandardaction_p.h:50
#, kde-format
msgid "Select &All"
msgstr "برگزیدن &همه‌"

#: kstandardaction_p.h:51
#, kde-format
msgid "Dese&lect"
msgstr "&عدم گزینش‌"

#: kstandardaction_p.h:52
#, kde-format
msgid "&Find..."
msgstr "&یافتن...‌"

#: kstandardaction_p.h:53
#, kde-format
msgid "Find &Next"
msgstr "یافتن &بعدی‌"

#: kstandardaction_p.h:54
#, kde-format
msgid "Find Pre&vious"
msgstr "یافتن &قبلی‌"

#: kstandardaction_p.h:55
#, kde-format
msgid "&Replace..."
msgstr "&جایگزینی...‌"

#: kstandardaction_p.h:57
#, kde-format
msgid "&Actual Size"
msgstr "اندازه &واقعی‌"

#: kstandardaction_p.h:57
#, kde-format
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:58
#, kde-format
msgid "&Fit to Page"
msgstr "&متناسب با صفحه‌"

#: kstandardaction_p.h:58
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Zoom to fit page in window"
msgstr "برو به خط"

#: kstandardaction_p.h:59
#, kde-format
msgid "Fit to Page &Width"
msgstr "متناسب با &عرض صفحه‌"

#: kstandardaction_p.h:59
#, kde-format
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:60
#, kde-format
msgid "Fit to Page &Height"
msgstr "متناسب با &ارتفاع صفحه‌"

#: kstandardaction_p.h:60
#, kde-format
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:61
#, kde-format
msgid "Zoom &In"
msgstr "&بزرگ‌نمایی‌"

#: kstandardaction_p.h:62
#, kde-format
msgid "Zoom &Out"
msgstr "&کوچک‌نمایی‌"

#: kstandardaction_p.h:63
#, kde-format
msgid "&Zoom..."
msgstr "&بزرگ‌نمایی...‌"

#: kstandardaction_p.h:63
#, fuzzy, kde-format
#| msgid "Select a week"
msgid "Select zoom level"
msgstr "برگزیدن یک هفته"

#: kstandardaction_p.h:64
#, kde-format
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:64
#, fuzzy, kde-format
#| msgid "&Redisplay"
msgid "Refresh document"
msgstr "&نمایش مجدد‌"

#: kstandardaction_p.h:66
#, kde-format
msgid "&Up"
msgstr "&بالا‌"

#: kstandardaction_p.h:66
#, fuzzy, kde-format
msgid "Go up"
msgstr "برو بالا"

#: kstandardaction_p.h:71
#, kde-format
msgid "&Previous Page"
msgstr "صفحه &قبلی‌"

#: kstandardaction_p.h:71
#, fuzzy, kde-format
#| msgid "&Previous Page"
msgid "Go to previous page"
msgstr "صفحه &قبلی‌"

#: kstandardaction_p.h:72
#, kde-format
msgid "&Next Page"
msgstr "&صفحه بعدی"

#: kstandardaction_p.h:72
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to next page"
msgstr "برو به خط"

#: kstandardaction_p.h:73
#, kde-format
msgid "&Go To..."
msgstr "&برو به...‌"

#: kstandardaction_p.h:74
#, kde-format
msgid "&Go to Page..."
msgstr "&برو به صفحه...‌"

#: kstandardaction_p.h:75
#, kde-format
msgid "&Go to Line..."
msgstr "&برو به خط...‌"

#: kstandardaction_p.h:76
#, kde-format
msgid "&First Page"
msgstr "&اولین صفحه‌"

#: kstandardaction_p.h:76
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to first page"
msgstr "برو به خط"

#: kstandardaction_p.h:77
#, kde-format
msgid "&Last Page"
msgstr "&آخرین صفحه‌"

#: kstandardaction_p.h:77
#, fuzzy, kde-format
#| msgid "&Go to Page..."
msgid "Go to last page"
msgstr "&برو به صفحه...‌"

#: kstandardaction_p.h:78
#, kde-format
msgid "&Back"
msgstr "&پس‌سو‌"

# &Back in the Document
#: kstandardaction_p.h:78
#, fuzzy, kde-format
#| msgid "&Back in the Document"
msgid "Go back in document"
msgstr "&عقب در سند"

#: kstandardaction_p.h:79
#, kde-format
msgid "&Forward"
msgstr "&پیش‌سو‌"

# &Forward in the Document
#: kstandardaction_p.h:79
#, fuzzy, kde-format
#| msgid "&Forward in the Document"
msgid "Go forward in document"
msgstr "&جلو در سند"

#: kstandardaction_p.h:81
#, kde-format
msgid "&Add Bookmark"
msgstr "&افزودن چوب الف‌"

#: kstandardaction_p.h:82
#, kde-format
msgid "&Edit Bookmarks..."
msgstr "&ویرایش چوب الفها‌"

#: kstandardaction_p.h:84
#, kde-format
msgid "&Spelling..."
msgstr "&هجی کردن...‌"

#: kstandardaction_p.h:84
#, fuzzy, kde-format
#| msgid "Check Spelling"
msgid "Check spelling in document"
msgstr "غلط‌یابی"

#: kstandardaction_p.h:86
#, kde-format
msgid "Show &Menubar"
msgstr "نمایش &میله گزینگان‌"

#: kstandardaction_p.h:86
#, fuzzy, kde-format
#| msgid "Show &Menubar"
msgid "Show or hide menubar"
msgstr "نمایش &میله گزینگان‌"

#: kstandardaction_p.h:87
#, kde-format
msgid "Show &Toolbar"
msgstr "نمایش &میله ابزار‌"

#: kstandardaction_p.h:87
#, fuzzy, kde-format
#| msgid "Show Toolbar"
msgid "Show or hide toolbar"
msgstr "نمایش میله ابزار‌"

#: kstandardaction_p.h:88
#, kde-format
msgid "Show St&atusbar"
msgstr "نمایش &میله وضعیت‌"

#: kstandardaction_p.h:88
#, fuzzy, kde-format
#| msgid "Show Statusbar"
msgid "Show or hide statusbar"
msgstr "نمایش نوار وضعیت‌"

#: kstandardaction_p.h:89
#, kde-format
msgid "F&ull Screen Mode"
msgstr "حالت &تمام صفحه‌"

#: kstandardaction_p.h:91
#, kde-format
msgid "&Save Settings"
msgstr "&ذخیره تنظیمات‌"

#: kstandardaction_p.h:93
#, fuzzy, kde-format
#| msgid "Configure S&hortcuts..."
msgid "Configure Keyboard S&hortcuts..."
msgstr "پیکربندی &میان‌برها...‌"

#: kstandardaction_p.h:94
#, kde-format
msgid "&Configure %1..."
msgstr "&پیکربندی %1...‌"

#: kstandardaction_p.h:95
#, kde-format
msgid "Configure Tool&bars..."
msgstr "پیکربندی &میله‌ ابزارها...‌"

#: kstandardaction_p.h:96
#, kde-format
msgid "Configure &Notifications..."
msgstr "پیکربندی  &اخطارها...‌"

#: kstandardaction_p.h:103
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 &کتاب مرجع‌"

#: kstandardaction_p.h:104
#, kde-format
msgid "What's &This?"
msgstr "&این چیست؟‌"

#: kstandardaction_p.h:105
#, kde-format
msgid "Tip of the &Day"
msgstr "&نکته روز"

#: kstandardaction_p.h:106
#, kde-format
msgid "&Report Bug..."
msgstr "&گزارش اشکال...‌"

#: kstandardaction_p.h:107
#, fuzzy, kde-format
#| msgid "Configure Email..."
msgid "Configure &Language..."
msgstr "پیکربندی رایانامه..."

#: kstandardaction_p.h:108
#, kde-format
msgid "&About %1"
msgstr "&درباره %1‌"

#: kstandardaction_p.h:109
#, kde-format
msgid "About &KDE"
msgstr "درباره &KDE‌"

#: kstandardaction_p.h:110
#, kde-format
msgid "&Delete"
msgstr "&حذف‌"

#: kstandardaction_p.h:111
#, fuzzy, kde-format
#| msgid "&Replace..."
msgid "&Rename..."
msgstr "&جایگزینی...‌"

#: kstandardaction_p.h:112
#, fuzzy, kde-format
#| msgid "Move to Trash"
msgid "&Move to Trash"
msgstr "حرکت به زباله"

#: kstandardaction_p.h:113
#, kde-format
msgid "&Donate"
msgstr ""

#: ktipdialog.cpp:217
#, fuzzy, kde-format
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "نکته روز"

#: ktipdialog.cpp:233
#, fuzzy, kde-format
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "آیا می‌دانید...؟\n"

#: ktipdialog.cpp:286
#, fuzzy, kde-format
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "&نمایش نکات هنگام راه‌اندازی‌"

#: ktipdialog.cpp:291
#, fuzzy, kde-format
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&قبلی‌"

#: ktipdialog.cpp:296
#, fuzzy, kde-format
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&بعدی‌"
