[KCM Locale]
Name=Czech
Name[ca]=Txec
Name[es]=Checo
Name[ia]=Tchech 
Name[nl]=Tsjechisch
Name[sl]=Češčina
Name[tr]=Çekçe
Name[uk]=чеська
Name[x-test]=xxCzechxx
