# translation of kdelibs4.po to Estonian
# Copyright (C) 1999-2004, 2005, 2006, 2009 Free Software Foundation, Inc.
#
# Hasso Tepper <hasso@kde.org>, 1999-2004, 2005, 2006.
# Marek Laane <bald@smail.ee>, 2003-2009.
# Peeter Russak <pezz@tkwcy.ee>, 2005.
# Marek Laane <bald@smail.ee>, 2009, 2010, 2011, 2012, 2014, 2016.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2019-03-04 03:12+0100\n"
"PO-Revision-Date: 2016-09-09 01:17+0300\n"
"Last-Translator: Marek Laane <qiilaq69@gmail.com>\n"
"Language-Team: Estonian <kde-i18n-doc@kde.org>\n"
"Language: et\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 1.5\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Marek Laane"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "qiilaq69@gmail.com"

#: kcmodule.cpp:173
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "Sul palutakse enne salvestamist autentida"

#: kcmodule.cpp:177
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "Sul ei ole õigust seadistust salvestada"

#: kcodecaction.cpp:91
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Vaikimisi"

#: kcodecaction.cpp:99
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Automaatne tuvastamine"

#: kconfigdialog.cpp:48
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Seadistamine"

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "Kirjed puuduvad"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "Puhasta nimekiri"

#: kstandardaction.cpp:155
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Tagasi"

#: kstandardaction.cpp:162
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Edasi"

#: kstandardaction.cpp:169
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Kodu"

#: kstandardaction.cpp:172
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&Abi"

#: kstandardaction.cpp:209
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "Menüüriba näitamine<p>Menüüriba näitamine, kui on peidetud</p>"

#: kstandardaction.cpp:229
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Olekuriba näitamine<p>Näitab olekuriba ehk riba akna allservas, kus näeb "
"mitmesugust infot oleku kohta.</p>"

#: kstandardaction_p.h:41
#, kde-format
msgid "&New"
msgstr "&Uus"

#: kstandardaction_p.h:41
#, kde-format
msgid "Create new document"
msgstr "Uue dokumendi loomine"

#: kstandardaction_p.h:42
#, kde-format
msgid "&Open..."
msgstr "&Ava..."

#: kstandardaction_p.h:42
#, kde-format
msgid "Open an existing document"
msgstr "Olemasoleva dokumendi avamine"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open &Recent"
msgstr "Ava &viimati kasutatud"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open a document which was recently opened"
msgstr "Viimati avatud dokumendi avamine"

#: kstandardaction_p.h:44
#, kde-format
msgid "&Save"
msgstr "&Salvesta"

#: kstandardaction_p.h:44
#, kde-format
msgid "Save document"
msgstr "Dokumendi salvestamine"

#: kstandardaction_p.h:45
#, kde-format
msgid "Save &As..."
msgstr "Salvesta &kui ..."

#: kstandardaction_p.h:45
#, kde-format
msgid "Save document under a new name"
msgstr "Dokumendi salvestamine uue nimega"

#: kstandardaction_p.h:46
#, kde-format
msgid "Re&vert"
msgstr "&Lähtesta"

#: kstandardaction_p.h:46
#, kde-format
msgid "Revert unsaved changes made to document"
msgstr "Dokumenti tehtud salvestamata muudatuste tühistamine"

#: kstandardaction_p.h:47
#, kde-format
msgid "&Close"
msgstr "S&ulge"

#: kstandardaction_p.h:47
#, kde-format
msgid "Close document"
msgstr "Dokumendi sulgemine"

#: kstandardaction_p.h:48
#, kde-format
msgid "&Print..."
msgstr "&Trüki..."

#: kstandardaction_p.h:48
#, kde-format
msgid "Print document"
msgstr "Dokumendi trükkimine"

#: kstandardaction_p.h:49
#, kde-format
msgid "Print Previe&w"
msgstr "Trükkimise eel&vaatlus"

#: kstandardaction_p.h:49
#, kde-format
msgid "Show a print preview of document"
msgstr "Dokumendi trükitava eelvaatluse näitamine"

#: kstandardaction_p.h:50
#, kde-format
msgid "&Mail..."
msgstr "&Saada kirjaga ..."

#: kstandardaction_p.h:50
#, kde-format
msgid "Send document by mail"
msgstr "Dokumendi saatmine e-postiga"

#: kstandardaction_p.h:51
#, kde-format
msgid "&Quit"
msgstr "&Välju"

#: kstandardaction_p.h:51
#, kde-format
msgid "Quit application"
msgstr "Rakendusest väljumine"

#: kstandardaction_p.h:53
#, kde-format
msgid "&Undo"
msgstr "&Võta tagasi"

#: kstandardaction_p.h:53
#, kde-format
msgid "Undo last action"
msgstr "Viimase toimingu tühistamine"

#: kstandardaction_p.h:54
#, kde-format
msgid "Re&do"
msgstr "&Tee uuesti"

#: kstandardaction_p.h:54
#, kde-format
msgid "Redo last undone action"
msgstr "Viimase tagasivõetud toimingu uuesti sooritamine"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cu&t"
msgstr "L&õika"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cut selection to clipboard"
msgstr "Valiku lõikamine lõikepuhvrisse"

#: kstandardaction_p.h:56
#, kde-format
msgid "&Copy"
msgstr "&Kopeeri"

#: kstandardaction_p.h:56
#, kde-format
msgid "Copy selection to clipboard"
msgstr "Valiku kopeerimine lõikepuhvrisse"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, kde-format
msgid "&Paste"
msgstr "&Aseta"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, kde-format
msgid "Paste clipboard content"
msgstr "Lõikepuhvri sisu asetamine"

#: kstandardaction_p.h:59
#, kde-format
msgid "C&lear"
msgstr "Pu&hasta"

#: kstandardaction_p.h:60
#, kde-format
msgid "Select &All"
msgstr "Va&li kõik"

#: kstandardaction_p.h:61
#, kde-format
msgid "Dese&lect"
msgstr "Tühista va&lik"

#: kstandardaction_p.h:62
#, kde-format
msgid "&Find..."
msgstr "&Otsi..."

#: kstandardaction_p.h:63
#, kde-format
msgid "Find &Next"
msgstr "Otsi &järgmine"

#: kstandardaction_p.h:64
#, kde-format
msgid "Find Pre&vious"
msgstr "Otsi &eelmine"

#: kstandardaction_p.h:65
#, kde-format
msgid "&Replace..."
msgstr "&Asenda..."

#: kstandardaction_p.h:67
#, kde-format
msgid "&Actual Size"
msgstr "&Tegelik suurus"

#: kstandardaction_p.h:67
#, kde-format
msgid "View document at its actual size"
msgstr "Dokumendi näitamine tegelikus suuruses"

#: kstandardaction_p.h:68
#, kde-format
msgid "&Fit to Page"
msgstr "&Mahuta leheküljele"

#: kstandardaction_p.h:68
#, kde-format
msgid "Zoom to fit page in window"
msgstr "Lehekülje sobitamine akna suurusega"

#: kstandardaction_p.h:69
#, kde-format
msgid "Fit to Page &Width"
msgstr "Mahuta lehekülje &laiusele"

#: kstandardaction_p.h:69
#, kde-format
msgid "Zoom to fit page width in window"
msgstr "Lehekülje sobitamine akna laiusega"

#: kstandardaction_p.h:70
#, kde-format
msgid "Fit to Page &Height"
msgstr "Mahuta lehekülje &kõrgusele"

#: kstandardaction_p.h:70
#, kde-format
msgid "Zoom to fit page height in window"
msgstr "Lehekülje sobitamine akna kõrgusega"

#: kstandardaction_p.h:71
#, kde-format
msgid "Zoom &In"
msgstr "&Suurenda"

#: kstandardaction_p.h:72
#, kde-format
msgid "Zoom &Out"
msgstr "&Vähenda"

#: kstandardaction_p.h:73
#, kde-format
msgid "&Zoom..."
msgstr "&Suurendus ..."

#: kstandardaction_p.h:73
#, kde-format
msgid "Select zoom level"
msgstr "Suurendustaseme valimine"

#: kstandardaction_p.h:74
#, kde-format
msgid "&Redisplay"
msgstr "&Näita uuesti"

#: kstandardaction_p.h:74
#, kde-format
msgid "Redisplay document"
msgstr "Dokumendi taasnäitamine"

#: kstandardaction_p.h:76
#, kde-format
msgid "&Up"
msgstr "Ü&les"

#: kstandardaction_p.h:76
#, kde-format
msgid "Go up"
msgstr "Liikumine üles"

#: kstandardaction_p.h:81
#, kde-format
msgid "&Previous Page"
msgstr "&Eelmine lehekülg"

#: kstandardaction_p.h:81
#, kde-format
msgid "Go to previous page"
msgstr "Liikumine eelmisele leheküljele"

#: kstandardaction_p.h:82
#, kde-format
msgid "&Next Page"
msgstr "&Järgmine lehekülg"

#: kstandardaction_p.h:82
#, kde-format
msgid "Go to next page"
msgstr "Liikumine järgmisele leheküljele"

#: kstandardaction_p.h:83
#, kde-format
msgid "&Go To..."
msgstr "&Mine..."

#: kstandardaction_p.h:84
#, kde-format
msgid "&Go to Page..."
msgstr "&Mine leheküljele..."

#: kstandardaction_p.h:85
#, kde-format
msgid "&Go to Line..."
msgstr "&Mine reale..."

#: kstandardaction_p.h:86
#, kde-format
msgid "&First Page"
msgstr "&Esimene lehekülg"

#: kstandardaction_p.h:86
#, kde-format
msgid "Go to first page"
msgstr "Liikumine esimesele leheküljele"

#: kstandardaction_p.h:87
#, kde-format
msgid "&Last Page"
msgstr "&Viimane lehekülg"

#: kstandardaction_p.h:87
#, kde-format
msgid "Go to last page"
msgstr "Liikumine viimasele leheküljele"

#: kstandardaction_p.h:88
#, kde-format
msgid "&Back"
msgstr "Ta&gasi"

#: kstandardaction_p.h:88
#, kde-format
msgid "Go back in document"
msgstr "Liikumine dokumendis tagasi"

#: kstandardaction_p.h:89
#, kde-format
msgid "&Forward"
msgstr "&Edasi"

#: kstandardaction_p.h:89
#, kde-format
msgid "Go forward in document"
msgstr "Liikumine dokumendis edasi"

#: kstandardaction_p.h:91
#, kde-format
msgid "&Add Bookmark"
msgstr "&Lisa järjehoidja"

#: kstandardaction_p.h:92
#, kde-format
msgid "&Edit Bookmarks..."
msgstr "&Redigeeri järjehoidjaid..."

#: kstandardaction_p.h:94
#, kde-format
msgid "&Spelling..."
msgstr "Õi&gekirja kontroll..."

#: kstandardaction_p.h:94
#, kde-format
msgid "Check spelling in document"
msgstr "Dokumendi õigekirja kontroll"

#: kstandardaction_p.h:96
#, kde-format
msgid "Show &Menubar"
msgstr "&Menüüriba näitamine"

#: kstandardaction_p.h:96
#, kde-format
msgid "Show or hide menubar"
msgstr "Menüüriba näitamine või peitmine"

#: kstandardaction_p.h:97
#, kde-format
msgid "Show &Toolbar"
msgstr "&Tööriistariba näitamine"

#: kstandardaction_p.h:97
#, kde-format
msgid "Show or hide toolbar"
msgstr "Tööriistariba näitamine või peitmine"

#: kstandardaction_p.h:98
#, kde-format
msgid "Show St&atusbar"
msgstr "&Olekuriba näitamine"

#: kstandardaction_p.h:98
#, kde-format
msgid "Show or hide statusbar"
msgstr "Olekuriba näitamine või peitmine"

#: kstandardaction_p.h:99
#, kde-format
msgid "F&ull Screen Mode"
msgstr "Täisekraanirežii&m"

#: kstandardaction_p.h:100
#, kde-format
msgid "&Save Settings"
msgstr "&Salvesta seadistused"

#: kstandardaction_p.h:101
#, kde-format
msgid "Configure S&hortcuts..."
msgstr "Kiirkla&hvide seadistamine..."

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "%1 &seadistamine..."

#: kstandardaction_p.h:103
#, kde-format
msgid "Configure Tool&bars..."
msgstr "Tööriistari&bade seadistamine..."

#: kstandardaction_p.h:104
#, kde-format
msgid "Configure &Notifications..."
msgstr "Märgua&nnete seadistamine..."

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 &käsiraamat"

#: kstandardaction_p.h:110
#, kde-format
msgid "What's &This?"
msgstr "Mis &see on?"

#: kstandardaction_p.h:111
#, kde-format
msgid "Tip of the &Day"
msgstr "P&äeva nõuanne"

#: kstandardaction_p.h:112
#, kde-format
msgid "&Report Bug..."
msgstr "Saada vea&raport..."

#: kstandardaction_p.h:113
#, kde-format
msgid "Switch Application &Language..."
msgstr "Vaheta rakenduse kee&lt..."

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "%1 &info"

#: kstandardaction_p.h:115
#, kde-format
msgid "About &KDE"
msgstr "&KDE info"

#: kstandardaction_p.h:116
#, kde-format
msgid "&Delete"
msgstr "&Kustuta"

#: kstandardaction_p.h:117
#, fuzzy, kde-format
#| msgid "&Replace..."
msgid "&Rename..."
msgstr "&Asenda..."

#: kstandardaction_p.h:118
#, kde-format
msgid "&Move to Trash"
msgstr "&Viska prügikasti"

#: kstandardaction_p.h:119
#, kde-format
msgid "&Donate"
msgstr "A&nneta"

#: ktipdialog.cpp:238
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Päeva nõuanne"

#: ktipdialog.cpp:254
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Kas teadsid...?\n"

#: ktipdialog.cpp:306
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "Nõuandeid näidatakse käivitami&sel"

#: ktipdialog.cpp:311
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Eelmine"

#: ktipdialog.cpp:316
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Järgmine"
