# translation of kdelibs4.po to hebrew
# Translation of kdelibs4.po to Hebrew
# translation of kdelibs4.po to
# KDE Hebrew Localization Project
#
# In addition to the copyright owners of the program
# which this translation accompanies, this translation is
# Copyright (C) 1998 Erez Nir <erez-n@actcom.co.il>
# Copyright (C) 1999-2003 Meni Livne <livne@kde.org>
#
# This translation is subject to the same Open Source
# license as the program which it accompanies.
#
# Diego Iastrubni <elcuco@kde.org>, 2003.
# Diego Iastrubni <elcuco@kde.org>, 2003, 2004.
# Diego Iastrubni <elcuco@kde.org>, 2005, 2006, 2007, 2008, 2009, 2012, 2014.
# Meni Livne <livne@kde.org>, 2007.
# tahmar1900 <tahmar1900@gmail.com>, 2008, 2009.
# Elkana Bardugo <ttv200@gmail.com>, 2017. #zanata
# SPDX-FileCopyrightText: 2024 Yaron Shahrabani <sh.yaron@gmail.com>
msgid ""
msgstr ""
"Project-Id-Version: kconfigwidgets5\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2023-11-05 12:24+0000\n"
"PO-Revision-Date: 2025-01-24 09:28+0200\n"
"Last-Translator: Yaron Shahrabani <sh.yaron@gmail.com>\n"
"Language-Team: צוות התרגום של KDE ישראל\n"
"Language: he\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 24.12.0\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "צוות התרגום של KDE ישראל"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "kde-l10n-he@kde.org"

#: kcmodule.cpp:198
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "בקשה להזדהות לפני שמירה"

#: kcmodule.cpp:202
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "אסור לך לשמור את ההגדרות"

#: kcodecaction.cpp:67
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "ברירת מחדל"

#: kcodecaction.cpp:75
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "זיהוי אוטומטי"

#: kcolorschememenu.cpp:25
#, kde-format
msgid "Color Scheme"
msgstr "ערכת צבעים"

#: kcolorschememodel.cpp:71
#, kde-format
msgid "Default"
msgstr "ברירת מחדל"

#: kcommandbar.cpp:560
#, kde-format
msgid "No commands matching the filter"
msgstr "אין פקודות שתואמות למסנן"

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "הגדרות"

#: khamburgermenu.cpp:125
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "&תפריט"

#: khamburgermenu.cpp:326
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "הצגת &שורת־תפריטים עם כל הפעולות"

#: khamburgermenu.cpp:352
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "עוד"

#: khamburgermenu.cpp:353
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "פעולות נוספות"

#: krecentfilesaction.cpp:71
#, kde-format
msgid "No Entries"
msgstr "אין רשומות"

#: krecentfilesaction.cpp:77
#, kde-format
msgid "Clear List"
msgstr "פינוי רשימה"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&אחורה"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&קדימה"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&בית"

#: kstandardaction.cpp:175
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "ע&זרה"

#: kstandardaction.cpp:232
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "הצגת שורת־תפריטים<p>הצגת שורת־התפריטים שוב לאחר שהוסתרה</p>"

#: kstandardaction.cpp:253
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"הצגת שורת מצב<p>מציג את שורת המצב, שנמצאת בתחתית החלון ומשמשת להצגת מידע "
"לגבי מצב התוכנית.</p>"

#: kstandardaction_p.h:30
msgid "&New"
msgstr "&חדש"

#: kstandardaction_p.h:30
msgid "Create new document"
msgstr "יצירת מסמך חדש"

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "&פתיחה…"

#: kstandardaction_p.h:31
msgid "Open an existing document"
msgstr "פתיחת מסמך קיים"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "פתיחת &אחרונים"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr "פתיחת מסמך שהיה בשימוש לאחרונה"

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "&שמירה"

#: kstandardaction_p.h:33
msgid "Save document"
msgstr "שמירת מסמך"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "שמירה &בשם…"

#: kstandardaction_p.h:34
msgid "Save document under a new name"
msgstr "שמירת המסמך בשם חדש"

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "שח&זור"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr "הסגת שינויים שנערכו במסמך"

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "&סגירה"

#: kstandardaction_p.h:36
msgid "Close document"
msgstr "סגירת המסמך"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "ה&דפסה…"

#: kstandardaction_p.h:37
msgid "Print document"
msgstr "הדפסת המסמך"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "תצוגה מ&קדימה לפני הדפסה…"

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr "הצגת תצוגה מקדימה להדפסת המסמך"

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "ש&ליחה בדוא״ל…"

#: kstandardaction_p.h:39
msgid "Send document by mail"
msgstr "שליחת המסמך בדוא״ל"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "י&ציאה"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "יציאה מהיישום"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "ה&סגה"

#: kstandardaction_p.h:42
msgid "Undo last action"
msgstr "הסגת הפעולה האחרונה"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "ביצוע &חוזר"

#: kstandardaction_p.h:43
msgid "Redo last undone action"
msgstr "ביצוע הפעולה האחרונה מחדש"

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "ג&זירה"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr "גזירת הבחירה ללוח הגזירים"

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "ה&עתקה"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr "העתקת הבחירה ללוח הגזירים"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "ה&דבקה"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "Paste clipboard content"
msgstr "הדבקת תוכן לוח הגזירים"

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "ני&קוי"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "בחירה בה&כול"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "בי&טול בחירה"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "&חיפוש…"

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "חיפוש ה&מופע הבא"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "חיפוש המופע ה&קודם"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "ה&חלפה…"

#: kstandardaction_p.h:58
msgid "Zoom to &Actual Size"
msgstr "תקריב לגודל &אמיתי"

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr "הצגת המסמך בגודל האמיתי שלו"

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "ה&תאמה לגודל העמוד"

#: kstandardaction_p.h:59
msgid "Zoom to fit page in window"
msgstr "שינוי גודל המסמך כך שיופיע כולו בעמוד אחד"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "התאמה לרוחב ה&עמוד"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr "לשנות את גודל המסמך כך שיתאים לרוחב החלון"

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "התאמה ל&אורך העמוד"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr "שינוי גודל המסמך כדי שיתאים לגובה החלון"

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "הת&קרבות"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "הת&רחקות"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "&תקריב…"

#: kstandardaction_p.h:64
msgid "Select zoom level"
msgstr "בחירת מרחק התקריב"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr "&ריענון"

#: kstandardaction_p.h:65
msgid "Refresh document"
msgstr "ריענון המסמך"

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "מ&עלה"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr "עלייה למעלה"

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "העמוד ה&קודם"

#: kstandardaction_p.h:72
msgid "Go to previous page"
msgstr "מעבר לעמוד הקודם"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "העמוד ה&בא"

#: kstandardaction_p.h:73
msgid "Go to next page"
msgstr "מעבר לעמוד הבא"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "מ&עבר אל…"

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "מ&עבר לעמוד…"

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "מ&עבר לשורה…"

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "העמוד ה&ראשון"

#: kstandardaction_p.h:77
msgid "Go to first page"
msgstr "מעבר לעמוד הראשון"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "מעבר לעמוד ה&אחרון"

#: kstandardaction_p.h:78
msgid "Go to last page"
msgstr "מעבר לעמוד האחרון"

#: kstandardaction_p.h:79
msgid "&Back"
msgstr "&אחורה"

#: kstandardaction_p.h:79
msgid "Go back in document"
msgstr "חזרה אחורה במסמך"

#: kstandardaction_p.h:80
msgid "&Forward"
msgstr "&קדימה"

#: kstandardaction_p.h:80
msgid "Go forward in document"
msgstr "התקדמות קדימה במסמך"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "הו&ספה לסימניות"

#: kstandardaction_p.h:83
msgid "&Edit Bookmarks..."
msgstr "&עריכת סימניות…"

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "&איות…"

#: kstandardaction_p.h:85
msgid "Check spelling in document"
msgstr "בדיקת איות במסמך"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "הצגת &שורת־תפריטים"

#: kstandardaction_p.h:87
msgid "Show or hide menubar"
msgstr "הצגה או הסתרה של שורת־תפריטים"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "הצגת &סרגל־כלים"

#: kstandardaction_p.h:88
msgid "Show or hide toolbar"
msgstr "הצגה או הסתרה של סרגל־כלים"

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "הצגת שורת־מ&צב"

#: kstandardaction_p.h:89
msgid "Show or hide statusbar"
msgstr "הצגה או הסתרה של שורת מצב"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "מצב מסך מ&לא"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "&שמירת הגדרות"

#: kstandardaction_p.h:94
msgid "Configure Keyboard S&hortcuts..."
msgstr "הגדרות מקשי &קיצור במקלדת…"

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "ה&גדרת %1…"

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "הגדרת סרגלי־&כלים…"

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "הגדרת הו&דעות…"

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "ספרון הה&דרכה של %1"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "מה &זה?"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "ה&עצה היומית"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "&דיווח על תקלה…"

#: kstandardaction_p.h:108
msgid "Configure &Language..."
msgstr "הגדרת &שפה…"

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "&על %1"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "ע&ל KDE"

#: kstandardaction_p.h:111
msgid "&Delete"
msgstr "מ&חיקה"

#: kstandardaction_p.h:112
msgid "&Rename..."
msgstr "&שינוי שם…"

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr "העברה ל&אשפה"

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr "&תרומה"

#: kstandardaction_p.h:115
msgid "Open &Menu"
msgstr "פתיחת &תפריט"

#: ktipdialog.cpp:222
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "העצה היומית"

#: ktipdialog.cpp:238
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "הידעת…?\n"

#: ktipdialog.cpp:291
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "ה&צגת עצות עם הכניסה למערכת"

#: ktipdialog.cpp:296
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "ה&קודמת"

#: ktipdialog.cpp:301
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "ה&באה"

#~ msgid "Switch Application &Language..."
#~ msgstr "החלפת &שפת היישום..."

#~ msgid "&Redisplay"
#~ msgstr "&הצג מחדש"

#~ msgid "without name"
#~ msgstr "ללא שם"

#, fuzzy
#~ msgid "&Rename File"
#~ msgstr "&שלח קובץ"
