[KCM Locale]
Name=Croatian
Name[ca]=Croat
Name[es]=Croata
Name[ia]=Croato 
Name[nl]=Kroatisch
Name[sl]=Hrvaščina
Name[tr]=Hırvatça
Name[uk]=хорватська
Name[x-test]=xxCroatianxx
