[KCM Locale]
Name=Armenian
Name[ca]=Armeni
Name[es]=Armenio
Name[ia]=Armenio 
Name[nl]=Armeens
Name[sl]=Armenščina
Name[tr]=Ermenice
Name[uk]=вірменська
Name[x-test]=xxArmenianxx

