# translation of kdelibs4.po to Karakh
#
# Sairan Kikkarin <sairan@computer.org>, 2005, 2006, 2007, 2008, 2009.
# Sairan Kikkarin <sairan@computer.org>, 2010, 2011, 2012.
# Sairan Kikkarin <sairan(at)computer.org>, 2010, 2013.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2022-08-27 00:42+0000\n"
"PO-Revision-Date: 2013-11-08 01:24+0600\n"
"Last-Translator: Sairan Kikkarin <sairan@computer.org>\n"
"Language-Team: Kazakh <kde-i18n-doc@kde.org>\n"
"Language: kk\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 1.2\n"
"Plural-Forms: nplurals=1; plural=0;\n"
"\n"
"\n"
"\n"
"\n"
"\n"

#
#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Сайран Киккарин"

#
#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "sairan@computer.org"

#: kcmodule.cpp:198
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "Сақтау алдында аутентификациядан өту керек"

#: kcmodule.cpp:202
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "Баптауларды сақтауға рұқсатыңыз жоқ"

#: kcodecaction.cpp:66
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Әдетті"

#: kcodecaction.cpp:74
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Автобайқау"

#: kcolorschememanager.cpp:226 kcolorschememanager.cpp:235
#, fuzzy, kde-format
#| msgid "Shortcut Schemes"
msgid "Color Scheme"
msgstr "Тіркесім сұлбалары"

#: kcolorschememodel.cpp:71
#, fuzzy, kde-format
#| msgctxt "Encodings menu"
#| msgid "Default"
msgid "Default"
msgstr "Әдетті"

#: kcommandbar.cpp:560
#, kde-format
msgid "No commands matching the filter"
msgstr ""

#: kconfigdialog.cpp:37
#, fuzzy, kde-format
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "Баптау"

#: khamburgermenu.cpp:117
#, fuzzy, kde-format
#| msgctxt "keyboard-key-name"
#| msgid "Menu"
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "Menu"

#: khamburgermenu.cpp:318
#, fuzzy, kde-format
#| msgid "Show all options"
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "Бүкіл параметрлерін көрсету"

#: khamburgermenu.cpp:344
#, fuzzy, kde-format
#| msgctxt ""
#| "@option:check An item in a list of resources that allows to query for "
#| "more resources to put in the list"
#| msgid "More..."
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "Қосымша..."

#: khamburgermenu.cpp:345
#, fuzzy, kde-format
#| msgid "More Actions"
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "Басқа әрекеттер"

#: krecentfilesaction.cpp:70
#, kde-format
msgid "No Entries"
msgstr "Жоқ"

#: krecentfilesaction.cpp:76
#, kde-format
msgid "Clear List"
msgstr "Тізімді тазалау"

#: kstandardaction.cpp:158
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Шегіну"

#: kstandardaction.cpp:165
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Алға"

#: kstandardaction.cpp:172
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Басына"

#: kstandardaction.cpp:176
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&Көмек"

#: kstandardaction.cpp:233
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "Мәзірді көрсету<p>Жасырған мәзірді қайтадан көрсету</p>"

#: kstandardaction.cpp:254
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Күй жолағын көрсету<p>Күй жолағы - терезенің төменінде, қолданбаның күйін "
"көрсететін жол.</p>"

#: kstandardaction_p.h:30
msgid "&New"
msgstr "&Жаңа"

#: kstandardaction_p.h:30
msgid "Create new document"
msgstr "Жаңа құжатты бастау"

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "&Ашу..."

#: kstandardaction_p.h:31
msgid "Open an existing document"
msgstr "Бар құжатты ашу"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "&Жуырда ашылған"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr "Жуырда ашылған құжатты ашу"

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "&Сақтау"

#: kstandardaction_p.h:33
msgid "Save document"
msgstr "Құжатты сақтау"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "&Былай сақтау..."

#: kstandardaction_p.h:34
msgid "Save document under a new name"
msgstr "Құжаттың атауын өзгертіп сақтау"

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "&Өзгерістерден қайту"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr "Сақталмаған құжаттың өзгерістерін қайтару"

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "&Жабу"

#: kstandardaction_p.h:36
msgid "Close document"
msgstr "Құжатты жабу"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "Ба&сып шығару..."

#: kstandardaction_p.h:37
msgid "Print document"
msgstr "Құжатты  басып шығару"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "Н&обайын басып шығару"

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr "Басып шығаратын құжатын алдын ала қарап шығу"

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "&Поштамен жіберу..."

#: kstandardaction_p.h:39
msgid "Send document by mail"
msgstr "Құжатты поштамен жіберу"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "&Шығу"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "Қолданбадан шығу"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "&Қайту"

#: kstandardaction_p.h:42
msgid "Undo last action"
msgstr "Соңғы әрекеттен қайту"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "Қайтудан а&йну"

#: kstandardaction_p.h:43
msgid "Redo last undone action"
msgstr "Соңғы қайтудан айну"

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "&Қиып алу"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr "Таңдағанды алмасу буферіне қиып алу"

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "&Көшіріп алу"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr "Таңдағанды алмасу буферіне көшірмелеу"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "&Орналастыру"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "Paste clipboard content"
msgstr "Алмасу буфері мазмұның орналастыру"

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "&Тазалау"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "&Барлығын таңдау"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "&Таңдаудан қайту"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "&Табу..."

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "&Келесіні табу"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "&Алдыңғыны табу"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "&Алмастыру..."

#: kstandardaction_p.h:58
#, fuzzy
#| msgid "&Actual Size"
msgid "Zoom to &Actual Size"
msgstr "&Нақты өлшемі"

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr "Құжатты шын өлшемінде қарау"

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "&Бетке шақтау"

#: kstandardaction_p.h:59
msgid "Zoom to fit page in window"
msgstr "Бетті терезеге шақтау"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "&Беттің еніне шақтау"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr "Бетті терезеге еніне шақтау"

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "&Беттің биіктігіне шақтау"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr "Бетті терезеге биіктігіне шақтау"

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "&Жақындау"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "&Алыстау"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "Ұлғ&айту/Кішірейту..."

#: kstandardaction_p.h:64
msgid "Select zoom level"
msgstr "Масштабын таңдау"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:65
#, fuzzy
#| msgid "Redisplay document"
msgid "Refresh document"
msgstr "Көріністі жаңарту"

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "&Жоғары"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr "Жоғарға өту"

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "&Алдыңғы бет"

#: kstandardaction_p.h:72
msgid "Go to previous page"
msgstr "Алдыңғы бетке өту"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "&Келесі бет"

#: kstandardaction_p.h:73
msgid "Go to next page"
msgstr "Келесі бетке өту"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "&Мынаған өту..."

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "Қай &бетке өту..."

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "Өтетін &жол..."

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "&Бірінші бет"

#: kstandardaction_p.h:77
msgid "Go to first page"
msgstr "Алғашқы бетке өту"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "&Соңғы бет"

#: kstandardaction_p.h:78
msgid "Go to last page"
msgstr "Соңғы бетке өту"

#: kstandardaction_p.h:79
msgid "&Back"
msgstr "&Шегіну"

#: kstandardaction_p.h:79
msgid "Go back in document"
msgstr "Құжат бойы кері"

#: kstandardaction_p.h:80
msgid "&Forward"
msgstr "&Алға қарай"

#: kstandardaction_p.h:80
msgid "Go forward in document"
msgstr "Құжат бойы алға"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "&Бетбелгіні қосу"

#: kstandardaction_p.h:83
msgid "&Edit Bookmarks..."
msgstr "Б&етбелгілерді өңдеу..."

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "&Емлесін тексеру..."

#: kstandardaction_p.h:85
msgid "Check spelling in document"
msgstr "Құжатың емлесін тексеру"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "&Мәзірді көрсету"

#: kstandardaction_p.h:87
msgid "Show or hide menubar"
msgstr "Мәзірді көрсету/жасыру"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "Құ&рал панелін көрсету"

#: kstandardaction_p.h:88
msgid "Show or hide toolbar"
msgstr "Құрал панелін көрсету/жасыру"

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "&Күй жолағын көрсету"

#: kstandardaction_p.h:89
msgid "Show or hide statusbar"
msgstr "Күй жолағын көрсету/жасыру"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "&Толық экран күйі"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "&Баптауларды сақтау"

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "Configure S&hortcuts..."
msgid "Configure Keyboard S&hortcuts..."
msgstr "&Тіркесімдерді баптау..."

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "%1 &баптауы..."

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "Құ&ралдар панелін баптау..."

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "Құ&лақтандыруларды баптау..."

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 &анықтамасы"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "&Бұл не?"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "&Бүгінгі кеңес"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "Қате туралы &хабарлау..."

#: kstandardaction_p.h:108
#, fuzzy
#| msgid "Configure Email..."
msgid "Configure &Language..."
msgstr "Эл.поштаны баптау..."

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "%1 &туралы"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "&KDE туралы"

#: kstandardaction_p.h:111
#, fuzzy
#| msgid "Delete"
msgid "&Delete"
msgstr "Өшіру"

#: kstandardaction_p.h:112
#, fuzzy
#| msgid "&Replace..."
msgid "&Rename..."
msgstr "&Алмастыру..."

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr ""

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr ""

#: kstandardaction_p.h:115
#, fuzzy
#| msgid "Open &Recent"
msgid "Open &Menu"
msgstr "&Жуырда ашылған"

#: ktipdialog.cpp:219
#, fuzzy, kde-format
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Бүгінгі кеңес"

#: ktipdialog.cpp:235
#, fuzzy, kde-format
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Білесіз бе...?\n"

#: ktipdialog.cpp:288
#, fuzzy, kde-format
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "&Бастау кезінде кеңестер көрсетілсін"

#: ktipdialog.cpp:293
#, fuzzy, kde-format
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Алдыңғы"

#: ktipdialog.cpp:298
#, fuzzy, kde-format
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Келесі"
