[KCM Locale]
Name=Occitan
Name[af]=Okkitaan
Name[az]=Oksitan dili
Name[bn]=ওক্সিটান
Name[br]=Oksitaneg
Name[ca]=Occità
Name[cs]=Okcitánský
Name[cy]=Ocsitaneg
Name[en_GB]=Occitan
Name[es]=Occitano
Name[et]=Oksitaani
Name[eu]=Okzitaniera
Name[fi]=Oksitaani
Name[fr]=Occitan
Name[fy]=Oksitaansk
Name[ga]=Ocatáinis
Name[hr]=Okitan
Name[hu]=Okszitán
Name[it]=Occitano
Name[lb]=Okzitanesch
Name[nl]=Occitaans
Name[nn]=Oksitansk
Name[pl]=Okcytański
Name[pt]=Occitano
Name[pt_BR]=Ocitano
Name[ro]=Occitană
Name[sk]=Okcitánčina
Name[sl]=Oksitanščina
Name[sv]=Occitanska
Name[uk]=Окситанська
Name[uz]=Ossitancha
Name[uz@cyrillic]=Осситанча
Name[vi]=Tiếng Occitan
Name[xh]=Occitan
Name[x-test]=xxOccitanxx
Name[zh_CN]=欧西坦语
