[KCM Locale]
Name=Malay
Name[ca]=Malai
Name[es]=Malayo
Name[ia]=Malay
Name[nl]=Maleis
Name[sl]=Malajščina
Name[tr]=Malayca
Name[uk]=малайська
Name[x-test]=xxMalayxx
