[KCM Locale]
Name=Toki Pona
Name[ca]=Toki pona
Name[es]=Toki pona
Name[ia]=Toki Pona
Name[nl]=Toki Pona
Name[sl]=Toki Pona
Name[tr]=Toki Pona
Name[uk]=токі-пона
Name[x-test]=xxToki Ponaxx
