[KCM Locale]
Name=Kurdish
Name[ca]=Kurd
Name[es]=Kurdo
Name[ia]=Kurdo 
Name[nl]=Koerdisch
Name[sl]=Kurdščina
Name[tr]=Kürtçe
Name[uk]=курдська
Name[x-test]=xxKurdishxx
