[KCM Locale]
Name=Serbian Latin
Name[ca]=Serbi llatí
Name[es]=Serbio latino
Name[ia]=Serbo Latino
Name[nl]=Servisch latijn
Name[sl]=Srbščina (latinica)
Name[tr]=Sırpça Latin
Name[uk]=сербська (латиниця)
Name[x-test]=xxSerbian Latinxx
