[KCM Locale]
Name=Luxembourgish
Name[ca]=Luxemburguès
Name[es]=Luxemburgués
Name[ia]=Luxemburgese 
Name[nl]=Luxemburgs
Name[tr]=Lüksemburgca
Name[uk]=люксембурзька
