# translation of kdelibs4.po to
# Copyright (C) YEAR This_file_is_part_of_KDE
# This file is distributed under the same license as the PACKAGE package.
#
# Martin Schlander <mschlander@opensuse.org>, 2008, 2009, 2010, 2011, 2012, 2013, 2015, 2016, 2017, 2020, 2021.
# Keld Simonsen <keld@keldix.com>, 2010.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2022-05-03 00:40+0000\n"
"PO-Revision-Date: 2021-09-05 20:26+0200\n"
"Last-Translator: Martin Schlander <mschlander@opensuse.org>\n"
"Language-Team: Danish <kde-i18n-doc@kde.org>\n"
"Language: da\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Generator: Lokalize 20.04.2\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Erik Kjær Pedersen,Martin Schlander,Keld Simonsen"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "erik@binghamton.edu,mschlander@opensuse.org,keld@keldix.com"

#: kcmodule.cpp:189
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "Du vil blive bedt om autentificering før gemning"

#: kcmodule.cpp:193
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "Du har ikke rettigheder til at gemme konfigurationen"

#: kcodecaction.cpp:66
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Standard"

#: kcodecaction.cpp:74
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Autofind"

#: kcolorschememanager.cpp:226 kcolorschememanager.cpp:235
#, kde-format
msgid "Color Scheme"
msgstr "Farvetema"

#: kcolorschememodel.cpp:71
#, kde-format
msgid "Default"
msgstr "Standard"

#: kcommandbar.cpp:584
#, kde-format
msgid "No commands matching the filter"
msgstr ""

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Indstil"

#: khamburgermenu.cpp:128
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "&Menu"

#: khamburgermenu.cpp:334
#, fuzzy, kde-format
#| msgid "Show all options"
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "Vis alle tilvalg"

#: khamburgermenu.cpp:362
#, fuzzy, kde-format
#| msgctxt ""
#| "@option:check An item in a list of resources that allows to query for "
#| "more resources to put in the list"
#| msgid "More..."
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "Flere..."

#: khamburgermenu.cpp:363
#, fuzzy, kde-format
#| msgid "More Actions"
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "Flere handlinger"

#: krecentfilesaction.cpp:70
#, kde-format
msgid "No Entries"
msgstr "Ingen indgange"

#: krecentfilesaction.cpp:76
#, kde-format
msgid "Clear List"
msgstr "Ryd liste"

#: kstandardaction.cpp:158
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "Til&bage"

#: kstandardaction.cpp:165
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Frem"

#: kstandardaction.cpp:172
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Hjem"

#: kstandardaction.cpp:176
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&Hjælp"

#: kstandardaction.cpp:233
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "Vis menulinje<p>Viser menulinjen igen efter den har været skjult</p>"

#: kstandardaction.cpp:254
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Vis statuslinje<p>Viser statuslinjen, som er linjen i bunden af vinduet der "
"bruges til statusinformation.</p>"

#: kstandardaction_p.h:30
msgid "&New"
msgstr "&Ny"

#: kstandardaction_p.h:30
msgid "Create new document"
msgstr "Opret nyt dokument"

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "Å&bn..."

#: kstandardaction_p.h:31
msgid "Open an existing document"
msgstr "Åbn et eksisterende dokument"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "Åbn &nylige"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr "Åbn et dokument der er blevet åbnet for nyligt"

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "&Gem"

#: kstandardaction_p.h:33
msgid "Save document"
msgstr "Gem dokument"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "Gem &som..."

#: kstandardaction_p.h:34
msgid "Save document under a new name"
msgstr "Gem dokument under et nyt navn"

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "Nu&lstil"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr "Nu&lstil ikke gemte ændringer af dokumentet"

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "&Luk"

#: kstandardaction_p.h:36
msgid "Close document"
msgstr "Luk dokument"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "&Udskriv..."

#: kstandardaction_p.h:37
msgid "Print document"
msgstr "Udskriv dokument"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "Forhåndsvis &udskrift"

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr "Vis udskrift for et dokument"

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "&Send..."

#: kstandardaction_p.h:39
msgid "Send document by mail"
msgstr "Send dokument via e-mail"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "&Afslut"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "Afslut program"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "Fo&rtryd"

#: kstandardaction_p.h:42
msgid "Undo last action"
msgstr "Fortryd seneste handling"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "Gen&dan"

#: kstandardaction_p.h:43
msgid "Redo last undone action"
msgstr "Gendan seneste fortrudte handling"

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "K&lip"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr "Klip det markerede til udklipsholderen"

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "K&opiér"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr "Kopiér markering til udklipsholder"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "&Indsæt"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "Paste clipboard content"
msgstr "Indsæt indhold fra udklipsholder"

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "R&yd"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "Markér &alt"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "&Afmarkér"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "&Find..."

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "Find &næste"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "Find &forrige"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "&Erstat..."

#: kstandardaction_p.h:58
msgid "&Actual Size"
msgstr "F&aktisk størrelse"

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr "Se dokumentet i dets faktiske størrelse"

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "&Tilpas til siden"

#: kstandardaction_p.h:59
msgid "Zoom to fit page in window"
msgstr "Zoom så siden passer til vinduet"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "Tilpas til side&bredden"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr "Zoom så sidens bredde passer til vinduet"

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "Tilpas til side&højden"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr "Zoom så sidens højde passer til vinduet"

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "Zoom &ind"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "Zoom &ud"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "&Zoom..."

#: kstandardaction_p.h:64
msgid "Select zoom level"
msgstr "Vælg zoomniveau"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr "&Genindlæs"

#: kstandardaction_p.h:65
msgid "Refresh document"
msgstr "Genindlæs dokument"

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "&Op"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr "Gå op"

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "&Forrige side"

#: kstandardaction_p.h:72
msgid "Go to previous page"
msgstr "Gå til forrige side"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "&Næste side"

#: kstandardaction_p.h:73
msgid "Go to next page"
msgstr "Gå til næste side"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "&Gå til..."

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "&Gå til side..."

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "&Gå til linje..."

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "&Første side"

#: kstandardaction_p.h:77
msgid "Go to first page"
msgstr "Gå til første side"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "&Sidste side"

#: kstandardaction_p.h:78
msgid "Go to last page"
msgstr "Gå til sidste side"

#: kstandardaction_p.h:79
msgid "&Back"
msgstr "Til&bage"

#: kstandardaction_p.h:79
msgid "Go back in document"
msgstr "Gå tilbage i dokumentet"

#: kstandardaction_p.h:80
msgid "&Forward"
msgstr "&Frem"

#: kstandardaction_p.h:80
msgid "Go forward in document"
msgstr "Gå frem i dokumentet"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "&Tilføj bogmærke"

#: kstandardaction_p.h:83
msgid "&Edit Bookmarks..."
msgstr "&Redigér bogmærker..."

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "&Stavekontrol..."

#: kstandardaction_p.h:85
msgid "Check spelling in document"
msgstr "Kør stavekontrol på dokumentet"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "Vis &menulinje"

#: kstandardaction_p.h:87
msgid "Show or hide menubar"
msgstr "Vis eller skjul menulinjen"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "Vis &værktøjslinje"

#: kstandardaction_p.h:88
msgid "Show or hide toolbar"
msgstr "Vis eller skjul værktøjslinje"

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "Vis st&atuslinje"

#: kstandardaction_p.h:89
msgid "Show or hide statusbar"
msgstr "Vis eller skjul statuslinje"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "F&uldskærmstilstand"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "&Gem indstillinger"

#: kstandardaction_p.h:94
msgid "Configure Keyboard S&hortcuts..."
msgstr "Indstil tastatur&genveje..."

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "&Indstil %1..."

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "Indstil &værktøjslinjer..."

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "Indstil &bekendtgørelser..."

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "%1-&håndbogen"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "Hvad er &dette?"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "&Dagens tip"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "&Rapportér programfejl..."

#: kstandardaction_p.h:108
msgid "Configure &Language..."
msgstr "Indstil &sprog..."

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "&Om %1"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "Om &KDE"

#: kstandardaction_p.h:111
msgid "&Delete"
msgstr "S&let"

#: kstandardaction_p.h:112
msgid "&Rename..."
msgstr "&Omdøb..."

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr "&Flyt til papirkurv"

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr "&Donér"

#: kstandardaction_p.h:115
msgid "Open &Menu"
msgstr "Åbn &menu"

#: ktipdialog.cpp:219
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Dagens tip"

#: ktipdialog.cpp:235
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Vidste du...?\n"

#: ktipdialog.cpp:288
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "&Vis tip ved opstart"

#: ktipdialog.cpp:293
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Forrige"

#: ktipdialog.cpp:298
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Næste"
