# KDE3 - Georgian translation of kdelibs4.po
# Gia Shervashidze <giasher@telenet.ge>, 2005.
#
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2016-08-01 07:32+0000\n"
"PO-Revision-Date: 2009-12-17 02:11+0400\n"
"Last-Translator: George Machitidze <giomac@gmail.com>\n"
"Language-Team: Georgian <http://www.gia.ge>\n"
"Language: ka\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: KBabel 1.9\n"
"Plural-Forms: nplurals=1; plural=0;\n"

msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "გია შერვაშიძე"

msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "giasher@telenet.ge"

#: kcmodule.cpp:166
msgid "You will be asked to authenticate before saving"
msgstr ""

#: kcmodule.cpp:170
#, fuzzy
#| msgid "Will not save configuration.\n"
msgid "You are not allowed to save the configuration"
msgstr "კონფიგურაცია არ შეინახება.\n"

#: kcodecaction.cpp:90
msgctxt "Encodings menu"
msgid "Default"
msgstr "ნაგულისხმები"

#: kcodecaction.cpp:98
#, fuzzy
#| msgid "Autocorrect"
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "თვითკორექტურა"

#: kconfigdialog.cpp:48
#, fuzzy
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "გამართვა"

#: klanguagebutton.cpp:194
#, fuzzy
#| msgid "New hostname"
msgid "without name"
msgstr "ჰოსტის ახალი სახელი"

#: krecentfilesaction.cpp:78
#, fuzzy
msgid "No Entries"
msgstr "პარამეტრები"

#: krecentfilesaction.cpp:84
#, fuzzy
#| msgid "Clear input"
msgid "Clear List"
msgstr "შეტანილის გასუფთავება"

#: kstandardaction.cpp:88
msgctxt "go back"
msgid "&Back"
msgstr "&უკან"

#: kstandardaction.cpp:95
msgctxt "go forward"
msgid "&Forward"
msgstr "&წინ"

#: kstandardaction.cpp:102
#, fuzzy
#| msgctxt "beginning (of line)"
#| msgid "&Home"
msgctxt "home page"
msgid "&Home"
msgstr "&თავში"

#: kstandardaction.cpp:105
msgctxt "show help"
msgid "&Help"
msgstr "&დახმარება"

#: kstandardaction.cpp:141
#, fuzzy
#| msgid "Show Menubar<p>Shows the menubar again after it has been hidden"
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "მენიუს პანელის ჩვენება<p>მენიუს პანელის ჩვენება მისი დამალვის შემდეგ"

#: kstandardaction.cpp:151
#, fuzzy
#| msgid ""
#| "Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of "
#| "the window used for status information."
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"სტატუსის პანელის ჩვენება<p>აჩვენებს სტატუსის პანელს, რომელიც წარმოადგენს "
"ფანჯრის ქვედა ნაწილში განთავსებულ სტატუსის ზოლს."

#: kstandardaction_p.h:41
msgid "&New"
msgstr "&ახალი"

#: kstandardaction_p.h:41
#, fuzzy
#| msgid "Configure Shortcut"
msgid "Create new document"
msgstr "მალმხმობის გამართვა"

#: kstandardaction_p.h:42
msgid "&Open..."
msgstr "&გახსნა..."

#: kstandardaction_p.h:42
#, fuzzy
#| msgid "Go back one step"
msgid "Open an existing document"
msgstr "ერთი ნაბიჯით უკან"

#: kstandardaction_p.h:43
msgid "Open &Recent"
msgstr "&ბოლო გახსნილები"

#: kstandardaction_p.h:43
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:44
msgid "&Save"
msgstr "&შენახვა"

#: kstandardaction_p.h:44
#, fuzzy
#| msgid "Close Document"
msgid "Save document"
msgstr "დოკუმენტის დახურვა"

#: kstandardaction_p.h:45
msgid "Save &As..."
msgstr "შენახვა &როგორც..."

#: kstandardaction_p.h:45
#, fuzzy
#| msgid "Close Document"
msgid "Save document under a new name"
msgstr "დოკუმენტის დახურვა"

#: kstandardaction_p.h:46
msgid "Re&vert"
msgstr "ა&ღდგენა"

#: kstandardaction_p.h:46
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:47
msgid "&Close"
msgstr "&დახურვა"

#: kstandardaction_p.h:47
#, fuzzy
#| msgid "Close Document"
msgid "Close document"
msgstr "დოკუმენტის დახურვა"

#: kstandardaction_p.h:48
msgid "&Print..."
msgstr "&ბეჭდვა..."

#: kstandardaction_p.h:48
#, fuzzy
#| msgid "Print Previe&w..."
msgid "Print document"
msgstr "ბეჭდვის &ესკიზი"

#: kstandardaction_p.h:49
#, fuzzy
#| msgid "Print Previe&w..."
msgid "Print Previe&w"
msgstr "ბეჭდვის &ესკიზი"

#: kstandardaction_p.h:49
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:50
msgid "&Mail..."
msgstr "&ფოსტის გაგზავნა..."

#: kstandardaction_p.h:50
#, fuzzy
#| msgid "Close Document"
msgid "Send document by mail"
msgstr "დოკუმენტის დახურვა"

#: kstandardaction_p.h:51
msgid "&Quit"
msgstr "&დასრულება"

#: kstandardaction_p.h:51
msgid "Quit application"
msgstr "პროგრამის დასრულება"

#: kstandardaction_p.h:53
msgid "&Undo"
msgstr "და&ბრუნება"

#: kstandardaction_p.h:53
#, fuzzy
#| msgid "HTML documentation"
msgid "Undo last action"
msgstr "HTML დოკუმენტაცია"

#: kstandardaction_p.h:54
msgid "Re&do"
msgstr "გა&მეორება"

#: kstandardaction_p.h:54
#, fuzzy
#| msgid "HTML documentation"
msgid "Redo last undone action"
msgstr "HTML დოკუმენტაცია"

#: kstandardaction_p.h:55
msgid "Cu&t"
msgstr "ამო&ჭრა"

#: kstandardaction_p.h:55
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:56
msgid "&Copy"
msgstr "&კოპირება"

#: kstandardaction_p.h:56
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "&Paste"
msgstr "&ჩასმა"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, fuzzy
#| msgid "Print Previe&w..."
msgid "Paste clipboard content"
msgstr "ბეჭდვის &ესკიზი"

#: kstandardaction_p.h:59
msgid "C&lear"
msgstr "გასუ&ფთავება"

#: kstandardaction_p.h:60
msgid "Select &All"
msgstr "&ყველას მონიშვნა"

#: kstandardaction_p.h:61
msgid "Dese&lect"
msgstr "მონიშვნის მო&ხსნა"

#: kstandardaction_p.h:62
msgid "&Find..."
msgstr "&პოვნა..."

#: kstandardaction_p.h:63
msgid "Find &Next"
msgstr "&შემდეგის პოვნა"

#: kstandardaction_p.h:64
msgid "Find Pre&vious"
msgstr "&წინას პოვნა"

#: kstandardaction_p.h:65
msgid "&Replace..."
msgstr "&შეცვლა..."

#: kstandardaction_p.h:67
msgid "&Actual Size"
msgstr "&მიმდინარე ზომა"

#: kstandardaction_p.h:67
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:68
msgid "&Fit to Page"
msgstr "გვერდის &შევსება"

#: kstandardaction_p.h:68
#, fuzzy
#| msgid "Go to Line"
msgid "Zoom to fit page in window"
msgstr "გადასვლა სტრიქონზე"

#: kstandardaction_p.h:69
msgid "Fit to Page &Width"
msgstr "გვერდის სი&განეზე შევსება"

#: kstandardaction_p.h:69
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:70
msgid "Fit to Page &Height"
msgstr "გვერდის სი&მაღლეზე შევსება"

#: kstandardaction_p.h:70
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:71
msgid "Zoom &In"
msgstr "&გაზრდა"

#: kstandardaction_p.h:72
msgid "Zoom &Out"
msgstr "&შემცირება"

#: kstandardaction_p.h:73
msgid "&Zoom..."
msgstr "&მასშტაბი..."

#: kstandardaction_p.h:73
#, fuzzy
#| msgid "Select a week"
msgid "Select zoom level"
msgstr "თვის არჩევა"

#: kstandardaction_p.h:74
msgid "&Redisplay"
msgstr "&ეკრანის განახლება"

#: kstandardaction_p.h:74
#, fuzzy
#| msgid "&Redisplay"
msgid "Redisplay document"
msgstr "&ეკრანის განახლება"

#: kstandardaction_p.h:76
msgid "&Up"
msgstr "&ზემოთ"

#: kstandardaction_p.h:76
msgid "Go up"
msgstr ""

#: kstandardaction_p.h:81
msgid "&Previous Page"
msgstr "&წინა გვერდი"

#: kstandardaction_p.h:81
#, fuzzy
#| msgid "&Previous Page"
msgid "Go to previous page"
msgstr "&წინა გვერდი"

#: kstandardaction_p.h:82
msgid "&Next Page"
msgstr "&შემდეგი გვერდი"

#: kstandardaction_p.h:82
#, fuzzy
#| msgid "Go to Line"
msgid "Go to next page"
msgstr "გადასვლა სტრიქონზე"

#: kstandardaction_p.h:83
msgid "&Go To..."
msgstr "&გადასვლა..."

#: kstandardaction_p.h:84
msgid "&Go to Page..."
msgstr "&გადასვლა გვერდზე..."

#: kstandardaction_p.h:85
msgid "&Go to Line..."
msgstr "&გადასვლა სტრიქონზე..."

#: kstandardaction_p.h:86
msgid "&First Page"
msgstr "&პირველი გვერდი"

#: kstandardaction_p.h:86
#, fuzzy
#| msgid "Go to Line"
msgid "Go to first page"
msgstr "გადასვლა სტრიქონზე"

#: kstandardaction_p.h:87
msgid "&Last Page"
msgstr "&ბოლო გვერდი"

#: kstandardaction_p.h:87
#, fuzzy
#| msgid "&Go to Page..."
msgid "Go to last page"
msgstr "&გადასვლა გვერდზე..."

#: kstandardaction_p.h:88
msgid "&Back"
msgstr "&უკან"

#: kstandardaction_p.h:88
#, fuzzy
#| msgid "Go back one step"
msgid "Go back in document"
msgstr "ერთი ნაბიჯით უკან"

#: kstandardaction_p.h:89
#, fuzzy
#| msgctxt "go forward"
#| msgid "&Forward"
msgid "&Forward"
msgstr "&წინ"

#: kstandardaction_p.h:89
#, fuzzy
#| msgid "Go forward one step"
msgid "Go forward in document"
msgstr "ერთი ნაბიჯით წინ"

#: kstandardaction_p.h:91
msgid "&Add Bookmark"
msgstr "სანიშნის &დამატება"

#: kstandardaction_p.h:92
#, fuzzy
#| msgid "&Edit Bookmarks"
msgid "&Edit Bookmarks..."
msgstr "სანიშნეების &რედაქტირება"

#: kstandardaction_p.h:94
msgid "&Spelling..."
msgstr "&მართლწერა..."

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "Check Spelling"
msgid "Check spelling in document"
msgstr "მართლწერის შემოწმება"

#: kstandardaction_p.h:96
msgid "Show &Menubar"
msgstr "&მენიუს ჩვენება"

#: kstandardaction_p.h:96
#, fuzzy
#| msgid "Show &Menubar"
msgid "Show or hide menubar"
msgstr "&მენიუს ჩვენება"

#: kstandardaction_p.h:97
msgid "Show &Toolbar"
msgstr "&ხელსაწყოთა პანელის ჩვენება"

#: kstandardaction_p.h:97
#, fuzzy
#| msgid "Show &Toolbar"
msgid "Show or hide toolbar"
msgstr "&ხელსაწყოთა პანელის ჩვენება"

#: kstandardaction_p.h:98
msgid "Show St&atusbar"
msgstr "სტატუსის პანელის &ჩვენება"

#: kstandardaction_p.h:98
#, fuzzy
#| msgid "Show St&atusbar"
msgid "Show or hide statusbar"
msgstr "სტატუსის პანელის &ჩვენება"

#: kstandardaction_p.h:99
msgid "F&ull Screen Mode"
msgstr "&სრულეკრანიანი რეჟიმი"

#: kstandardaction_p.h:100
msgid "&Save Settings"
msgstr "პარამეტრების &შენახვა"

#: kstandardaction_p.h:101
msgid "Configure S&hortcuts..."
msgstr "&მალმხმობების მორგება..."

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "&გამართვა - %1..."

#: kstandardaction_p.h:103
msgid "Configure Tool&bars..."
msgstr "&პულტების გამართვა..."

#: kstandardaction_p.h:104
msgid "Configure &Notifications..."
msgstr "&შეტყობინებების გამართვა..."

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "&სახელმძღვანელო \"%1\""

#: kstandardaction_p.h:110
msgid "What's &This?"
msgstr "ეს რა არის?"

#: kstandardaction_p.h:111
msgid "Tip of the &Day"
msgstr "დღის &რჩევა"

#: kstandardaction_p.h:112
msgid "&Report Bug..."
msgstr "შეცდომის &პატაკი..."

#: kstandardaction_p.h:113
#, fuzzy
msgid "Switch Application &Language..."
msgstr "პროგრამის დასრულება"

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "&ინფორმაცია - \"%1\""

#: kstandardaction_p.h:115
msgid "About &KDE"
msgstr "&KDE-ს შესახებ"

#: kstandardaction_p.h:116
#, fuzzy
#| msgid "Delete File"
msgid "&Delete File"
msgstr "ყველას წაშლა"

#: kstandardaction_p.h:117
#, fuzzy
#| msgid "&Send Files"
msgid "&Rename File"
msgstr "ფაილების &გაგზავნა"

#: kstandardaction_p.h:118
msgid "&Move to Trash"
msgstr ""

#: ktipdialog.cpp:238
#, fuzzy
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "დღის რჩევა"

#: ktipdialog.cpp:254
#, fuzzy
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "იცით თუ არა...?\n"

#: ktipdialog.cpp:306
#, fuzzy
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "&რჩევების ჩვენება დაწყებისას"

#: ktipdialog.cpp:311
#, fuzzy
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&წინა"

#: ktipdialog.cpp:316
#, fuzzy
#| msgctxt "Opposite to Previous"
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&შემდეგი"
