[KCM Locale]
Name=Latvian
Name[ca]=Letó
Name[es]=Letón
Name[ia]=Letton
Name[nl]=Lets
Name[sl]=Latvijščina
Name[tr]=Letonca
Name[uk]=латиська
Name[x-test]=xxLatvianxx
