[KCM Locale]
Name=Hebrew
Name[ca]=Hebreu
Name[es]=Hebreo
Name[ia]=Hebreo 
Name[nl]=Hebreeuws
Name[sl]=Hebrejščina
Name[tr]=İbranice
Name[uk]=іврит
Name[x-test]=xxHebrewxx
