[KCM Locale]
Name=Icelandic
Name[ca]=Islandès
Name[es]=Islandés
Name[ia]=Islandese 
Name[nl]=IJslands
Name[sl]=Islandščina
Name[tr]=İzlandaca
Name[uk]=ісландська
Name[x-test]=xxIcelandicxx
