[KCM Locale]
Name=Belarusian
Name[ca]=Bielorús
Name[es]=Bielorruso
Name[ia]=Bielorusso
Name[nl]=Wit-Russisch
Name[sl]=Beloruščina
Name[tr]=Beyaz Rusça
Name[uk]=білоруська
Name[x-test]=xxBelarusianxx
