# kdelibs4 Bahasa Melayu (Malay) (ms)
# Hasbullah bin Pit <sebol@ikhlas.com>, 2003.
# Muhammad Najmi Ahmad Zabidi <md_najmi@yahoo.com>, 2003.
# Mohd Nasir bin Che Embee <chadtce@linuxmail.org>, 2003.
# Muhammad Najmi bin Ahmad Zabidi <najmi.zabidi@gmail.com>, 2006.
# Sharuzzaman Ahmat Raslan <sharuzzaman@myrealbox.com>, 2006, 2007, 2008, 2009, 2010.
# Sharuzzaman Ahmat Raslan <sharuzzaman@gmail.com>, 2010, 2011.
# Copyright (C) 2008, 2009 K Desktop Environment
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2016-12-30 14:54+0100\n"
"PO-Revision-Date: 2011-07-16 00:57+0800\n"
"Last-Translator: Sharuzzaman Ahmat Raslan <sharuzzaman@gmail.com>\n"
"Language-Team: Malay <kedidiemas@yahoogroups.com>\n"
"Language: ms\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: KBabel 1.11.4\n"
"Plural-Forms: nplurals=2; plural=1;\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Sharuzzaman Ahmat Raslan"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "sharuzzaman@myrealbox.com"

#: kcmodule.cpp:166
#, fuzzy, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "Anda ke  pengesahan"

#: kcmodule.cpp:170
#, fuzzy, kde-format
#| msgid "Do you want to reload KDE configuration?"
msgid "You are not allowed to save the configuration"
msgstr "Anda ke "

#: kcodecaction.cpp:90
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Default"

#: kcodecaction.cpp:98
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Autokesan"

#: kconfigdialog.cpp:48
#, fuzzy, kde-format
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "Selaraskan"

#: klanguagebutton.cpp:194
#, kde-format
msgid "without name"
msgstr "tanpa nama"

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "Tiada Masukan"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "Kosongkan Senarai"

#: kstandardaction.cpp:146
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "Kem&bali"

#: kstandardaction.cpp:153
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Maju"

#: kstandardaction.cpp:160
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "Ruma&h"

#: kstandardaction.cpp:163
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&Bantuan"

#: kstandardaction.cpp:200
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Papar Bar Menu<p>Memaparkan bar menu kembali selepas ia disembunyikan</p>"

#: kstandardaction.cpp:219
#, fuzzy, kde-format
#| msgid ""
#| "Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of "
#| "the window used for status information.</p>"
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Papar Bar Status<p>Papar bar status, iaitu bar dibawah tetingkap digunakan "
"untuk maklumat status.</p>"

#: kstandardaction_p.h:41
#, kde-format
msgid "&New"
msgstr "&Baru"

#: kstandardaction_p.h:41
#, fuzzy, kde-format
#| msgctxt "@label"
#| msgid "Create new tag:"
msgid "Create new document"
msgstr "Cipta tag baru:"

#: kstandardaction_p.h:42
#, kde-format
msgid "&Open..."
msgstr "&Buka."

#: kstandardaction_p.h:42
#, fuzzy, kde-format
#| msgid "&Back in the Document"
msgid "Open an existing document"
msgstr "&Undur dalam Dokumen"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open &Recent"
msgstr "Buka &Terkini"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:44
#, kde-format
msgid "&Save"
msgstr "&Simpan"

#: kstandardaction_p.h:44
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Save document"
msgstr "Tutup Dokumen"

#: kstandardaction_p.h:45
#, kde-format
msgid "Save &As..."
msgstr "Simp&an sebagai.."

#: kstandardaction_p.h:45
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Save document under a new name"
msgstr "Tutup Dokumen"

#: kstandardaction_p.h:46
#, kde-format
msgid "Re&vert"
msgstr "&Patah Balik"

#: kstandardaction_p.h:46
#, kde-format
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:47
#, kde-format
msgid "&Close"
msgstr "&Tutup"

#: kstandardaction_p.h:47
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Close document"
msgstr "Tutup Dokumen"

#: kstandardaction_p.h:48
#, kde-format
msgid "&Print..."
msgstr "Ce&tak."

#: kstandardaction_p.h:48
#, fuzzy, kde-format
#| msgctxt "keyboard-key-name"
#| msgid "PrintScreen"
msgid "Print document"
msgstr "PrintScreen"

#: kstandardaction_p.h:49
#, kde-format
msgid "Print Previe&w"
msgstr "&Prapapar Cetakan"

#: kstandardaction_p.h:49
#, kde-format
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:50
#, kde-format
msgid "&Mail..."
msgstr "&Mel..."

#: kstandardaction_p.h:50
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Send document by mail"
msgstr "Tutup Dokumen"

#: kstandardaction_p.h:51
#, kde-format
msgid "&Quit"
msgstr "&Keluar"

#: kstandardaction_p.h:51
#, kde-format
msgid "Quit application"
msgstr "Keluar aplikasi"

#: kstandardaction_p.h:53
#, kde-format
msgid "&Undo"
msgstr "&Nyahcara"

#: kstandardaction_p.h:53
#, fuzzy, kde-format
#| msgid "HTML documentation"
msgid "Undo last action"
msgstr "Buatan a"

#: kstandardaction_p.h:54
#, kde-format
msgid "Re&do"
msgstr "&Buat Semula"

#: kstandardaction_p.h:54
#, fuzzy, kde-format
#| msgid "HTML documentation"
msgid "Redo last undone action"
msgstr "Buatan a"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cu&t"
msgstr "&Potong"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:56
#, kde-format
msgid "&Copy"
msgstr "&Salin"

#: kstandardaction_p.h:56
#, kde-format
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, kde-format
msgid "&Paste"
msgstr "&Tepek"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, fuzzy, kde-format
#| msgid "Upload content"
msgid "Paste clipboard content"
msgstr "Muatnaik kandungan"

#: kstandardaction_p.h:59
#, kde-format
msgid "C&lear"
msgstr "Bersi&hkan"

#: kstandardaction_p.h:60
#, kde-format
msgid "Select &All"
msgstr "Pilih &Semua"

#: kstandardaction_p.h:61
#, kde-format
msgid "Dese&lect"
msgstr "&Nyahpilih"

#: kstandardaction_p.h:62
#, kde-format
msgid "&Find..."
msgstr "&Cari..."

#: kstandardaction_p.h:63
#, kde-format
msgid "Find &Next"
msgstr "Cari &Seterusnya"

#: kstandardaction_p.h:64
#, kde-format
msgid "Find Pre&vious"
msgstr "Cari &Sebelumnya"

#: kstandardaction_p.h:65
#, kde-format
msgid "&Replace..."
msgstr "Gan&ti..."

#: kstandardaction_p.h:67
#, kde-format
msgid "&Actual Size"
msgstr "&Saiz Sebenar"

#: kstandardaction_p.h:67
#, kde-format
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:68
#, kde-format
msgid "&Fit to Page"
msgstr "&Muat Halaman"

#: kstandardaction_p.h:68
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Zoom to fit page in window"
msgstr "Pergi ke Baris"

#: kstandardaction_p.h:69
#, kde-format
msgid "Fit to Page &Width"
msgstr "Muat &Lebar Halaman"

#: kstandardaction_p.h:69
#, kde-format
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:70
#, kde-format
msgid "Fit to Page &Height"
msgstr "Muat &Ketinggian Halaman"

#: kstandardaction_p.h:70
#, kde-format
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:71
#, kde-format
msgid "Zoom &In"
msgstr "Zum &Masuk"

#: kstandardaction_p.h:72
#, kde-format
msgid "Zoom &Out"
msgstr "Zum &Keluar"

#: kstandardaction_p.h:73
#, kde-format
msgid "&Zoom..."
msgstr "&Zoom..."

#: kstandardaction_p.h:73
#, fuzzy, kde-format
#| msgid "Select a week"
msgid "Select zoom level"
msgstr "Pilih minggu"

#: kstandardaction_p.h:74
#, kde-format
msgid "&Redisplay"
msgstr "Papa&r Semula"

#: kstandardaction_p.h:74
#, fuzzy, kde-format
#| msgid "&Redisplay"
msgid "Redisplay document"
msgstr "Papa&r Semula"

#: kstandardaction_p.h:76
#, kde-format
msgid "&Up"
msgstr "A&tas"

#: kstandardaction_p.h:76
#, kde-format
msgid "Go up"
msgstr ""

#: kstandardaction_p.h:81
#, kde-format
msgid "&Previous Page"
msgstr "Halaman &Sebelumnya"

#: kstandardaction_p.h:81
#, fuzzy, kde-format
#| msgid "&Previous Page"
msgid "Go to previous page"
msgstr "Halaman &Sebelumnya"

#: kstandardaction_p.h:82
#, kde-format
msgid "&Next Page"
msgstr "Halaman &Berikutnya"

#: kstandardaction_p.h:82
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to next page"
msgstr "Pergi ke Baris"

#: kstandardaction_p.h:83
#, kde-format
msgid "&Go To..."
msgstr "&Pergi Ke..."

#: kstandardaction_p.h:84
#, kde-format
msgid "&Go to Page..."
msgstr "&Pergi ke Halaman..."

#: kstandardaction_p.h:85
#, kde-format
msgid "&Go to Line..."
msgstr "&Pergi ke Baris..."

#: kstandardaction_p.h:86
#, kde-format
msgid "&First Page"
msgstr "Halaman &Pertama"

#: kstandardaction_p.h:86
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to first page"
msgstr "Pergi ke Baris"

#: kstandardaction_p.h:87
#, kde-format
msgid "&Last Page"
msgstr "Halaman &Terakhir"

#: kstandardaction_p.h:87
#, fuzzy, kde-format
#| msgid "&Go to Page..."
msgid "Go to last page"
msgstr "&Pergi ke Halaman..."

#: kstandardaction_p.h:88
#, kde-format
msgid "&Back"
msgstr "Kem&bali"

#: kstandardaction_p.h:88
#, fuzzy, kde-format
#| msgid "&Back in the Document"
msgid "Go back in document"
msgstr "&Undur dalam Dokumen"

#: kstandardaction_p.h:89
#, fuzzy, kde-format
#| msgctxt "go forward"
#| msgid "&Forward"
msgid "&Forward"
msgstr "&Maju"

#: kstandardaction_p.h:89
#, fuzzy, kde-format
#| msgid "&Forward in the Document"
msgid "Go forward in document"
msgstr "&Maju dalam Dokumen"

#: kstandardaction_p.h:91
#, kde-format
msgid "&Add Bookmark"
msgstr "T&ambah"

#: kstandardaction_p.h:92
#, kde-format
msgid "&Edit Bookmarks..."
msgstr "&Sunting Tandalaman..."

#: kstandardaction_p.h:94
#, kde-format
msgid "&Spelling..."
msgstr "E&jaan..."

#: kstandardaction_p.h:94
#, fuzzy, kde-format
#| msgid "Check Spelling"
msgid "Check spelling in document"
msgstr "Memeriksa ejaan"

#: kstandardaction_p.h:96
#, kde-format
msgid "Show &Menubar"
msgstr "Papar Bar &Menu"

#: kstandardaction_p.h:96
#, fuzzy, kde-format
#| msgid "Show &Menubar"
msgid "Show or hide menubar"
msgstr "Papar Bar &Menu"

#: kstandardaction_p.h:97
#, kde-format
msgid "Show &Toolbar"
msgstr "Papar Bar Ala&tan"

#: kstandardaction_p.h:97
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Show Toolbar"
msgid "Show or hide toolbar"
msgstr "Papar Bar Alatan"

#: kstandardaction_p.h:98
#, kde-format
msgid "Show St&atusbar"
msgstr "P&apar Bar Status"

#: kstandardaction_p.h:98
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Show Statusbar"
msgid "Show or hide statusbar"
msgstr "Papar Bar Status"

#: kstandardaction_p.h:99
#, kde-format
msgid "F&ull Screen Mode"
msgstr "Mod Skrin Pen&uh"

#: kstandardaction_p.h:100
#, kde-format
msgid "&Save Settings"
msgstr "&Simpan Seting"

#: kstandardaction_p.h:101
#, kde-format
msgid "Configure S&hortcuts..."
msgstr "Konfigur &Jalan Pintas..."

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "&Konfigur %1..."

#: kstandardaction_p.h:103
#, kde-format
msgid "Configure Tool&bars..."
msgstr "Konfigur &Bar Alat..."

#: kstandardaction_p.h:104
#, kde-format
msgid "Configure &Notifications..."
msgstr "Konfigur &Pemberitahuan..."

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 &Manual"

#: kstandardaction_p.h:110
#, kde-format
msgid "What's &This?"
msgstr "Apakah &Ini?"

#: kstandardaction_p.h:111
#, kde-format
msgid "Tip of the &Day"
msgstr "Petua &Hari Ini"

#: kstandardaction_p.h:112
#, kde-format
msgid "&Report Bug..."
msgstr "Lapor &Pepijat..."

#: kstandardaction_p.h:113
#, kde-format
msgid "Switch Application &Language..."
msgstr "Tukar Bahasa Ap&likasi..."

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "Perih&al %1"

#: kstandardaction_p.h:115
#, kde-format
msgid "About &KDE"
msgstr "Perihal &KDE"

#: kstandardaction_p.h:116
#, fuzzy, kde-format
#| msgid "&Delete"
msgid "&Delete File"
msgstr "Pa&dam"

#: kstandardaction_p.h:117
#, fuzzy, kde-format
#| msgid "&Send File"
#| msgid_plural "&Send Files"
msgid "&Rename File"
msgstr "&Hantar Fail"

#: kstandardaction_p.h:118
#, kde-format
msgid "&Move to Trash"
msgstr ""

#: kstandardaction_p.h:119
#, kde-format
msgid "&Donate"
msgstr ""

#: ktipdialog.cpp:238
#, fuzzy, kde-format
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Petua Hari Ini"

#: ktipdialog.cpp:254
#, fuzzy, kde-format
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Adakah anda tahu...?\n"

#: ktipdialog.cpp:306
#, fuzzy, kde-format
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "Papar pe&tua pada permulaan"

#: ktipdialog.cpp:311
#, fuzzy, kde-format
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Sebelum"

#: ktipdialog.cpp:316
#, fuzzy, kde-format
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "Berikut&nya"
