# kdelibs4 Bahasa Melayu (Malay) (ms)
# Hasbullah bin Pit <sebol@ikhlas.com>, 2003.
# Muhammad Najmi Ahmad Zabidi <md_najmi@yahoo.com>, 2003.
# Mohd Nasir bin Che Embee <chadtce@linuxmail.org>, 2003.
# Muhammad Najmi bin Ahmad Zabidi <najmi.zabidi@gmail.com>, 2006.
# Sharuzzaman Ahmat Raslan <sharuzzaman@myrealbox.com>, 2006, 2007, 2008, 2009, 2010.
# Sharuzzaman Ahmat Raslan <sharuzzaman@gmail.com>, 2010, 2011.
# Copyright (C) 2008, 2009 K Desktop Environment
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2015-01-31 08:03+0000\n"
"PO-Revision-Date: 2011-07-16 00:57+0800\n"
"Last-Translator: Sharuzzaman Ahmat Raslan <sharuzzaman@gmail.com>\n"
"Language-Team: Malay <kedidiemas@yahoogroups.com>\n"
"Language: ms\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: KBabel 1.11.4\n"
"Plural-Forms: nplurals=2; plural=1;\n"

msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Sharuzzaman Ahmat Raslan"

msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "sharuzzaman@myrealbox.com"

#: kcmodule.cpp:153
#, fuzzy
msgid "You will be asked to authenticate before saving"
msgstr "Anda ke  pengesahan"

#: kcmodule.cpp:157
#, fuzzy
#| msgid "Do you want to reload KDE configuration?"
msgid "You are not allowed to save the configuration"
msgstr "Anda ke "

#: kcodecaction.cpp:90
msgctxt "Encodings menu"
msgid "Default"
msgstr "Default"

#: kcodecaction.cpp:98
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Autokesan"

#: klanguagebutton.cpp:194
msgid "without name"
msgstr "tanpa nama"

#: krecentfilesaction.cpp:78
msgid "No Entries"
msgstr "Tiada Masukan"

#: krecentfilesaction.cpp:84
msgid "Clear List"
msgstr "Kosongkan Senarai"

#: kstandardaction.cpp:90
msgctxt "go back"
msgid "&Back"
msgstr "Kem&bali"

#: kstandardaction.cpp:97
msgctxt "go forward"
msgid "&Forward"
msgstr "&Maju"

#: kstandardaction.cpp:104
msgctxt "home page"
msgid "&Home"
msgstr "Ruma&h"

#: kstandardaction.cpp:107
msgctxt "show help"
msgid "&Help"
msgstr "&Bantuan"

#: kstandardaction.cpp:526 kstandardaction_p.h:96
msgid "Show &Menubar"
msgstr "Papar Bar &Menu"

#: kstandardaction.cpp:534
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Papar Bar Menu<p>Memaparkan bar menu kembali selepas ia disembunyikan</p>"

#: kstandardaction.cpp:552 kstandardaction_p.h:98
msgid "Show St&atusbar"
msgstr "P&apar Bar Status"

#: kstandardaction.cpp:555
#, fuzzy
#| msgid ""
#| "Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of "
#| "the window used for status information.</p>"
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Papar Bar Status<p>Papar bar status, iaitu bar dibawah tetingkap digunakan "
"untuk maklumat status.</p>"

#: kstandardaction_p.h:41
msgid "&New"
msgstr "&Baru"

#: kstandardaction_p.h:41
#, fuzzy
#| msgctxt "@label"
#| msgid "Create new tag:"
msgid "Create new document"
msgstr "Cipta tag baru:"

#: kstandardaction_p.h:42
msgid "&Open..."
msgstr "&Buka."

#: kstandardaction_p.h:42
#, fuzzy
#| msgid "&Back in the Document"
msgid "Open an existing document"
msgstr "&Undur dalam Dokumen"

#: kstandardaction_p.h:43
msgid "Open &Recent"
msgstr "Buka &Terkini"

#: kstandardaction_p.h:43
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:44
msgid "&Save"
msgstr "&Simpan"

#: kstandardaction_p.h:44
#, fuzzy
#| msgid "Close Document"
msgid "Save document"
msgstr "Tutup Dokumen"

#: kstandardaction_p.h:45
msgid "Save &As..."
msgstr "Simp&an sebagai.."

#: kstandardaction_p.h:45
#, fuzzy
#| msgid "Close Document"
msgid "Save document under a new name"
msgstr "Tutup Dokumen"

#: kstandardaction_p.h:46
msgid "Re&vert"
msgstr "&Patah Balik"

#: kstandardaction_p.h:46
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:47
msgid "&Close"
msgstr "&Tutup"

#: kstandardaction_p.h:47
#, fuzzy
#| msgid "Close Document"
msgid "Close document"
msgstr "Tutup Dokumen"

#: kstandardaction_p.h:48
msgid "&Print..."
msgstr "Ce&tak."

#: kstandardaction_p.h:48
#, fuzzy
#| msgctxt "keyboard-key-name"
#| msgid "PrintScreen"
msgid "Print document"
msgstr "PrintScreen"

#: kstandardaction_p.h:49
msgid "Print Previe&w"
msgstr "&Prapapar Cetakan"

#: kstandardaction_p.h:49
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:50
msgid "&Mail..."
msgstr "&Mel..."

#: kstandardaction_p.h:50
#, fuzzy
#| msgid "Close Document"
msgid "Send document by mail"
msgstr "Tutup Dokumen"

#: kstandardaction_p.h:51
msgid "&Quit"
msgstr "&Keluar"

#: kstandardaction_p.h:51
msgid "Quit application"
msgstr "Keluar aplikasi"

#: kstandardaction_p.h:53
msgid "&Undo"
msgstr "&Nyahcara"

#: kstandardaction_p.h:53
#, fuzzy
#| msgid "HTML documentation"
msgid "Undo last action"
msgstr "Buatan a"

#: kstandardaction_p.h:54
msgid "Re&do"
msgstr "&Buat Semula"

#: kstandardaction_p.h:54
#, fuzzy
#| msgid "HTML documentation"
msgid "Redo last undone action"
msgstr "Buatan a"

#: kstandardaction_p.h:55
msgid "Cu&t"
msgstr "&Potong"

#: kstandardaction_p.h:55
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:56
msgid "&Copy"
msgstr "&Salin"

#: kstandardaction_p.h:56
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "&Paste"
msgstr "&Tepek"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, fuzzy
#| msgid "Upload content"
msgid "Paste clipboard content"
msgstr "Muatnaik kandungan"

#: kstandardaction_p.h:59
msgid "C&lear"
msgstr "Bersi&hkan"

#: kstandardaction_p.h:60
msgid "Select &All"
msgstr "Pilih &Semua"

#: kstandardaction_p.h:61
msgid "Dese&lect"
msgstr "&Nyahpilih"

#: kstandardaction_p.h:62
msgid "&Find..."
msgstr "&Cari..."

#: kstandardaction_p.h:63
msgid "Find &Next"
msgstr "Cari &Seterusnya"

#: kstandardaction_p.h:64
msgid "Find Pre&vious"
msgstr "Cari &Sebelumnya"

#: kstandardaction_p.h:65
msgid "&Replace..."
msgstr "Gan&ti..."

#: kstandardaction_p.h:67
msgid "&Actual Size"
msgstr "&Saiz Sebenar"

#: kstandardaction_p.h:67
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:68
msgid "&Fit to Page"
msgstr "&Muat Halaman"

#: kstandardaction_p.h:68
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Zoom to fit page in window"
msgstr "Pergi ke Baris"

#: kstandardaction_p.h:69
msgid "Fit to Page &Width"
msgstr "Muat &Lebar Halaman"

#: kstandardaction_p.h:69
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:70
msgid "Fit to Page &Height"
msgstr "Muat &Ketinggian Halaman"

#: kstandardaction_p.h:70
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:71
msgid "Zoom &In"
msgstr "Zum &Masuk"

#: kstandardaction_p.h:72
msgid "Zoom &Out"
msgstr "Zum &Keluar"

#: kstandardaction_p.h:73
msgid "&Zoom..."
msgstr "&Zoom..."

#: kstandardaction_p.h:73
#, fuzzy
#| msgid "Select a week"
msgid "Select zoom level"
msgstr "Pilih minggu"

#: kstandardaction_p.h:74
msgid "&Redisplay"
msgstr "Papa&r Semula"

#: kstandardaction_p.h:74
#, fuzzy
#| msgid "&Redisplay"
msgid "Redisplay document"
msgstr "Papa&r Semula"

#: kstandardaction_p.h:76
msgid "&Up"
msgstr "A&tas"

#: kstandardaction_p.h:76
msgid "Go up"
msgstr ""

#: kstandardaction_p.h:81
msgid "&Previous Page"
msgstr "Halaman &Sebelumnya"

#: kstandardaction_p.h:81
#, fuzzy
#| msgid "&Previous Page"
msgid "Go to previous page"
msgstr "Halaman &Sebelumnya"

#: kstandardaction_p.h:82
msgid "&Next Page"
msgstr "Halaman &Berikutnya"

#: kstandardaction_p.h:82
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to next page"
msgstr "Pergi ke Baris"

#: kstandardaction_p.h:83
msgid "&Go To..."
msgstr "&Pergi Ke..."

#: kstandardaction_p.h:84
msgid "&Go to Page..."
msgstr "&Pergi ke Halaman..."

#: kstandardaction_p.h:85
msgid "&Go to Line..."
msgstr "&Pergi ke Baris..."

#: kstandardaction_p.h:86
msgid "&First Page"
msgstr "Halaman &Pertama"

#: kstandardaction_p.h:86
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to first page"
msgstr "Pergi ke Baris"

#: kstandardaction_p.h:87
msgid "&Last Page"
msgstr "Halaman &Terakhir"

#: kstandardaction_p.h:87
#, fuzzy
#| msgid "&Go to Page..."
msgid "Go to last page"
msgstr "&Pergi ke Halaman..."

#: kstandardaction_p.h:88
msgid "&Back"
msgstr "Kem&bali"

#: kstandardaction_p.h:88
#, fuzzy
#| msgid "&Back in the Document"
msgid "Go back in document"
msgstr "&Undur dalam Dokumen"

#: kstandardaction_p.h:89
#, fuzzy
#| msgctxt "go forward"
#| msgid "&Forward"
msgid "&Forward"
msgstr "&Maju"

#: kstandardaction_p.h:89
#, fuzzy
#| msgid "&Forward in the Document"
msgid "Go forward in document"
msgstr "&Maju dalam Dokumen"

#: kstandardaction_p.h:91
msgid "&Add Bookmark"
msgstr "T&ambah"

#: kstandardaction_p.h:92
msgid "&Edit Bookmarks..."
msgstr "&Sunting Tandalaman..."

#: kstandardaction_p.h:94
msgid "&Spelling..."
msgstr "E&jaan..."

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "Check Spelling"
msgid "Check spelling in document"
msgstr "Memeriksa ejaan"

#: kstandardaction_p.h:96
#, fuzzy
#| msgid "Show &Menubar"
msgid "Show or hide menubar"
msgstr "Papar Bar &Menu"

#: kstandardaction_p.h:97
msgid "Show &Toolbar"
msgstr "Papar Bar Ala&tan"

#: kstandardaction_p.h:97
#, fuzzy
#| msgctxt "@action"
#| msgid "Show Toolbar"
msgid "Show or hide toolbar"
msgstr "Papar Bar Alatan"

#: kstandardaction_p.h:98
#, fuzzy
#| msgctxt "@action"
#| msgid "Show Statusbar"
msgid "Show or hide statusbar"
msgstr "Papar Bar Status"

#: kstandardaction_p.h:99
msgid "F&ull Screen Mode"
msgstr "Mod Skrin Pen&uh"

#: kstandardaction_p.h:100
msgid "&Save Settings"
msgstr "&Simpan Seting"

#: kstandardaction_p.h:101
msgid "Configure S&hortcuts..."
msgstr "Konfigur &Jalan Pintas..."

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "&Konfigur %1..."

#: kstandardaction_p.h:103
msgid "Configure Tool&bars..."
msgstr "Konfigur &Bar Alat..."

#: kstandardaction_p.h:104
msgid "Configure &Notifications..."
msgstr "Konfigur &Pemberitahuan..."

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 &Manual"

#: kstandardaction_p.h:110
msgid "What's &This?"
msgstr "Apakah &Ini?"

#: kstandardaction_p.h:111
msgid "Tip of the &Day"
msgstr "Petua &Hari Ini"

#: kstandardaction_p.h:112
msgid "&Report Bug..."
msgstr "Lapor &Pepijat..."

#: kstandardaction_p.h:113
msgid "Switch Application &Language..."
msgstr "Tukar Bahasa Ap&likasi..."

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "Perih&al %1"

#: kstandardaction_p.h:115
msgid "About &KDE"
msgstr "Perihal &KDE"
