[KCM Locale]
Name=Interlingue
Name[ca]=Interlingue
Name[es]=Interlingue
Name[ia]=Interlingue
Name[nl]=Interlingue
Name[sl]=Interlingva
Name[tr]=İnterlingue
Name[uk]=окциденталь
Name[x-test]=xxInterlinguexx
