[KCM Locale]
Name=German
Name[ca]=Alemany
Name[es]=Alemán
Name[ia]=Germano 
Name[nl]=Duits
Name[sl]=Nemščina
Name[tr]=Almanca
Name[uk]=німецька
Name[x-test]=xxGermanxx
