# translation of kdelibs4.po to Macedonian
#
# Copyright (C) 2000,2002,2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010 Free Software Foundation, Inc.
# Dimitar Indovski <dime@gord.com.mk>
# Damjan Janevski <miopa@freemail.org.mk>
# Dragan Sekulovski <d_sekulovski@yahoo.com>
#
# Maratonec , 2002.
# Dragan Bocevski <d_bocevski@hotmail.com>, 2002.
# Danko Ilik <danko@mindless.com>, 2002,2003.
# Bozidar Proevski <bobibobi@freemail.com.mk>, 2002,2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010.
# Danko Ilik <danko@on.net.mk>, 2003.
# Darko Nikolovski <darkon@macedonia.homelinux.org>, 2003.
# Ivan Dimitrov <ivan34mk@yahoo.com>, 2003.
# Magdica Shambevska <magdica@yahoo.com>, 2004.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2021-12-26 00:40+0000\n"
"PO-Revision-Date: 2010-01-27 10:39+0100\n"
"Last-Translator: Bozidar Proevski <bobibobi@freemail.com.mk>\n"
"Language-Team: Macedonian <mkde-l10n@lists.sourceforge.net>\n"
"Language: mk\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: KBabel 1.11.4\n"
"Plural-Forms: Plural-Forms: nplurals=3; plural=n%10==1 ? 0 : n%10==2 ? 1 : "
"2;\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Божидар Проевски"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "bobibobi@freemail.com.mk"

#: kcmodule.cpp:189
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr ""

#: kcmodule.cpp:193
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "Не ви е дозволено да ја зачувате конфигурацијата"

#: kcodecaction.cpp:66
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Стандардно"

#: kcodecaction.cpp:74
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Автом. откривање"

#: kcolorschememanager.cpp:200 kcolorschememanager.cpp:205
#, fuzzy, kde-format
#| msgid "Shortcut Schemes"
msgid "Color Scheme"
msgstr "Шеми со кратенки"

#: kcolorschememodel.cpp:71
#, fuzzy, kde-format
#| msgctxt "Encodings menu"
#| msgid "Default"
msgid "Default"
msgstr "Стандардно"

#: kcommandbar.cpp:584
#, kde-format
msgid "No commands matching the filter"
msgstr ""

#: kconfigdialog.cpp:37
#, fuzzy, kde-format
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "Конфигурација"

#: khamburgermenu.cpp:126
#, fuzzy, kde-format
#| msgctxt "keyboard-key-name"
#| msgid "Menu"
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "Мени"

#: khamburgermenu.cpp:342
#, fuzzy, kde-format
#| msgid "Shortcut '%1' for action '%2'\n"
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "For %1 more action:"
msgid_plural "For %1 more actions:"
msgstr[0] "Кратенка „%1“ за дејство „%2“\n"
msgstr[1] "Кратенка „%1“ за дејство „%2“\n"
msgstr[2] "Кратенка „%1“ за дејство „%2“\n"

#: khamburgermenu.cpp:345
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "%1 Menu Bar Exclusive Action"
msgid_plural "%1 Menu Bar Exclusive Actions"
msgstr[0] ""
msgstr[1] ""
msgstr[2] ""

#: krecentfilesaction.cpp:68
#, kde-format
msgid "No Entries"
msgstr "Нема елементи"

#: krecentfilesaction.cpp:74
#, kde-format
msgid "Clear List"
msgstr "Исчисти листа"

#: kstandardaction.cpp:140
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "На&зад"

#: kstandardaction.cpp:147
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Напред"

#: kstandardaction.cpp:154
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Дома"

#: kstandardaction.cpp:158
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&Помош"

#: kstandardaction.cpp:215
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "Прикажи мени<p>Повторно го прикажува менито откако било скриено</p>"

#: kstandardaction.cpp:236
#, fuzzy, kde-format
#| msgid ""
#| "Show Statusbar<br /><br />Shows the statusbar, which is the bar at the "
#| "bottom of the window used for status information."
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Прикажи ја статусната линија<br /><br />Ја прикажува статусната линија која "
"се наоѓа на дното од прозорецот и служи за покажување статусни информации."

#: kstandardaction_p.h:30
msgid "&New"
msgstr "&Нова"

#: kstandardaction_p.h:30
#, fuzzy
#| msgid "Create New Tag..."
msgid "Create new document"
msgstr "Креирај нова ознака..."

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "&Отвори..."

#: kstandardaction_p.h:31
#, fuzzy
#| msgid "&Back in the Document"
msgid "Open an existing document"
msgstr "Наза&д во документот"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "Отвори &неодамнешни"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "&Зачувај"

#: kstandardaction_p.h:33
#, fuzzy
#| msgid "Close Document"
msgid "Save document"
msgstr "Затвори документ"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "Зачувај &како..."

#: kstandardaction_p.h:34
#, fuzzy
#| msgid "Close Document"
msgid "Save document under a new name"
msgstr "Затвори документ"

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "В&рати се"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "&Затвори"

#: kstandardaction_p.h:36
#, fuzzy
#| msgid "Close Document"
msgid "Close document"
msgstr "Затвори документ"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "&Печати..."

#: kstandardaction_p.h:37
#, fuzzy
#| msgctxt "keyboard-key-name"
#| msgid "PrintScreen"
msgid "Print document"
msgstr "PrintScreen"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "Преглед на п&ечатење"

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "&Пошта..."

#: kstandardaction_p.h:39
#, fuzzy
#| msgid "Close Document"
msgid "Send document by mail"
msgstr "Затвори документ"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "Н&апушти"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "Излези од апликацијата"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "В&рати"

#: kstandardaction_p.h:42
#, fuzzy
#| msgid "HTML documentation"
msgid "Undo last action"
msgstr "HTML-документација"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "П&овтори"

#: kstandardaction_p.h:43
#, fuzzy
#| msgid "HTML documentation"
msgid "Redo last undone action"
msgstr "HTML-документација"

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "Исе&чи"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "&Копирај"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "&Вметни"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
#, fuzzy
#| msgid "Uploading content..."
msgid "Paste clipboard content"
msgstr "Качувам содржина..."

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "&Исчисти"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "Избери &ги сите"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "&Одизбери"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "&Најди..."

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "Најди &следен"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "Најди &претходен"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "&Замени..."

#: kstandardaction_p.h:58
msgid "&Actual Size"
msgstr "&Вистинска големина"

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "&Собери на страницата"

#: kstandardaction_p.h:59
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Zoom to fit page in window"
msgstr "Оди на ред"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "Собери во &широчина"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "Собери во &височина"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "&Зголеми"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "&Намали"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "&Размер..."

#: kstandardaction_p.h:64
#, fuzzy
#| msgid "Select a week"
msgid "Select zoom level"
msgstr "Изберете недела"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:65
#, fuzzy
#| msgid "&Redisplay"
msgid "Refresh document"
msgstr "&Преприкажи"

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "&Нагоре"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr ""

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "П&ретходна страница"

#: kstandardaction_p.h:72
#, fuzzy
#| msgid "&Previous Page"
msgid "Go to previous page"
msgstr "П&ретходна страница"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "&Следна страница"

#: kstandardaction_p.h:73
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to next page"
msgstr "Оди на ред"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "&Оди на..."

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "Оди на &страница..."

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "Оди на &линија..."

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "&Прва страница"

#: kstandardaction_p.h:77
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to first page"
msgstr "Оди на ред"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "П&оследна страница"

#: kstandardaction_p.h:78
#, fuzzy
#| msgid "&Go to Page..."
msgid "Go to last page"
msgstr "Оди на &страница..."

#: kstandardaction_p.h:79
msgid "&Back"
msgstr "&Назад"

#: kstandardaction_p.h:79
#, fuzzy
#| msgid "&Back in the Document"
msgid "Go back in document"
msgstr "Наза&д во документот"

#: kstandardaction_p.h:80
#, fuzzy
#| msgctxt "go forward"
#| msgid "&Forward"
msgid "&Forward"
msgstr "&Напред"

#: kstandardaction_p.h:80
#, fuzzy
#| msgid "&Forward in the Document"
msgid "Go forward in document"
msgstr "Напр&ед во документот"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "&Додај обележувач"

#: kstandardaction_p.h:83
#, fuzzy
#| msgid "&Edit Bookmarks"
msgid "&Edit Bookmarks..."
msgstr "&Уреди обележувачи"

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "&Правопис..."

#: kstandardaction_p.h:85
#, fuzzy
#| msgid "Check Spelling"
msgid "Check spelling in document"
msgstr "Провери правопис"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "Покажи &мени"

#: kstandardaction_p.h:87
#, fuzzy
#| msgid "Show &Menubar"
msgid "Show or hide menubar"
msgstr "Покажи &мени"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "Покажи &алатки"

#: kstandardaction_p.h:88
#, fuzzy
#| msgctxt "@action"
#| msgid "Show Toolbar"
msgid "Show or hide toolbar"
msgstr "Прикажи алатник"

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "Покажи ја с&татусната линија"

#: kstandardaction_p.h:89
#, fuzzy
#| msgctxt "@action"
#| msgid "Show Statusbar"
msgid "Show or hide statusbar"
msgstr "Прикажи статусна линија"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "Преку целиот &екран"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "&Зачувај поставувања"

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "Configure S&hortcuts..."
msgid "Configure Keyboard S&hortcuts..."
msgstr "Конфигурирај &кратенки..."

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "&Конфигурирај %1..."

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "Конфигурирај &алатки..."

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "Конфигурирај &известувања..."

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "&Прирачник за %1"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "Што е &ова?"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "Совет на &денот"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "&Извести за бубачка..."

#: kstandardaction_p.h:108
#, fuzzy
#| msgid "Configure Email..."
msgid "Configure &Language..."
msgstr "Конфигурирај е-пошта..."

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "&За %1"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "За &KDE..."

#: kstandardaction_p.h:111
#, fuzzy
#| msgid "Delete"
msgid "&Delete"
msgstr "Избриши"

#: kstandardaction_p.h:112
#, fuzzy
#| msgid "&Replace..."
msgid "&Rename..."
msgstr "&Замени..."

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr ""

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr ""

#: kstandardaction_p.h:115
#, fuzzy
#| msgid "Open &Recent"
msgid "Open &Menu"
msgstr "Отвори &неодамнешни"

#: ktipdialog.cpp:219
#, fuzzy, kde-format
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Совет на денот"

#: ktipdialog.cpp:235
#, fuzzy, kde-format
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Дали знаевте...?\n"

#: ktipdialog.cpp:288
#, fuzzy, kde-format
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "При&кажи совети на почеток"

#: ktipdialog.cpp:293
#, fuzzy, kde-format
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Претходно"

#: ktipdialog.cpp:298
#, fuzzy, kde-format
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Следно"
