# Spanish translations for kconfigwidgets6.po package.
# Copyright (C) 2000-2025 This file is copyright:
# This file is distributed under the same license as the kconfigwidgets package.
#
# SPDX-FileCopyrightText: 2000-2004 Pablo de Vicente <vicente@oan.es>
# SPDX-FileCopyrightText: 2004, 2005 Pablo de Vicente <p.devicente@wanadoo.es>
# SPDX-FileCopyrightText: 2005, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2015, 2016, 2017, 2019, 2020, 2021, 2022, 2023, 2024, 2025 Eloy Cuadra <ecuadra@eloihr.net>
# SPDX-FileCopyrightText: 2005, 2006, 2007 Pablo de Vicente <pablo.devicente@gmail.com>
# SPDX-FileCopyrightText: 2007 Enrique Matias Sanchez (aka Quique) <cronopios@gmail.com>
# SPDX-FileCopyrightText: 2007 Jaime Robles <jaime@kde.org>
# SPDX-FileCopyrightText: 2013 Javier Viñal <fjvinal@gmail.com>
msgid ""
msgstr ""
"Project-Id-Version: kconfigwidgets6\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2025-07-04 00:39+0000\n"
"PO-Revision-Date: 2025-05-12 13:28+0100\n"
"Last-Translator: Eloy Cuadra <ecuadra@eloihr.net>\n"
"Language-Team: Spanish <kde-l10n-es@kde.org>\n"
"Language: es\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"First-Translator: Boris Wesslowski <Boris@Wesslowski.com>\n"
"X-Generator: Lokalize 24.02.2\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Eloy Cuadra"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "ecuadra@eloihr.net"

#: kcodecaction.cpp:62
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Predeterminada"

#: kcodecaction.cpp:70
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Autodetectar"

#: kcolorschememenu.cpp:24
#, kde-format
msgid "Color Scheme"
msgstr "Esquemas de color"

#: kcommandbar.cpp:642
#, kde-format
msgid "No commands to display"
msgstr "No hay ninguna orden que mostrar"

#: kcommandbar.cpp:644
#, kde-format
msgid "No commands matching the filter"
msgstr "Ninguna orden coincide con el filtro"

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Configurar"

#: khamburgermenu.cpp:126
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "&Menú"

#: khamburgermenu.cpp:329
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "&Mostrar la barra de menú con todas las acciones"

#: khamburgermenu.cpp:355
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "Más"

#: khamburgermenu.cpp:356
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "Más acciones"

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "Sin entradas"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "Borrar lista"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Atrás"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "A&delante"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Inicio"

#: kstandardaction.cpp:230
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Mostrar la barra de menú<p>Muestra la barra de menú de nuevo después de que "
"se ha ocultado</p>"

#: kstandardaction.cpp:251
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Mostrar la barra de estado<p>Muestra la barra de estado, que es la barra que "
"hay en la parte inferior de la ventana y que se utiliza para mostrar "
"información de estado.</p>"

#: kstandardaction_p.h:63
msgid "&New"
msgstr "&Nuevo"

#: kstandardaction_p.h:63
msgid "Create new document"
msgstr "Crear nuevo documento"

#: kstandardaction_p.h:64
msgid "&Open…"
msgstr "&Abrir…"

#: kstandardaction_p.h:64
msgid "Open an existing document"
msgstr "Abrir un documento existente"

#: kstandardaction_p.h:65
msgid "Open &Recent"
msgstr "Abrir &reciente"

#: kstandardaction_p.h:65
msgid "Open a document which was recently opened"
msgstr "Abrir un documento que se abrió recientemente"

#: kstandardaction_p.h:66
msgid "&Save"
msgstr "&Guardar"

#: kstandardaction_p.h:66
msgid "Save document"
msgstr "Guardar documento"

#: kstandardaction_p.h:67
msgid "Save &As…"
msgstr "Guardar &como…"

#: kstandardaction_p.h:67
msgid "Save document under a new name"
msgstr "Guardar el documento con un nuevo nombre"

#: kstandardaction_p.h:68
msgid "Re&vert"
msgstr "Re&vertir"

#: kstandardaction_p.h:68
msgid "Revert unsaved changes made to document"
msgstr "Revertir los cambios sin guardar que se han realizado en el documento"

#: kstandardaction_p.h:69
msgid "&Close"
msgstr "&Cerrar"

#: kstandardaction_p.h:69
msgid "Close document"
msgstr "Cerrar documento"

#: kstandardaction_p.h:70
msgid "&Print…"
msgstr "&Imprimir…"

#: kstandardaction_p.h:70
msgid "Print document"
msgstr "Imprimir documento"

#: kstandardaction_p.h:71
msgid "Print Previe&w"
msgstr "Vista pre&via"

#: kstandardaction_p.h:71
msgid "Show a print preview of document"
msgstr "Mostrar una vista previa de la impresión del documento"

#: kstandardaction_p.h:72
msgid "&Mail…"
msgstr "&Correo…"

#: kstandardaction_p.h:72
msgid "Send document by mail"
msgstr "Enviar el documento por correo"

#: kstandardaction_p.h:73
msgid "&Quit"
msgstr "&Salir"

#: kstandardaction_p.h:73
msgid "Quit application"
msgstr "Salir de la aplicación"

#: kstandardaction_p.h:75
msgid "&Undo"
msgstr "&Deshacer"

#: kstandardaction_p.h:75
msgid "Undo last action"
msgstr "Deshacer la última acción"

#: kstandardaction_p.h:76
msgid "Re&do"
msgstr "Re&hacer"

#: kstandardaction_p.h:76
msgid "Redo last undone action"
msgstr "Rehacer la última acción deshecha"

#: kstandardaction_p.h:77
msgid "Cu&t"
msgstr "Cor&tar"

#: kstandardaction_p.h:77
msgid "Cut selection to clipboard"
msgstr "Cortar la selección al portapapeles"

#: kstandardaction_p.h:78
msgid "&Copy"
msgstr "&Copiar"

#: kstandardaction_p.h:78
msgid "Copy selection to clipboard"
msgstr "Copiar la selección al portapapeles"

#: kstandardaction_p.h:79
msgid "&Paste"
msgstr "&Pegar"

#: kstandardaction_p.h:79
msgid "Paste clipboard content"
msgstr "Pegar el contenido del portapapeles"

#: kstandardaction_p.h:80
msgid "C&lear"
msgstr "&Borrar"

#: kstandardaction_p.h:81
msgid "Select &All"
msgstr "Seleccionar &todo"

#: kstandardaction_p.h:82
msgid "Dese&lect"
msgstr "Dese&leccionar"

#: kstandardaction_p.h:83
msgid "&Find…"
msgstr "&Buscar…"

#: kstandardaction_p.h:84
msgid "Find &Next"
msgstr "Buscar siguie&nte"

#: kstandardaction_p.h:85
msgid "Find Pre&vious"
msgstr "Buscar &anterior"

#: kstandardaction_p.h:86
msgid "&Replace…"
msgstr "&Sustituir…"

#: kstandardaction_p.h:88
msgid "Zoom to &Actual Size"
msgstr "&Ampliar al tamaño real"

#: kstandardaction_p.h:88
msgid "View document at its actual size"
msgstr "Ver el documento con su tamaño real"

#: kstandardaction_p.h:89
msgid "&Fit to Page"
msgstr "A&justar a la página"

#: kstandardaction_p.h:89
msgid "Zoom to fit page in window"
msgstr "Ampliar para ajustar la página en la ventana"

#: kstandardaction_p.h:90
msgid "Fit to Page &Width"
msgstr "Ajustar a la &anchura de la página"

#: kstandardaction_p.h:90
msgid "Zoom to fit page width in window"
msgstr "Ampliar para ajustar el ancho de la página en la ventana"

#: kstandardaction_p.h:91
msgid "Fit to Page &Height"
msgstr "Ajustar a la a&ltura de la página"

#: kstandardaction_p.h:91
msgid "Zoom to fit page height in window"
msgstr "Ampliar para ajustar la altura de la página en la ventana"

#: kstandardaction_p.h:92
msgid "Zoom &In"
msgstr "Ampl&iar"

#: kstandardaction_p.h:93
msgid "Zoom &Out"
msgstr "Red&ucir"

#: kstandardaction_p.h:94
msgid "&Zoom…"
msgstr "&Ampliar…"

#: kstandardaction_p.h:94
msgid "Select zoom level"
msgstr "Seleccionar el nivel de ampliación"

#: kstandardaction_p.h:95
msgid "&Refresh"
msgstr "&Refrescar"

#: kstandardaction_p.h:95
msgid "Refresh document"
msgstr "Refrescar el documento"

#: kstandardaction_p.h:97
msgid "&Up"
msgstr "Arr&iba"

#: kstandardaction_p.h:97
msgid "Go up"
msgstr "Ir arriba"

#: kstandardaction_p.h:102
msgid "&Previous Page"
msgstr "&Página anterior"

#: kstandardaction_p.h:102
msgid "Go to previous page"
msgstr "Ir a la página anterior"

#: kstandardaction_p.h:103
msgid "&Next Page"
msgstr "Página siguie&nte"

#: kstandardaction_p.h:103
msgid "Go to next page"
msgstr "Ir a la página siguiente"

#: kstandardaction_p.h:104
msgid "&Go To…"
msgstr "&Ir a…"

#: kstandardaction_p.h:105
msgid "&Go to Page…"
msgstr "&Ir a página…"

#: kstandardaction_p.h:106
msgid "&Go to Line…"
msgstr "&Ir a línea…"

#: kstandardaction_p.h:107
msgid "&First Page"
msgstr "P&rimera página"

#: kstandardaction_p.h:107
msgid "Go to first page"
msgstr "Ir a la primera página"

#: kstandardaction_p.h:108
msgid "&Last Page"
msgstr "Ú&ltima página"

#: kstandardaction_p.h:108
msgid "Go to last page"
msgstr "Ir a la última página"

#: kstandardaction_p.h:109
msgid "&Back"
msgstr "&Atrás"

#: kstandardaction_p.h:109
msgid "Go back in document"
msgstr "Retroceder en el documento"

#: kstandardaction_p.h:110
msgid "&Forward"
msgstr "A&vanzar"

#: kstandardaction_p.h:110
msgid "Go forward in document"
msgstr "Avanzar en el documento"

#: kstandardaction_p.h:112
msgid "&Add Bookmark"
msgstr "&Añadir marcador"

#: kstandardaction_p.h:113
msgid "&Edit Bookmarks…"
msgstr "&Editar marcadores…"

#: kstandardaction_p.h:115
msgid "&Spelling…"
msgstr "&Ortografía…"

#: kstandardaction_p.h:115
msgid "Check spelling in document"
msgstr "Comprobar ortografía del documento"

#: kstandardaction_p.h:117
msgid "Show &Menubar"
msgstr "Mostrar la barra de &menú"

#: kstandardaction_p.h:117
msgid "Show or hide menubar"
msgstr "Mostrar u ocultar la barra de menú"

#: kstandardaction_p.h:118
msgid "Show &Toolbar"
msgstr "Mostrar la barra de herramien&tas"

#: kstandardaction_p.h:118
msgid "Show or hide toolbar"
msgstr "Mostrar u ocultar la barra de herramientas"

#: kstandardaction_p.h:119
msgid "Show St&atusbar"
msgstr "Mostrar la barra de &estado"

#: kstandardaction_p.h:119
msgid "Show or hide statusbar"
msgstr "Mostrar u ocultar la barra de estado"

#: kstandardaction_p.h:120
msgid "F&ull Screen Mode"
msgstr "Modo de pantalla c&ompleta"

#: kstandardaction_p.h:121
msgid "Configure Keyboard S&hortcuts…"
msgstr "Configurar los a&tajos de teclado…"

#: kstandardaction_p.h:122
#, kde-format
msgid "&Configure %1…"
msgstr "&Configurar %1…"

#: kstandardaction_p.h:123
msgid "Configure Tool&bars…"
msgstr "Configurar &barras de herramientas…"

#: kstandardaction_p.h:124
msgid "Configure &Notifications…"
msgstr "Configurar &notificaciones…"

#: kstandardaction_p.h:128
#, kde-format
msgid "%1 &Handbook"
msgstr "&Manual de %1"

#: kstandardaction_p.h:129
msgid "What's &This?"
msgstr "¿Qué es es&to?"

#: kstandardaction_p.h:130
msgid "&Report Bug…"
msgstr "&Informar de fallo…"

#: kstandardaction_p.h:131
msgid "Configure &Language…"
msgstr "Configurar &idioma…"

#: kstandardaction_p.h:132
#, kde-format
msgid "&About %1"
msgstr "&Acerca de %1"

#: kstandardaction_p.h:133
msgid "About &KDE"
msgstr "Acerca de &KDE"

#: kstandardaction_p.h:134
msgid "&Delete"
msgstr "&Borrar"

#: kstandardaction_p.h:135
msgid "&Rename…"
msgstr "Cambiar nomb&re…"

#: kstandardaction_p.h:136
msgid "&Move to Trash"
msgstr "&Mover a la papelera"

#: kstandardaction_p.h:137
msgid "&Donate"
msgstr "Hacer un &donativo"

#: kstandardaction_p.h:138
msgid "Open &Menu"
msgstr "Abrir &menú"

#: kstylemanager.cpp:74
#, kde-format
msgid "Application Style"
msgstr "Estilo de la aplicación"

#: kstylemanager.cpp:78
#, kde-format
msgid "Default"
msgstr "Predeterminado"
