[KCM Locale]
Name=Bengali (India)
Name[ca]=Bengalí (Índia)
Name[es]=Bengalí (India)
Name[ia]=Bengali (India)
Name[nl]=Bengaals (India)
Name[sl]=Bengalščina (Indija)
Name[tr]=Bengalce (Hindistan)
Name[uk]=бенгальська (Індія)
Name[x-test]=xxBengali (India)xx
