[KCM Locale]
Name=Norwegian Bokmål
Name[ca]=Noruec bokmål
Name[es]=Noruego bokmål
Name[ia]=Norvegiano Bokmål
Name[nl]=Noors Bokmål
Name[tr]=Bokmål Norveççesi
Name[uk]=норвезька букмол
