# translation of kdelibs4.po to Upper Sorbian
# translation of kdelibs4.po to
# Copyright (C) 2003,2004, 2005, 2007 Free Software Foundation, Inc.
# Eduard Werner <e.werner@rz.uni-leipzig.de>, 2003.
# Prof. Dr. Eduard Werner <e.werner@rz.uni-leipzig.de>, 2003,2004.
# Eduard Werner <edi.werner@gmx.de>, 2005.
# Eduard Werner/Edward Wornar <edi.werner@gmx.de>, 2007, 2008.
# Bianka Šwejdźic <hertn@gmx.de>, 2007, 2008.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2016-08-01 07:32+0000\n"
"PO-Revision-Date: 2008-12-19 22:49+0100\n"
"Last-Translator: Eduard Werner <edi.werner@gmx.de>\n"
"Language-Team: en_US <kde-i18n-doc@lists.kde.org>\n"
"Language: \n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=4; plural=n%100==1 ? 0 : n%100==2 ? 1 : n%100==3 || n"
"%100==4 ? 2 : 3;\n"
"X-Generator: KAider 0.1\n"

msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Edward Wornar"

msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "edi.werner@gmx.de"

#: kcmodule.cpp:166
msgid "You will be asked to authenticate before saving"
msgstr ""

#: kcmodule.cpp:170
#, fuzzy
#| msgid "Do you want to reload KDE configuration?"
msgid "You are not allowed to save the configuration"
msgstr "Chceće KDE-konfiguraciju znowa začitać?"

#: kcodecaction.cpp:90
msgctxt "Encodings menu"
msgid "Default"
msgstr "Standard"

#: kcodecaction.cpp:98
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Awtomatiske pytanje"

#: kconfigdialog.cpp:48
#, fuzzy
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "Konfiguracija"

#: klanguagebutton.cpp:194
msgid "without name"
msgstr "bjez mjena"

#: krecentfilesaction.cpp:78
#, fuzzy
#| msgid "No entries"
msgid "No Entries"
msgstr "Žane zapisy"

#: krecentfilesaction.cpp:84
#, fuzzy
#| msgid "Clear input"
msgid "Clear List"
msgstr "Input wuprózdnić"

#: kstandardaction.cpp:88
msgctxt "go back"
msgid "&Back"
msgstr "&Wróćo"

#: kstandardaction.cpp:95
msgctxt "go forward"
msgid "&Forward"
msgstr "&Doprědka"

#: kstandardaction.cpp:102
msgctxt "home page"
msgid "&Home"
msgstr "&Domjacy zapisk"

#: kstandardaction.cpp:105
msgctxt "show help"
msgid "&Help"
msgstr "Po&moc"

#: kstandardaction.cpp:141
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "Pokaž meni <p>Pokazuje meni po tym, zo je so schował</p>"

#: kstandardaction.cpp:151
#, fuzzy
#| msgid ""
#| "Show Statusbar<br /><br />Shows the statusbar, which is the bar at the "
#| "bottom of the window used for status information."
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Statusowy pas pokazać <p>Pokazuje statusowy pas, to je delni dźěl wokna, kiž "
"so za statusowu informaciju wužiwa."

#: kstandardaction_p.h:41
msgid "&New"
msgstr "&Stworić"

#: kstandardaction_p.h:41
#, fuzzy
#| msgid "Create New Tag..."
msgid "Create new document"
msgstr "Nowy tag stworić..."

#: kstandardaction_p.h:42
msgid "&Open..."
msgstr "W&očiń ..."

#: kstandardaction_p.h:42
#, fuzzy
#| msgid "&Back in the Document"
msgid "Open an existing document"
msgstr "W&róćo w dokumenće"

#: kstandardaction_p.h:43
msgid "Open &Recent"
msgstr "&Njedawno wočinjene wočinić"

#: kstandardaction_p.h:43
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:44
msgid "&Save"
msgstr "Zawě&sćić"

#: kstandardaction_p.h:44
#, fuzzy
#| msgid "Close Document"
msgid "Save document"
msgstr "Dokument začinić"

#: kstandardaction_p.h:45
msgid "Save &As..."
msgstr "Z&awěsćić jako..."

#: kstandardaction_p.h:45
#, fuzzy
#| msgid "Close Document"
msgid "Save document under a new name"
msgstr "Dokument začinić"

#: kstandardaction_p.h:46
msgid "Re&vert"
msgstr "&Wróćo na prěnjotny staw"

#: kstandardaction_p.h:46
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:47
msgid "&Close"
msgstr "&Začinić"

#: kstandardaction_p.h:47
#, fuzzy
#| msgid "Close Document"
msgid "Close document"
msgstr "Dokument začinić"

#: kstandardaction_p.h:48
msgid "&Print..."
msgstr "Ć&išćeć ..."

#: kstandardaction_p.h:48
#, fuzzy
#| msgctxt "keyboard-key-name"
#| msgid "PrintScreen"
msgid "Print document"
msgstr "Druck"

#: kstandardaction_p.h:49
msgid "Print Previe&w"
msgstr "Přeh&ladku za ćišć pokazać"

#: kstandardaction_p.h:49
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:50
msgid "&Mail..."
msgstr "&Póštu pósłać..."

#: kstandardaction_p.h:50
#, fuzzy
#| msgid "Close Document"
msgid "Send document by mail"
msgstr "Dokument začinić"

#: kstandardaction_p.h:51
msgid "&Quit"
msgstr "Kón&c"

#: kstandardaction_p.h:51
msgid "Quit application"
msgstr "Program wopušćić"

#: kstandardaction_p.h:53
msgid "&Undo"
msgstr "W&róćo"

#: kstandardaction_p.h:53
#, fuzzy
#| msgid "HTML documentation"
msgid "Undo last action"
msgstr "HTML-dokumentacija"

#: kstandardaction_p.h:54
msgid "Re&do"
msgstr "&Znowa činić"

#: kstandardaction_p.h:54
#, fuzzy
#| msgid "HTML documentation"
msgid "Redo last undone action"
msgstr "HTML-dokumentacija"

#: kstandardaction_p.h:55
msgid "Cu&t"
msgstr "Wu&třihać"

#: kstandardaction_p.h:55
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:56
msgid "&Copy"
msgstr "&Kopěrować"

#: kstandardaction_p.h:56
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "&Paste"
msgstr "&Zasunyć"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, fuzzy
#| msgid "Loading Preview"
msgid "Paste clipboard content"
msgstr "Začitam přehladku"

#: kstandardaction_p.h:59
msgid "C&lear"
msgstr "&Wuprózdnić"

#: kstandardaction_p.h:60
msgid "Select &All"
msgstr "&Wšitko wubrać"

#: kstandardaction_p.h:61
msgid "Dese&lect"
msgstr "Wubraće z&běhnyć"

#: kstandardaction_p.h:62
msgid "&Find..."
msgstr "Na&makać"

#: kstandardaction_p.h:63
msgid "Find &Next"
msgstr "Přicho&dny namakać"

#: kstandardaction_p.h:64
msgid "Find Pre&vious"
msgstr "Pře&dchadny namakać"

#: kstandardaction_p.h:65
msgid "&Replace..."
msgstr "&Narunać"

#: kstandardaction_p.h:67
msgid "&Actual Size"
msgstr "&Woprawdźita wulkosć"

#: kstandardaction_p.h:67
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:68
msgid "&Fit to Page"
msgstr "Na &stronu připrawić"

#: kstandardaction_p.h:68
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Zoom to fit page in window"
msgstr "Dźi na linku"

#: kstandardaction_p.h:69
msgid "Fit to Page &Width"
msgstr "Na šě&rokosć strony připrawić"

#: kstandardaction_p.h:69
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:70
msgid "Fit to Page &Height"
msgstr "Na wy&sokosć strony připrawić"

#: kstandardaction_p.h:70
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:71
msgid "Zoom &In"
msgstr "Po&wjetšić"

#: kstandardaction_p.h:72
msgid "Zoom &Out"
msgstr "Po&mjeńšić"

#: kstandardaction_p.h:73
msgid "&Zoom..."
msgstr "&Zoom..."

#: kstandardaction_p.h:73
#, fuzzy
#| msgid "Select a week"
msgid "Select zoom level"
msgstr "Wubjerće tydźeń"

#: kstandardaction_p.h:74
msgid "&Redisplay"
msgstr "&Wobraz aktualizować"

#: kstandardaction_p.h:74
#, fuzzy
#| msgid "&Redisplay"
msgid "Redisplay document"
msgstr "&Wobraz aktualizować"

#: kstandardaction_p.h:76
msgid "&Up"
msgstr "&Horje"

#: kstandardaction_p.h:76
msgid "Go up"
msgstr ""

#: kstandardaction_p.h:81
msgid "&Previous Page"
msgstr "&Předchadna strona"

#: kstandardaction_p.h:81
#, fuzzy
#| msgid "&Previous Page"
msgid "Go to previous page"
msgstr "&Předchadna strona"

#: kstandardaction_p.h:82
msgid "&Next Page"
msgstr "Při&chodna strona"

#: kstandardaction_p.h:82
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to next page"
msgstr "Dźi na linku"

#: kstandardaction_p.h:83
msgid "&Go To..."
msgstr "&Dźi na ..."

#: kstandardaction_p.h:84
msgid "&Go to Page..."
msgstr "&Dźi na stronu ..."

#: kstandardaction_p.h:85
msgid "&Go to Line..."
msgstr "&Dźi na linku..."

#: kstandardaction_p.h:86
msgid "&First Page"
msgstr "&Prěnja strona"

#: kstandardaction_p.h:86
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to first page"
msgstr "Dźi na linku"

#: kstandardaction_p.h:87
msgid "&Last Page"
msgstr "&Poslednja strona"

#: kstandardaction_p.h:87
#, fuzzy
#| msgid "&Go to Page..."
msgid "Go to last page"
msgstr "&Dźi na stronu ..."

#: kstandardaction_p.h:88
msgid "&Back"
msgstr "&Wróćo"

#: kstandardaction_p.h:88
#, fuzzy
#| msgid "&Back in the Document"
msgid "Go back in document"
msgstr "W&róćo w dokumenće"

#: kstandardaction_p.h:89
#, fuzzy
#| msgctxt "go forward"
#| msgid "&Forward"
msgid "&Forward"
msgstr "&Doprědka"

#: kstandardaction_p.h:89
#, fuzzy
#| msgid "&Forward in the Document"
msgid "Go forward in document"
msgstr "&Dale w dokumenće"

#: kstandardaction_p.h:91
msgid "&Add Bookmark"
msgstr "&Dodaj k lubuškam"

#: kstandardaction_p.h:92
#, fuzzy
#| msgid "&Edit Bookmarks"
msgid "&Edit Bookmarks..."
msgstr "Lubuški &wobdźěłać"

#: kstandardaction_p.h:94
msgid "&Spelling..."
msgstr "&Pismikowanje"

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "Check Spelling"
msgid "Check spelling in document"
msgstr "Přepruwuj prawopis"

#: kstandardaction_p.h:96
msgid "Show &Menubar"
msgstr "&Meni pokazać"

#: kstandardaction_p.h:96
#, fuzzy
#| msgid "Show &Menubar"
msgid "Show or hide menubar"
msgstr "&Meni pokazać"

#: kstandardaction_p.h:97
msgid "Show &Toolbar"
msgstr "&Nastrojowy pas pokazać"

#: kstandardaction_p.h:97
#, fuzzy
#| msgctxt "@action"
#| msgid "Show Toolbar"
msgid "Show or hide toolbar"
msgstr "Nastrojowy pas pokazać"

#: kstandardaction_p.h:98
msgid "Show St&atusbar"
msgstr "Pokaž &statusowy pask"

#: kstandardaction_p.h:98
#, fuzzy
#| msgctxt "@action"
#| msgid "Show Statusbar"
msgid "Show or hide statusbar"
msgstr "Pokaž statusowy pask"

#: kstandardaction_p.h:99
msgid "F&ull Screen Mode"
msgstr "&Cyła wobrazowka"

#: kstandardaction_p.h:100
msgid "&Save Settings"
msgstr "Konfiguraciju zawě&sćić"

#: kstandardaction_p.h:101
msgid "Configure S&hortcuts..."
msgstr "Konfiguracija &skrótšenkow..."

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "%1 &konfigurować ..."

#: kstandardaction_p.h:103
msgid "Configure Tool&bars..."
msgstr "Konfiguracija &nastrojoweho paska ..."

#: kstandardaction_p.h:104
msgid "Configure &Notifications..."
msgstr "Ko&nfiguracija zdźělenkow..."

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "&Přiručka za %1"

#: kstandardaction_p.h:110
msgid "What's &This?"
msgstr "Što &to je?"

#: kstandardaction_p.h:111
msgid "Tip of the &Day"
msgstr "Pokiw &dnja"

#: kstandardaction_p.h:112
msgid "&Report Bug..."
msgstr "&Rozprawić wo zmylku"

#: kstandardaction_p.h:113
msgid "Switch Application &Language..."
msgstr "Rěč programa &změnić..."

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "W&o %1"

#: kstandardaction_p.h:115
msgid "About &KDE"
msgstr "Wo &KDE"

#: kstandardaction_p.h:116
#, fuzzy
#| msgid "&Delete"
msgid "&Delete File"
msgstr "Z&ničić"

#: kstandardaction_p.h:117
#, fuzzy
#| msgid "&Send Files"
msgid "&Rename File"
msgstr "&Dataje pósłać"

#: kstandardaction_p.h:118
msgid "&Move to Trash"
msgstr ""

#: ktipdialog.cpp:238
#, fuzzy
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Pokiw dnja"

#: ktipdialog.cpp:254
#, fuzzy
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Wěsće hižo ...?\n"

#: ktipdialog.cpp:306
#, fuzzy
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "&Pokaž pokiwy při startowanju"

#: ktipdialog.cpp:311
#, fuzzy
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "P&rjedawši"

#: ktipdialog.cpp:316
#, fuzzy
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "Přichod&ne"
