# Copyright (C) 2025 This file is copyright:
# This file is distributed under the same license as the kconfigwidgets package.
#
# SPDX-FileCopyrightText: 2025-2026 Kisaragi Hiu <mail@kisaragi-hiu.com>
msgid ""
msgstr ""
"Project-Id-Version: kconfigwidgets\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2026-05-18 00:40+0000\n"
"PO-Revision-Date: 2026-07-18 01:32+0900\n"
"Last-Translator: Kisaragi Hiu <mail@kisaragi-hiu.com>\n"
"Language-Team: Min Nan Chinese <zh-l10n@lists.slat.org>\n"
"Language: nan_TW\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=1; plural=0;\n"
"X-Generator: Lokalize 26.07.70\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Kisaragi Hiu"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "mail@kisaragi-hiu.com"

#: kcodecaction.cpp:62
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "預設"

#: kcodecaction.cpp:70
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "自動偵測"

#: kcolorschememenu.cpp:24
#, kde-format
msgid "Color Scheme"
msgstr "配色方案"

#: kcommandbar.cpp:660
#, kde-format
msgid "No commands to display"
msgstr "無欲顯示 ê 指令"

#: kcommandbar.cpp:662
#, kde-format
msgid "No commands matching the filter"
msgstr "無符合濾仔 ê 指令"

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "設定"

#: khamburgermenu.cpp:125
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "選單(&M)"

#: khamburgermenu.cpp:325
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "顯示有所有動作的選單列(&M)"

#: khamburgermenu.cpp:351
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "較濟"

#: khamburgermenu.cpp:352
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "較濟動作"

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "無項目"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "清除單"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "轉去(&B)"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "向前(&F)"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "頭頁(&H)"

#: kstandardaction.cpp:230
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "顯示選單列<p>選單列隱藏了後閣 kā 伊顯示</p>"

#: kstandardaction.cpp:251
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr "顯示狀態列<p>顯示視窗下跤表示狀態資訊 ê 狀態列。</p>"

#: kstandardaction_p.h:63
msgid "&New"
msgstr "建立(&N)"

#: kstandardaction_p.h:63
msgid "Create new document"
msgstr "建立新的文件"

#: kstandardaction_p.h:64
msgid "&Open…"
msgstr "拍開(&O)…"

#: kstandardaction_p.h:64
msgid "Open an existing document"
msgstr "開現存文件"

#: kstandardaction_p.h:65
msgid "Open &Recent"
msgstr "開近來用--ê(&R)"

#: kstandardaction_p.h:65
msgid "Open a document which was recently opened"
msgstr "開最近有開過的文件"

#: kstandardaction_p.h:66
msgid "&Save"
msgstr "儲存(&S)"

#: kstandardaction_p.h:66
msgid "Save document"
msgstr "儲存文件"

#: kstandardaction_p.h:67
msgid "Save &As…"
msgstr "用別个名儲存(&A)…"

#: kstandardaction_p.h:67
msgid "Save document under a new name"
msgstr "用新的名儲存文件"

#: kstandardaction_p.h:68
msgid "Re&vert"
msgstr "回復(&V)"

#: kstandardaction_p.h:68
msgid "Revert unsaved changes made to document"
msgstr "Kā 文件猶未儲存 ê 變更回復掉"

#: kstandardaction_p.h:69
msgid "&Close"
msgstr "關(&C)"

#: kstandardaction_p.h:69
msgid "Close document"
msgstr "關掉文件"

#: kstandardaction_p.h:70
msgid "&Print…"
msgstr "列印(&P)…"

#: kstandardaction_p.h:70
msgid "Print document"
msgstr "列印文件"

#: kstandardaction_p.h:71
msgid "Print Previe&w"
msgstr "預覽列印(&W)"

#: kstandardaction_p.h:71
msgid "Show a print preview of document"
msgstr "顯示文件 ê 列印了後 ê 結果 ê 預覽"

#: kstandardaction_p.h:72
msgid "&Mail…"
msgstr "E&mail…"

#: kstandardaction_p.h:72
msgid "Send document by mail"
msgstr "用 email 傳文件"

#: kstandardaction_p.h:73
msgid "&Quit"
msgstr "離開(&Q)"

#: kstandardaction_p.h:73
msgid "Quit application"
msgstr "離開應用程式"

#: kstandardaction_p.h:75
msgid "&Undo"
msgstr "復原(&U)"

#: kstandardaction_p.h:75
msgid "Undo last action"
msgstr "復原頂改 ê 動作"

#: kstandardaction_p.h:76
msgid "Re&do"
msgstr "取消復原"

#: kstandardaction_p.h:76
msgid "Redo last undone action"
msgstr "Kah 頂改復原 ê 動作 koh 做一擺"

#: kstandardaction_p.h:77
msgid "Cu&t"
msgstr "鉸落來(&T)"

#: kstandardaction_p.h:77
msgid "Cut selection to clipboard"
msgstr "Kā 選的鉸落來到剪貼簿"

#: kstandardaction_p.h:78
msgid "&Copy"
msgstr "Khóo-pih(&C)"

#: kstandardaction_p.h:78
msgid "Copy selection to clipboard"
msgstr "Kā 選的 khóo-pih 到剪貼簿"

#: kstandardaction_p.h:79
msgid "&Paste"
msgstr "Tah--khí-khì(&P)"

#: kstandardaction_p.h:79
msgid "Paste clipboard content"
msgstr "Kā 剪貼簿的內容貼起去"

#: kstandardaction_p.h:80
msgid "C&lear"
msgstr "清除(&L)"

#: kstandardaction_p.h:81
msgid "Select &All"
msgstr "全選(&A)"

#: kstandardaction_p.h:82
msgid "Dese&lect"
msgstr "莫選(&L)"

#: kstandardaction_p.h:83
msgid "&Find…"
msgstr "揣(&F)…"

#: kstandardaction_p.h:84
msgid "Find &Next"
msgstr "揣下一个(&N)"

#: kstandardaction_p.h:85
msgid "Find Pre&vious"
msgstr "揣頂一个(&V)"

#: kstandardaction_p.h:86
msgid "&Replace…"
msgstr "取代(&R)…"

#: kstandardaction_p.h:88
msgid "Zoom to &Actual Size"
msgstr "放大到實際大細(&A)"

#: kstandardaction_p.h:88
msgid "View document at its actual size"
msgstr "用實際 ê 大細檢視文件"

#: kstandardaction_p.h:89
msgid "&Fit to Page"
msgstr "符合頁(&F)"

#: kstandardaction_p.h:89
msgid "Zoom to fit page in window"
msgstr "放大到頁符合視窗 ê 大細"

#: kstandardaction_p.h:90
msgid "Fit to Page &Width"
msgstr "符合頁寬(&W)"

#: kstandardaction_p.h:90
msgid "Zoom to fit page width in window"
msgstr "放大到頁 ê 闊度符合視窗"

#: kstandardaction_p.h:91
msgid "Fit to Page &Height"
msgstr "符合頁懸(&H)"

#: kstandardaction_p.h:91
msgid "Zoom to fit page height in window"
msgstr "放大到頁 ê 懸度符合視窗"

#: kstandardaction_p.h:92
msgid "Zoom &In"
msgstr "放大(&I)"

#: kstandardaction_p.h:93
msgid "Zoom &Out"
msgstr "縮小(&O)"

#: kstandardaction_p.h:94
msgid "&Zoom…"
msgstr "放大縮小(&Z)…"

#: kstandardaction_p.h:94
msgid "Select zoom level"
msgstr "選放大程度"

#: kstandardaction_p.h:95
msgid "&Refresh"
msgstr "重整理(&R)"

#: kstandardaction_p.h:95
msgid "Refresh document"
msgstr "重整理文件"

#: kstandardaction_p.h:97
msgid "&Up"
msgstr "往上(&U)"

#: kstandardaction_p.h:97
msgid "Go up"
msgstr "往上去"

#: kstandardaction_p.h:102
msgid "&Previous Page"
msgstr "頂一頁(&P)"

#: kstandardaction_p.h:102
msgid "Go to previous page"
msgstr "前往頂一頁"

#: kstandardaction_p.h:103
msgid "&Next Page"
msgstr "下一頁(&N)"

#: kstandardaction_p.h:103
msgid "Go to next page"
msgstr "前往下一頁"

#: kstandardaction_p.h:104
msgid "&Go To…"
msgstr "前往(&G)…"

#: kstandardaction_p.h:105
msgid "&Go to Page…"
msgstr "前往頁(&G)…"

#: kstandardaction_p.h:106
msgid "&Go to Line…"
msgstr "前往行(&O)…"

#: kstandardaction_p.h:107
msgid "&First Page"
msgstr "頭頁(&F)"

#: kstandardaction_p.h:107
msgid "Go to first page"
msgstr "前往頭頁"

#: kstandardaction_p.h:108
msgid "&Last Page"
msgstr "尾頁(&L)"

#: kstandardaction_p.h:108
msgid "Go to last page"
msgstr "前往尾頁"

#: kstandardaction_p.h:109
msgid "&Back"
msgstr "向後(&B)"

#: kstandardaction_p.h:109
msgid "Go back in document"
msgstr "佇文件內底向後"

#: kstandardaction_p.h:110
msgid "&Forward"
msgstr "向前(&F)"

#: kstandardaction_p.h:110
msgid "Go forward in document"
msgstr "佇文件內底向前"

#: kstandardaction_p.h:112
msgid "&Add Bookmark"
msgstr "添書籤(&A)"

#: kstandardaction_p.h:113
msgid "&Edit Bookmarks…"
msgstr "編輯書籤(&E)…"

#: kstandardaction_p.h:115
msgid "&Spelling…"
msgstr "檢查拼字(&S)…"

#: kstandardaction_p.h:115
msgid "Check spelling in document"
msgstr "檢查文件拼字"

#: kstandardaction_p.h:117
msgid "Show &Menubar"
msgstr "顯示選單列"

#: kstandardaction_p.h:117
msgid "Show or hide menubar"
msgstr "切換顯示選單列"

#: kstandardaction_p.h:118
msgid "Show &Toolbar"
msgstr "顯示工具列(&T)"

#: kstandardaction_p.h:118
msgid "Show or hide toolbar"
msgstr "切換顯示工具列"

#: kstandardaction_p.h:119
msgid "Show St&atusbar"
msgstr "顯示狀態列(&A)"

#: kstandardaction_p.h:119
msgid "Show or hide statusbar"
msgstr "切換顯示狀態列"

#: kstandardaction_p.h:120
msgid "F&ull Screen Mode"
msgstr "全螢幕模式(&U)"

#: kstandardaction_p.h:121
msgid "Configure Keyboard S&hortcuts…"
msgstr "設定齒盤快速齒(&H)…"

#: kstandardaction_p.h:122
#, kde-format
msgid "&Configure %1…"
msgstr "設定 %1(&C)…"

#: kstandardaction_p.h:123
msgid "Configure Tool&bars…"
msgstr "設定工具列(&B)…"

#: kstandardaction_p.h:124
msgid "Configure &Notifications…"
msgstr "設定通知(&N)…"

#: kstandardaction_p.h:128
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 手冊(&H)"

#: kstandardaction_p.h:129
msgid "What's &This?"
msgstr "這是啥(&T)？"

#: kstandardaction_p.h:130
msgid "&Report Bug…"
msgstr "回報錯誤(&R)…"

#: kstandardaction_p.h:131
msgid "Configure &Language…"
msgstr "設定語言(&L)…"

#: kstandardaction_p.h:132
#, kde-format
msgid "&About %1"
msgstr "%1 的紹介(&A)"

#: kstandardaction_p.h:133
msgid "About &KDE"
msgstr "KDE 的紹介(&K)"

#: kstandardaction_p.h:134
msgid "&Delete"
msgstr "刣掉(&D)"

#: kstandardaction_p.h:135
msgid "&Rename…"
msgstr "改名(&R)…"

#: kstandardaction_p.h:136
msgid "&Move to Trash"
msgstr "徙去糞埽桶(&M)"

#: kstandardaction_p.h:137
msgid "&Donate"
msgstr "寄付(&D)"

#: kstandardaction_p.h:138
msgid "Open &Menu"
msgstr "拍開選單(&M)"

#: kstylemanager.cpp:74
#, kde-format
msgid "Application Style"
msgstr "應用程式風格"

#: kstylemanager.cpp:84
#, kde-format
msgid "Default"
msgstr "標準"
