[KCM Locale]
Name=Oriya
Name[ca]=Oriya
Name[es]=Oriya
Name[ia]=Oriya
Name[nl]=Oriya
Name[sl]=Orijščina
Name[tr]=Oriya Dili
Name[uk]=орія
Name[x-test]=xxOriyaxx
