[KCM Locale]
Name=Slovenian
Name[ca]=Eslovè
Name[es]=Esloveno
Name[ia]=Sloveno
Name[nl]=Sloveens
Name[sl]=Slovenščina
Name[tr]=Slovence
Name[uk]=словенська
Name[x-test]=xxSlovenianxx
