[KCM Locale]
Name=Bosnian
Name[ca]=Bosnià
Name[es]=Bosnio
Name[ia]=Bosniano
Name[nl]=Bosnisch
Name[sl]=Bosanščina
Name[tr]=Boşnakça
Name[uk]=боснійська
Name[x-test]=xxBosnianxx
