[KCM Locale]
Name=Spanish
Name[ca]=Espanyol
Name[es]=Español
Name[ia]=Espaniol 
Name[nl]=Spaans
Name[sl]=Španščina
Name[tr]=İspanyolca
Name[uk]=іспанська
Name[x-test]=xxSpanishxx
