[KCM Locale]
Name=Catalan (Valencian)
Name[ca]=Català (Valencià)
Name[es]=Catalán (valenciano)
Name[ia]=Catalan (Valencian)
Name[nl]=Catalaans (Valentiaans)
Name[tr]=Katalanca (Valensiya)
Name[uk]=каталонська (валенсійський діалект)

