[KCM Locale]
Name=Catalan (Valencian)
Name[ia]=Catalan (Valencian)
Name[nl]=Catalaans (Valentiaans)
Name[tr]=Katalanca (Valensiya)
Name[uk]=каталонська (валенсійський діалект)

