# translation of kdelibs4.po to Latvian
# kdelibs.po tulkojums uz Latviešu valodu
# Copyright (C) 2005, 2006, 2007, 2008, 2009, 2010, 2011 Free Software Foundation, Inc.
#
# Maris Nartiss <maris.nartiss@gmail.com>, 2005.
# Maris Nartiss <maris.kde@gmail.com>, 2006, 2007, 2008, 2009, 2010, 2011, 2020.
# Linux localization project <viesturs.zarins@mii.lu.lv>, 2007.
# Viesturs Zarins <viesturs.zarins@mii.lu.lv>, 2007, 2008, 2010.
# Viesturs Zariņš <viesturs.zarins@mii.lu.lv>, 2009.
# Einars Sprugis <einars8@gmail.com>, 2009.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2021-02-28 02:21+0100\n"
"PO-Revision-Date: 2020-11-13 10:45+0200\n"
"Last-Translator: Maris Nartiss <maris.kde@gmail.com>\n"
"Language-Team: Latvian <kde-i18n-doc@kde.org>\n"
"Language: lv\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=3; plural=(n%10==1 && n%100!=11 ? 0 : n != 0 ? 1 : "
"2);\n"
"X-Launchpad-Export-Date: 2007-11-22 17:44+0000\n"
"X-Generator: Lokalize 20.08.3\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Viesturs Zariņš, Māris Nartišs"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "viesturs.zarins@mi.lu.lv, maris.kde@gmail.com"

#: kcmodule.cpp:185
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "Jums prasīs autentificēties pirms saglabāšanas"

#: kcmodule.cpp:189
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "Jums nav atļaujas saglabāt konfigurāciju"

#: kcodecaction.cpp:66
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Noklusētais"

#: kcodecaction.cpp:74
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Autonoteikt"

#: kcolorschememanager.cpp:147
#, kde-format
msgid "Default"
msgstr "Noklusētais"

#: kcolorschememanager.cpp:224 kcolorschememanager.cpp:229
#, kde-format
msgid "Color Scheme"
msgstr "Krāsu shēma"

#: kconfigdialog.cpp:33
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Konfigurēt"

#: krecentfilesaction.cpp:68
#, kde-format
msgid "No Entries"
msgstr "Nav ierakstu"

#: krecentfilesaction.cpp:74
#, kde-format
msgid "Clear List"
msgstr "Tīrīt sarakstu"

#: kstandardaction.cpp:139
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Atpakaļ"

#: kstandardaction.cpp:146
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "Uz &priekšu"

#: kstandardaction.cpp:153
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Mājas"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&Palīdzība"

#: kstandardaction.cpp:214
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "Rādīt izvēlnes joslu <p>Parāda izvēlnes joslu, ja tā ir noslēpta</p>"

#: kstandardaction.cpp:235
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Rādīt stāvokļjoslu<p>Parāda stāvokļjoslu - tā ir josla loga apakšā, kas "
"parāda stāvokļa informāciju.</p>"

#: kstandardaction_p.h:29
#, kde-format
msgid "&New"
msgstr "&Jauns"

#: kstandardaction_p.h:29
#, kde-format
msgid "Create new document"
msgstr "Izveidot jaunu dokumentu"

#: kstandardaction_p.h:30
#, kde-format
msgid "&Open..."
msgstr "&Atvērt..."

#: kstandardaction_p.h:30
#, kde-format
msgid "Open an existing document"
msgstr "Atvērt eksistējošu dokumentu"

#: kstandardaction_p.h:31
#, kde-format
msgid "Open &Recent"
msgstr "Atvērt &nesenu"

#: kstandardaction_p.h:31
#, kde-format
msgid "Open a document which was recently opened"
msgstr "Atvērt nesen atvērtu dokumentu"

#: kstandardaction_p.h:32
#, kde-format
msgid "&Save"
msgstr "&Saglabāt"

#: kstandardaction_p.h:32
#, kde-format
msgid "Save document"
msgstr "Saglabāt dokumentu"

#: kstandardaction_p.h:33
#, kde-format
msgid "Save &As..."
msgstr "Saglabāt &kā..."

#: kstandardaction_p.h:33
#, kde-format
msgid "Save document under a new name"
msgstr "Saglabāt dokumentu ar jaunu nosaukumu"

#: kstandardaction_p.h:34
#, kde-format
msgid "Re&vert"
msgstr "At&statīt"

#: kstandardaction_p.h:34
#, kde-format
msgid "Revert unsaved changes made to document"
msgstr "Atstatīt dokumentā izdarītās nesaglabātās izmaiņas"

#: kstandardaction_p.h:35
#, kde-format
msgid "&Close"
msgstr "&Aizvērt"

#: kstandardaction_p.h:35
#, kde-format
msgid "Close document"
msgstr "Aizvērt dokumentu"

#: kstandardaction_p.h:36
#, kde-format
msgid "&Print..."
msgstr "&Drukāt..."

#: kstandardaction_p.h:36
#, kde-format
msgid "Print document"
msgstr "Drukāt dokumentu"

#: kstandardaction_p.h:37
#, kde-format
msgid "Print Previe&w"
msgstr "Drukas &priekšskatījums"

#: kstandardaction_p.h:37
#, kde-format
msgid "Show a print preview of document"
msgstr "Rādīt dokumenta drukas priekšskatījumu"

#: kstandardaction_p.h:38
#, kde-format
msgid "&Mail..."
msgstr "&Pasts..."

#: kstandardaction_p.h:38
#, kde-format
msgid "Send document by mail"
msgstr "Nosūtīt dokumentu pa e-pastu"

#: kstandardaction_p.h:39
#, kde-format
msgid "&Quit"
msgstr "&Iziet"

#: kstandardaction_p.h:39
#, kde-format
msgid "Quit application"
msgstr "Iziet no programmas"

#: kstandardaction_p.h:41
#, kde-format
msgid "&Undo"
msgstr "&Atsaukt"

#: kstandardaction_p.h:41
#, kde-format
msgid "Undo last action"
msgstr "Atsaukt pēdējo darbību"

#: kstandardaction_p.h:42
#, kde-format
msgid "Re&do"
msgstr "Atkā&rtot"

#: kstandardaction_p.h:42
#, kde-format
msgid "Redo last undone action"
msgstr "Atkārtoti darīt pēdējo atsaukto darbību"

#: kstandardaction_p.h:43
#, kde-format
msgid "Cu&t"
msgstr "Izgriez&t"

#: kstandardaction_p.h:43
#, kde-format
msgid "Cut selection to clipboard"
msgstr "Izgriezt izvēli un ievietot starpliktuvē"

#: kstandardaction_p.h:44
#, kde-format
msgid "&Copy"
msgstr "&Kopēt"

#: kstandardaction_p.h:44
#, kde-format
msgid "Copy selection to clipboard"
msgstr "Kopēt izvēli uz starpliktuvi"

#: kstandardaction_p.h:45 kstandardaction_p.h:47
#, kde-format
msgid "&Paste"
msgstr "&Ielīmēt"

#: kstandardaction_p.h:45 kstandardaction_p.h:47
#, kde-format
msgid "Paste clipboard content"
msgstr "Ielīmēt starpliktuves saturu"

#: kstandardaction_p.h:49
#, kde-format
msgid "C&lear"
msgstr "T&īrīt"

#: kstandardaction_p.h:50
#, kde-format
msgid "Select &All"
msgstr "Iezīmēt &visu"

#: kstandardaction_p.h:51
#, kde-format
msgid "Dese&lect"
msgstr "&Noņemt iezīmējumu"

#: kstandardaction_p.h:52
#, kde-format
msgid "&Find..."
msgstr "&Meklēt..."

#: kstandardaction_p.h:53
#, kde-format
msgid "Find &Next"
msgstr "Meklēt &nākamo"

#: kstandardaction_p.h:54
#, kde-format
msgid "Find Pre&vious"
msgstr "Meklēt &iepriekšējo"

#: kstandardaction_p.h:55
#, kde-format
msgid "&Replace..."
msgstr "&Aizvietot..."

#: kstandardaction_p.h:57
#, kde-format
msgid "&Actual Size"
msgstr "F&aktiskais Izmērs"

#: kstandardaction_p.h:57
#, kde-format
msgid "View document at its actual size"
msgstr "Aplūkot dokumentu tā patiesajā izmērā"

#: kstandardaction_p.h:58
#, kde-format
msgid "&Fit to Page"
msgstr "&Ietilpināt lapu"

#: kstandardaction_p.h:58
#, kde-format
msgid "Zoom to fit page in window"
msgstr "Tuvināt tā, lai ietilpst logā"

#: kstandardaction_p.h:59
#, kde-format
msgid "Fit to Page &Width"
msgstr "Ietilpināt lapas &platumā"

#: kstandardaction_p.h:59
#, kde-format
msgid "Zoom to fit page width in window"
msgstr "Tuvināt tā, lai lapas platums ir loga platumā"

#: kstandardaction_p.h:60
#, kde-format
msgid "Fit to Page &Height"
msgstr "Ietilpināt lapas &augstumā"

#: kstandardaction_p.h:60
#, kde-format
msgid "Zoom to fit page height in window"
msgstr "Tuvināt tā, lai lapas augstums ietilpst logā"

#: kstandardaction_p.h:61
#, kde-format
msgid "Zoom &In"
msgstr "Pa&lielināt"

#: kstandardaction_p.h:62
#, kde-format
msgid "Zoom &Out"
msgstr "Sa&mazināt"

#: kstandardaction_p.h:63
#, kde-format
msgid "&Zoom..."
msgstr "&Mērogs..."

#: kstandardaction_p.h:63
#, kde-format
msgid "Select zoom level"
msgstr "Izvēlēties mēroga līmeni"

#: kstandardaction_p.h:64
#, kde-format
msgid "&Refresh"
msgstr "&Atsvaidzināt"

#: kstandardaction_p.h:64
#, kde-format
msgid "Refresh document"
msgstr "Atsvaidzināt dokumentu"

#: kstandardaction_p.h:66
#, kde-format
msgid "&Up"
msgstr "&Uz augšu"

#: kstandardaction_p.h:66
#, kde-format
msgid "Go up"
msgstr "Iet uz augšu"

#: kstandardaction_p.h:71
#, kde-format
msgid "&Previous Page"
msgstr "&Iepriekšējā lapa"

#: kstandardaction_p.h:71
#, kde-format
msgid "Go to previous page"
msgstr "Iet uz iepriekšējo lapu"

#: kstandardaction_p.h:72
#, kde-format
msgid "&Next Page"
msgstr "&Nākamā lapa"

#: kstandardaction_p.h:72
#, kde-format
msgid "Go to next page"
msgstr "Iet uz nākošo lapu"

#: kstandardaction_p.h:73
#, kde-format
msgid "&Go To..."
msgstr "&Iet uz..."

#: kstandardaction_p.h:74
#, kde-format
msgid "&Go to Page..."
msgstr "&Iet uz lapu..."

#: kstandardaction_p.h:75
#, kde-format
msgid "&Go to Line..."
msgstr "&Iet uz rindu..."

#: kstandardaction_p.h:76
#, kde-format
msgid "&First Page"
msgstr "&Pirmā lapa"

#: kstandardaction_p.h:76
#, kde-format
msgid "Go to first page"
msgstr "Iet uz pirmo lapu"

#: kstandardaction_p.h:77
#, kde-format
msgid "&Last Page"
msgstr "&Pēdējā lapa"

#: kstandardaction_p.h:77
#, kde-format
msgid "Go to last page"
msgstr "Iet uz pēdējo lapu"

#: kstandardaction_p.h:78
#, kde-format
msgid "&Back"
msgstr "&Atpakaļ"

#: kstandardaction_p.h:78
#, kde-format
msgid "Go back in document"
msgstr "Iet atpakaļ dokumentā"

#: kstandardaction_p.h:79
#, kde-format
msgid "&Forward"
msgstr "Uz &priekšu"

#: kstandardaction_p.h:79
#, kde-format
msgid "Go forward in document"
msgstr "Iet uz priekšu dokumentā"

#: kstandardaction_p.h:81
#, kde-format
msgid "&Add Bookmark"
msgstr "&Pievienot grāmatzīmi"

#: kstandardaction_p.h:82
#, kde-format
msgid "&Edit Bookmarks..."
msgstr "&Rediģēt grāmatzīmes..."

#: kstandardaction_p.h:84
#, kde-format
msgid "&Spelling..."
msgstr "&Pareizrakstība..."

#: kstandardaction_p.h:84
#, kde-format
msgid "Check spelling in document"
msgstr "Pārbaudīt dokumenta pareizrakstību"

#: kstandardaction_p.h:86
#, kde-format
msgid "Show &Menubar"
msgstr "Rādīt &izvēlnes joslu"

#: kstandardaction_p.h:86
#, kde-format
msgid "Show or hide menubar"
msgstr "Parādīt vai paslēpt izvēlnes joslu"

#: kstandardaction_p.h:87
#, kde-format
msgid "Show &Toolbar"
msgstr "Rādīt &rīkjoslu"

#: kstandardaction_p.h:87
#, kde-format
msgid "Show or hide toolbar"
msgstr "Parādīt vai paslēpt rīkjoslu"

#: kstandardaction_p.h:88
#, kde-format
msgid "Show St&atusbar"
msgstr "Rādīt st&āvokļjoslu"

#: kstandardaction_p.h:88
#, kde-format
msgid "Show or hide statusbar"
msgstr "Parādīt vai paslēpt stāvokļjoslu"

#: kstandardaction_p.h:89
#, kde-format
msgid "F&ull Screen Mode"
msgstr "Pilnekrāna &režīms"

#: kstandardaction_p.h:91
#, kde-format
msgid "&Save Settings"
msgstr "&Saglabāt iestatījumus"

#: kstandardaction_p.h:93
#, kde-format
msgid "Configure Keyboard S&hortcuts..."
msgstr "Konfigurēt tastatūras &īsceļus..."

#: kstandardaction_p.h:94
#, kde-format
msgid "&Configure %1..."
msgstr "&Konfigurēt %1..."

#: kstandardaction_p.h:95
#, kde-format
msgid "Configure Tool&bars..."
msgstr "Konfigurēt rīk&joslas..."

#: kstandardaction_p.h:96
#, kde-format
msgid "Configure &Notifications..."
msgstr "Konfigurēt &paziņojumus..."

#: kstandardaction_p.h:103
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 &rokasgrāmata"

#: kstandardaction_p.h:104
#, kde-format
msgid "What's &This?"
msgstr "Kas &tas ir?"

#: kstandardaction_p.h:105
#, kde-format
msgid "Tip of the &Day"
msgstr "&Dienas padoms"

#: kstandardaction_p.h:106
#, kde-format
msgid "&Report Bug..."
msgstr "&Ziņot par kļūdu..."

#: kstandardaction_p.h:107
#, kde-format
msgid "Configure &Language..."
msgstr "Konfigurēt va&lodu..."

#: kstandardaction_p.h:108
#, kde-format
msgid "&About %1"
msgstr "&Par %1"

#: kstandardaction_p.h:109
#, kde-format
msgid "About &KDE"
msgstr "Par &KDE"

#: kstandardaction_p.h:110
#, kde-format
msgid "&Delete"
msgstr "&Dzēst"

#: kstandardaction_p.h:111
#, kde-format
msgid "&Rename..."
msgstr "Pā&rdēvēt..."

#: kstandardaction_p.h:112
#, kde-format
msgid "&Move to Trash"
msgstr "Pārvietot uz &miskasti"

#: kstandardaction_p.h:113
#, kde-format
msgid "&Donate"
msgstr "Zie&dot"

#: ktipdialog.cpp:217
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Dienas padoms"

#: ktipdialog.cpp:233
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Vai jūs zināt...?\n"

#: ktipdialog.cpp:286
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "&Rādīt padomus pie palaišanas"

#: ktipdialog.cpp:291
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "Ie&priekšējais"

#: ktipdialog.cpp:296
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Nākamais"
