[KCM Locale]
Name=Norwegian Nynorsk
Name[ca]=Noruec nynorsk
Name[es]=Noruego nynorsk
Name[ia]=Norvegiano Nynorsk
Name[nl]=Noors Nynorsk
Name[tr]=Nynorsk Norveççesi
Name[uk]=норвезька нюноршк
