[KCM Locale]
Name=Upper Sorbian
Name[ca]=Alt sòrab
Name[es]=Alto sorabo
Name[ia]=Alto Sorbiano 
Name[nl]=Oppersorbisch
Name[sl]=Gornjelužiška srbščina
Name[tr]=Yukarı Sorbça
Name[uk]=верхньолужицька
Name[x-test]=xxUpper Sorbianxx
