# Translation of kconfigwidgets5 to Norwegian Bokmål
#
# Knut Yrvin <knut.yrvin@gmail.com>, 2002, 2003, 2004, 2005.
# Bjørn Steensrud <bjornst@skogkatt.homelinux.org>, 2002, 2003, 2004, 2005, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015.
# Eskild Hustvedt <zerodogg@skolelinux.no>, 2004, 2005.
# Gaute Hvoslef Kvalnes <gaute@verdsveven.com>, 2004, 2005.
# Axel Bojer <fri_programvare@bojer.no>, 2005, 2006.
# Nils Kristian Tomren <slx@nilsk.net>, 2005, 2007.
# Øyvind A. Holm <sunny@sunbase.org>, 2009.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2016-08-17 06:33+0000\n"
"PO-Revision-Date: 2015-02-24 20:39+0100\n"
"Last-Translator: Bjørn Steensrud <bjornst@skogkatt.homelinux.org>\n"
"Language-Team: Norwegian Bokmål <i18n-nb@lister.ping.uio.no>\n"
"Language: nb\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 1.5\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Environment: kde\n"
"X-Accelerator-Marker: &\n"
"X-Text-Markup: kde4\n"

msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Knut Yrvin,Axel Bojer,Bjørn Steensrud"

msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr ""
"knut.yrvin@gmail.com,fri_programvare@bojer.no,bjornst@skogkatt.homelinux.org"

#: kcmodule.cpp:166
msgid "You will be asked to authenticate before saving"
msgstr "Du blir bedt om å autentisere deg før lagring"

#: kcmodule.cpp:170
msgid "You are not allowed to save the configuration"
msgstr "Du har ikke lov til å lagre oppsettet"

#: kcodecaction.cpp:90
msgctxt "Encodings menu"
msgid "Default"
msgstr "Standard"

#: kcodecaction.cpp:98
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Oppdag automatisk"

#: kconfigdialog.cpp:48
msgctxt "@title:window"
msgid "Configure"
msgstr "Sett opp"

#: klanguagebutton.cpp:194
msgid "without name"
msgstr "uten navn"

#: krecentfilesaction.cpp:78
msgid "No Entries"
msgstr "Ingen oppføringer"

#: krecentfilesaction.cpp:84
msgid "Clear List"
msgstr "Tøm liste"

#: kstandardaction.cpp:88
msgctxt "go back"
msgid "&Back"
msgstr "&Tilbake"

#: kstandardaction.cpp:95
msgctxt "go forward"
msgid "&Forward"
msgstr "&Fram"

#: kstandardaction.cpp:102
msgctxt "home page"
msgid "&Home"
msgstr "&Hjem"

#: kstandardaction.cpp:105
msgctxt "show help"
msgid "&Help"
msgstr "&Hjelp"

#: kstandardaction.cpp:141
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Vis menylinja <p>Viser menylinja igjen etter at den har vært skjult</p>"

#: kstandardaction.cpp:151
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Vis statuslinja<p>Viser statuslinja, som er den linja nederst i vinduet som "
"brukes til å vise statusinformasjon.</p>"

#: kstandardaction_p.h:41
msgid "&New"
msgstr "&Ny"

#: kstandardaction_p.h:41
msgid "Create new document"
msgstr "Lag et nytt dokument"

#: kstandardaction_p.h:42
msgid "&Open..."
msgstr "&Åpne …"

#: kstandardaction_p.h:42
msgid "Open an existing document"
msgstr "Åpne et eksisterende dokument"

#: kstandardaction_p.h:43
msgid "Open &Recent"
msgstr "Nylig &brukt"

#: kstandardaction_p.h:43
msgid "Open a document which was recently opened"
msgstr "Åpne et nylig åpnet dokument"

#: kstandardaction_p.h:44
msgid "&Save"
msgstr "&Lagre"

#: kstandardaction_p.h:44
msgid "Save document"
msgstr "Lagre dokumentet"

#: kstandardaction_p.h:45
msgid "Save &As..."
msgstr "Lagre &som …"

#: kstandardaction_p.h:45
msgid "Save document under a new name"
msgstr "Lagre dokumentet med et nytt navn"

#: kstandardaction_p.h:46
msgid "Re&vert"
msgstr "&Tilbakestill"

#: kstandardaction_p.h:46
msgid "Revert unsaved changes made to document"
msgstr "Tilbakestill ulagrede endringer gjort i dokumentet"

#: kstandardaction_p.h:47
msgid "&Close"
msgstr "&Lukk"

#: kstandardaction_p.h:47
msgid "Close document"
msgstr "Lukk dokumentet"

#: kstandardaction_p.h:48
msgid "&Print..."
msgstr "Sk&riv ut …"

#: kstandardaction_p.h:48
msgid "Print document"
msgstr "Skriv ut dokumentet"

#: kstandardaction_p.h:49
msgid "Print Previe&w"
msgstr "Forhånds&visning av utskrift"

#: kstandardaction_p.h:49
msgid "Show a print preview of document"
msgstr "Vis forhåndsvisning av dokumentutskriften"

#: kstandardaction_p.h:50
msgid "&Mail..."
msgstr "S&end e-post …"

#: kstandardaction_p.h:50
msgid "Send document by mail"
msgstr "Send dokumentet med e-post"

#: kstandardaction_p.h:51
msgid "&Quit"
msgstr "&Avslutt"

#: kstandardaction_p.h:51
msgid "Quit application"
msgstr "Avslutt program"

#: kstandardaction_p.h:53
msgid "&Undo"
msgstr "&Angre"

#: kstandardaction_p.h:53
msgid "Undo last action"
msgstr "Angre forrige handling"

#: kstandardaction_p.h:54
msgid "Re&do"
msgstr "&Gjør om"

#: kstandardaction_p.h:54
msgid "Redo last undone action"
msgstr "Gjør forrige angrede handling på nytt"

#: kstandardaction_p.h:55
msgid "Cu&t"
msgstr "&Klipp ut"

#: kstandardaction_p.h:55
msgid "Cut selection to clipboard"
msgstr "Klipp ut utvalget til utklippstavla"

#: kstandardaction_p.h:56
msgid "&Copy"
msgstr "Ko&pier"

#: kstandardaction_p.h:56
msgid "Copy selection to clipboard"
msgstr "Kopier utvalget til utklippstavla"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "&Paste"
msgstr "&Lim inn"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "Paste clipboard content"
msgstr "Lim inn innholdet i utklippstavla"

#: kstandardaction_p.h:59
msgid "C&lear"
msgstr "&Tøm"

#: kstandardaction_p.h:60
msgid "Select &All"
msgstr "Velg &alt"

#: kstandardaction_p.h:61
msgid "Dese&lect"
msgstr "Ve&lg bort"

#: kstandardaction_p.h:62
msgid "&Find..."
msgstr "&Finn …"

#: kstandardaction_p.h:63
msgid "Find &Next"
msgstr "Finn &neste"

#: kstandardaction_p.h:64
msgid "Find Pre&vious"
msgstr "Finn forri&ge"

#: kstandardaction_p.h:65
msgid "&Replace..."
msgstr "&Erstatt …"

#: kstandardaction_p.h:67
msgid "&Actual Size"
msgstr "&Virkelig størrelse"

#: kstandardaction_p.h:67
msgid "View document at its actual size"
msgstr "Vis dokumentet i virkelig størrelse"

#: kstandardaction_p.h:68
msgid "&Fit to Page"
msgstr "&Tilpass sidestørrelsen"

#: kstandardaction_p.h:68
msgid "Zoom to fit page in window"
msgstr "Tilpass sida til vindustørrelsen"

#: kstandardaction_p.h:69
msgid "Fit to Page &Width"
msgstr "Tilpass til side&bredden"

#: kstandardaction_p.h:69
msgid "Zoom to fit page width in window"
msgstr "Tilpass så sidebredden passer i vinduet"

#: kstandardaction_p.h:70
msgid "Fit to Page &Height"
msgstr "Tilpass til side&høyden"

#: kstandardaction_p.h:70
msgid "Zoom to fit page height in window"
msgstr "Tilpass så sidehøyden passer i vinduet"

#: kstandardaction_p.h:71
msgid "Zoom &In"
msgstr "Vis &større"

#: kstandardaction_p.h:72
msgid "Zoom &Out"
msgstr "Vis &mindre"

#: kstandardaction_p.h:73
msgid "&Zoom..."
msgstr "&Vis større/mindre …"

#: kstandardaction_p.h:73
msgid "Select zoom level"
msgstr "Velg forstørringsnivå"

#: kstandardaction_p.h:74
msgid "&Redisplay"
msgstr "&Vis på nytt"

#: kstandardaction_p.h:74
msgid "Redisplay document"
msgstr "Vis dokumentet på nytt"

#: kstandardaction_p.h:76
msgid "&Up"
msgstr "&Opp"

#: kstandardaction_p.h:76
msgid "Go up"
msgstr "Gå opp"

#: kstandardaction_p.h:81
msgid "&Previous Page"
msgstr "&Forrige side"

#: kstandardaction_p.h:81
msgid "Go to previous page"
msgstr "Gå til forrige side"

#: kstandardaction_p.h:82
msgid "&Next Page"
msgstr "&Neste side"

#: kstandardaction_p.h:82
msgid "Go to next page"
msgstr "Gå til neste side"

#: kstandardaction_p.h:83
msgid "&Go To..."
msgstr "&Gå til …"

#: kstandardaction_p.h:84
msgid "&Go to Page..."
msgstr "&Gå til side …"

#: kstandardaction_p.h:85
msgid "&Go to Line..."
msgstr "&Gå til linje …"

#: kstandardaction_p.h:86
msgid "&First Page"
msgstr "&Første side"

#: kstandardaction_p.h:86
msgid "Go to first page"
msgstr "Gå til første side"

#: kstandardaction_p.h:87
msgid "&Last Page"
msgstr "&Siste side"

#: kstandardaction_p.h:87
msgid "Go to last page"
msgstr "Gå til siste side"

#: kstandardaction_p.h:88
msgid "&Back"
msgstr "&Tilbake"

#: kstandardaction_p.h:88
msgid "Go back in document"
msgstr "Gå bakover i dokumentet"

#: kstandardaction_p.h:89
msgid "&Forward"
msgstr "&Forover"

#: kstandardaction_p.h:89
msgid "Go forward in document"
msgstr "Gå forover i dokumentet"

#: kstandardaction_p.h:91
msgid "&Add Bookmark"
msgstr "&Legg til bokmerke"

#: kstandardaction_p.h:92
msgid "&Edit Bookmarks..."
msgstr "&Rediger bokmerker …"

#: kstandardaction_p.h:94
msgid "&Spelling..."
msgstr "&Stavekontroll …"

#: kstandardaction_p.h:94
msgid "Check spelling in document"
msgstr "Kjør stavekontroll i dokumentet"

#: kstandardaction_p.h:96
msgid "Show &Menubar"
msgstr "Vis &menylinje"

#: kstandardaction_p.h:96
msgid "Show or hide menubar"
msgstr "Vis eller skjul menylinja"

#: kstandardaction_p.h:97
msgid "Show &Toolbar"
msgstr "Vis &verktøylinje"

#: kstandardaction_p.h:97
msgid "Show or hide toolbar"
msgstr "Vis eller skjul verktøylinje"

#: kstandardaction_p.h:98
msgid "Show St&atusbar"
msgstr "Vis &statuslinja"

#: kstandardaction_p.h:98
msgid "Show or hide statusbar"
msgstr "Vis eller skjul statuslinja"

#: kstandardaction_p.h:99
msgid "F&ull Screen Mode"
msgstr "F&ullskjermmodus"

#: kstandardaction_p.h:100
msgid "&Save Settings"
msgstr "&Lagre innstillinger"

#: kstandardaction_p.h:101
msgid "Configure S&hortcuts..."
msgstr "Oppsett av &hurtigtaster …"

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "&Oppsett av %1 …"

#: kstandardaction_p.h:103
msgid "Configure Tool&bars..."
msgstr "Oppsett av verktøy&linjer …"

#: kstandardaction_p.h:104
msgid "Configure &Notifications..."
msgstr "Oppsett av &varslinger …"

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "%1-&håndbok"

#: kstandardaction_p.h:110
msgid "What's &This?"
msgstr "Hva er &dette?"

#: kstandardaction_p.h:111
msgid "Tip of the &Day"
msgstr "&Dagens tips"

#: kstandardaction_p.h:112
msgid "&Report Bug..."
msgstr "&Rapporter feil …"

#: kstandardaction_p.h:113
msgid "Switch Application &Language..."
msgstr "Bytt program&språk …"

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "&Om %1"

#: kstandardaction_p.h:115
msgid "About &KDE"
msgstr "Om &KDE"

#: kstandardaction_p.h:116
msgid "&Delete File"
msgstr ""

#: kstandardaction_p.h:117
msgid "&Rename File"
msgstr "&Endre navn på fila"

#: kstandardaction_p.h:118
msgid "&Move to Trash"
msgstr ""

#: kstandardaction_p.h:119
msgid "&Donate"
msgstr ""

#: ktipdialog.cpp:238
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Dagens tips"

#: ktipdialog.cpp:254
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Visste du …?\n"

#: ktipdialog.cpp:306
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "&Vis ved oppstart"

#: ktipdialog.cpp:311
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Forrige"

#: ktipdialog.cpp:316
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Neste"
