# KDE - kdelibs/kdelibs4.po Armenian translation.
# Copyright (C) 2005, KDE Armenian translation team.
#
# Davit Nikoghosyan <nikdavnik@mail.ru>, 2013
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2016-08-17 06:33+0000\n"
"PO-Revision-Date: 2013-01-31 01:08+0400\n"
"Last-Translator: Davit <nikdavnik@mail.ru>\n"
"Language-Team: Armenian Language: hy\n"
"Language: \n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Poedit 1.5.4\n"
"Plural-Forms: nplurals=4; plural=n==1 ? 3 : n%10==1 && n%100!=11 ? 0 : n"
"%10>=2 && n%10<=4 && (n%100<10 || n%100>=20) ? 1 : 2;\n"
"X-Environment: kde\n"
"X-Accelerator-Marker: &\n"
"X-Text-Markup: kde4\n"

msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Դավիթ Նիկողոսյան"

msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "nikdavnik@mail.ru"

#: kcmodule.cpp:166
msgid "You will be asked to authenticate before saving"
msgstr "Նախքան կարգավորումների պահպանումը պետք է հաստատել մուտքը դեպի համակարգ"

#: kcmodule.cpp:170
msgid "You are not allowed to save the configuration"
msgstr "Դուք չունեք իրավունք այս կարգավորումները փոխելու համար"

#: kcodecaction.cpp:90
msgctxt "Encodings menu"
msgid "Default"
msgstr "Լռելյայն"

#: kcodecaction.cpp:98
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Ավտոմատ որոշում"

#: kconfigdialog.cpp:48
#, fuzzy
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "Կարգավորում"

#: klanguagebutton.cpp:194
msgid "without name"
msgstr "անանուն"

#: krecentfilesaction.cpp:78
msgid "No Entries"
msgstr "Չկա գրանցումներ"

#: krecentfilesaction.cpp:84
msgid "Clear List"
msgstr "Մաքրել ցանկը"

#: kstandardaction.cpp:88
msgctxt "go back"
msgid "&Back"
msgstr "&Հետ"

#: kstandardaction.cpp:95
msgctxt "go forward"
msgid "&Forward"
msgstr "&Առաջ"

#: kstandardaction.cpp:102
msgctxt "home page"
msgid "&Home"
msgstr "&Տուն"

#: kstandardaction.cpp:105
msgctxt "show help"
msgid "&Help"
msgstr "&Տեղեկություն"

#: kstandardaction.cpp:141
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "Պատկերել մենյուն<p>Կրկին պատկերել մենյուն, այն թաքցնելուց հետո</p>"

# BUGME: whatsthis on "Hide Statusbar" should be about "Hide Statusbar", not "Show Statusbar"
#: kstandardaction.cpp:151
#, fuzzy
#| msgid ""
#| "Show Statusbar<br /><br />Shows the statusbar, which is the bar at the "
#| "bottom of the window used for status information."
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Պատկեռել իրավիճակի վահանակը<p>Այստեղ ներկայացվում է ծրագրի վիճակի մասին "
"տեղեկություն.</p>"

#: kstandardaction_p.h:41
msgid "&New"
msgstr "&Նոր"

#: kstandardaction_p.h:41
msgid "Create new document"
msgstr "Նոր հղում:"

#: kstandardaction_p.h:42
msgid "&Open..."
msgstr "&Բացել..."

#: kstandardaction_p.h:42
#, fuzzy
#| msgid "Go back in document"
msgid "Open an existing document"
msgstr "&Գնալ հետ"

#: kstandardaction_p.h:43
msgid "Open &Recent"
msgstr "&Վերջի նիշքերը"

#: kstandardaction_p.h:43
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:44
msgid "&Save"
msgstr "&Պահպանել"

#: kstandardaction_p.h:44
msgid "Save document"
msgstr "Պահպանել փասթաթուղթը"

#: kstandardaction_p.h:45
msgid "Save &As..."
msgstr "&Պահպանել ինչպես..."

#: kstandardaction_p.h:45
#, fuzzy
#| msgid "Save document"
msgid "Save document under a new name"
msgstr "Պահպանել փասթաթուղթը"

#: kstandardaction_p.h:46
msgid "Re&vert"
msgstr "&Վերականգնել"

#: kstandardaction_p.h:46
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:47
msgid "&Close"
msgstr "&Փակել"

#: kstandardaction_p.h:47
msgid "Close document"
msgstr "Փակել"

#: kstandardaction_p.h:48
msgid "&Print..."
msgstr "&Տպել..."

#: kstandardaction_p.h:48
msgid "Print document"
msgstr "Տպել"

#: kstandardaction_p.h:49
msgid "Print Previe&w"
msgstr "&Նախնական դիտում"

#: kstandardaction_p.h:49
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:50
msgid "&Mail..."
msgstr "&Էլ-փոստ..."

#: kstandardaction_p.h:50
#, fuzzy
#| msgid "Save document"
msgid "Send document by mail"
msgstr "Պահպանել փասթաթուղթը"

#: kstandardaction_p.h:51
msgid "&Quit"
msgstr "&Ելք"

#: kstandardaction_p.h:51
msgid "Quit application"
msgstr "Դուրս գալ ծրագրից"

#: kstandardaction_p.h:53
msgid "&Undo"
msgstr "&Չեղյալ համարել "

#: kstandardaction_p.h:53
#, fuzzy
#| msgid "Redo last undone action"
msgid "Undo last action"
msgstr "Կատարել հանգանակություն"

#: kstandardaction_p.h:54
msgid "Re&do"
msgstr "&կրկնել"

#: kstandardaction_p.h:54
msgid "Redo last undone action"
msgstr "Կատարել հանգանակություն"

#: kstandardaction_p.h:55
msgid "Cu&t"
msgstr "&Կտրել"

#: kstandardaction_p.h:55
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:56
msgid "&Copy"
msgstr "&Կրկնօրինակել"

#: kstandardaction_p.h:56
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "&Paste"
msgstr "&Տեղադրել"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "Paste clipboard content"
msgstr "Նյութերի վերբեռնում դեպի սերվեր"

#: kstandardaction_p.h:59
msgid "C&lear"
msgstr "&Մաքրել"

#: kstandardaction_p.h:60
msgid "Select &All"
msgstr "&Նշել ամբողջը"

#: kstandardaction_p.h:61
msgid "Dese&lect"
msgstr "&Հանել նշվածը"

#: kstandardaction_p.h:62
msgid "&Find..."
msgstr "&Որոնել..."

#: kstandardaction_p.h:63
msgid "Find &Next"
msgstr "&Գտնել հաջորդը"

#: kstandardaction_p.h:64
msgid "Find Pre&vious"
msgstr "&Գտնել նախորդը"

#: kstandardaction_p.h:65
msgid "&Replace..."
msgstr "&Փոխել..."

#: kstandardaction_p.h:67
msgid "&Actual Size"
msgstr "&Նորմալ չափ"

#: kstandardaction_p.h:67
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:68
msgid "&Fit to Page"
msgstr "&Տեղավորել ամբողջ էջը"

#: kstandardaction_p.h:68
#, fuzzy
#| msgid "Go to first page"
msgid "Zoom to fit page in window"
msgstr "Անցնել առաջի էջին"

#: kstandardaction_p.h:69
msgid "Fit to Page &Width"
msgstr "&Էջի լայնությամբ"

#: kstandardaction_p.h:69
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:70
msgid "Fit to Page &Height"
msgstr "&Էջի բարձրությամբ"

#: kstandardaction_p.h:70
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:71
msgid "Zoom &In"
msgstr "&Մեծացնել"

#: kstandardaction_p.h:72
msgid "Zoom &Out"
msgstr "&Փոքրացնել"

#: kstandardaction_p.h:73
msgid "&Zoom..."
msgstr "&Մասշտաբ..."

#: kstandardaction_p.h:73
msgid "Select zoom level"
msgstr "Ընտրել շաբաթը"

#: kstandardaction_p.h:74
msgid "&Redisplay"
msgstr "&Թարմացնել նկարը"

#: kstandardaction_p.h:74
msgid "Redisplay document"
msgstr "&Թարմացնել"

#: kstandardaction_p.h:76
msgid "&Up"
msgstr "&Վերև"

#: kstandardaction_p.h:76
msgid "Go up"
msgstr ""

#: kstandardaction_p.h:81
msgid "&Previous Page"
msgstr "&Նախորդ էջ"

#: kstandardaction_p.h:81
msgid "Go to previous page"
msgstr "&Նախորդ էջ"

#: kstandardaction_p.h:82
msgid "&Next Page"
msgstr "&Հաջորդ էջ"

#: kstandardaction_p.h:82
msgid "Go to next page"
msgstr "Անցնել մյուս էջին"

#: kstandardaction_p.h:83
msgid "&Go To..."
msgstr "&Անցնել..."

#: kstandardaction_p.h:84
msgid "&Go to Page..."
msgstr "&Անցնել էջով..."

#: kstandardaction_p.h:85
msgid "&Go to Line..."
msgstr "&Անցնել տողով..."

#: kstandardaction_p.h:86
msgid "&First Page"
msgstr "&Առաջի էջ"

#: kstandardaction_p.h:86
msgid "Go to first page"
msgstr "Անցնել առաջի էջին"

#: kstandardaction_p.h:87
msgid "&Last Page"
msgstr "&Վերջի էջ"

#: kstandardaction_p.h:87
msgid "Go to last page"
msgstr "Անցնել վերջի էջին"

#: kstandardaction_p.h:88
msgid "&Back"
msgstr "&Հետ"

#: kstandardaction_p.h:88
msgid "Go back in document"
msgstr "&Գնալ հետ"

#: kstandardaction_p.h:89
msgid "&Forward"
msgstr "&Առաջ"

#: kstandardaction_p.h:89
msgid "Go forward in document"
msgstr "&Գնալ առաջ"

#: kstandardaction_p.h:91
msgid "&Add Bookmark"
msgstr "&Ավելացնել պահոցի մեջ"

#: kstandardaction_p.h:92
msgid "&Edit Bookmarks..."
msgstr "&Փոփոխել պահոցը..."

#: kstandardaction_p.h:94
msgid "&Spelling..."
msgstr "&Ուղղագրության ստուգում..."

#: kstandardaction_p.h:94
msgid "Check spelling in document"
msgstr "Ստուգել ուղղագրությունը"

#: kstandardaction_p.h:96
msgid "Show &Menubar"
msgstr "&Պատկերել մենյուն"

#: kstandardaction_p.h:96
msgid "Show or hide menubar"
msgstr "&Պատկերել մենյուն"

#: kstandardaction_p.h:97
msgid "Show &Toolbar"
msgstr "&Պատկերել գործիքների վահանակը"

#: kstandardaction_p.h:97
msgid "Show or hide toolbar"
msgstr "Պատկերել գործիքների վահանակը"

#: kstandardaction_p.h:98
msgid "Show St&atusbar"
msgstr "&Պատկերել իրավիճակի վահանակը"

#: kstandardaction_p.h:98
msgid "Show or hide statusbar"
msgstr "Պատկերել իրավիճակի վահանակը"

#: kstandardaction_p.h:99
msgid "F&ull Screen Mode"
msgstr "&Լրիվ էկրանի ռեժիմ"

#: kstandardaction_p.h:100
msgid "&Save Settings"
msgstr "&Պահպանել կարգավորումները"

#: kstandardaction_p.h:101
msgid "Configure S&hortcuts..."
msgstr "&Տառերի կոմբինացիա..."

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "&Կարգավորել %1..."

#: kstandardaction_p.h:103
msgid "Configure Tool&bars..."
msgstr "&Գործիքների վահանակ..."

#: kstandardaction_p.h:104
msgid "Configure &Notifications..."
msgstr "&Կարգավորել ծանուցունմերը..."

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "&Օգտվողի ուղեցույց %1"

#: kstandardaction_p.h:110
msgid "What's &This?"
msgstr "&Ի՞նչ է սա"

#: kstandardaction_p.h:111
msgid "Tip of the &Day"
msgstr "&Օրվա խորհուրդը"

#: kstandardaction_p.h:112
msgid "&Report Bug..."
msgstr "&Տեղեկացնել սխալի մասին..."

#: kstandardaction_p.h:113
msgid "Switch Application &Language..."
msgstr "&Փոխել ծրագրի լեզուն․.."

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "%1 &ծրագրի մասին"

#: kstandardaction_p.h:115
msgid "About &KDE"
msgstr "&KDE-ի մասին"

#: kstandardaction_p.h:116
#, fuzzy
#| msgid "&Delete"
msgid "&Delete File"
msgstr "&Ջնջել"

#: kstandardaction_p.h:117
#, fuzzy
#| msgid "&Send File"
#| msgid_plural "&Send Files"
msgid "&Rename File"
msgstr "&Ուղարկել նիշքերը"

#: kstandardaction_p.h:118
msgid "&Move to Trash"
msgstr ""

#: kstandardaction_p.h:119
msgid "&Donate"
msgstr ""

#: ktipdialog.cpp:238
#, fuzzy
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Օրվա խորհուրդը"

#: ktipdialog.cpp:254
#, fuzzy
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Դուք գիտե՞ք...\n"

#: ktipdialog.cpp:306
#, fuzzy
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "&Ցույց տալ խորհուրդները թողարկման ժամանակ"

#: ktipdialog.cpp:311
#, fuzzy
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Նախորդը"

#: ktipdialog.cpp:316
#, fuzzy
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Հաջորդը"
