[KCM Locale]
Name=Catalan
Name[ca]=Català
Name[es]=Catalán
Name[ia]=Catalan 
Name[nl]=Catalaans
Name[sl]=Katalonščina
Name[tr]=Katalanca
Name[uk]=каталонська
Name[x-test]=xxCatalanxx
