[KCM Locale]
Name=Uzbek
Name[ca]=Uzbek
Name[es]=Uzbeko
Name[ia]=Uzbeko
Name[nl]=Oezbeeks
Name[sl]=Uzbeščina
Name[tr]=Özbekçe
Name[uk]=узбецька
Name[x-test]=xxUzbekxx
