[KCM Locale]
Name=Russian
Name[ca]=Rus
Name[es]=Ruso
Name[ia]=Russo
Name[nl]=Russisch
Name[sl]=Ruščina
Name[tr]=Rusça
Name[uk]=російська
Name[x-test]=xxRussianxx
DateMonthNamePossessive=true
NounDeclension=true
