# Traducerea kdelibs4.po în Română
# Laurenţiu Buzdugan <lbuz@rolix.org>, 2008, 2009.
# Sergiu Bivol <sergiu@ase.md>, 2008, 2009, 2010.
# Sergiu Bivol <sergiu@ase.md>, 2010, 2012, 2013, 2014.
# Cristian Oneț <onet.cristian@gmail.com>, 2010, 2011, 2012, 2013.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2015-01-31 08:03+0000\n"
"PO-Revision-Date: 2014-03-26 19:20+0200\n"
"Last-Translator: Sergiu Bivol <sergiu@ase.md>\n"
"Language-Team: Romanian <kde-i18n-ro@kde.org>\n"
"Language: ro\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 1.5\n"
"Plural-Forms: nplurals=3; plural=n==1 ? 0 : (n==0 || (n%100 > 0 && n%100 < "
"20)) ? 1 : 2;\n"

msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Claudiu Costin,Sergiu Bivol,Laurențiu Buzdugan,Cristian Oneț"

msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr ",sergiu@ase.md,lbuz@rolix.org,onet.cristian@gmail.com"

#: kcmodule.cpp:153
msgid "You will be asked to authenticate before saving"
msgstr "Vi se va cere să vă autentificați înainte de salvare"

#: kcmodule.cpp:157
msgid "You are not allowed to save the configuration"
msgstr "Nu vi se permite să salvați configurarea"

#: kcodecaction.cpp:90
msgctxt "Encodings menu"
msgid "Default"
msgstr "Implicit"

#: kcodecaction.cpp:98
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Detectare automată"

#: klanguagebutton.cpp:194
msgid "without name"
msgstr "fără nume"

#: krecentfilesaction.cpp:78
msgid "No Entries"
msgstr "Nicio înregistrare"

#: krecentfilesaction.cpp:84
msgid "Clear List"
msgstr "Curăță lista"

#: kstandardaction.cpp:90
msgctxt "go back"
msgid "&Back"
msgstr "În&apoi"

#: kstandardaction.cpp:97
msgctxt "go forward"
msgid "&Forward"
msgstr "În&ainte"

#: kstandardaction.cpp:104
msgctxt "home page"
msgid "&Home"
msgstr "&Acasă"

#: kstandardaction.cpp:107
msgctxt "show help"
msgid "&Help"
msgstr "&Ajutor"

#: kstandardaction.cpp:526 kstandardaction_p.h:96
msgid "Show &Menubar"
msgstr "Afișează bara de &meniu"

#: kstandardaction.cpp:534
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Afișează bara de meniu<p>Afișează din nou bara de meniu după ce a fost "
"ascunsă</p>"

#: kstandardaction.cpp:552 kstandardaction_p.h:98
msgid "Show St&atusbar"
msgstr "Afișează bara de &stare"

#: kstandardaction.cpp:555
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Arată bara de stare<p>Arată bara de stare, care este bara din partea de jos "
"a ferestrei, utilizată pentru informații de stare.</p>"

#: kstandardaction_p.h:41
msgid "&New"
msgstr "&Nou"

#: kstandardaction_p.h:41
msgid "Create new document"
msgstr "Creează document nou"

#: kstandardaction_p.h:42
msgid "&Open..."
msgstr "&Deschide..."

#: kstandardaction_p.h:42
msgid "Open an existing document"
msgstr "Deschide un document existent"

#: kstandardaction_p.h:43
msgid "Open &Recent"
msgstr "Deschide &recent"

#: kstandardaction_p.h:43
msgid "Open a document which was recently opened"
msgstr "Deschide un document ce a fost deschis recent"

#: kstandardaction_p.h:44
msgid "&Save"
msgstr "&Salvează"

#: kstandardaction_p.h:44
msgid "Save document"
msgstr "Salvează documentul"

#: kstandardaction_p.h:45
msgid "Save &As..."
msgstr "S&alvează ca..."

#: kstandardaction_p.h:45
msgid "Save document under a new name"
msgstr "Salvează documentul cu denumire nouă"

#: kstandardaction_p.h:46
msgid "Re&vert"
msgstr "In&versează"

#: kstandardaction_p.h:46
msgid "Revert unsaved changes made to document"
msgstr "Anulează modificările nesalvate făcute asupra documentului"

#: kstandardaction_p.h:47
msgid "&Close"
msgstr "În&chide"

#: kstandardaction_p.h:47
msgid "Close document"
msgstr "Închide documentul"

#: kstandardaction_p.h:48
msgid "&Print..."
msgstr "&Tipărește..."

#: kstandardaction_p.h:48
msgid "Print document"
msgstr "Tipărește documentul"

#: kstandardaction_p.h:49
msgid "Print Previe&w"
msgstr "Previ&zualizare tipărire"

#: kstandardaction_p.h:49
msgid "Show a print preview of document"
msgstr "Arată o previzualizare a tipăririi fișierului"

#: kstandardaction_p.h:50
msgid "&Mail..."
msgstr "E-&mail.."

#: kstandardaction_p.h:50
msgid "Send document by mail"
msgstr "Trimite documentul prin poștă"

#: kstandardaction_p.h:51
msgid "&Quit"
msgstr "&Termină"

#: kstandardaction_p.h:51
msgid "Quit application"
msgstr "Închide aplicația"

#: kstandardaction_p.h:53
msgid "&Undo"
msgstr "&Desfă"

#: kstandardaction_p.h:53
msgid "Undo last action"
msgstr "Desfă ultima acțiune"

#: kstandardaction_p.h:54
msgid "Re&do"
msgstr "&Refă"

#: kstandardaction_p.h:54
msgid "Redo last undone action"
msgstr "Refă ultima acțiune desfăcută"

#: kstandardaction_p.h:55
msgid "Cu&t"
msgstr "&Taie"

#: kstandardaction_p.h:55
msgid "Cut selection to clipboard"
msgstr "Taie selecția în clipboard"

#: kstandardaction_p.h:56
msgid "&Copy"
msgstr "&Copiază"

#: kstandardaction_p.h:56
msgid "Copy selection to clipboard"
msgstr "Copiază selecția în clipboard"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "&Paste"
msgstr "&Lipește"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "Paste clipboard content"
msgstr "Lipește conținutul din clipboard"

#: kstandardaction_p.h:59
msgid "C&lear"
msgstr "Ș&terge"

#: kstandardaction_p.h:60
msgid "Select &All"
msgstr "Selectează t&ot"

#: kstandardaction_p.h:61
msgid "Dese&lect"
msgstr "&Deselectează"

#: kstandardaction_p.h:62
msgid "&Find..."
msgstr "C&aută..."

#: kstandardaction_p.h:63
msgid "Find &Next"
msgstr "Caută în &continuare"

#: kstandardaction_p.h:64
msgid "Find Pre&vious"
msgstr "Caută &precedent"

#: kstandardaction_p.h:65
msgid "&Replace..."
msgstr "Î&nlocuiește..."

#: kstandardaction_p.h:67
msgid "&Actual Size"
msgstr "Mărime &actuală"

#: kstandardaction_p.h:67
msgid "View document at its actual size"
msgstr "Vizualizează documentul la dimensiunea reală"

#: kstandardaction_p.h:68
msgid "&Fit to Page"
msgstr "Încadrează în &pagină"

#: kstandardaction_p.h:68
msgid "Zoom to fit page in window"
msgstr "Panoramează pentru a încadra pagina în fereastră"

#: kstandardaction_p.h:69
msgid "Fit to Page &Width"
msgstr "Încadrează în &lățimea paginii"

#: kstandardaction_p.h:69
msgid "Zoom to fit page width in window"
msgstr "Panoramează pentru a încadra lățimea paginii în fereastră"

#: kstandardaction_p.h:70
msgid "Fit to Page &Height"
msgstr "Încadrează în l&ungimea paginii"

#: kstandardaction_p.h:70
msgid "Zoom to fit page height in window"
msgstr "Panoramează pentru a încadra lungimea paginii în fereastră"

#: kstandardaction_p.h:71
msgid "Zoom &In"
msgstr "&Mărește"

#: kstandardaction_p.h:72
msgid "Zoom &Out"
msgstr "Mi&cșorează"

#: kstandardaction_p.h:73
msgid "&Zoom..."
msgstr "&Scalează..."

#: kstandardaction_p.h:73
msgid "Select zoom level"
msgstr "Alege nivelul de panoramare"

#: kstandardaction_p.h:74
msgid "&Redisplay"
msgstr "&Reafișează"

#: kstandardaction_p.h:74
msgid "Redisplay document"
msgstr "Reafișează documentul"

#: kstandardaction_p.h:76
msgid "&Up"
msgstr "S&us"

#: kstandardaction_p.h:76
msgid "Go up"
msgstr "Mai sus"

#: kstandardaction_p.h:81
msgid "&Previous Page"
msgstr "Pagina &precedentă"

#: kstandardaction_p.h:81
msgid "Go to previous page"
msgstr "Mergi la pagina precedentă"

#: kstandardaction_p.h:82
msgid "&Next Page"
msgstr "Pagina &următoare"

#: kstandardaction_p.h:82
msgid "Go to next page"
msgstr "Mergi la pagina următoare"

#: kstandardaction_p.h:83
msgid "&Go To..."
msgstr "&Mergi la..."

#: kstandardaction_p.h:84
msgid "&Go to Page..."
msgstr "&Mergi la pagina..."

#: kstandardaction_p.h:85
msgid "&Go to Line..."
msgstr "&Mergi la linia..."

#: kstandardaction_p.h:86
msgid "&First Page"
msgstr "P&rima pagină"

#: kstandardaction_p.h:86
msgid "Go to first page"
msgstr "Mergi la prima pagină"

#: kstandardaction_p.h:87
msgid "&Last Page"
msgstr "U&ltima pagină"

#: kstandardaction_p.h:87
msgid "Go to last page"
msgstr "Mergi la ultima pagină"

#: kstandardaction_p.h:88
msgid "&Back"
msgstr "Înap&oi"

#: kstandardaction_p.h:88
msgid "Go back in document"
msgstr "Mergi înapoi în document"

#: kstandardaction_p.h:89
msgid "&Forward"
msgstr "În&ainte"

#: kstandardaction_p.h:89
msgid "Go forward in document"
msgstr "Mergi înainte în document"

#: kstandardaction_p.h:91
msgid "&Add Bookmark"
msgstr "&Adaugă semn de carte"

#: kstandardaction_p.h:92
msgid "&Edit Bookmarks..."
msgstr "&Editează semne de carte..."

#: kstandardaction_p.h:94
msgid "&Spelling..."
msgstr "&Ortografie..."

#: kstandardaction_p.h:94
msgid "Check spelling in document"
msgstr "Verifică ortografia în document"

#: kstandardaction_p.h:96
msgid "Show or hide menubar"
msgstr "Arată sau ascunde bara de meniu"

#: kstandardaction_p.h:97
msgid "Show &Toolbar"
msgstr "Afișează bara de &unelte"

#: kstandardaction_p.h:97
msgid "Show or hide toolbar"
msgstr "Arată sau ascunde bara de unelte"

#: kstandardaction_p.h:98
msgid "Show or hide statusbar"
msgstr "Arată sau ascunde bara de stare"

#: kstandardaction_p.h:99
msgid "F&ull Screen Mode"
msgstr "Regim &ecran complet"

#: kstandardaction_p.h:100
msgid "&Save Settings"
msgstr "&Salvează configurările"

#: kstandardaction_p.h:101
msgid "Configure S&hortcuts..."
msgstr "Configurează &acceleratorii..."

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "&Configurare %1..."

#: kstandardaction_p.h:103
msgid "Configure Tool&bars..."
msgstr "Configurează barele de &unelte..."

#: kstandardaction_p.h:104
msgid "Configure &Notifications..."
msgstr "Configurează &notificările..."

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "&Manualul %1"

#: kstandardaction_p.h:110
msgid "What's &This?"
msgstr "Ce înseamnă &aceasta?"

#: kstandardaction_p.h:111
msgid "Tip of the &Day"
msgstr "&Sfatul zilei"

#: kstandardaction_p.h:112
msgid "&Report Bug..."
msgstr "&Raportează erori..."

#: kstandardaction_p.h:113
msgid "Switch Application &Language..."
msgstr "Comută &limba aplicației..."

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "&Despre %1"

#: kstandardaction_p.h:115
msgid "About &KDE"
msgstr "Despre &KDE"
