[KCM Locale]
Name=Tamil
Name[ca]=Tàmil
Name[es]=Tamil
Name[ia]=Tamil
Name[nl]=Tamil
Name[sl]=Tamilščina
Name[tr]=Tamilce
Name[uk]=тамільська
Name[x-test]=xxTamilxx
