[KCM Locale]
Name=Swedish
Name[ca]=Suec
Name[es]=Sueco
Name[ia]=Svedese
Name[nl]=Zweeds
Name[sl]=Švedščina
Name[tr]=İsveççe
Name[uk]=шведська
Name[x-test]=xxSwedishxx
