[KCM Locale]
Name=Azerbaijani
Name[ca]=Àzeri
Name[es]=Azerí
Name[ia]=Azerbaijano
Name[nl]=Azerbeidzjaans
Name[sl]=Azarbejdžansko
Name[tr]=Azerbaycanca
Name[uk]=азербайджанська
Name[x-test]=xxAzerbaijanixx
