# translation of kdelibs4.po to Telugu
#
#
# Purushottam Boyanapalli <boyanapalli@gmail.com>, 2005.
# విజయ్ కిరణ్ కముజు <infyquest@gmail.com>, 2007.
# pavithran <pavithran.s@gmail.com>, 2007.
# Krishna Babu K <kkrothap@redhat.com>, 2008, 2009.
# sreekalyanbapatla <sreekalyan3@gmail.com>, 2013.
# GVS.Giri <gvs.giri@swecha.net>, 2013.
# Bhuvan Krishna <bhuvan@swecha.org>,2013.
# Naveen Kandimalla <naveen@swecha.net>,2013.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2021-11-24 00:24+0000\n"
"PO-Revision-Date: 2013-11-04 23:55+0630\n"
"Last-Translator: Bhuvan Krishna <bhuvan@swecha.org>\n"
"Language-Team: Telugu <kde-i18n-doc@kde.org>\n"
"Language: te\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 1.5\n"
"Plural-Forms: nplurals=2; plural=(n != 1)\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "విజయ్ కిరణ్ కముజు,కృష్ణబాబు కె, భువన్ కృష్ణ, జి వి యస్ గిరి, శ్రీ కళ్యన్న్, ననిన్"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr ""
"infyquest@gmail.com,kkrothap@redhat.com,bhuvan@swecha.org,gvs.giri@swecha."
"net,sreekalyan3@gmail.com,naveen@swecha.net"

#: kcmodule.cpp:189
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "మీరు దీనిని నిక్షిప్తం చేయు ముందు నిజపరుచుటకు అడుగుము"

#: kcmodule.cpp:193
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "ఈ  రూపకరణ దాచుటకు మీకు అనుమతి లే"

#: kcodecaction.cpp:66
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "అప్రమేయం"

#: kcodecaction.cpp:74
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "దానంతటదే కనిపెట్టు"

#: kcolorschememanager.cpp:200 kcolorschememanager.cpp:205
#, fuzzy, kde-format
#| msgid "Shortcut Schemes"
msgid "Color Scheme"
msgstr "శీఘ్ర మార్గాల స్కీములు"

#: kcolorschememodel.cpp:66
#, fuzzy, kde-format
#| msgctxt "Encodings menu"
#| msgid "Default"
msgid "Default"
msgstr "అప్రమేయం"

#: kcommandbar.cpp:582
#, kde-format
msgid "No commands matching the filter"
msgstr ""

#: kconfigdialog.cpp:37
#, fuzzy, kde-format
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "అమర్చు"

#: khamburgermenu.cpp:126
#, fuzzy, kde-format
#| msgctxt "keyboard-key-name"
#| msgid "Menu"
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "పట్టీ"

#: khamburgermenu.cpp:342
#, fuzzy, kde-format
#| msgid "Shortcut '%1' for action '%2'\n"
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "For %1 more action:"
msgid_plural "For %1 more actions:"
msgstr[0] "చర్య '%1'కొరకు శీఘ్రమార్గము(లు) '%2'\n"
msgstr[1] "చర్య '%1'కొరకు శీఘ్రమార్గము(లు) '%2'\n"

#: khamburgermenu.cpp:345
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "%1 Menu Bar Exclusive Action"
msgid_plural "%1 Menu Bar Exclusive Actions"
msgstr[0] ""
msgstr[1] ""

#: krecentfilesaction.cpp:68
#, kde-format
msgid "No Entries"
msgstr "దాఖలాలు లేవు"

#: krecentfilesaction.cpp:74
#, kde-format
msgid "Clear List"
msgstr "వరుశ  చెరిపివేయుము"

#: kstandardaction.cpp:140
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "(&B) వెనుకకు"

#: kstandardaction.cpp:147
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "(&F) ముందుకు"

#: kstandardaction.cpp:154
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "(&H) గృహము"

#: kstandardaction.cpp:158
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "(&H) సహాయము"

#: kstandardaction.cpp:215
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "మెనూబార్‌ను చూపుము <p>మెనూబార్‌ను మరలా చూపుము అది దాయబడి తర్వాతన</p>"

#: kstandardaction.cpp:236
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"స్థితి పట్టీ చూపించు <p>  స్థితి పట్టీను చూపిస్తుంది, ఇది స్థితి సమాచారము కొరకు గవాక్షమునందు "
"క్రిందనవుండు పట్టీ.</p>"

#: kstandardaction_p.h:30
msgid "&New"
msgstr "(&N) కొత్త"

#: kstandardaction_p.h:30
msgid "Create new document"
msgstr "కొత్త  పత్రం  సృష్టించుము..."

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "(&O) తెరువండి..."

#: kstandardaction_p.h:31
msgid "Open an existing document"
msgstr "ఇప్పుడు ఉత్తేజంగా ఉన్న పత్రాన్ని తెరు"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "(&R) ఇటీవలివి తెరువండి"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr "ఇప్పుడే మూసేసిని పత్రాన్ని తెరువుట"

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "(&S) దాచు"

#: kstandardaction_p.h:33
msgid "Save document"
msgstr "పత్రాన్ని దా"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "(&A) ఇలా దాచు..."

#: kstandardaction_p.h:34
msgid "Save document under a new name"
msgstr "పత్రాన్ని కొత్త పేరుతో దాచడం "

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "(&v) మళ్ళించు"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr "చేసిన మార్పులను తిరిగి యదాస్తానానికి తీసుక రావటానికి "

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "(&C) మూసివెయుము"

#: kstandardaction_p.h:36
msgid "Close document"
msgstr "పత్రం    మూసివేయి"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "(&P) ప్రచురించు..."

#: kstandardaction_p.h:37
msgid "Print document"
msgstr "పత్రాన్ని   ప్రచురించు"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "(&w) ప్రచురణ ముందస్తు వీక్షణం"

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr "ప్రచురించిన  ఉపదస్త్రాన్ని  చూపిం"

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "(&M) తపాలా..."

#: kstandardaction_p.h:39
msgid "Send document by mail"
msgstr "పత్రానన్ని ఉత్తరం ద్వారా పంపుట"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "(&Q) విరమించు"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "కార్యక్రమం మూసివేయి"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "(&U) సరిచేయు"

#: kstandardaction_p.h:42
msgid "Undo last action"
msgstr "చివరగా చేసిన పనిని రద్దు చేయట"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "(&d) మరల ప్రయత్నించుము"

#: kstandardaction_p.h:43
msgid "Redo last undone action"
msgstr "చివరగా చేసిన రద్దును మళ్లీ చేయుట"

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "(&t) కత్తిరించండి"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr "ఎంపిక చేసిన క్లిప్ బోర్డ్  కోయిట "

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "(&C) నకలు"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr "ఎంపిక చేసిన దానిని క్లిప్ బోర్డ్  కు నకలు చేయు"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "(&P) అతికించండి"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "Paste clipboard content"
msgstr "క్లిప్ బోర్డ్ యొక్క సారాన్ని అతికించు"

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "(&l) ఖాళిచేయుము"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "(&A) అన్ని ఎంచుకొనుము"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "(&l) ఎంచుకొవద్దు"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "(&F) కనుగొను..."

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "(&N) తర్వాతది కనుగొను"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "(&v) క్రిందటి ది వెతకండి"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "(&R) ప్రతిస్థాపించుము..."

#: kstandardaction_p.h:58
msgid "&Actual Size"
msgstr "(&A) అసలైన పరిమాణము"

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr "పత్రాన్ని దాని యొక్క  నిజమైన పరిమాణం తో చూడటాని"

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "(&F) పేజీకు పట్టించు"

#: kstandardaction_p.h:59
msgid "Zoom to fit page in window"
msgstr " పుటను గవాక్షమునకు పట్టించుటకు జూమ్ చేయుట"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "(&W) పేజి వెడల్పునకు పట్టించు"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr "పుట యొక్క వెడ గవాక్షమునకు పట్టించుటకు జూమ్ చేయుట"

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "(&H) పేజీ ఎత్తునకు పట్టించు"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr "పుట యొక్క ఎత్తు గవాక్షమునకు పట్టించుటకు జూమ్ చేయుట"

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "(&I) సమీప వీక్షణం"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "(&O) దూర వీక్షణం"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "(&Z) పెద్ద పరిమాణము..."

#: kstandardaction_p.h:64
msgid "Select zoom level"
msgstr "జూమ్  స్తాయి ఎంచుకొనుము"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:65
#, fuzzy
#| msgid "Redisplay document"
msgid "Refresh document"
msgstr "(&R) దస్త్రం  పునఃప్రదర్శన "

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "(&U) పైకి"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr "పైకి పోవుట"

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "(&P) ముందరి పుట"

#: kstandardaction_p.h:72
msgid "Go to previous page"
msgstr "(&P) ముందరి  పుట కు పోవుట"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "(&N) తరువాత పుట"

#: kstandardaction_p.h:73
msgid "Go to next page"
msgstr "మరుసటి పుటకు వెళ్ళుట"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "(&G) వెళ్ళు..."

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "(&G) పుటకు వెళ్ళు..."

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "(&G) వరుసకు వెళ్ళు..."

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "(&F) మొదటి పుట"

#: kstandardaction_p.h:77
msgid "Go to first page"
msgstr "మొదటి పుటకు  వెళ్ళుట"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "(&L) చివరి పుట"

#: kstandardaction_p.h:78
msgid "Go to last page"
msgstr "(&G) చివరి పుటకు వెళ్ళుట..."

#: kstandardaction_p.h:79
msgid "&Back"
msgstr "(&B) వెనుకకు"

#: kstandardaction_p.h:79
msgid "Go back in document"
msgstr "(&B) పత్రం లొ వెనుకకు పోవుట"

#: kstandardaction_p.h:80
msgid "&Forward"
msgstr "(&F) ముందుకు"

#: kstandardaction_p.h:80
msgid "Go forward in document"
msgstr "పత్రం లొ ముందుకు పోవుట"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "(&A) పేజిగుర్తు చేర్చుము"

#: kstandardaction_p.h:83
msgid "&Edit Bookmarks..."
msgstr "(&E) గుర్తులు   సరిచేయి"

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "(&S) వర్ణక్రమము..."

#: kstandardaction_p.h:85
msgid "Check spelling in document"
msgstr "పత్రం లొ అచ్చుతప్పులు సరిచూడు"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "(&M) సూచన పట్టి చూపుము"

#: kstandardaction_p.h:87
msgid "Show or hide menubar"
msgstr "సూచన పట్టి చూపుము లేదా దాచిపెట్టు"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "(&T) పనిముట్ల పట్టీ చూపుము"

#: kstandardaction_p.h:88
msgid "Show or hide toolbar"
msgstr "పనిముట్ల పట్టీ చూపుము లేదా దాచిపెట్టుము "

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "(&a) స్థితి పట్టీ చూపుము"

#: kstandardaction_p.h:89
msgid "Show or hide statusbar"
msgstr "స్థితి పట్టీ చూపుము లేదా దాచిపెట్టు"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "(&u) పూర్తి తెర స్థితి"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "(&S) అమరికలు దాచు"

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "Configure S&hortcuts..."
msgid "Configure Keyboard S&hortcuts..."
msgstr "(&h) శీఘ్రమార్గాలను అమర్చు..."

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "(&C) %1 ను అమర్చు..."

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "(&b) పనిముట్ల పట్టిలను అమర్చు..."

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "(&N) ప్రకటనలను అమర్చు..."

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "(&H) %1 చేతిపుస్తకం"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "(&T) ఇది ఏమిటి?"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "(&D) ఈ రోజు సూచన"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "(&R) తప్పును తెలియచేయండి..."

#: kstandardaction_p.h:108
#, fuzzy
#| msgid "Configure Email..."
msgid "Configure &Language..."
msgstr "ఈ-మెయిల్ ను అమర్చు..."

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "(&A) %1 గురించి"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "(&K) కెడిఈ గురించి"

#: kstandardaction_p.h:111
#, fuzzy
#| msgid "Delete"
msgid "&Delete"
msgstr "తొలగించు"

#: kstandardaction_p.h:112
#, fuzzy
#| msgid "&Replace..."
msgid "&Rename..."
msgstr "(&R) ప్రతిస్థాపించుము..."

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr ""

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr ""

#: kstandardaction_p.h:115
#, fuzzy
#| msgid "Open &Recent"
msgid "Open &Menu"
msgstr "(&R) ఇటీవలివి తెరువండి"

#: ktipdialog.cpp:219
#, fuzzy, kde-format
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "ఈ రోజు సూచన"

#: ktipdialog.cpp:235
#, fuzzy, kde-format
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "మీకు తెలుసా...?\n"

#: ktipdialog.cpp:288
#, fuzzy, kde-format
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "(&S) మొదలైనప్పుడు సూచనలను చూపించు"

#: ktipdialog.cpp:293
#, fuzzy, kde-format
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "(&P) ముందు"

#: ktipdialog.cpp:298
#, fuzzy, kde-format
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "(&N) తరువాత"
