[KCM Locale]
Name=Telugu
Name[ca]=Telugu
Name[es]=Télugu
Name[ia]=Telugu
Name[nl]=Telugu
Name[sl]=Teluščina
Name[tr]=Teluguca
Name[uk]=телугу
Name[x-test]=xxTeluguxx

