[KCM Locale]
Name=Frisian
Name[ca]=Frisó
Name[es]=Frisón
Name[ia]=Frisian 
Name[nl]=Fries
Name[sl]=Frizijščina
Name[tr]=Frizce
Name[uk]=фризька
Name[x-test]=xxFrisianxx
