[KCM Locale]
Name=Traditional Chinese
Name[ia]=Chinese trditional
Name[nl]=Traditioneel Chinees
Name[tr]=Geleneksel Çince
Name[uk]=традиційна китайська
