[KCM Locale]
Name=Thai
Name[ca]=Tai
Name[es]=Tailandés
Name[ia]=Thai
Name[nl]=Thai
Name[sl]=Tajščina
Name[tr]=Tayca
Name[uk]=тайська
Name[x-test]=xxThaixx
