[KCM Locale]
Name=Marathi
Name[ca]=Marathi
Name[es]=Marathí
Name[ia]=Marathi
Name[nl]=Marathi
Name[sl]=Maratščina
Name[tr]=Marati Dili
Name[uk]=мараті
Name[x-test]=xxMarathixx
