[KCM Locale]
Name=Hausa
Name[ca]=Haussa
Name[es]=Hausa
Name[ia]=Hausa 
Name[nl]=Hausa
Name[sl]=Havščina
Name[tr]=Hausaca
Name[uk]=хауса
Name[x-test]=xxHausaxx
