# translation of kdelibs4.po to Italian
# Andrea Rizzi <rizzi@kde.org>, 2003, 2004, 2005.
# Federico Cozzi <federicocozzi@federicocozzi.it>, 2004.
# Federico Zenith <federico.zenith@member.fsf.org>, 2004, 2008, 2009, 2010, 2011.
# Andrea Rizzi <Andrea.Rizzi@sns.it>, 2004.
# Nicola Ruggero <nixprog.adsl@tiscali.it>, 2005, 2006.
# Nicola Ruggero <nicola@nxnt.org>, 2006, 2007, 2010.
# Luciano Montanaro <mikelima@cirulla.net>, 2007.
# Dario Panico <Dareus_Persarumrex@fastwebnet.it>, 2008.
# Pino Toscano <toscano.pino@tiscali.it>, 2008.
# Federico Zenith <federico.zenith@member.fsf.org>, 2008, 2012, 2013, 2014, 2015.
# Innocenzo Ventre <innocenzo.ventre@gmail.com>, 2012.
# Vincenzo Reale <smart2128@baslug.org>, 2014, 2015.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2015-02-28 09:34+0000\n"
"PO-Revision-Date: 2015-03-01 17:18+0100\n"
"Last-Translator: Vincenzo Reale <smart2128@baslug.org>\n"
"Language-Team: Italian <kde-i18n-it@kde.org>\n"
"Language: it\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Generator: Lokalize 1.5\n"

msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr ""
"Vincenzo Reale,Federico Zenith,Dario Panico,Nicola Ruggero,Federico Cozzi"

msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "smart2128@baslug.org,,,,"

#: kcmodule.cpp:166
msgid "You will be asked to authenticate before saving"
msgstr "Ti sarà richiesto di autenticarti prima di salvare"

#: kcmodule.cpp:170
msgid "You are not allowed to save the configuration"
msgstr "Non hai il permesso di salvare la configurazione"

#: kcodecaction.cpp:90
msgctxt "Encodings menu"
msgid "Default"
msgstr "Predefinita"

#: kcodecaction.cpp:98
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Riconoscimento automatico"

#: kconfigdialog.cpp:45
msgctxt "@title:window"
msgid "Configure"
msgstr "Configura"

#: klanguagebutton.cpp:194
msgid "without name"
msgstr "senza nome"

#: krecentfilesaction.cpp:78
msgid "No Entries"
msgstr "Nessuna voce"

#: krecentfilesaction.cpp:84
msgid "Clear List"
msgstr "Pulisci elenco"

#: kstandardaction.cpp:90
msgctxt "go back"
msgid "&Back"
msgstr "&Indietro"

#: kstandardaction.cpp:97
msgctxt "go forward"
msgid "&Forward"
msgstr "&Avanti"

#: kstandardaction.cpp:104
msgctxt "home page"
msgid "&Home"
msgstr "&Home"

#: kstandardaction.cpp:107
msgctxt "show help"
msgid "&Help"
msgstr "&Aiuto"

#: kstandardaction.cpp:526 kstandardaction_p.h:96
msgid "Show &Menubar"
msgstr "Mostra la barra dei &menu"

#: kstandardaction.cpp:534
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Mostra la barra dei menu<p>Mostra di nuovo la barra dei menu dopo che è "
"stata nascosta</p>"

#: kstandardaction.cpp:552 kstandardaction_p.h:98
msgid "Show St&atusbar"
msgstr "Mostra la barra di st&ato"

#: kstandardaction.cpp:555
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Mostra la barra di stato<p>Mostra la barra di stato, cioè quella in fondo "
"alla finestra che indica lo stato dell'applicazione.</p>"

#: kstandardaction_p.h:41
msgid "&New"
msgstr "&Nuovo"

#: kstandardaction_p.h:41
msgid "Create new document"
msgstr "Crea nuovo documento"

#: kstandardaction_p.h:42
msgid "&Open..."
msgstr "&Apri..."

#: kstandardaction_p.h:42
msgid "Open an existing document"
msgstr "Apri un documento esistente"

#: kstandardaction_p.h:43
msgid "Open &Recent"
msgstr "Apri &recente"

#: kstandardaction_p.h:43
msgid "Open a document which was recently opened"
msgstr "Apri un documento recentemente aperto"

#: kstandardaction_p.h:44
msgid "&Save"
msgstr "&Salva"

#: kstandardaction_p.h:44
msgid "Save document"
msgstr "Salva documento"

#: kstandardaction_p.h:45
msgid "Save &As..."
msgstr "Salva co&me..."

#: kstandardaction_p.h:45
msgid "Save document under a new name"
msgstr "Salva documento con un nuovo nome"

#: kstandardaction_p.h:46
msgid "Re&vert"
msgstr "Ann&ulla"

#: kstandardaction_p.h:46
msgid "Revert unsaved changes made to document"
msgstr "Annulla le modifiche non salvate fatte al documento"

#: kstandardaction_p.h:47
msgid "&Close"
msgstr "&Chiudi"

#: kstandardaction_p.h:47
msgid "Close document"
msgstr "Chiudi documento"

#: kstandardaction_p.h:48
msgid "&Print..."
msgstr "Stam&pa..."

#: kstandardaction_p.h:48
msgid "Print document"
msgstr "Stampa documento"

#: kstandardaction_p.h:49
msgid "Print Previe&w"
msgstr "Ante&prima di stampa"

#: kstandardaction_p.h:49
msgid "Show a print preview of document"
msgstr "Mostra un'anteprima di stampa del documento"

#: kstandardaction_p.h:50
msgid "&Mail..."
msgstr "S&pedisci..."

#: kstandardaction_p.h:50
msgid "Send document by mail"
msgstr "Invia documento per posta"

#: kstandardaction_p.h:51
msgid "&Quit"
msgstr "&Esci"

#: kstandardaction_p.h:51
msgid "Quit application"
msgstr "Esci dall'applicazione"

#: kstandardaction_p.h:53
msgid "&Undo"
msgstr "&Annulla"

#: kstandardaction_p.h:53
msgid "Undo last action"
msgstr "Annulla l'ultima azione"

#: kstandardaction_p.h:54
msgid "Re&do"
msgstr "Ri&fai"

#: kstandardaction_p.h:54
msgid "Redo last undone action"
msgstr "Rifai l'ultima azione annullata"

#: kstandardaction_p.h:55
msgid "Cu&t"
msgstr "&Taglia"

#: kstandardaction_p.h:55
msgid "Cut selection to clipboard"
msgstr "Taglia la selezione negli appunti"

#: kstandardaction_p.h:56
msgid "&Copy"
msgstr "&Copia"

#: kstandardaction_p.h:56
msgid "Copy selection to clipboard"
msgstr "Copia la selezione negli appunti"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "&Paste"
msgstr "&Incolla"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "Paste clipboard content"
msgstr "Incolla il contenuto degli appunti"

#: kstandardaction_p.h:59
msgid "C&lear"
msgstr "Pu&lisci"

#: kstandardaction_p.h:60
msgid "Select &All"
msgstr "Seleziona t&utto"

#: kstandardaction_p.h:61
msgid "Dese&lect"
msgstr "Dese&leziona"

#: kstandardaction_p.h:62
msgid "&Find..."
msgstr "Tro&va..."

#: kstandardaction_p.h:63
msgid "Find &Next"
msgstr "Trova &successivo"

#: kstandardaction_p.h:64
msgid "Find Pre&vious"
msgstr "Trova &precedente"

#: kstandardaction_p.h:65
msgid "&Replace..."
msgstr "S&ostituisci..."

#: kstandardaction_p.h:67
msgid "&Actual Size"
msgstr "Dimensione re&ale"

#: kstandardaction_p.h:67
msgid "View document at its actual size"
msgstr "Mostra il documento nelle sue dimensioni effettive"

#: kstandardaction_p.h:68
msgid "&Fit to Page"
msgstr "&Adatta alla pagina"

#: kstandardaction_p.h:68
msgid "Zoom to fit page in window"
msgstr "Adatta le dimensioni della pagina alla finestra"

#: kstandardaction_p.h:69
msgid "Fit to Page &Width"
msgstr "Adatta alla &larghezza della pagina"

#: kstandardaction_p.h:69
msgid "Zoom to fit page width in window"
msgstr "Adatta la larghezza della pagina alla finestra"

#: kstandardaction_p.h:70
msgid "Fit to Page &Height"
msgstr "Adatta all'&altezza della pagina"

#: kstandardaction_p.h:70
msgid "Zoom to fit page height in window"
msgstr "Adatta l'altezza della pagina alla finestra"

#: kstandardaction_p.h:71
msgid "Zoom &In"
msgstr "&Ingrandisci"

#: kstandardaction_p.h:72
msgid "Zoom &Out"
msgstr "&Rimpicciolisci"

#: kstandardaction_p.h:73
msgid "&Zoom..."
msgstr "In&grandimento..."

#: kstandardaction_p.h:73
msgid "Select zoom level"
msgstr "Seleziona il livello di ingrandimento"

#: kstandardaction_p.h:74
msgid "&Redisplay"
msgstr "&Ridisegna"

#: kstandardaction_p.h:74
msgid "Redisplay document"
msgstr "Ridisegna il documento"

#: kstandardaction_p.h:76
msgid "&Up"
msgstr "&Su"

#: kstandardaction_p.h:76
msgid "Go up"
msgstr "Vai in su"

#: kstandardaction_p.h:81
msgid "&Previous Page"
msgstr "Pagina &precedente"

#: kstandardaction_p.h:81
msgid "Go to previous page"
msgstr "Vai alla pagina precedente"

#: kstandardaction_p.h:82
msgid "&Next Page"
msgstr "Pagina &successiva"

#: kstandardaction_p.h:82
msgid "Go to next page"
msgstr "Vai alla pagina successiva"

#: kstandardaction_p.h:83
msgid "&Go To..."
msgstr "&Vai a..."

#: kstandardaction_p.h:84
msgid "&Go to Page..."
msgstr "Vai alla &pagina..."

#: kstandardaction_p.h:85
msgid "&Go to Line..."
msgstr "Vai alla &riga..."

#: kstandardaction_p.h:86
msgid "&First Page"
msgstr "&Prima pagina"

#: kstandardaction_p.h:86
msgid "Go to first page"
msgstr "Vai alla prima pagina"

#: kstandardaction_p.h:87
msgid "&Last Page"
msgstr "&Ultima pagina"

#: kstandardaction_p.h:87
msgid "Go to last page"
msgstr "Vai all'ultima pagina"

#: kstandardaction_p.h:88
msgid "&Back"
msgstr "&Indietro"

#: kstandardaction_p.h:88
msgid "Go back in document"
msgstr "Indietro nel documento"

#: kstandardaction_p.h:89
msgid "&Forward"
msgstr "&Avanti"

#: kstandardaction_p.h:89
msgid "Go forward in document"
msgstr "Avanti nel documento"

#: kstandardaction_p.h:91
msgid "&Add Bookmark"
msgstr "&Aggiungi un segnalibro"

#: kstandardaction_p.h:92
msgid "&Edit Bookmarks..."
msgstr "&Modifica segnalibri..."

#: kstandardaction_p.h:94
msgid "&Spelling..."
msgstr "&Ortografia..."

#: kstandardaction_p.h:94
msgid "Check spelling in document"
msgstr "Controlla l'ortografia nel documento"

#: kstandardaction_p.h:96
msgid "Show or hide menubar"
msgstr "Mostra o nascondi la barra dei menu"

#: kstandardaction_p.h:97
msgid "Show &Toolbar"
msgstr "Mostra la barra degli &strumenti"

#: kstandardaction_p.h:97
msgid "Show or hide toolbar"
msgstr "Mostra o nascondi la barra degli strumenti"

#: kstandardaction_p.h:98
msgid "Show or hide statusbar"
msgstr "Mostra o nascondi la barra di stato"

#: kstandardaction_p.h:99
msgid "F&ull Screen Mode"
msgstr "Modalità a t&utto schermo"

#: kstandardaction_p.h:100
msgid "&Save Settings"
msgstr "Salva imp&ostazioni"

#: kstandardaction_p.h:101
msgid "Configure S&hortcuts..."
msgstr "Configura le scorcia&toie..."

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "&Configura %1..."

#: kstandardaction_p.h:103
msgid "Configure Tool&bars..."
msgstr "Configura le &barre degli strumenti..."

#: kstandardaction_p.h:104
msgid "Configure &Notifications..."
msgstr "Configura le &notifiche..."

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "&Manuale di %1"

#: kstandardaction_p.h:110
msgid "What's &This?"
msgstr "Che &cos'è?"

#: kstandardaction_p.h:111
msgid "Tip of the &Day"
msgstr "&Suggerimento del giorno"

#: kstandardaction_p.h:112
msgid "&Report Bug..."
msgstr "Segnala un e&rrore..."

#: kstandardaction_p.h:113
msgid "Switch Application &Language..."
msgstr "Cambia la &lingua dell'applicazione..."

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "Informazioni &su %1"

#: kstandardaction_p.h:115
msgid "About &KDE"
msgstr "Informazioni su &KDE"

#: ktipdialog.cpp:239
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Suggerimento del giorno"

#: ktipdialog.cpp:255
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Sapevi che...?\n"

#: ktipdialog.cpp:307
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "Mo&stra i suggerimenti all'avvio"

#: ktipdialog.cpp:312
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Precedente"

#: ktipdialog.cpp:317
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Successivo"
