[KCM Locale]
Name=Chhattisgarhi
Name[ca]=Chattisgarbi
Name[es]=Chatisgarí
Name[ia]=Chhattisgarhi 
Name[nl]=Chhattisgarhi
Name[sl]=Čatisgarščina
Name[tr]=Çatisgarice
Name[uk]=чхатісгарі
Name[x-test]=xxChhattisgarhixx
