[KCM Locale]
Name=Chhattisgarhi
Name[ca]=Chattisgarbi
Name[es]=Chatisgarí
Name[ia]=Chhattisgarhi 
Name[nl]=Chhattisgarhi
Name[tr]=Çatisgarice
Name[uk]=чхатісгарі
