[KCM Locale]
Name=Romanian
Name[ca]=Romanès
Name[es]=Rumano
Name[ia]=Romaniano
Name[nl]=Roemeens
Name[sl]=Romunščina
Name[tr]=Rumence
Name[uk]=румунська
Name[x-test]=xxRomanianxx
