[KCM Locale]
Name=Portuguese
Name[ca]=Portuguès
Name[es]=Portugués
Name[ia]=Portugese
Name[nl]=Portugees
Name[sl]=Portugalščina
Name[tr]=Portekizce
Name[uk]=португальська
Name[x-test]=xxPortuguesexx
