# Finnish messages for kdelibs4.
# Copyright © 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012 This_file_is_part_of_KDE
# This file is distributed under the same license as the kdelibs package.
# Kim Enkovaara <kim.enkovaara@iki.fi>, 2002,2003, 2005, 2006, 2007.
# Tapio Kautto <eleknader@phnet.fi>, 2003, 2004.
# Mikko Ikola <kola@netikka.fi>, 2003.
# Teemu Rytilahti <teemu.rytilahti@d5k.net>, 2003, 2008.
# Mikko Ikola <ikola@iki.fi>, 2003.
# Teemu Rytilahti <teemu.rytilahti@kde-fi.org>, 2003, 2004, 2008.
# Niklas Laxström <niklas.laxstrom+kdetrans@gmail.com>, 2006, 2007.
# Joonas Niilola <juippis@roskakori.org>, 2006.
# Mikko Piippo <piippo@cc.helsinki.fi>, 2007.
# Teemu Rytilahti <tpr@d5k.net>, 2008.
# Tommi Nieminen <translator@legisign.org>, 2009, 2010, 2011, 2019, 2020, 2021, 2022.
# Jorma Karvonen <karvonen.jorma@gmail.com>, 2010.
# Lasse Liehu <lasse.liehu@gmail.com>, 2006, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017.
#
# KDE Finnish translation sprint participants:
# Author: Artnay
# Author: Jl
# Author: Lliehu
# Author: Niklas Laxström
# Author: Suhviksi
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2022-09-30 00:40+0000\n"
"PO-Revision-Date: 2022-07-13 18:02+0300\n"
"Last-Translator: Tommi Nieminen <translator@legisign.org>\n"
"Language-Team: Finnish <kde-i18n-doc@kde.org>\n"
"Language: fi\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=(n != 1);\n"
"X-Generator: Lokalize 20.12.0\n"
"X-POT-Import-Date: 2013-01-13 20:43:21+0000\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr ""
"Kim Enkovaara, Tapio Kautto, Mikko Ikola, Teemu Rytilahti, Lasse Liehu, "
"Niklas Laxström, Joonas Niilola, Mikko Piippo, Tommi Nieminen, Jorma Karvonen"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr ""
"kim.enkovaara@iki.fi, eleknader@phnet.fi, ikola@iki.fi, tpr@d5k.net, lasse."
"liehu@gmail.com, niklas.laxstrom+kdetrans@gmail.com, juippis@roskakori.org, "
"piippo@cc.helsinki.fi, translator@legisign.org, karvonen.jorma@gmail.com"

#: kcmodule.cpp:198
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "Sinua pyydetään tunnistautumaan ennen tallennusta"

#: kcmodule.cpp:202
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "Asetusten tallentamiseen ei ole lupaa"

#: kcodecaction.cpp:66
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Oletus"

#: kcodecaction.cpp:74
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Tunnista automaattisesti"

#: kcolorschememanager.cpp:226 kcolorschememanager.cpp:235
#, kde-format
msgid "Color Scheme"
msgstr "Väriteema"

#: kcolorschememodel.cpp:71
#, kde-format
msgid "Default"
msgstr "Oletus"

#: kcommandbar.cpp:560
#, kde-format
msgid "No commands matching the filter"
msgstr "Ei suodatinta vastaavia komentoja"

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Asetukset"

#: khamburgermenu.cpp:123
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "&Valikko"

#: khamburgermenu.cpp:324
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "Näytä &valikkorivi kaikilla toiminnoilla"

#: khamburgermenu.cpp:350
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "Lisää"

#: khamburgermenu.cpp:351
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "Lisää toimintoja"

#: krecentfilesaction.cpp:70
#, kde-format
msgid "No Entries"
msgstr "Ei toimintoja"

#: krecentfilesaction.cpp:76
#, kde-format
msgid "Clear List"
msgstr "Tyhjennä luettelo"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Takaisin"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Seuraava"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Koti"

#: kstandardaction.cpp:175
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "O&hje"

#: kstandardaction.cpp:232
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "Näytä valikkorivi<p>Näyttää valikkorivin jos se on piilotettu</p>"

#: kstandardaction.cpp:253
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Näytä tilarivi<p>Näyttää tilarivin, joka on ikkunan alareunassa oleva "
"palkki, jossa näytetään sovelluksen tilatietoja.</p>"

#: kstandardaction_p.h:30
msgid "&New"
msgstr "&Uusi"

#: kstandardaction_p.h:30
msgid "Create new document"
msgstr "Luo uusi tiedosto"

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "&Avaa…"

#: kstandardaction_p.h:31
msgid "Open an existing document"
msgstr "Avaa olemassa oleva tiedosto"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "Avaa &viimeaikainen"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr "Avaa viimeksi avattu tiedosto"

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "&Tallenna"

#: kstandardaction_p.h:33
msgid "Save document"
msgstr "Tallenna tiedosto"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "Tallenna &nimellä…"

#: kstandardaction_p.h:34
msgid "Save document under a new name"
msgstr "Tallenna tiedosto uudella nimellä"

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "P&alauta"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr "Peru tiedoston tallentamattomat muutokset"

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "&Sulje"

#: kstandardaction_p.h:36
msgid "Close document"
msgstr "Sulje tiedosto"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "T&ulosta…"

#: kstandardaction_p.h:37
msgid "Print document"
msgstr "Tulosta tiedosto"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "Tulostuksen &esikatselu"

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr "Näytä tiedoston tulostuksen esikatselu"

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "&Lähetä…"

#: kstandardaction_p.h:39
msgid "Send document by mail"
msgstr "Lähetä tiedosto sähköpostitse"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "&Lopeta"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "Lopeta ohjelma"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "&Kumoa"

#: kstandardaction_p.h:42
msgid "Undo last action"
msgstr "Kumoa viimeisin toiminto"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "Tee &uudelleen"

#: kstandardaction_p.h:43
msgid "Redo last undone action"
msgstr "Tee viimeisin kumottu toiminto uudelleen"

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "&Leikkaa"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr "Leikkaa valinta leikepöydälle"

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "K&opioi"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr "Kopioi valinta leikepöydälle"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "L&iitä"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "Paste clipboard content"
msgstr "Liitä leikepöydän sisältö"

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "&Tyhjennä"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "V&alitse kaikki"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "&Poista valinta"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "&Etsi…"

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "Etsi &seuraava"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "Etsi e&dellinen"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "&Korvaa…"

#: kstandardaction_p.h:58
msgid "Zoom to &Actual Size"
msgstr "Lähennä &todelliseen kokoon"

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr "Näytä tiedosto sen todellisessa koossa"

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "&Sovita sivulle"

#: kstandardaction_p.h:59
msgid "Zoom to fit page in window"
msgstr "Sovita sivu ikkunan kokoon"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "Sovita sivun &leveyteen"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr "Sovita sivun leveys ikkunan kokoon"

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "Sovita sivun &korkeuteen"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr "Sovita sivun korkeus ikkunan kokoon"

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "&Lähennä"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "&Loitonna"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "&Lähennä tai loitonna…"

#: kstandardaction_p.h:64
msgid "Select zoom level"
msgstr "Valitse zoomaustaso"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr "&Virkistä"

# ”Virkistä tiedosto” ei oikein esim. Dolphinissa käy, koska paremmin virkistetään kansiokin kuin tiedosto; toivottavasti ”näkymä” on riittävän yleinen toimiakseen kaikissa konteksteissa
#: kstandardaction_p.h:65
msgid "Refresh document"
msgstr "Virkistä tiedosto"

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "&Ylös"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr "Siirry ylös"

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "E&dellinen sivu"

#: kstandardaction_p.h:72
msgid "Go to previous page"
msgstr "Siirry edelliselle sivulle"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "&Seuraava sivu"

#: kstandardaction_p.h:73
msgid "Go to next page"
msgstr "Siirry seuraavalle sivulle"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "&Siirry…"

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "&Siirry sivulle…"

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "Siirry &riville…"

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "&Ensimmäinen sivu"

#: kstandardaction_p.h:77
msgid "Go to first page"
msgstr "Siirry ensimmäiselle sivulle"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "&Viimeinen sivu"

#: kstandardaction_p.h:78
msgid "Go to last page"
msgstr "Siirry viimeiselle sivulle"

#: kstandardaction_p.h:79
msgid "&Back"
msgstr "&Takaisin"

#: kstandardaction_p.h:79
msgid "Go back in document"
msgstr "Siirry taaksepäin tiedostossa"

#: kstandardaction_p.h:80
msgid "&Forward"
msgstr "&Seuraava"

#: kstandardaction_p.h:80
msgid "Go forward in document"
msgstr "Siirry eteenpäin tiedostossa"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "&Lisää kirjanmerkki"

#: kstandardaction_p.h:83
msgid "&Edit Bookmarks..."
msgstr "&Muokkaa kirjanmerkkejä…"

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "&Oikoluku…"

#: kstandardaction_p.h:85
msgid "Check spelling in document"
msgstr "Tarkista tiedoston oikeinkirjoitus"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "Näytä &valikkorivi"

#: kstandardaction_p.h:87
msgid "Show or hide menubar"
msgstr "Näytä tai piilota valikkorivi"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "Näytä &työkalurivi"

#: kstandardaction_p.h:88
msgid "Show or hide toolbar"
msgstr "Näytä tai piilota työkalurivi"

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "Näytä &tilarivi"

#: kstandardaction_p.h:89
msgid "Show or hide statusbar"
msgstr "Näytä tai piilota tilarivi"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "&Koko näytön tila"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "&Tallenna asetukset"

#: kstandardaction_p.h:94
msgid "Configure Keyboard S&hortcuts..."
msgstr "Aseta &pikanäppäimet…"

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "&Asetukset: %1…|/|$[gen %1] &asetukset…"

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "&Muokkaa työkalurivejä…"

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "Muokkaa &ilmoituksia…"

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "%1-käyttö&ohje|/|$[gen %1] käyttö&ohje"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "&Mikä tämä on?"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "Päivän &vinkki"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "&Ilmoita viasta…"

#: kstandardaction_p.h:108
msgid "Configure &Language..."
msgstr "&Kieliasetukset…"

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "&Tietoa: %1|/|&Tietoa $[yleisnimi_pienellä $[elat %1] ]"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "Tietoa &KDE:stä"

#: kstandardaction_p.h:111
msgid "&Delete"
msgstr "&Poista"

#: kstandardaction_p.h:112
msgid "&Rename..."
msgstr "&Muuta nimeä…"

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr "Siirrä &roskakoriin"

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr "&Lahjoita"

#: kstandardaction_p.h:115
msgid "Open &Menu"
msgstr "Avaa &valikko"

#: ktipdialog.cpp:222
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Päivän vinkki"

#: ktipdialog.cpp:238
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Tiesitkö…?\n"

#: ktipdialog.cpp:291
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "&Näytä vinkit käynnistettäessä"

#: ktipdialog.cpp:296
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Edellinen"

#: ktipdialog.cpp:301
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Seuraava"
