[KCM Locale]
Name=Simplified Chinese
Name[ca]=Xinès simplificat
Name[es]=Chino simplificado
Name[ia]=Chinese simplificate
Name[nl]=Vereenvoudigd Chinees
Name[tr]=Basitleştirilmiş Çince
Name[uk]=спрощена китайська
