[KCM Locale]
Name=Simplified Chinese
Name[ia]=Chinese simplificate
Name[nl]=Vereenvoudigd Chinees
Name[tr]=Basitleştirilmiş Çince
Name[uk]=спрощена китайська
