[KCM Locale]
Name=Toki Pona
Name[ar]=توكي بونا
Name[az]=Toki Pona
Name[bg]=Токи Пона
Name[ca]=Toki pona
Name[ca@valencia]=Toki pona
Name[de]=Toki Pona
Name[en_GB]=Toki Pona
Name[es]=Toki pona
Name[eu]=Toki Pona
Name[fi]=Toki Pona
Name[fr]=Toki Pona
Name[ia]=Toki Pona
Name[id]=Toki Pona
Name[it]=Toki Pona
Name[ko]=도기 보나
Name[nl]=Toki Pona
Name[nn]=Toki pona
Name[pl]=Toki Pona
Name[pt]=Toki Pona
Name[pt_BR]=Toki Pona
Name[ro]=Toki Pona
Name[ru]=Токипона
Name[sk]=Toki Pona
Name[sl]=Toki Pona
Name[sv]=Toki Pona
Name[ta]=டோக்கி போனா
Name[tr]=Toki Pona
Name[uk]=Токі-пона
Name[vi]=Toki Pona
Name[x-test]=xxToki Ponaxx
Name[zh_CN]=Toki Pona
