# Copyright (C) YEAR This_file_is_part_of_KDE
# This file is distributed under the same license as the PACKAGE package.
#
# Amitakhya Phukan <aphukan@fedoraproject.org>, 2008.
# Amitakhya Phukan <অমিতাক্ষ ফুকন>, 2008.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4_as\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2021-04-07 00:16+0000\n"
"PO-Revision-Date: 2008-12-26 15:19+0530\n"
"Last-Translator: Amitakhya Phukan <অমিতাক্ষ ফুকন>\n"
"Language-Team: Assamese <fedora-trans-as@redhat.com>\n"
"Language: as\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Generator: Lokalize 0.2\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "অমিতাক্ষ ফুকন"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "aphukan@fedoraproject.org"

#: kcmodule.cpp:185
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr ""

#: kcmodule.cpp:189
#, fuzzy, kde-format
#| msgid "Do you want to reload KDE configuration?"
msgid "You are not allowed to save the configuration"
msgstr "KDE বিন্যাস পুনঃ তুলি লোৱা হ'ব নেকি ?"

#: kcodecaction.cpp:66
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "অবিকল্পিত মান"

#: kcodecaction.cpp:74
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "স্বয়ংক্ৰিয় চিনাক্তকৰণ"

#: kcolorschememanager.cpp:147
#, fuzzy, kde-format
#| msgctxt "Encodings menu"
#| msgid "Default"
msgid "Default"
msgstr "অবিকল্পিত মান"

#: kcolorschememanager.cpp:224 kcolorschememanager.cpp:229
#, fuzzy, kde-format
#| msgid "Shortcut Schemes"
msgid "Color Scheme"
msgstr "চমু পথ আঁচনি"

#: kconfigdialog.cpp:33
#, fuzzy, kde-format
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "বিন্যাস কৰক"

#: khamburgermenu.cpp:126
#, fuzzy, kde-format
#| msgctxt "keyboard-key-name"
#| msgid "Menu"
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "Menu"

#: khamburgermenu.cpp:337
#, fuzzy, kde-format
#| msgid ""
#| "Could not find 'kdemain' in '%1'.\n"
#| "%2"
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "For %1 more action:"
msgid_plural "For %1 more actions:"
msgstr[0] ""
"'%1'-ত 'kdemain' পোৱা নাযায় ।\n"
"%2"
msgstr[1] ""
"'%1'-ত 'kdemain' পোৱা নাযায় ।\n"
"%2"

#: khamburgermenu.cpp:340
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "%1 Menu Bar Exclusive Action"
msgid_plural "%1 Menu Bar Exclusive Actions"
msgstr[0] ""
msgstr[1] ""

#: krecentfilesaction.cpp:68
#, fuzzy, kde-format
#| msgid "No entries"
msgid "No Entries"
msgstr "কোনো নিবেশ উপস্থিত নাই"

#: krecentfilesaction.cpp:74
#, fuzzy, kde-format
#| msgid "Clear input"
msgid "Clear List"
msgstr "নিবেশ কৰা তথ্য আঁতৰুৱা হ'ব"

#: kstandardaction.cpp:138
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "পূৰ্ববৰ্তী (&B)"

#: kstandardaction.cpp:145
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "পৰবৰ্তী পদক্ষেপ (&F)"

#: kstandardaction.cpp:152
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "প্ৰথম পৃষ্ঠা (&H)"

#: kstandardaction.cpp:156
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "সহায় (&H)"

#: kstandardaction.cpp:213
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""

#: kstandardaction.cpp:234
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""

#: kstandardaction_p.h:29
#, kde-format
msgid "&New"
msgstr "নতুন (&N)"

#: kstandardaction_p.h:29
#, fuzzy, kde-format
#| msgid "Create New Tag..."
msgid "Create new document"
msgstr "নতুন টেগ নিৰ্মাণ কৰক"

#: kstandardaction_p.h:30
#, kde-format
msgid "&Open..."
msgstr "খোলক...(&O)"

#: kstandardaction_p.h:30
#, fuzzy, kde-format
#| msgid "&Back in the Document"
msgid "Open an existing document"
msgstr "আলেখ্যনৰ পূৰ্ববৰ্তী অংশ (&B)"

#: kstandardaction_p.h:31
#, kde-format
msgid "Open &Recent"
msgstr "সম্প্ৰতি ব্যৱহৃত খোলক (&R)"

#: kstandardaction_p.h:31
#, kde-format
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:32
#, kde-format
msgid "&Save"
msgstr "সংৰক্ষণ কৰক (&S)"

#: kstandardaction_p.h:32
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Save document"
msgstr "আলেখ্যন বন্ধ কৰক"

#: kstandardaction_p.h:33
#, kde-format
msgid "Save &As..."
msgstr "নতুন ৰূপে সংৰক্ষণ...(&A)"

#: kstandardaction_p.h:33
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Save document under a new name"
msgstr "আলেখ্যন বন্ধ কৰক"

#: kstandardaction_p.h:34
#, kde-format
msgid "Re&vert"
msgstr "পূৰ্বাবস্থা (&v)"

#: kstandardaction_p.h:34
#, kde-format
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:35
#, kde-format
msgid "&Close"
msgstr "বন্ধ কৰক (&C)"

#: kstandardaction_p.h:35
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Close document"
msgstr "আলেখ্যন বন্ধ কৰক"

#: kstandardaction_p.h:36
#, kde-format
msgid "&Print..."
msgstr "মূদ্ৰণ কৰক...(&P)"

#: kstandardaction_p.h:36
#, fuzzy, kde-format
#| msgctxt "keyboard-key-name"
#| msgid "PrintScreen"
msgid "Print document"
msgstr "PrintScreen"

#: kstandardaction_p.h:37
#, kde-format
msgid "Print Previe&w"
msgstr "মূদ্ৰণৰ পূৰ্বৰূপ (&w)"

#: kstandardaction_p.h:37
#, kde-format
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:38
#, kde-format
msgid "&Mail..."
msgstr "ডাক...(&M)"

#: kstandardaction_p.h:38
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Send document by mail"
msgstr "আলেখ্যন বন্ধ কৰক"

#: kstandardaction_p.h:39
#, kde-format
msgid "&Quit"
msgstr "প্ৰস্থান (&Q)"

#: kstandardaction_p.h:39
#, kde-format
msgid "Quit application"
msgstr "অনুপ্ৰয়োগৰ পৰা প্ৰস্থান কৰক"

#: kstandardaction_p.h:41
#, kde-format
msgid "&Undo"
msgstr "পূৰ্বাবস্থা (&U)"

#: kstandardaction_p.h:41
#, fuzzy, kde-format
#| msgid "HTML documentation"
msgid "Undo last action"
msgstr "HTML নথিপত্ৰ"

#: kstandardaction_p.h:42
#, kde-format
msgid "Re&do"
msgstr "পুনৰাবৃত্তি (&d)"

#: kstandardaction_p.h:42
#, fuzzy, kde-format
#| msgid "HTML documentation"
msgid "Redo last undone action"
msgstr "HTML নথিপত্ৰ"

#: kstandardaction_p.h:43
#, kde-format
msgid "Cu&t"
msgstr "কাটক (&t)"

#: kstandardaction_p.h:43
#, kde-format
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:44
#, kde-format
msgid "&Copy"
msgstr "নকল কৰক (&C)"

#: kstandardaction_p.h:44
#, kde-format
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:45 kstandardaction_p.h:47
#, kde-format
msgid "&Paste"
msgstr "আঠা লগাওক (&P)"

#: kstandardaction_p.h:45 kstandardaction_p.h:47
#, fuzzy, kde-format
#| msgid "Loading Preview"
msgid "Paste clipboard content"
msgstr "পূৰ্বপ্ৰদৰ্শন তুলি লোৱা হৈছে"

#: kstandardaction_p.h:49
#, kde-format
msgid "C&lear"
msgstr "পৰিশ্ৰুত কৰক (&l)"

#: kstandardaction_p.h:50
#, kde-format
msgid "Select &All"
msgstr "সমগ্ৰ নিৰ্ব্বাচন কৰক (&A)"

#: kstandardaction_p.h:51
#, kde-format
msgid "Dese&lect"
msgstr "নিৰ্ব্বাচন বাতিল (&l)"

#: kstandardaction_p.h:52
#, kde-format
msgid "&Find..."
msgstr "অনুসন্ধান...(&F)"

#: kstandardaction_p.h:53
#, kde-format
msgid "Find &Next"
msgstr "পৰবৰ্তী উপস্থিতি অনুসন্ধান (&N)"

#: kstandardaction_p.h:54
#, kde-format
msgid "Find Pre&vious"
msgstr "পূৰ্ববৰ্তী উপস্থিতি অনুসন্ধান (&v)"

#: kstandardaction_p.h:55
#, kde-format
msgid "&Replace..."
msgstr "প্ৰতিস্থাপন...(&R)"

#: kstandardaction_p.h:57
#, kde-format
msgid "&Actual Size"
msgstr "প্ৰকৃত মাপ (&A)"

#: kstandardaction_p.h:57
#, kde-format
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:58
#, kde-format
msgid "&Fit to Page"
msgstr "পৃষ্ঠা অনুযায়ী মাপ নিৰ্ধাৰণ (&F)"

#: kstandardaction_p.h:58
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Zoom to fit page in window"
msgstr "উল্লেখিত পংক্তি সংখ্যা চাওক"

#: kstandardaction_p.h:59
#, kde-format
msgid "Fit to Page &Width"
msgstr "পৃষ্ঠাৰ প্ৰস্থ অনুযায়ী মাপ নিৰ্ধাৰণ (&W)"

#: kstandardaction_p.h:59
#, kde-format
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:60
#, kde-format
msgid "Fit to Page &Height"
msgstr "পৃষ্ঠাৰ দৈৰ্ঘ্য অনুযায়ী মাপ নিৰ্ধাৰণ (&H)"

#: kstandardaction_p.h:60
#, kde-format
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:61
#, kde-format
msgid "Zoom &In"
msgstr "ডাঙৰকৈ প্ৰদৰ্শন (&I)"

#: kstandardaction_p.h:62
#, kde-format
msgid "Zoom &Out"
msgstr "সৰুকৈ প্ৰদৰ্শন (&O)"

#: kstandardaction_p.h:63
#, kde-format
msgid "&Zoom..."
msgstr "প্ৰদৰ্শনৰ মাপ...(&Z)"

#: kstandardaction_p.h:63
#, fuzzy, kde-format
#| msgid "Select a week"
msgid "Select zoom level"
msgstr "এটা সপ্তাহ নিৰ্ব্বাচন কৰক"

#: kstandardaction_p.h:64
#, kde-format
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:64
#, fuzzy, kde-format
#| msgid "&Redisplay"
msgid "Refresh document"
msgstr "পুনঃ প্ৰদৰ্শন (&R)"

#: kstandardaction_p.h:66
#, kde-format
msgid "&Up"
msgstr "ওপৰত (&U)"

#: kstandardaction_p.h:66
#, kde-format
msgid "Go up"
msgstr ""

#: kstandardaction_p.h:71
#, kde-format
msgid "&Previous Page"
msgstr "পূৰ্ববৰ্তী পৃষ্ঠা (&P)"

#: kstandardaction_p.h:71
#, fuzzy, kde-format
#| msgid "&Previous Page"
msgid "Go to previous page"
msgstr "পূৰ্ববৰ্তী পৃষ্ঠা (&P)"

#: kstandardaction_p.h:72
#, kde-format
msgid "&Next Page"
msgstr "পৰবৰ্তী পৃষ্ঠা (&N)"

#: kstandardaction_p.h:72
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to next page"
msgstr "উল্লেখিত পংক্তি সংখ্যা চাওক"

#: kstandardaction_p.h:73
#, kde-format
msgid "&Go To..."
msgstr "-লৈ যাওক...(&G)"

#: kstandardaction_p.h:74
#, kde-format
msgid "&Go to Page..."
msgstr "- পৃষ্ঠালৈ যাওক...(&G)"

#: kstandardaction_p.h:75
#, kde-format
msgid "&Go to Line..."
msgstr "-পংক্তিলৈ যাওক...(&G)"

#: kstandardaction_p.h:76
#, kde-format
msgid "&First Page"
msgstr "প্ৰথম পৃষ্ঠা (&F)"

#: kstandardaction_p.h:76
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to first page"
msgstr "উল্লেখিত পংক্তি সংখ্যা চাওক"

#: kstandardaction_p.h:77
#, kde-format
msgid "&Last Page"
msgstr "অন্তিম পৃষ্ঠা (&L)"

#: kstandardaction_p.h:77
#, fuzzy, kde-format
#| msgid "&Go to Page..."
msgid "Go to last page"
msgstr "- পৃষ্ঠালৈ যাওক...(&G)"

#: kstandardaction_p.h:78
#, kde-format
msgid "&Back"
msgstr "পূৰ্ববৰ্তী (&B)"

#: kstandardaction_p.h:78
#, fuzzy, kde-format
#| msgid "&Back in the Document"
msgid "Go back in document"
msgstr "আলেখ্যনৰ পূৰ্ববৰ্তী অংশ (&B)"

#: kstandardaction_p.h:79
#, fuzzy, kde-format
#| msgctxt "go forward"
#| msgid "&Forward"
msgid "&Forward"
msgstr "পৰবৰ্তী পদক্ষেপ (&F)"

#: kstandardaction_p.h:79
#, fuzzy, kde-format
#| msgid "&Forward in the Document"
msgid "Go forward in document"
msgstr "আলেখ্যনৰ পৰবৰ্তী অংশে (&F)"

#: kstandardaction_p.h:81
#, kde-format
msgid "&Add Bookmark"
msgstr "পত্ৰচিহ্ন যোগ কৰক (&A)"

#: kstandardaction_p.h:82
#, fuzzy, kde-format
#| msgid "&Edit Bookmarks"
msgid "&Edit Bookmarks..."
msgstr "পত্ৰচিহ্ন সম্পাদনা (&E)"

#: kstandardaction_p.h:84
#, kde-format
msgid "&Spelling..."
msgstr "বানান...(&S)"

#: kstandardaction_p.h:84
#, fuzzy, kde-format
#| msgid "Check Spelling"
msgid "Check spelling in document"
msgstr "বানান পৰীক্ষা কৰা হ'ব"

#: kstandardaction_p.h:86
#, kde-format
msgid "Show &Menubar"
msgstr "তালিকাৰ বাৰ প্ৰদৰ্শন (&M)"

#: kstandardaction_p.h:86
#, fuzzy, kde-format
#| msgid "Show &Menubar"
msgid "Show or hide menubar"
msgstr "তালিকাৰ বাৰ প্ৰদৰ্শন (&M)"

#: kstandardaction_p.h:87
#, kde-format
msgid "Show &Toolbar"
msgstr "টুলবাৰ প্ৰদৰ্শন (&T)"

#: kstandardaction_p.h:87
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Show Toolbar"
msgid "Show or hide toolbar"
msgstr "টুলবাৰ প্ৰদৰ্শন"

#: kstandardaction_p.h:88
#, kde-format
msgid "Show St&atusbar"
msgstr "অৱস্থাৰ বাৰ প্ৰদৰ্শন (&a)"

#: kstandardaction_p.h:88
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Show Statusbar"
msgid "Show or hide statusbar"
msgstr "অৱস্থাৰ বাৰ প্ৰদৰ্শন"

#: kstandardaction_p.h:89
#, kde-format
msgid "F&ull Screen Mode"
msgstr "সম্পূৰ্ণ পৰ্দ্দাত প্ৰদৰ্শন (&u)"

#: kstandardaction_p.h:91
#, kde-format
msgid "&Save Settings"
msgstr "বৈশিষ্ট্য সংৰক্ষণ কৰক (&S)"

#: kstandardaction_p.h:93
#, fuzzy, kde-format
#| msgid "Configure S&hortcuts..."
msgid "Configure Keyboard S&hortcuts..."
msgstr "চমুপথ বিন্যাস কৰক...(&h)"

#: kstandardaction_p.h:94
#, kde-format
msgid "&Configure %1..."
msgstr "%1 বিন্যাস কৰক...(&C)"

#: kstandardaction_p.h:95
#, kde-format
msgid "Configure Tool&bars..."
msgstr "টুলবাৰ বিন্যাস কৰক... (&b)"

#: kstandardaction_p.h:96
#, kde-format
msgid "Configure &Notifications..."
msgstr "সূচনাবাৰ্তা বিন্যাস কৰক... (&N)"

#: kstandardaction_p.h:103
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 হাতপুথি (&H)"

#: kstandardaction_p.h:104
#, kde-format
msgid "What's &This?"
msgstr "এইটো কি ? (&T)"

#: kstandardaction_p.h:105
#, kde-format
msgid "Tip of the &Day"
msgstr "দিনৰ উপদেশ (&D)"

#: kstandardaction_p.h:106
#, kde-format
msgid "&Report Bug..."
msgstr "বাগ প্ৰতিবেদন কৰক...(&R)"

#: kstandardaction_p.h:107
#, fuzzy, kde-format
#| msgid "Configure Email..."
msgid "Configure &Language..."
msgstr "ঈ-মেইল বিন্যাস কৰক..."

#: kstandardaction_p.h:108
#, kde-format
msgid "&About %1"
msgstr "%1 বিষয়ে (&A)"

#: kstandardaction_p.h:109
#, kde-format
msgid "About &KDE"
msgstr "KDE বিষয়ে (&K)"

#: kstandardaction_p.h:110
#, fuzzy, kde-format
#| msgid "Delete"
msgid "&Delete"
msgstr "আঁতৰাওঁক"

#: kstandardaction_p.h:111
#, fuzzy, kde-format
#| msgid "&Replace..."
msgid "&Rename..."
msgstr "প্ৰতিস্থাপন...(&R)"

#: kstandardaction_p.h:112
#, kde-format
msgid "&Move to Trash"
msgstr ""

#: kstandardaction_p.h:113
#, kde-format
msgid "&Donate"
msgstr ""

#: kstandardaction_p.h:114
#, fuzzy, kde-format
#| msgid "Open &Recent"
msgid "Open &Menu"
msgstr "সম্প্ৰতি ব্যৱহৃত খোলক (&R)"

#: ktipdialog.cpp:217
#, fuzzy, kde-format
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "আজিৰ উপদেশ"

#: ktipdialog.cpp:233
#, fuzzy, kde-format
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "আপুনি জানে নে...?\n"

#: ktipdialog.cpp:286
#, fuzzy, kde-format
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "আৰম্ভণিত উপেদশ প্ৰদৰ্শন কৰা হ'ব (&S)"

#: ktipdialog.cpp:291
#, fuzzy, kde-format
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "আগৰ (&P)"

#: ktipdialog.cpp:296
#, fuzzy, kde-format
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "পিছৰ (&N)"
