# translation of kdelibs4.po to Qırımtatarca (Qırım Türkçesi)
# Copyright (C) 2008 This_file_is_part_of_KDE
# This file is distributed under the same license as the kdelibs package.
#
# Reşat SABIQ <tilde.birlik@gmail.com>, 2008, 2009.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2022-05-03 00:40+0000\n"
"PO-Revision-Date: 2009-02-12 23:29-0600\n"
"Last-Translator: Reşat SABIQ <tilde.birlik@gmail.com>\n"
"Language-Team: Qırımtatarca (Qırım Türkçesi)\n"
"Language: crh\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Generator: KBabel 1.11.4\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Reşat SABIQ"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "tilde.birlik@gmail.com"

#: kcmodule.cpp:189
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr ""

#: kcmodule.cpp:193
#, fuzzy, kde-format
#| msgid "Do you want to reload KDE configuration?"
msgid "You are not allowed to save the configuration"
msgstr "KDE Ayarlamasını Kene Yüklemege İsteysiñizmi?"

#: kcodecaction.cpp:66
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Ög-belgilengen"

#: kcodecaction.cpp:74
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Avto-tanıma"

# tüklü
#: kcolorschememanager.cpp:226 kcolorschememanager.cpp:235
#, fuzzy, kde-format
#| msgid "Shortcut Schemes"
msgid "Color Scheme"
msgstr "Qısqa-yol Taslaqları"

#: kcolorschememodel.cpp:71
#, fuzzy, kde-format
#| msgctxt "Encodings menu"
#| msgid "Default"
msgid "Default"
msgstr "Ög-belgilengen"

#: kcommandbar.cpp:584
#, kde-format
msgid "No commands matching the filter"
msgstr ""

#: kconfigdialog.cpp:37
#, fuzzy, kde-format
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "Ayarla"

#: khamburgermenu.cpp:128
#, fuzzy, kde-format
#| msgctxt "keyboard-key-name"
#| msgid "Menu"
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "Menü"

#: khamburgermenu.cpp:334
#, fuzzy, kde-format
#| msgid "Show all options"
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "Bütün ihtiyariyatnıñ köster"

#: khamburgermenu.cpp:362
#, fuzzy, kde-format
#| msgid "Choose..."
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "Sayla..."

#: khamburgermenu.cpp:363
#, fuzzy, kde-format
#| msgid "More Actions"
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "Daa Çoq Amel"

#: krecentfilesaction.cpp:70
#, fuzzy, kde-format
#| msgid "No entries"
msgid "No Entries"
msgstr "Kirdi yoq"

#: krecentfilesaction.cpp:76
#, fuzzy, kde-format
#| msgid "Clear input"
msgid "Clear List"
msgstr "Kirdini temizle"

#: kstandardaction.cpp:158
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Keri"

#: kstandardaction.cpp:165
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&İleri"

#: kstandardaction.cpp:172
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Ev"

#: kstandardaction.cpp:176
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&Yardım"

#: kstandardaction.cpp:233
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"&Menü Çubuğını Köster<p>Menü çubuğı gizlengenden soñ onı tekrar köstere</p>"

#: kstandardaction.cpp:254
#, fuzzy, kde-format
#| msgid ""
#| "Show Statusbar<br /><br />Shows the statusbar, which is the bar at the "
#| "bottom of the window used for status information."
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Durum Çubuğını Köster<br /><br />Pencereniñ tübünde olıp durum malümatı içün "
"qullanılğan durum çubuğını köstere."

#: kstandardaction_p.h:30
msgid "&New"
msgstr "&Yañı"

#: kstandardaction_p.h:30
#, fuzzy
#| msgid "Create New Tag..."
msgid "Create new document"
msgstr "Yañı Nişan İcat Et..."

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "&Aç..."

#: kstandardaction_p.h:31
#, fuzzy
#| msgid "&Back in the Document"
msgid "Open an existing document"
msgstr "Vesiqada &Keri"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "&Deminkini Aç"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "&Saqla"

#: kstandardaction_p.h:33
#, fuzzy
#| msgid "Close Document"
msgid "Save document"
msgstr "Vesiqanı Qapat"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "Şö&yle Saqla..."

#: kstandardaction_p.h:34
#, fuzzy
#| msgid "Close Document"
msgid "Save document under a new name"
msgstr "Vesiqanı Qapat"

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "Keri &qaytar"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "&Qapat"

#: kstandardaction_p.h:36
#, fuzzy
#| msgid "Close Document"
msgid "Close document"
msgstr "Vesiqanı Qapat"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "&Bastır..."

#: kstandardaction_p.h:37
#, fuzzy
#| msgctxt "keyboard-key-name"
#| msgid "PrintScreen"
msgid "Print document"
msgstr "PrintScreen"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "&Bastıruv Ög-baquv"

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "&Poçta..."

#: kstandardaction_p.h:39
#, fuzzy
#| msgid "Close Document"
msgid "Send document by mail"
msgstr "Vesiqanı Qapat"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "&Terk et"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "Uyğulamadan çıq"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "&Keri yap"

#: kstandardaction_p.h:42
#, fuzzy
#| msgid "HTML documentation"
msgid "Undo last action"
msgstr "HTML vesiqalandırması"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "Kene &Yap"

#: kstandardaction_p.h:43
#, fuzzy
#| msgid "HTML documentation"
msgid "Redo last undone action"
msgstr "HTML vesiqalandırması"

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "Ke&s"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "K&opiyala"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "Ya&pıştır"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
#, fuzzy
#| msgid "Loading Preview"
msgid "Paste clipboard content"
msgstr "Ög-baquv Yüklene"

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "&Temizle"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "&Episini Sayla"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "&Ğayrı Sayla"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "&Tap..."

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "&Soñrakisini Tap"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "&Evelkisini Tap"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "&Deñiştir..."

#: kstandardaction_p.h:58
msgid "&Actual Size"
msgstr "&Fiiliy Ölçü"

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "Saifege &Sığdır"

#: kstandardaction_p.h:59
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Zoom to fit page in window"
msgstr "Satırğa Bar"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "Saifeniñ &Kenişligine Sığdır"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "Saifeniñ &Yüksekligine Sığdır"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "&Yaqınlaştır"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "&Uzaqlaştır"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "&Miqyas..."

#: kstandardaction_p.h:64
#, fuzzy
#| msgid "Select a week"
msgid "Select zoom level"
msgstr "Aftanı saylañız"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:65
#, fuzzy
#| msgid "&Redisplay"
msgid "Refresh document"
msgstr "&Kene köster"

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "&Yuqarı"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr ""

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "&Evelki Saife"

#: kstandardaction_p.h:72
#, fuzzy
#| msgid "&Previous Page"
msgid "Go to previous page"
msgstr "&Evelki Saife"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "&Soñraki Saife"

#: kstandardaction_p.h:73
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to next page"
msgstr "Satırğa Bar"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "&Bar..."

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "&Saifege Bar..."

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "&Satırğa Bar..."

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "&İlk Saife"

#: kstandardaction_p.h:77
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to first page"
msgstr "Satırğa Bar"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "&Soñki Saife"

#: kstandardaction_p.h:78
#, fuzzy
#| msgid "&Go to Page..."
msgid "Go to last page"
msgstr "&Saifege Bar..."

#: kstandardaction_p.h:79
#, fuzzy
#| msgctxt "go back"
#| msgid "&Back"
msgid "&Back"
msgstr "&Keri"

#: kstandardaction_p.h:79
#, fuzzy
#| msgid "&Back in the Document"
msgid "Go back in document"
msgstr "Vesiqada &Keri"

#: kstandardaction_p.h:80
#, fuzzy
#| msgctxt "go forward"
#| msgid "&Forward"
msgid "&Forward"
msgstr "&İleri"

#: kstandardaction_p.h:80
#, fuzzy
#| msgid "&Forward in the Document"
msgid "Go forward in document"
msgstr "Vesiqada &İleri"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "Saife-imi &Ekle"

#: kstandardaction_p.h:83
#, fuzzy
#| msgid "&Edit Bookmarks"
msgid "&Edit Bookmarks..."
msgstr "Saife-imini &Tarir Et"

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "&İmlâ..."

#: kstandardaction_p.h:85
#, fuzzy
#| msgid "Check Spelling"
msgid "Check spelling in document"
msgstr "İmlâ Teşkerüvi"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "&Menü Çubuğını Köster"

#: kstandardaction_p.h:87
#, fuzzy
#| msgid "Show &Menubar"
msgid "Show or hide menubar"
msgstr "&Menü Çubuğını Köster"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "&Alet Çubuğını Köster"

#: kstandardaction_p.h:88
#, fuzzy
#| msgctxt "@action"
#| msgid "Show Toolbar"
msgid "Show or hide toolbar"
msgstr "Alet Çubuğını Köster"

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "&Durum Çubuğını Köster"

#: kstandardaction_p.h:89
#, fuzzy
#| msgctxt "@action"
#| msgid "Show Statusbar"
msgid "Show or hide statusbar"
msgstr "Durum Çubuğını Köster"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "&Tam Ekran Nizamı"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "Tesbitlerni &Saqla"

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "Configure S&hortcuts..."
msgid "Configure Keyboard S&hortcuts..."
msgstr "&Qısqa-yollarnı Ayarla..."

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "%1 &Ayarlaması..."

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "Alet &Çubuqlarını Ayarla..."

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "&Bildirmelerni Ayarla..."

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 &El Kitabı"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "&Bu nedir?"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "&Künniñ Qaranesi"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "Arızanı &Bildir..."

#: kstandardaction_p.h:108
#, fuzzy
#| msgid "Configure Email..."
msgid "Configure &Language..."
msgstr "E-poçtanı Ayarla..."

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "%1 H&aqqında"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "&KDE Aqqında"

#: kstandardaction_p.h:111
#, fuzzy
#| msgid "Delete"
msgid "&Delete"
msgstr "Sil"

#: kstandardaction_p.h:112
#, fuzzy
#| msgid "&Replace..."
msgid "&Rename..."
msgstr "&Deñiştir..."

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr ""

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr ""

#: kstandardaction_p.h:115
#, fuzzy
#| msgid "Open &Recent"
msgid "Open &Menu"
msgstr "&Deminkini Aç"

#: ktipdialog.cpp:219
#, fuzzy, kde-format
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Künniñ Qaranesi"

#: ktipdialog.cpp:235
#, fuzzy, kde-format
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Bile ediñizmi...?\n"

#: ktipdialog.cpp:288
#, fuzzy, kde-format
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "Başlağanda qaranelerni &köster"

#: ktipdialog.cpp:293
#, fuzzy, kde-format
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Evelki"

#: ktipdialog.cpp:298
#, fuzzy, kde-format
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Nevbetteki"
