[KCM Locale]
Name=Georgian
Name[ca]=Georgià
Name[es]=Georgiano
Name[ia]=Georgian 
Name[nl]=Georgisch
Name[sl]=Gruzinščina
Name[tr]=Gürcüce
Name[uk]=грузинська
Name[x-test]=xxGeorgianxx
