[KCM Locale]
Name=Slovak
Name[ca]=Eslovac
Name[es]=Eslovaco
Name[ia]=Slovaco 
Name[nl]=Slowaaks
Name[sl]=Slovaščina
Name[tr]=Slovakça
Name[uk]=словацька
Name[x-test]=xxSlovakxx
