# translation of kdelibs4.po to galician
# Copyright (C) YEAR This_file_is_part_of_KDE
# This file is distributed under the same license as the PACKAGE package.
#
# mvillarino <mvillarino@users.sourceforge.net>, 2007, 2008, 2009.
# Marce Villarino <mvillarino@kde-espana.es>, 2008, 2009.
# marce villarino <mvillarino@users.sourceforge.net>, 2009.
# marce villarino <mvillarino@gmail.com>, 2009.
# Marce Villarino <mvillarino@kde-espana.es>, 2009, 2010, 2011, 2012.
# Xosé <xosecalvo@gmail.com>, 2010.
# Marce Villarino <mvillarino@kde-espana.es>, 2011, 2012, 2013, 2014.
# Adrián Chaves Fernández <adriyetichaves@gmail.com>, 2015, 2017.
# Adrián Chaves (Gallaecio) <adrian@chaves.io>, 2017, 2018.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2019-07-18 02:49+0200\n"
"PO-Revision-Date: 2018-10-21 17:27+0100\n"
"Last-Translator: Adrián Chaves (Gallaecio) <adrian@chaves.io>\n"
"Language-Team: Galician <kde-i18n-doc@kde.org>\n"
"Language: gl\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Xabier García Feal, marce villarino, Xosé Calvo"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "xosecalvo@gmail.com, mvillarino@gmail.com, proxecto@trasno.gal"

#: kcmodule.cpp:170
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "Pediráselle que se autentique antes de gardar"

#: kcmodule.cpp:174
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "Non se lle permite gardar a configuración"

#: kcodecaction.cpp:90
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Predeterminada"

#: kcodecaction.cpp:98
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Detectar automaticamente"

#: kconfigdialog.cpp:44
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Configurar"

#: krecentfilesaction.cpp:77
#, kde-format
msgid "No Entries"
msgstr "Sen entradas"

#: krecentfilesaction.cpp:83
#, kde-format
msgid "Clear List"
msgstr "Limpar a lista"

#: kstandardaction.cpp:153
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Atrás"

#: kstandardaction.cpp:160
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "A&diante"

#: kstandardaction.cpp:167
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Inicio"

#: kstandardaction.cpp:170
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "A&xuda"

#: kstandardaction.cpp:214
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Mostrar barra de menú<p>Mostra de novo a barra de menú tras agocharse</p>"

#: kstandardaction.cpp:234
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Mostrar a barra de estado<p>Mostra a barra de estado, que é a barra no fondo "
"da xanela onde se mostra información de estado.</p>"

#: kstandardaction_p.h:41
#, kde-format
msgid "&New"
msgstr "&Novo"

#: kstandardaction_p.h:41
#, kde-format
msgid "Create new document"
msgstr "Crear un novo documento"

#: kstandardaction_p.h:42
#, kde-format
msgid "&Open..."
msgstr "&Abrir…"

#: kstandardaction_p.h:42
#, kde-format
msgid "Open an existing document"
msgstr "Abrir un documento existente"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open &Recent"
msgstr "Abrir un &recente"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open a document which was recently opened"
msgstr "Abrir un documento aberto recentemente"

#: kstandardaction_p.h:44
#, kde-format
msgid "&Save"
msgstr "&Gardar"

#: kstandardaction_p.h:44
#, kde-format
msgid "Save document"
msgstr "Gardar o documento"

#: kstandardaction_p.h:45
#, kde-format
msgid "Save &As..."
msgstr "Gardar &como…"

#: kstandardaction_p.h:45
#, kde-format
msgid "Save document under a new name"
msgstr "Garda o documento con outro nome"

#: kstandardaction_p.h:46
#, kde-format
msgid "Re&vert"
msgstr "Re&verter"

#: kstandardaction_p.h:46
#, kde-format
msgid "Revert unsaved changes made to document"
msgstr "Anula os cambios non gardados que fixese no documento"

#: kstandardaction_p.h:47
#, kde-format
msgid "&Close"
msgstr "&Pechar"

#: kstandardaction_p.h:47
#, kde-format
msgid "Close document"
msgstr "Pechar o documento"

#: kstandardaction_p.h:48
#, kde-format
msgid "&Print..."
msgstr "Im&primir…"

#: kstandardaction_p.h:48
#, kde-format
msgid "Print document"
msgstr "Imprimir o documento"

#: kstandardaction_p.h:49
#, kde-format
msgid "Print Previe&w"
msgstr "Pre&visualizar o impreso"

#: kstandardaction_p.h:49
#, kde-format
msgid "Show a print preview of document"
msgstr "Mostra unha vista previa do documento"

#: kstandardaction_p.h:50
#, kde-format
msgid "&Mail..."
msgstr "Enviar por &correo…"

#: kstandardaction_p.h:50
#, kde-format
msgid "Send document by mail"
msgstr "Enviar o documento por correo electrónico"

#: kstandardaction_p.h:51
#, kde-format
msgid "&Quit"
msgstr "&Saír"

#: kstandardaction_p.h:51
#, kde-format
msgid "Quit application"
msgstr "Saír do aplicativo"

#: kstandardaction_p.h:53
#, kde-format
msgid "&Undo"
msgstr "&Desfacer"

#: kstandardaction_p.h:53
#, kde-format
msgid "Undo last action"
msgstr "Desfacer a última acción feita"

#: kstandardaction_p.h:54
#, kde-format
msgid "Re&do"
msgstr "&Refacer"

#: kstandardaction_p.h:54
#, kde-format
msgid "Redo last undone action"
msgstr "Refacer a última acción desfeita"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cu&t"
msgstr "Cor&tar"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cut selection to clipboard"
msgstr "Corta a selección e pona no portapapeis"

#: kstandardaction_p.h:56
#, kde-format
msgid "&Copy"
msgstr "&Copiar"

#: kstandardaction_p.h:56
#, kde-format
msgid "Copy selection to clipboard"
msgstr "Copiar a selección para o portapapeis"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, kde-format
msgid "&Paste"
msgstr "&Pegar"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, kde-format
msgid "Paste clipboard content"
msgstr "Pega o contido do portapapeis"

#: kstandardaction_p.h:59
#, kde-format
msgid "C&lear"
msgstr "&Limpar"

#: kstandardaction_p.h:60
#, kde-format
msgid "Select &All"
msgstr "Escoller &todo"

#: kstandardaction_p.h:61
#, kde-format
msgid "Dese&lect"
msgstr "Anu&lar a escolla"

#: kstandardaction_p.h:62
#, kde-format
msgid "&Find..."
msgstr "&Atopar…"

#: kstandardaction_p.h:63
#, kde-format
msgid "Find &Next"
msgstr "Atopar a &seguinte"

#: kstandardaction_p.h:64
#, kde-format
msgid "Find Pre&vious"
msgstr "Atopar a &anterior"

#: kstandardaction_p.h:65
#, kde-format
msgid "&Replace..."
msgstr "&Substituír…"

#: kstandardaction_p.h:67
#, kde-format
msgid "&Actual Size"
msgstr "Tamaño &real"

#: kstandardaction_p.h:67
#, kde-format
msgid "View document at its actual size"
msgstr "Ver o documento co tamaño real"

#: kstandardaction_p.h:68
#, kde-format
msgid "&Fit to Page"
msgstr "&Axustar á páxina"

#: kstandardaction_p.h:68
#, kde-format
msgid "Zoom to fit page in window"
msgstr "Axustar o tamaño da páxino ao da xanela"

#: kstandardaction_p.h:69
#, kde-format
msgid "Fit to Page &Width"
msgstr "Axustar á a&nchura da páxina"

#: kstandardaction_p.h:69
#, kde-format
msgid "Zoom to fit page width in window"
msgstr "Axustar a anchura da páxina á da xanela"

#: kstandardaction_p.h:70
#, kde-format
msgid "Fit to Page &Height"
msgstr "Axustar á &altura da páxina"

#: kstandardaction_p.h:70
#, kde-format
msgid "Zoom to fit page height in window"
msgstr "Axustar a altura da páxina da xanela"

#: kstandardaction_p.h:71
#, kde-format
msgid "Zoom &In"
msgstr "A&chegar"

#: kstandardaction_p.h:72
#, kde-format
msgid "Zoom &Out"
msgstr "Afastar"

#: kstandardaction_p.h:73
#, kde-format
msgid "&Zoom..."
msgstr "&Ampliar…"

#: kstandardaction_p.h:73
#, kde-format
msgid "Select zoom level"
msgstr "Escoller nivel de ampliación"

#: kstandardaction_p.h:74
#, kde-format
msgid "&Redisplay"
msgstr "&Redebuxar"

#: kstandardaction_p.h:74
#, kde-format
msgid "Redisplay document"
msgstr "Redebuxar o documento"

#: kstandardaction_p.h:76
#, kde-format
msgid "&Up"
msgstr "&Subir"

#: kstandardaction_p.h:76
#, kde-format
msgid "Go up"
msgstr "Subir"

#: kstandardaction_p.h:81
#, kde-format
msgid "&Previous Page"
msgstr "Páxina &anterior"

#: kstandardaction_p.h:81
#, kde-format
msgid "Go to previous page"
msgstr "Ir á páxina anterior"

#: kstandardaction_p.h:82
#, kde-format
msgid "&Next Page"
msgstr "Segui&nte páxina"

#: kstandardaction_p.h:82
#, kde-format
msgid "Go to next page"
msgstr "Ir á seguinte páxina"

#: kstandardaction_p.h:83
#, kde-format
msgid "&Go To..."
msgstr "&Ir a…"

#: kstandardaction_p.h:84
#, kde-format
msgid "&Go to Page..."
msgstr "&Ir á páxina…"

#: kstandardaction_p.h:85
#, kde-format
msgid "&Go to Line..."
msgstr "&Ir á liña…"

#: kstandardaction_p.h:86
#, kde-format
msgid "&First Page"
msgstr "&Primeira páxina"

#: kstandardaction_p.h:86
#, kde-format
msgid "Go to first page"
msgstr "Ir á primeira paxina"

#: kstandardaction_p.h:87
#, kde-format
msgid "&Last Page"
msgstr "Última pá&xina"

#: kstandardaction_p.h:87
#, kde-format
msgid "Go to last page"
msgstr "Ir á última páxina"

#: kstandardaction_p.h:88
#, kde-format
msgid "&Back"
msgstr "&Atrás"

#: kstandardaction_p.h:88
#, kde-format
msgid "Go back in document"
msgstr "Retroceder no documento"

#: kstandardaction_p.h:89
#, kde-format
msgid "&Forward"
msgstr "Adiante"

#: kstandardaction_p.h:89
#, kde-format
msgid "Go forward in document"
msgstr "Avanzar no documento"

#: kstandardaction_p.h:91
#, kde-format
msgid "&Add Bookmark"
msgstr "&Engadir un marcador"

#: kstandardaction_p.h:92
#, kde-format
msgid "&Edit Bookmarks..."
msgstr "&Editar os marcadores…"

#: kstandardaction_p.h:94
#, kde-format
msgid "&Spelling..."
msgstr "&Ortografía…"

#: kstandardaction_p.h:94
#, kde-format
msgid "Check spelling in document"
msgstr "Comprobar a ortografía do documento"

#: kstandardaction_p.h:96
#, kde-format
msgid "Show &Menubar"
msgstr "Mostrar a barra de &menú"

#: kstandardaction_p.h:96
#, kde-format
msgid "Show or hide menubar"
msgstr "Mostrar ou agochar a barra de menú"

#: kstandardaction_p.h:97
#, kde-format
msgid "Show &Toolbar"
msgstr "Mostrar a barra de &ferramentas"

#: kstandardaction_p.h:97
#, kde-format
msgid "Show or hide toolbar"
msgstr "Mostrar ou agochar a barra de ferramentas"

#: kstandardaction_p.h:98
#, kde-format
msgid "Show St&atusbar"
msgstr "Mostrar a barra de &estado"

#: kstandardaction_p.h:98
#, kde-format
msgid "Show or hide statusbar"
msgstr "Mostrar ou agochar a barra de estado"

#: kstandardaction_p.h:99
#, kde-format
msgid "F&ull Screen Mode"
msgstr "Modo a pantalla &completa"

#: kstandardaction_p.h:100
#, kde-format
msgid "&Save Settings"
msgstr "&Gardar a configuración"

#: kstandardaction_p.h:101
#, kde-format
msgid "Configure S&hortcuts..."
msgstr "Configurar os &atallos de teclado…"

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "&Configurar %1…"

#: kstandardaction_p.h:103
#, kde-format
msgid "Configure Tool&bars..."
msgstr "Configurar as &barras de ferramentas…"

#: kstandardaction_p.h:104
#, kde-format
msgid "Configure &Notifications..."
msgstr "Configurar as &notificacións…"

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "&Manual de %1"

#: kstandardaction_p.h:110
#, kde-format
msgid "What's &This?"
msgstr "Que é &isto?"

#: kstandardaction_p.h:111
#, kde-format
msgid "Tip of the &Day"
msgstr "Consello do &día"

#: kstandardaction_p.h:112
#, kde-format
msgid "&Report Bug..."
msgstr "Informar dun &fallo…"

#: kstandardaction_p.h:113
#, kde-format
msgid "Switch Application &Language..."
msgstr "Cambiar o &idioma do aplicativo…"

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "&Sobre %1"

#: kstandardaction_p.h:115
#, kde-format
msgid "About &KDE"
msgstr "Sobre &KDE"

#: kstandardaction_p.h:116
#, kde-format
msgid "&Delete"
msgstr "&Eliminar"

#: kstandardaction_p.h:117
#, kde-format
msgid "&Rename..."
msgstr "&Renomear…"

#: kstandardaction_p.h:118
#, kde-format
msgid "&Move to Trash"
msgstr "&Botar no lixo"

#: kstandardaction_p.h:119
#, kde-format
msgid "&Donate"
msgstr "&Doar"

#: ktipdialog.cpp:238
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Consello do día"

#: ktipdialog.cpp:254
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Sabía que…?\n"

#: ktipdialog.cpp:306
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "Mostrar os con&sellos ao iniciar"

#: ktipdialog.cpp:311
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Anterior"

#: ktipdialog.cpp:316
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Seguinte"
