[KCM Locale]
Name=Indonesian
Name[ca]=Indonesi
Name[es]=Indonesio
Name[ia]=Indonesiano 
Name[nl]=Indonesisch
Name[sl]=Indonezijščina
Name[tr]=Endonezce
Name[uk]=індонезійська
Name[x-test]=xxIndonesianxx
