[KCM Locale]
Name=Uzbek (Cyrillic)
Name[ca]=Uzbek (ciríl·lic)
Name[es]=Uzbeko (cirílico)
Name[ia]=Uzbeko (Cirillico)
Name[nl]=Oezbeeks (Cyrilisch)
Name[tr]=Özbekçe (Kiril)
Name[uk]=узбецька (кирилиця)
