# Uyghur translation for kdelibs4.
# Copyright (C) YEAR This_file_is_part_of_KDE
# This file is distributed under the same license as the PACKAGE package.
# Sahran <sahran.ug@gmail.com>, 2011.
#
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2015-01-31 08:03+0000\n"
"PO-Revision-Date: 2013-09-08 07:05+0900\n"
"Last-Translator: Gheyret Kenji <gheyret@gmail.com>\n"
"Language-Team: Uyghur Computer Science Association <UKIJ@yahoogroups.com>\n"
"Language: \n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=1; plural=0;\n"
"X-Generator: Poedit 1.5.5\n"

msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "ئابدۇقادىر ئابلىز, غەيرەت كەنجى"

msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "sahran.ug@gmail.com,  gheyret@gmail.com"

#: kcmodule.cpp:153
msgid "You will be asked to authenticate before saving"
msgstr "ساقلاشتىن ئاۋۋال دەلىللەش تەلەپ قىلىنىدۇ"

#: kcmodule.cpp:157
msgid "You are not allowed to save the configuration"
msgstr "تەڭشەكلەرنى ساقلاش ھوقۇقىڭىز يوق"

#: kcodecaction.cpp:90
msgctxt "Encodings menu"
msgid "Default"
msgstr "كۆڭۈلدىكى"

#: kcodecaction.cpp:98
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "ئۆزلۈكىدىن بايقا"

#: klanguagebutton.cpp:194
msgid "without name"
msgstr "ئاتسىز"

#: krecentfilesaction.cpp:78
msgid "No Entries"
msgstr "تۈر يوق"

#: krecentfilesaction.cpp:84
msgid "Clear List"
msgstr "تىزىملىكنى تازىلا"

#: kstandardaction.cpp:90
msgctxt "go back"
msgid "&Back"
msgstr "كەينى(&B)"

#: kstandardaction.cpp:97
msgctxt "go forward"
msgid "&Forward"
msgstr "ئالدىغا(&F)"

#: kstandardaction.cpp:104
msgctxt "home page"
msgid "&Home"
msgstr "ماكان(&H)"

#: kstandardaction.cpp:107
msgctxt "show help"
msgid "&Help"
msgstr "ياردەم(&H)"

#: kstandardaction.cpp:526 kstandardaction_p.h:96
msgid "Show &Menubar"
msgstr "تىزىملىك بالدىقىنى كۆرسەت(&M)"

#: kstandardaction.cpp:534
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"تىزىملىك بالدىقىنى كۆرسەت<p>تىزىملىك بالدىقى يوشۇرۇنغاندىن كېيىن ئۇنى يەنە "
"قايتا كۆرسىتىدۇ</p>"

#: kstandardaction.cpp:552 kstandardaction_p.h:98
msgid "Show St&atusbar"
msgstr "ھالەت بالدىقىنى كۆرسەت(&A)"

#: kstandardaction.cpp:555
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"ھالەت بالداقنى كۆرسەت<p>ھالەت بالداقنى كۆرسىتىدۇ، كۆزنەكنىڭ ئاستىدىكى "
"بالداقتا ھالەت ئۇچۇرىنى كۆرسىتىدۇ.</p>"

#: kstandardaction_p.h:41
msgid "&New"
msgstr "يېڭى(&N)"

#: kstandardaction_p.h:41
msgid "Create new document"
msgstr "يېڭى پۈتۈك قۇر"

#: kstandardaction_p.h:42
msgid "&Open..."
msgstr "ئاچ(&O)…"

#: kstandardaction_p.h:42
msgid "Open an existing document"
msgstr "مەۋجۇت  پۈتۈكنى ئېچىش"

#: kstandardaction_p.h:43
msgid "Open &Recent"
msgstr "يېقىنقىنى ئاچ(&R)"

#: kstandardaction_p.h:43
msgid "Open a document which was recently opened"
msgstr "يېقىندا ئاچقان بىر پۈتۈكنى ئاچىدۇ"

#: kstandardaction_p.h:44
msgid "&Save"
msgstr "ساقلا(&S)"

#: kstandardaction_p.h:44
msgid "Save document"
msgstr "پۈتۈك ساقلا"

#: kstandardaction_p.h:45
msgid "Save &As..."
msgstr "باشقا ئاتتا ساقلا(&A)…"

#: kstandardaction_p.h:45
msgid "Save document under a new name"
msgstr "پۈتۈكنى يېڭى بىر ئاتتا ساقلايدۇ"

#: kstandardaction_p.h:46
msgid "Re&vert"
msgstr "ئەسلىگە قايتۇر(&V)"

#: kstandardaction_p.h:46
msgid "Revert unsaved changes made to document"
msgstr "ساقلانمىغان ھۆججەتكە ئېلىپ بارغان ئۆزگەرتىشلەرنى ئەسلىگە قايتۇرىدۇ"

#: kstandardaction_p.h:47
msgid "&Close"
msgstr "ياپ(&C)"

#: kstandardaction_p.h:47
msgid "Close document"
msgstr "پۈتۈكنى ياپىدۇ"

#: kstandardaction_p.h:48
msgid "&Print..."
msgstr "باس(&P)…"

#: kstandardaction_p.h:48
msgid "Print document"
msgstr "پۈتۈكنى باس"

#: kstandardaction_p.h:49
msgid "Print Previe&w"
msgstr "بېسىشنى ئالدىن كۆزەت(&W)"

#: kstandardaction_p.h:49
msgid "Show a print preview of document"
msgstr "پۈتۈكنىڭ ئالدىن كۆزىتىشىنى كۆرسەت"

#: kstandardaction_p.h:50
msgid "&Mail..."
msgstr "ئېلخەت(&M)…"

#: kstandardaction_p.h:50
msgid "Send document by mail"
msgstr "پۈتۈكنى ئېلخەتتە يوللا"

#: kstandardaction_p.h:51
msgid "&Quit"
msgstr "ئاخىرلاشتۇر(&Q)"

#: kstandardaction_p.h:51
msgid "Quit application"
msgstr "پروگراممىدىن چېكىنىدۇ"

#: kstandardaction_p.h:53
msgid "&Undo"
msgstr "يېنىۋال(&U)"

#: kstandardaction_p.h:53
msgid "Undo last action"
msgstr "ئەڭ ئاخىرقى مەشغۇلاتتىن يېنىۋالىدۇ"

#: kstandardaction_p.h:54
msgid "Re&do"
msgstr "قايتىلا(&D)"

#: kstandardaction_p.h:54
msgid "Redo last undone action"
msgstr "ئاخىرقى يېنىۋالغان مەشغۇلاتنى قايتىلايدۇ"

#: kstandardaction_p.h:55
msgid "Cu&t"
msgstr "كەس(&T)"

#: kstandardaction_p.h:55
msgid "Cut selection to clipboard"
msgstr "تاللىغاننى چاپلاش تاختىسىغا كەس"

#: kstandardaction_p.h:56
msgid "&Copy"
msgstr "كۆچۈر(&C)"

#: kstandardaction_p.h:56
msgid "Copy selection to clipboard"
msgstr "تاللىغاننى چاپلاش تاختىسىغا كۆچۈر"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "&Paste"
msgstr "چاپلا(&P)"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "Paste clipboard content"
msgstr "چاپلاش تاختىسىدىكى مەزمۇننى چاپلا"

#: kstandardaction_p.h:59
msgid "C&lear"
msgstr "تازىلا(&L)"

#: kstandardaction_p.h:60
msgid "Select &All"
msgstr "ھەممىنى تاللا(&A)"

#: kstandardaction_p.h:61
msgid "Dese&lect"
msgstr "ئەكسىچە تاللا(&L)"

#: kstandardaction_p.h:62
msgid "&Find..."
msgstr "ئىزدە(&F)…"

#: kstandardaction_p.h:63
msgid "Find &Next"
msgstr "كېيىنكىنى ئىزدە(&N)"

#: kstandardaction_p.h:64
msgid "Find Pre&vious"
msgstr "ئالدىنقىنى ئىزدە(&V)"

#: kstandardaction_p.h:65
msgid "&Replace..."
msgstr "ئالماشتۇر(&R)…"

#: kstandardaction_p.h:67
msgid "&Actual Size"
msgstr "ئەسلى چوڭلۇقى(&A)"

#: kstandardaction_p.h:67
msgid "View document at its actual size"
msgstr "پۈتۈكنى ئەسلى چوڭلۇقىغا كۆرسەت"

#: kstandardaction_p.h:68
msgid "&Fit to Page"
msgstr "بەتكە تولدۇر(&F)"

#: kstandardaction_p.h:68
msgid "Zoom to fit page in window"
msgstr "بەتنى كۆزنەككە ماسلاشتۇر"

#: kstandardaction_p.h:69
msgid "Fit to Page &Width"
msgstr "بەت كەڭلىكىگە تولدۇر(&W)"

#: kstandardaction_p.h:69
msgid "Zoom to fit page width in window"
msgstr "بەت كەڭلىكىنى كۆزنەككە ماسلاشتۇر"

#: kstandardaction_p.h:70
msgid "Fit to Page &Height"
msgstr "بەت ئېگىزلىكىگە تولدۇر(&H)"

#: kstandardaction_p.h:70
msgid "Zoom to fit page height in window"
msgstr "بەت ئېگىزلىكىنى كۆزنەككە ماسلاشتۇر"

#: kstandardaction_p.h:71
msgid "Zoom &In"
msgstr "چوڭايت(&I)"

#: kstandardaction_p.h:72
msgid "Zoom &Out"
msgstr "كىچىكلەت(&O)"

#: kstandardaction_p.h:73
msgid "&Zoom..."
msgstr "چوڭايت ياكى كىچىكلەت(&Z)..."

#: kstandardaction_p.h:73
msgid "Select zoom level"
msgstr "يىراق يېقىن دەرىجىسىنى تاللاڭ"

#: kstandardaction_p.h:74
msgid "&Redisplay"
msgstr "قايتا كۆرسەت(&R)"

#: kstandardaction_p.h:74
msgid "Redisplay document"
msgstr "پۈتۈكنى قايتا كۆرسەت"

#: kstandardaction_p.h:76
msgid "&Up"
msgstr "يۇقىرىغا (&U)"

#: kstandardaction_p.h:76
msgid "Go up"
msgstr "يۇقىرىغا يۆتكەل"

#: kstandardaction_p.h:81
msgid "&Previous Page"
msgstr "ئالدىنقى بەت(&P)"

#: kstandardaction_p.h:81
msgid "Go to previous page"
msgstr "ئالدىنقى بەتكە يۆتكەل"

#: kstandardaction_p.h:82
msgid "&Next Page"
msgstr "كېيىنكى بەت(&N)"

#: kstandardaction_p.h:82
msgid "Go to next page"
msgstr "كېيىنكى بەتكە يۆتكەل"

#: kstandardaction_p.h:83
msgid "&Go To..."
msgstr "يۆتكەل(&G)…"

#: kstandardaction_p.h:84
msgid "&Go to Page..."
msgstr "بەتكە يۆتكەل(&G)…"

#: kstandardaction_p.h:85
msgid "&Go to Line..."
msgstr "قۇرغا يۆتكەل(&G)…"

#: kstandardaction_p.h:86
msgid "&First Page"
msgstr "بىرىنچى بەت(&F)"

#: kstandardaction_p.h:86
msgid "Go to first page"
msgstr "بىرىنچى بەتكە يۆتكەل"

#: kstandardaction_p.h:87
msgid "&Last Page"
msgstr "ئاخىرقى بەت(&L)"

#: kstandardaction_p.h:87
msgid "Go to last page"
msgstr "ئاخىرقى بەتكە يۆتكەل"

#: kstandardaction_p.h:88
msgid "&Back"
msgstr "كەينى(&B)"

#: kstandardaction_p.h:88
msgid "Go back in document"
msgstr "پۈتۈكتە ئارقىغا يان"

#: kstandardaction_p.h:89
msgid "&Forward"
msgstr "ئالدىغا(&F)"

#: kstandardaction_p.h:89
msgid "Go forward in document"
msgstr "پۈتۈكتە ئالدىغا ئىلگىرىلە"

#: kstandardaction_p.h:91
msgid "&Add Bookmark"
msgstr "خەتكۈش قوش(&A)"

#: kstandardaction_p.h:92
msgid "&Edit Bookmarks..."
msgstr "خەتكۈش تەھرىرى(&E)…"

#: kstandardaction_p.h:94
msgid "&Spelling..."
msgstr "ئىملا تەكشۈر(&S)…"

#: kstandardaction_p.h:94
msgid "Check spelling in document"
msgstr "پۈتۈكتە ئىملا تەكشۈر"

#: kstandardaction_p.h:96
msgid "Show or hide menubar"
msgstr "تىزىملىك بالداقنى كۆرسەت ياكى يوشۇر"

#: kstandardaction_p.h:97
msgid "Show &Toolbar"
msgstr "قورال بالداق كۆرسەت(&T)"

#: kstandardaction_p.h:97
msgid "Show or hide toolbar"
msgstr "قورال بالداقنى كۆرسىتىدۇ ياكى يوشۇرىدۇ"

#: kstandardaction_p.h:98
msgid "Show or hide statusbar"
msgstr "ھالەت بالدىقىنى كۆرسىتىدۇ ياكى يوشۇرىدۇ"

#: kstandardaction_p.h:99
msgid "F&ull Screen Mode"
msgstr "پۈتۈن ئېكران ھالىتى(&U)"

#: kstandardaction_p.h:100
msgid "&Save Settings"
msgstr "تەڭشەك ساقلا(&S)"

#: kstandardaction_p.h:101
msgid "Configure S&hortcuts..."
msgstr "تېزلەتمە سەپلە(&H)…"

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "%1 نى سەپلە(&C)…"

#: kstandardaction_p.h:103
msgid "Configure Tool&bars..."
msgstr "قورال بالداق سەپلىمە(&B)…"

#: kstandardaction_p.h:104
msgid "Configure &Notifications..."
msgstr "ئۇقتۇرۇش سەپلىمە(&N)…"

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 قوللانما(&H)"

#: kstandardaction_p.h:110
msgid "What's &This?"
msgstr "بۇ نېمە؟(&T)"

#: kstandardaction_p.h:111
msgid "Tip of the &Day"
msgstr "كۈندىلىك ئەسكەرتىش(&D)"

#: kstandardaction_p.h:112
msgid "&Report Bug..."
msgstr "كەمتۈك مەلۇم قىل(&R)"

#: kstandardaction_p.h:113
msgid "Switch Application &Language..."
msgstr "پروگرامما تىلىنى ئۆزگەرت(&L)…"

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "%1 ھەققىدە(&A)"

#: kstandardaction_p.h:115
msgid "About &KDE"
msgstr "ك د ئې(&KDE) ھەققىدە"
