# translation of kdelibs4.po to Irish
# Translation of kdelibs4.po to Irish
# Copyright (C) 1999,2003,2004 Free Software Foundation, Inc.
# Sean V. Kelley <s_oceallaigh@yahoo.com>, 1999
# Séamus Ó Ciardhuáin <seoc at iolfree.ie>, 2003,2004
# Kevin Scannell <kscanne@gmail.com>, 2004-2009
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2019-12-11 02:50+0100\n"
"PO-Revision-Date: 2004-12-14 09:11-0600\n"
"Last-Translator: Kevin Scannell <kscanne@gmail.com>\n"
"Language-Team: Irish <gaeilge-gnulinux@lists.sourceforge.net>\n"
"Language: ga\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: KBabel 1.9.1\n"
"Plural-Forms: nplurals=5; plural=n==1 ? 0 : n==2 ? 1 : n<7 ? 2 : n < 11 ? "
"3 : 4\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Séamus Ó Ciardhuáin,Kevin Scannell,Sean V. Kelley"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "seoc@iolfree.ie,kscanne@gmail.com,s_oceallaigh@yahoo.com"

#: kcmodule.cpp:176
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "Caithfidh tú fíordheimhniú a dhéanamh roimh shábháil"

#: kcmodule.cpp:180
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "Níl cead agat an chumraíocht a shábháil"

#: kcodecaction.cpp:90
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Réamhshocrú"

#: kcodecaction.cpp:98
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Braith go hUathoibríoch"

#: kconfigdialog.cpp:44
#, fuzzy, kde-format
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "Cumraigh"

#: krecentfilesaction.cpp:78
#, kde-format
msgid "No Entries"
msgstr "Gan Iontrálacha"

#: krecentfilesaction.cpp:84
#, kde-format
msgid "Clear List"
msgstr "Glan an Liosta"

#: kstandardaction.cpp:153
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Siar"

#: kstandardaction.cpp:160
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Ar Aghaidh"

#: kstandardaction.cpp:167
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Baile"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&Cabhair"

#: kstandardaction.cpp:216
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Taispeáin an Barra Roghchláir<p>Taispeáin an barra roghchláir arís tar éis "
"dó a bheith i bhfolach</p>"

#: kstandardaction.cpp:236
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Taispeáin an Barra Stádais<p>Taispeáin an barra stádais, an barra ag bun na "
"fuinneoige ina dtaispeántar an stádas reatha.</p>"

#: kstandardaction_p.h:41
#, kde-format
msgid "&New"
msgstr "&Nua"

#: kstandardaction_p.h:41
#, kde-format
msgid "Create new document"
msgstr "Cruthaigh cáipéis nua"

#: kstandardaction_p.h:42
#, kde-format
msgid "&Open..."
msgstr "&Oscail..."

#: kstandardaction_p.h:42
#, kde-format
msgid "Open an existing document"
msgstr "Oscail cáipéis atá ann"

# recent what?
#: kstandardaction_p.h:43
#, kde-format
msgid "Open &Recent"
msgstr "Oscail &Rudaí Deireanacha"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open a document which was recently opened"
msgstr "Oscail cáipéis a bhí oscailte le déanaí"

#: kstandardaction_p.h:44
#, kde-format
msgid "&Save"
msgstr "&Sábháil"

#: kstandardaction_p.h:44
#, kde-format
msgid "Save document"
msgstr "Sábháil an cháipéis"

#: kstandardaction_p.h:45
#, kde-format
msgid "Save &As..."
msgstr "Sábháil M&ar..."

#: kstandardaction_p.h:45
#, kde-format
msgid "Save document under a new name"
msgstr "Sábháil an cháipéis le hainm nua"

#: kstandardaction_p.h:46
#, kde-format
msgid "Re&vert"
msgstr "Fi&ll"

#: kstandardaction_p.h:46
#, kde-format
msgid "Revert unsaved changes made to document"
msgstr "Cealaigh na hathruithe nach bhfuil sábháilte"

#: kstandardaction_p.h:47
#, kde-format
msgid "&Close"
msgstr "&Dún"

#: kstandardaction_p.h:47
#, kde-format
msgid "Close document"
msgstr "Dún an cháipéis"

#: kstandardaction_p.h:48
#, kde-format
msgid "&Print..."
msgstr "&Priontáil..."

#: kstandardaction_p.h:48
#, kde-format
msgid "Print document"
msgstr "Priontáil an cháipéis"

#: kstandardaction_p.h:49
#, kde-format
msgid "Print Previe&w"
msgstr "Réamhamhar&c Priontála"

#: kstandardaction_p.h:49
#, kde-format
msgid "Show a print preview of document"
msgstr "Taispeáin réamhamharc priontála"

#: kstandardaction_p.h:50
#, kde-format
msgid "&Mail..."
msgstr "&Ríomhphost..."

#: kstandardaction_p.h:50
#, kde-format
msgid "Send document by mail"
msgstr "Seol an cháipéis trí ríomhphost"

#: kstandardaction_p.h:51
#, kde-format
msgid "&Quit"
msgstr "&Scoir"

#: kstandardaction_p.h:51
#, kde-format
msgid "Quit application"
msgstr "Scoir den fheidhmchlár"

#: kstandardaction_p.h:53
#, kde-format
msgid "&Undo"
msgstr "&Cealaigh"

#: kstandardaction_p.h:53
#, kde-format
msgid "Undo last action"
msgstr "Cealaigh an gníomh is déanaí"

#: kstandardaction_p.h:54
#, kde-format
msgid "Re&do"
msgstr "Ath&dhéan"

#: kstandardaction_p.h:54
#, kde-format
msgid "Redo last undone action"
msgstr "Athdhéan an gníomh cealaithe"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cu&t"
msgstr "&Gearr"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cut selection to clipboard"
msgstr "Gearr an téacs roghnaithe agus sábháil sa ghearrthaisce é"

#: kstandardaction_p.h:56
#, kde-format
msgid "&Copy"
msgstr "&Cóipeáil"

#: kstandardaction_p.h:56
#, kde-format
msgid "Copy selection to clipboard"
msgstr "Sábháil an téacs roghnaithe sa ghearrthaisce"

#: kstandardaction_p.h:57 kstandardaction_p.h:59
#, kde-format
msgid "&Paste"
msgstr "&Greamaigh"

#: kstandardaction_p.h:57 kstandardaction_p.h:59
#, kde-format
msgid "Paste clipboard content"
msgstr "Greamaigh inneachar na gearrthaisce"

#: kstandardaction_p.h:61
#, kde-format
msgid "C&lear"
msgstr "G&lan"

#: kstandardaction_p.h:62
#, kde-format
msgid "Select &All"
msgstr "Roghnaigh &Uile"

#: kstandardaction_p.h:63
#, kde-format
msgid "Dese&lect"
msgstr "Díro&ghnaigh"

#: kstandardaction_p.h:64
#, kde-format
msgid "&Find..."
msgstr "&Aimsigh..."

#: kstandardaction_p.h:65
#, kde-format
msgid "Find &Next"
msgstr "An Chéad Chea&nn Eile"

#: kstandardaction_p.h:66
#, kde-format
msgid "Find Pre&vious"
msgstr "&Roimhe Seo"

#: kstandardaction_p.h:67
#, kde-format
msgid "&Replace..."
msgstr "&Ionadaigh..."

#: kstandardaction_p.h:69
#, kde-format
msgid "&Actual Size"
msgstr "&Fíormhéid"

#: kstandardaction_p.h:69
#, kde-format
msgid "View document at its actual size"
msgstr "Taispeáin fíormhéid na cáipéise"

#: kstandardaction_p.h:70
#, kde-format
msgid "&Fit to Page"
msgstr "&Laghdaigh go dtí an Leathanach"

#: kstandardaction_p.h:70
#, kde-format
msgid "Zoom to fit page in window"
msgstr "Cuir in oiriúint do mhéid na fuinneoige"

#: kstandardaction_p.h:71
#, kde-format
msgid "Fit to Page &Width"
msgstr "&Laghdaigh go leithead leathanaigh"

#: kstandardaction_p.h:71
#, kde-format
msgid "Zoom to fit page width in window"
msgstr "Cuir in oiriúint do leithead an leathanaigh"

#: kstandardaction_p.h:72
#, kde-format
msgid "Fit to Page &Height"
msgstr "Laghdaigh go &hairde leathanaigh"

#: kstandardaction_p.h:72
#, kde-format
msgid "Zoom to fit page height in window"
msgstr "Cuir in oiriúint d'airde an leathanaigh"

#: kstandardaction_p.h:73
#, kde-format
msgid "Zoom &In"
msgstr "Súmáil &Isteach"

#: kstandardaction_p.h:74
#, kde-format
msgid "Zoom &Out"
msgstr "Súmáil &Amach"

#: kstandardaction_p.h:75
#, kde-format
msgid "&Zoom..."
msgstr "&Súmáil..."

#: kstandardaction_p.h:75
#, kde-format
msgid "Select zoom level"
msgstr "Roghnaigh leibhéal súmála"

#: kstandardaction_p.h:76
#, kde-format
msgid "&Redisplay"
msgstr "A&taispeáin"

#: kstandardaction_p.h:76
#, kde-format
msgid "Redisplay document"
msgstr "Ataispeáin an cháipéis"

#: kstandardaction_p.h:78
#, kde-format
msgid "&Up"
msgstr "S&uas"

#: kstandardaction_p.h:78
#, kde-format
msgid "Go up"
msgstr "Téigh suas"

#: kstandardaction_p.h:83
#, kde-format
msgid "&Previous Page"
msgstr "Leathanach &Roimhe"

#: kstandardaction_p.h:83
#, kde-format
msgid "Go to previous page"
msgstr "Go dtí an leathanach roimhe seo"

#: kstandardaction_p.h:84
#, kde-format
msgid "&Next Page"
msgstr "A&n Chéad Leathanach Eile"

#: kstandardaction_p.h:84
#, kde-format
msgid "Go to next page"
msgstr "Go dtí an chéad leathanach eile"

#: kstandardaction_p.h:85
#, kde-format
msgid "&Go To..."
msgstr "&Téigh go..."

#: kstandardaction_p.h:86
#, kde-format
msgid "&Go to Page..."
msgstr "Téigh go &Leathanach..."

#: kstandardaction_p.h:87
#, kde-format
msgid "&Go to Line..."
msgstr "Téigh go Lí&ne..."

#: kstandardaction_p.h:88
#, kde-format
msgid "&First Page"
msgstr "An &Chéad Leathanach"

#: kstandardaction_p.h:88
#, kde-format
msgid "Go to first page"
msgstr "Téigh go dtí an chéad leathanach"

#: kstandardaction_p.h:89
#, kde-format
msgid "&Last Page"
msgstr "An Leathanach &Deireanach"

#: kstandardaction_p.h:89
#, kde-format
msgid "Go to last page"
msgstr "Téigh go dtí an leathanach deiridh"

#: kstandardaction_p.h:90
#, kde-format
msgid "&Back"
msgstr "&Siar"

#: kstandardaction_p.h:90
#, kde-format
msgid "Go back in document"
msgstr "Siar sa cháipéis"

#: kstandardaction_p.h:91
#, kde-format
msgid "&Forward"
msgstr "&Ar Aghaidh"

#: kstandardaction_p.h:91
#, kde-format
msgid "Go forward in document"
msgstr "Ar aghaidh sa cháipéis"

#: kstandardaction_p.h:93
#, kde-format
msgid "&Add Bookmark"
msgstr "Cruthaigh Leabharmh&arc"

#: kstandardaction_p.h:94
#, kde-format
msgid "&Edit Bookmarks..."
msgstr "Cuir Leabharmharcanna in &Eagar..."

#: kstandardaction_p.h:96
#, kde-format
msgid "&Spelling..."
msgstr "&Litriú..."

#: kstandardaction_p.h:96
#, kde-format
msgid "Check spelling in document"
msgstr "Ceartaigh litriú sa cháipéis"

#: kstandardaction_p.h:98
#, kde-format
msgid "Show &Menubar"
msgstr "Taispeáin an Barra &Roghchláir"

#: kstandardaction_p.h:98
#, kde-format
msgid "Show or hide menubar"
msgstr "Taispeáin nó folaigh an barra roghchláir"

#: kstandardaction_p.h:99
#, kde-format
msgid "Show &Toolbar"
msgstr "Taispeáin an Barra &Uirlisí"

#: kstandardaction_p.h:99
#, kde-format
msgid "Show or hide toolbar"
msgstr "Taispeáin nó folaigh an barra uirlisí"

#: kstandardaction_p.h:100
#, kde-format
msgid "Show St&atusbar"
msgstr "Taispeáin an Barra Stád&ais"

#: kstandardaction_p.h:100
#, kde-format
msgid "Show or hide statusbar"
msgstr "Taispeáin nó folaigh an barra stádais"

#: kstandardaction_p.h:101
#, kde-format
msgid "F&ull Screen Mode"
msgstr "Mód Lán&scáileáin"

#: kstandardaction_p.h:103
#, kde-format
msgid "&Save Settings"
msgstr "&Sábháil na Socruithe"

#: kstandardaction_p.h:105
#, fuzzy, kde-format
#| msgid "Configure S&hortcuts..."
msgid "Configure Keyboard S&hortcuts..."
msgstr "C&umraigh Aicearraí..."

#: kstandardaction_p.h:106
#, kde-format
msgid "&Configure %1..."
msgstr "&Cumraigh %1..."

#: kstandardaction_p.h:107
#, kde-format
msgid "Configure Tool&bars..."
msgstr "Cumraigh &Barraí Uirlisí..."

#: kstandardaction_p.h:108
#, kde-format
msgid "Configure &Notifications..."
msgstr "C&umraigh Fógairt..."

#: kstandardaction_p.h:115
#, kde-format
msgid "%1 &Handbook"
msgstr "&Lámhleabhar %1"

#: kstandardaction_p.h:116
#, kde-format
msgid "What's &This?"
msgstr "Cad É &Seo?"

#: kstandardaction_p.h:117
#, kde-format
msgid "Tip of the &Day"
msgstr "Leid an &Lae"

#: kstandardaction_p.h:118
#, kde-format
msgid "&Report Bug..."
msgstr "&Seol tuairisc ar fhabht..."

#: kstandardaction_p.h:119
#, kde-format
msgid "Switch Application &Language..."
msgstr "Athraigh &Teanga an Fheidhmchláir..."

#: kstandardaction_p.h:120
#, kde-format
msgid "&About %1"
msgstr "&Maidir le %1"

#: kstandardaction_p.h:121
#, kde-format
msgid "About &KDE"
msgstr "Maidir le &KDE"

#: kstandardaction_p.h:122
#, kde-format
msgid "&Delete"
msgstr "&Scrios"

#: kstandardaction_p.h:123
#, fuzzy, kde-format
#| msgid "&Replace..."
msgid "&Rename..."
msgstr "&Ionadaigh..."

#: kstandardaction_p.h:124
#, fuzzy, kde-format
#| msgid "Move to Trash"
msgid "&Move to Trash"
msgstr "Bog go dtí an Bruscar"

#: kstandardaction_p.h:125
#, fuzzy, kde-format
#| msgid "&Done"
msgid "&Donate"
msgstr "&Críochnaithe"

#: ktipdialog.cpp:240
#, fuzzy, kde-format
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Leid an Lae"

#: ktipdialog.cpp:256
#, fuzzy, kde-format
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "An bhfuil a fhios agat...?\n"

#: ktipdialog.cpp:310
#, fuzzy, kde-format
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "&Taispeáin Leideanna i dTosach"

#: ktipdialog.cpp:315
#, fuzzy, kde-format
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Roimhe Seo"

#: ktipdialog.cpp:320
#, fuzzy, kde-format
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "Ar A&ghaidh"
