# Indonesian translations for kdelibs4 package.
# Copyright (C) 2010 This_file_is_part_of_KDE
# This file is distributed under the same license as the kdelibs4 package.
# Andhika Padmawan <andhika.padmawan@gmail.com>, 2010-2014.
# Wantoyo <wantoyek@gmail.com>, 2017, 2018, 2019, 2020, 2021, 2022.
# Aziz Adam Adrian <4.adam.adrian@gmail.com>, 2022.
#
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2022-09-30 00:40+0000\n"
"PO-Revision-Date: 2022-09-27 18:12+0700\n"
"Last-Translator: Wantoyèk <wantoyek@gmail.com>\n"
"Language-Team: Indonesian <kde-i18n-doc@kde.org>\n"
"Language: id\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=(n != 1);\n"
"X-Generator: Lokalize 21.12.3\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Andhika Padmawan,Wantoyo"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "andhika.padmawan@gmail.com,wantoyek@gmail.com"

#: kcmodule.cpp:198
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "Anda akan diminta untuk mengotentikasi sebelum menyimpan"

#: kcmodule.cpp:202
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "Anda tidak diperbolehkan untuk menyimpan konfigurasi"

#: kcodecaction.cpp:66
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Baku"

#: kcodecaction.cpp:74
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Deteksi Otomatis"

#: kcolorschememanager.cpp:226 kcolorschememanager.cpp:235
#, kde-format
msgid "Color Scheme"
msgstr "Skema Warna"

#: kcolorschememodel.cpp:71
#, kde-format
msgid "Default"
msgstr "Baku"

#: kcommandbar.cpp:560
#, kde-format
msgid "No commands matching the filter"
msgstr "Tidak ada perintah yang cocok dengan penyaringan"

#: kconfigdialog.cpp:37
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Konfigurasikan"

#: khamburgermenu.cpp:123
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "&Menu"

#: khamburgermenu.cpp:324
#, kde-format
msgctxt "@action:inmenu A menu item that advertises and enables the menubar"
msgid "Show &Menubar with All Actions"
msgstr "Tampilkan &Bilah Menu dengan Semua Aksi"

#: khamburgermenu.cpp:350
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "More"
msgstr "Selebihnya"

#: khamburgermenu.cpp:351
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "More Actions"
msgstr "Aksi Selebihnya"

#: krecentfilesaction.cpp:70
#, kde-format
msgid "No Entries"
msgstr "Tak Ada Lema"

#: krecentfilesaction.cpp:76
#, kde-format
msgid "Clear List"
msgstr "Hapus Daftar"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Mundur"

#: kstandardaction.cpp:164
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "M&aju"

#: kstandardaction.cpp:171
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Beranda"

#: kstandardaction.cpp:175
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&Bantuan"

#: kstandardaction.cpp:232
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Tampilkan Bilah Menu<p>Tampilkan bilah menu lagi setelah bilah menu "
"disembunyikan</p>"

#: kstandardaction.cpp:253
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Tampilkan Bilah Status<p>Tampilkan bilah status, yaitu bilah yang berada di "
"bawah jendela yang digunakan untuk informasi status.</p>"

#: kstandardaction_p.h:30
msgid "&New"
msgstr "&Baru"

#: kstandardaction_p.h:30
msgid "Create new document"
msgstr "Ciptakan dokumen baru"

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "&Buka"

#: kstandardaction_p.h:31
msgid "Open an existing document"
msgstr "Buka dokumen yang ada"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "Buka &Baru-baru ini"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr "Buka dokumen yang barusan dibuka"

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "&Simpan"

#: kstandardaction_p.h:33
msgid "Save document"
msgstr "Simpan dokumen"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "Simpan Se&bagai..."

#: kstandardaction_p.h:34
msgid "Save document under a new name"
msgstr "Simpan dokumen dengan nama baru"

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "Ke&mbali"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr "Kembalikan perubahan tidak tersimpan yang dibuat ke dokumen"

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "&Tutup"

#: kstandardaction_p.h:36
msgid "Close document"
msgstr "Tutup dokumen"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "&Cetak..."

#: kstandardaction_p.h:37
msgid "Print document"
msgstr "Cetak dokumen"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "Pratinj&au Cetak"

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr "Tampilkan pratinjau cetak dokumen"

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "&Mail..."

#: kstandardaction_p.h:39
msgid "Send document by mail"
msgstr "Kirim dokumen melalui surat"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "&Berhenti"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "Berhenti aplikasi"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "&Urung"

#: kstandardaction_p.h:42
msgid "Undo last action"
msgstr "Urung aksi terakhir"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "U&lang"

#: kstandardaction_p.h:43
msgid "Redo last undone action"
msgstr "Ulang aksi urungan terakhir"

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "Po&tong"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr "Potong pilihan ke papan-klip"

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "&Salin"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr "Salin pilihan ke papan-klip"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "&Tempel"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "Paste clipboard content"
msgstr "Tempel konten papan-klip"

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "Ha&pus"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "Pilih &Semua"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "Tidak P&ilih"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "&Temukan..."

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "Temukan Se&lanjutnya"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "Temukan Se&belumnya"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "&Ganti..."

#: kstandardaction_p.h:58
msgid "Zoom to &Actual Size"
msgstr "Zoom ke &Ukuran Sebenarnya"

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr "Tampilkan dokumen di ukuran sebenarnya"

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "&Paskan ke Halaman"

#: kstandardaction_p.h:59
msgid "Zoom to fit page in window"
msgstr "Zoom ke pas halaman di dalam jendela"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "Paskan ke Lebar Halaman"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr "Zoom ke pas lebar halaman di dalam jendela"

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "Paskan ke &Tinggi Halaman"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr "Zoom ke pas tinggi halaman di dalam jendela"

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "Zoom Per&besar"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "Zoom Perke&cil"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "&Zoom..."

#: kstandardaction_p.h:64
msgid "Select zoom level"
msgstr "Pilih level zoom"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr "&Segarkan"

#: kstandardaction_p.h:65
msgid "Refresh document"
msgstr "Segarkan dokumen"

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "&Atas"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr "Menuju atas"

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "Hala&man Sebelumnya"

#: kstandardaction_p.h:72
msgid "Go to previous page"
msgstr "Menuju ke halaman sebelumnya"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "Ha&laman Selanjutnya"

#: kstandardaction_p.h:73
msgid "Go to next page"
msgstr "Menuju ke halaman selanjutnya"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "Menu&ju Ke..."

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "Menu&ju ke Halaman..."

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "Menu&ju ke Baris..."

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "Halaman Pertama"

#: kstandardaction_p.h:77
msgid "Go to first page"
msgstr "Menuju ke halaman pertama"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "H&alaman Terakhir"

#: kstandardaction_p.h:78
msgid "Go to last page"
msgstr "Menuju ke halaman terakhir"

#: kstandardaction_p.h:79
msgid "&Back"
msgstr "&Mundur"

#: kstandardaction_p.h:79
msgid "Go back in document"
msgstr "Menuju mundur di dokumen"

#: kstandardaction_p.h:80
msgid "&Forward"
msgstr "M&aju"

#: kstandardaction_p.h:80
msgid "Go forward in document"
msgstr "Menuju maju di dokumen"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "Tambah &Markah"

#: kstandardaction_p.h:83
msgid "&Edit Bookmarks..."
msgstr "&Edit Markah..."

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "&Ejaan..."

#: kstandardaction_p.h:85
msgid "Check spelling in document"
msgstr "Pemeriksa ejaan di dokumen"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "Tampilkan &Bilah Menu"

#: kstandardaction_p.h:87
msgid "Show or hide menubar"
msgstr "Tampilkan atau sembunyikan bilah menu"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "Tampilkan &Bilah Alat"

#: kstandardaction_p.h:88
msgid "Show or hide toolbar"
msgstr "Tampilkan atau sembunyikan bilah alat"

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "Tampilkan Bilah &Status"

#: kstandardaction_p.h:89
msgid "Show or hide statusbar"
msgstr "Tampilkan atau sembunyikan bilah status"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "Mode Layar Pen&uh"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "&Simpan Pengaturan"

#: kstandardaction_p.h:94
msgid "Configure Keyboard S&hortcuts..."
msgstr "Konfigurasikan &Pintasan Keyboard..."

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "&Konfigurasikan %1..."

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "Konfigurasikan &Bilah Alat..."

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "Konfigurasikan &Notifikasi..."

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "&Buku Petunjuk %1"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "&Apakah Ini?"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "Tip Hari &Ini"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "&Laporkan Bug..."

#: kstandardaction_p.h:108
msgid "Configure &Language..."
msgstr "Konfigurasi&kan Bahasa..."

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "&Tentang %1"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "Tentang &KDE"

#: kstandardaction_p.h:111
msgid "&Delete"
msgstr "&Hapus"

#: kstandardaction_p.h:112
msgid "&Rename..."
msgstr "&Ubah nama..."

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr "&Pindah ke Tong Sampah"

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr "&Donasi"

#: kstandardaction_p.h:115
msgid "Open &Menu"
msgstr "Buka &Menu"

#: ktipdialog.cpp:222
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Tip Hari Ini"

#: ktipdialog.cpp:238
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Apakah Anda tau...?\n"

#: ktipdialog.cpp:291
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "&Tampilkan kiat saat pemulaian"

#: ktipdialog.cpp:296
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Sebelumnya"

#: ktipdialog.cpp:301
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Selanjutnya"
