# Indonesian translations for kdelibs4 package.
# Copyright (C) 2010 This_file_is_part_of_KDE
# This file is distributed under the same license as the kdelibs4 package.
# Andhika Padmawan <andhika.padmawan@gmail.com>, 2010-2014.
# Wantoyo <wantoyek@gmail.com>, 2017, 2018, 2019.
#
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2019-07-18 02:49+0200\n"
"PO-Revision-Date: 2019-07-15 07:32+0700\n"
"Last-Translator: Wantoyo <wantoyek@gmail.com>\n"
"Language-Team: Indonesian <kde-i18n-doc@kde.org>\n"
"Language: id\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=(n != 1);\n"
"X-Generator: Lokalize 19.04.2\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Andhika Padmawan,Wantoyo"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "andhika.padmawan@gmail.com,wantoyek@gmail.com"

#: kcmodule.cpp:170
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "Anda akan diminta untuk mengotentikasi sebelum menyimpan"

#: kcmodule.cpp:174
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "Anda tidak diperbolehkan untuk menyimpan konfigurasi"

#: kcodecaction.cpp:90
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Baku"

#: kcodecaction.cpp:98
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Deteksi Otomatis"

#: kconfigdialog.cpp:44
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Konfigurasikan"

#: krecentfilesaction.cpp:77
#, kde-format
msgid "No Entries"
msgstr "Tak Ada Lema"

#: krecentfilesaction.cpp:83
#, kde-format
msgid "Clear List"
msgstr "Hapus Daftar"

#: kstandardaction.cpp:153
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Mundur"

#: kstandardaction.cpp:160
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "M&aju"

#: kstandardaction.cpp:167
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Beranda"

#: kstandardaction.cpp:170
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "Ba&ntuan"

#: kstandardaction.cpp:214
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""
"Tampilkan Bilah Menu<p>Tampilkan bilah menu lagi setelah bilah menu "
"disembunyikan</p>"

#: kstandardaction.cpp:234
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Tampilkan Bilah Status<p>Tampilkan bilah status, yaitu bilah yang berada di "
"bawah window yang digunakan untuk informasi status.</p>"

#: kstandardaction_p.h:41
#, kde-format
msgid "&New"
msgstr "&Baru"

#: kstandardaction_p.h:41
#, kde-format
msgid "Create new document"
msgstr "Ciptakan dokumen baru"

#: kstandardaction_p.h:42
#, kde-format
msgid "&Open..."
msgstr "&Buka"

#: kstandardaction_p.h:42
#, kde-format
msgid "Open an existing document"
msgstr "Buka dokumen yang ada"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open &Recent"
msgstr "Buka &Baru-baru ini"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open a document which was recently opened"
msgstr "Buka dokumen yang barusan dibuka"

#: kstandardaction_p.h:44
#, kde-format
msgid "&Save"
msgstr "&Simpan"

#: kstandardaction_p.h:44
#, kde-format
msgid "Save document"
msgstr "Simpan dokumen"

#: kstandardaction_p.h:45
#, kde-format
msgid "Save &As..."
msgstr "Simpan Se&bagai..."

#: kstandardaction_p.h:45
#, kde-format
msgid "Save document under a new name"
msgstr "Simpan dokumen dengan nama baru"

#: kstandardaction_p.h:46
#, kde-format
msgid "Re&vert"
msgstr "Ke&mbali"

#: kstandardaction_p.h:46
#, kde-format
msgid "Revert unsaved changes made to document"
msgstr "Kembalikan perubahan tidak tersimpan yang dibuat ke dokumen"

#: kstandardaction_p.h:47
#, kde-format
msgid "&Close"
msgstr "&Tutup"

#: kstandardaction_p.h:47
#, kde-format
msgid "Close document"
msgstr "Tutup dokumen"

#: kstandardaction_p.h:48
#, kde-format
msgid "&Print..."
msgstr "&Cetak..."

#: kstandardaction_p.h:48
#, kde-format
msgid "Print document"
msgstr "Cetak dokumen"

#: kstandardaction_p.h:49
#, kde-format
msgid "Print Previe&w"
msgstr "Pratinj&au Cetak"

#: kstandardaction_p.h:49
#, kde-format
msgid "Show a print preview of document"
msgstr "Tampilkan pratinjau cetak dokumen"

#: kstandardaction_p.h:50
#, kde-format
msgid "&Mail..."
msgstr "&Mail..."

#: kstandardaction_p.h:50
#, kde-format
msgid "Send document by mail"
msgstr "Kirim dokumen melalui surat"

#: kstandardaction_p.h:51
#, kde-format
msgid "&Quit"
msgstr "&Berhenti"

#: kstandardaction_p.h:51
#, kde-format
msgid "Quit application"
msgstr "Berhenti aplikasi"

#: kstandardaction_p.h:53
#, kde-format
msgid "&Undo"
msgstr "&Urungkan"

#: kstandardaction_p.h:53
#, kde-format
msgid "Undo last action"
msgstr "Urungkan aksi terakhir"

#: kstandardaction_p.h:54
#, kde-format
msgid "Re&do"
msgstr "Lanju&rkan"

#: kstandardaction_p.h:54
#, kde-format
msgid "Redo last undone action"
msgstr "Lanjurkan aksi urungan terakhir"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cu&t"
msgstr "Po&tong"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cut selection to clipboard"
msgstr "Potong pilihan ke papan-klip"

#: kstandardaction_p.h:56
#, kde-format
msgid "&Copy"
msgstr "&Salin"

#: kstandardaction_p.h:56
#, kde-format
msgid "Copy selection to clipboard"
msgstr "Salin pilihan ke papan-klip"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, kde-format
msgid "&Paste"
msgstr "&Tempel"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, kde-format
msgid "Paste clipboard content"
msgstr "Tempel konten papan-klip"

#: kstandardaction_p.h:59
#, kde-format
msgid "C&lear"
msgstr "Ha&pus"

#: kstandardaction_p.h:60
#, kde-format
msgid "Select &All"
msgstr "Pilih &Semua"

#: kstandardaction_p.h:61
#, kde-format
msgid "Dese&lect"
msgstr "Tidak P&ilih"

#: kstandardaction_p.h:62
#, kde-format
msgid "&Find..."
msgstr "&Temukan..."

#: kstandardaction_p.h:63
#, kde-format
msgid "Find &Next"
msgstr "Temukan Beri&kutnya"

#: kstandardaction_p.h:64
#, kde-format
msgid "Find Pre&vious"
msgstr "Temukan Se&belumnya"

#: kstandardaction_p.h:65
#, kde-format
msgid "&Replace..."
msgstr "&Ganti..."

#: kstandardaction_p.h:67
#, kde-format
msgid "&Actual Size"
msgstr "&Ukuran Sebenarnya"

#: kstandardaction_p.h:67
#, kde-format
msgid "View document at its actual size"
msgstr "Tampilkan dokumen di ukuran sebenarnya"

#: kstandardaction_p.h:68
#, kde-format
msgid "&Fit to Page"
msgstr "&Paskan ke Halaman"

#: kstandardaction_p.h:68
#, kde-format
msgid "Zoom to fit page in window"
msgstr "Zoom ke pas halaman di dalam window"

#: kstandardaction_p.h:69
#, kde-format
msgid "Fit to Page &Width"
msgstr "Paskan ke Lebar Halaman"

#: kstandardaction_p.h:69
#, kde-format
msgid "Zoom to fit page width in window"
msgstr "Zoom ke pas lebar halaman di dalam window"

#: kstandardaction_p.h:70
#, kde-format
msgid "Fit to Page &Height"
msgstr "Paskan ke &Tinggi Halaman"

#: kstandardaction_p.h:70
#, kde-format
msgid "Zoom to fit page height in window"
msgstr "Zoom ke pas tinggi halaman di dalam window"

#: kstandardaction_p.h:71
#, kde-format
msgid "Zoom &In"
msgstr "Zoom Per&besar"

#: kstandardaction_p.h:72
#, kde-format
msgid "Zoom &Out"
msgstr "Zoom Perke&cil"

#: kstandardaction_p.h:73
#, kde-format
msgid "&Zoom..."
msgstr "&Zoom..."

#: kstandardaction_p.h:73
#, kde-format
msgid "Select zoom level"
msgstr "Pilih level zoom"

#: kstandardaction_p.h:74
#, kde-format
msgid "&Redisplay"
msgstr "Tayangkan &Ulang"

#: kstandardaction_p.h:74
#, kde-format
msgid "Redisplay document"
msgstr "Tayangkan ulang dokumen"

#: kstandardaction_p.h:76
#, kde-format
msgid "&Up"
msgstr "&Atas"

#: kstandardaction_p.h:76
#, kde-format
msgid "Go up"
msgstr "Menuju atas"

#: kstandardaction_p.h:81
#, kde-format
msgid "&Previous Page"
msgstr "Hala&man Sebelumnya"

#: kstandardaction_p.h:81
#, kde-format
msgid "Go to previous page"
msgstr "Menuju ke halaman sebelumnya"

#: kstandardaction_p.h:82
#, kde-format
msgid "&Next Page"
msgstr "Ha&laman Berikutnya"

#: kstandardaction_p.h:82
#, kde-format
msgid "Go to next page"
msgstr "Menuju ke halaman berikutnya"

#: kstandardaction_p.h:83
#, kde-format
msgid "&Go To..."
msgstr "Menu&ju Ke..."

#: kstandardaction_p.h:84
#, kde-format
msgid "&Go to Page..."
msgstr "Menu&ju ke Halaman..."

#: kstandardaction_p.h:85
#, kde-format
msgid "&Go to Line..."
msgstr "Menu&ju ke Baris..."

#: kstandardaction_p.h:86
#, kde-format
msgid "&First Page"
msgstr "Halaman Pertama"

#: kstandardaction_p.h:86
#, kde-format
msgid "Go to first page"
msgstr "Menuju ke halaman pertama"

#: kstandardaction_p.h:87
#, kde-format
msgid "&Last Page"
msgstr "H&alaman Terakhir"

#: kstandardaction_p.h:87
#, kde-format
msgid "Go to last page"
msgstr "Menuju ke halaman terakhir"

#: kstandardaction_p.h:88
#, kde-format
msgid "&Back"
msgstr "&Mundur"

#: kstandardaction_p.h:88
#, kde-format
msgid "Go back in document"
msgstr "Menuju mundur di dokumen"

#: kstandardaction_p.h:89
#, kde-format
msgid "&Forward"
msgstr "M&aju"

#: kstandardaction_p.h:89
#, kde-format
msgid "Go forward in document"
msgstr "Menuju maju di dokumen"

#: kstandardaction_p.h:91
#, kde-format
msgid "&Add Bookmark"
msgstr "Tambah &Markah"

#: kstandardaction_p.h:92
#, kde-format
msgid "&Edit Bookmarks..."
msgstr "&Edit Markah..."

#: kstandardaction_p.h:94
#, kde-format
msgid "&Spelling..."
msgstr "&Ejaan..."

#: kstandardaction_p.h:94
#, kde-format
msgid "Check spelling in document"
msgstr "Pemeriksa ejaan di dokumen"

#: kstandardaction_p.h:96
#, kde-format
msgid "Show &Menubar"
msgstr "Tampilkan &Bilah Menu"

#: kstandardaction_p.h:96
#, kde-format
msgid "Show or hide menubar"
msgstr "Tampilkan atau sembunyikan bilah menu"

#: kstandardaction_p.h:97
#, kde-format
msgid "Show &Toolbar"
msgstr "Tampilkan &Bilah Alat"

#: kstandardaction_p.h:97
#, kde-format
msgid "Show or hide toolbar"
msgstr "Tampilkan atau sembunyikan bilah alat"

#: kstandardaction_p.h:98
#, kde-format
msgid "Show St&atusbar"
msgstr "Tampilkan Bilah &Status"

#: kstandardaction_p.h:98
#, kde-format
msgid "Show or hide statusbar"
msgstr "Tampilkan atau sembunyikan bilah status"

#: kstandardaction_p.h:99
#, kde-format
msgid "F&ull Screen Mode"
msgstr "Mode Layar Pen&uh"

#: kstandardaction_p.h:100
#, kde-format
msgid "&Save Settings"
msgstr "&Simpan Pengaturan"

#: kstandardaction_p.h:101
#, kde-format
msgid "Configure S&hortcuts..."
msgstr "Konfigurasikan &Pintasan..."

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "&Konfigurasikan %1..."

#: kstandardaction_p.h:103
#, kde-format
msgid "Configure Tool&bars..."
msgstr "Konfigurasikan &Bilah Alat..."

#: kstandardaction_p.h:104
#, kde-format
msgid "Configure &Notifications..."
msgstr "Konfigurasikan &Notifikasi..."

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "&Buku Petunjuk %1"

#: kstandardaction_p.h:110
#, kde-format
msgid "What's &This?"
msgstr "&Apakah Ini?"

#: kstandardaction_p.h:111
#, kde-format
msgid "Tip of the &Day"
msgstr "Tip Hari &Ini"

#: kstandardaction_p.h:112
#, kde-format
msgid "&Report Bug..."
msgstr "&Laporkan Bug..."

#: kstandardaction_p.h:113
#, kde-format
msgid "Switch Application &Language..."
msgstr "Alihkan &Bahasa Aplikasi..."

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "&Tentang %1"

#: kstandardaction_p.h:115
#, kde-format
msgid "About &KDE"
msgstr "Tentang &KDE"

#: kstandardaction_p.h:116
#, kde-format
msgid "&Delete"
msgstr "&Hapus"

#: kstandardaction_p.h:117
#, kde-format
msgid "&Rename..."
msgstr "&Ubah nama..."

#: kstandardaction_p.h:118
#, kde-format
msgid "&Move to Trash"
msgstr "&Pindah ke Sesampahan"

#: kstandardaction_p.h:119
#, kde-format
msgid "&Donate"
msgstr "&Donasi"

#: ktipdialog.cpp:238
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Tip Hari Ini"

#: ktipdialog.cpp:254
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Apakah Anda tau...?\n"

#: ktipdialog.cpp:306
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "&Tampilkan tip saat pemulaian"

#: ktipdialog.cpp:311
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Sebelumnya"

#: ktipdialog.cpp:316
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Berikutnya"
