[KCM Locale]
Name=Sinhala
Name[ca]=Singalès
Name[es]=Cingalés
Name[ia]=Sinhala
Name[nl]=Singalees
Name[sl]=Singalščina
Name[tr]=Sinhala Dili
Name[uk]=сингалійська
Name[x-test]=xxSinhalaxx
