[KCM Locale]
Name=Northern Sami
Name[ca]=Sami septentrional
Name[es]=Sami septentrional
Name[ia]=Sami Septentrional
Name[nl]=Noord-Sami
Name[sl]=Severna samijščina
Name[tr]=Kuzey Laponcası
Name[uk]=північносаамська
Name[x-test]=xxNorthern Samixx
Region=northeurope
DateMonthNamePossessive=true
NounDeclension=true
