[KCM Locale]
Name=Crimean Tatar
Name[ca]=Tàtar de Crimea
Name[es]=Tártaro de Crimea
Name[ia]=Crimean Tatar 
Name[nl]=Krim-Tataars
Name[sl]=Krimska tatarščina
Name[tr]=Kırım Tatarcası
Name[uk]=кримськотатарська
Name[x-test]=xxCrimean Tatarxx
