[KCM Locale]
Name=Italian
Name[ca]=Italià
Name[es]=Italiano
Name[ia]=Italiano 
Name[nl]=Italiaans
Name[sl]=Italijanščina
Name[tr]=İtalyanca
Name[uk]=італійська
Name[x-test]=xxItalianxx
