[KCM Locale]
Name=Pashto
Name[ca]=Paixtu
Name[es]=Pastún
Name[ia]=Pashto
Name[nl]=Pashto
Name[sl]=Paštunščina
Name[tr]=Peştuca
Name[uk]=пушту
Name[x-test]=xxPashtoxx
