[KCM Locale]
Name=Uyghur
Name[ca]=Uigur
Name[es]=Uigur
Name[ia]=Uighuro
Name[nl]=Oeigoers
Name[sl]=Ujgurščina
Name[tr]=Uygurca
Name[uk]=уйгурська
Name[x-test]=xxUyghurxx
