[KCM Locale]
Name=British English
Name[ca]=Anglès britànic
Name[es]=Inglés británico
Name[ia]=Anglese Britannic 
Name[nl]=Brits Engels
Name[sl]=Angleščina (VB)
Name[tr]=Britanya İngilizcesi
Name[uk]=англійська (Велика Британія)
Name[x-test]=xxBritish Englishxx

