[KCM Locale]
Name=British English
Name[ia]=Anglese Britannic 
Name[nl]=Brits Engels
Name[tr]=Britanya İngilizcesi
Name[uk]=англійська (Велика Британія)

