# translation of kdelibs4.po to Thai
# Copyright (C) 2003,2004, 2005, 2006, 2007, 2008 Free Software Foundation, Inc.
#
# Thanomsub Noppaburana <donga_n@yahoo.com>, 2003,2004, 2005.
# Thanomsub Noppaburana <donga.nb@gmail.com>, 2005, 2008, 2010.
# Sahachart Anukulkitch <drrider@gmail.com>, 2006, 2007.
# Narachai Sakorn <narachai@gmail.com>, 2008.
# Phuwanat Sakornsakolpat <narachai@gmail.com>, 2010.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2015-02-28 09:34+0000\n"
"PO-Revision-Date: 2010-12-31 22:47+0700\n"
"Last-Translator: Phuwanat Sakornsakolpat <narachai@gmail.com>\n"
"Language-Team: Thai <thai-l10n@googlegroups.com>\n"
"Language: th\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 1.0\n"
"Plural-Forms: nplurals=1; plural=0;\n"

msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "ถนอมทรัพย์ นพบูรณ์, สหชาติ อนุกูลกิจ"

msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "donga.nb@gmail.com, drrider@gmail.com"

#: kcmodule.cpp:166
msgid "You will be asked to authenticate before saving"
msgstr "ถามเพื่อแสดงสิทธิ์ก่อนจะทำการบันทึก"

#: kcmodule.cpp:170
msgid "You are not allowed to save the configuration"
msgstr "คุณไม่ได้รับอนุญาตให้บันทึกการปรับแต่งค่า"

#: kcodecaction.cpp:90
msgctxt "Encodings menu"
msgid "Default"
msgstr "ค่าปริยาย"

#: kcodecaction.cpp:98
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "ตรวจอัตโนมัติ"

#: kconfigdialog.cpp:45
#, fuzzy
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "ปรับแต่งค่า"

#: klanguagebutton.cpp:194
msgid "without name"
msgstr "ไม่มีชื่อ"

#: krecentfilesaction.cpp:78
msgid "No Entries"
msgstr "ไม่มีรายการใด ๆ"

#: krecentfilesaction.cpp:84
msgid "Clear List"
msgstr "ล้างรายการ"

#: kstandardaction.cpp:90
msgctxt "go back"
msgid "&Back"
msgstr "ย้อน&กลับ"

#: kstandardaction.cpp:97
msgctxt "go forward"
msgid "&Forward"
msgstr "&ต่อไป"

#: kstandardaction.cpp:104
msgctxt "home page"
msgid "&Home"
msgstr "&หน้าหลัก"

#: kstandardaction.cpp:107
msgctxt "show help"
msgid "&Help"
msgstr "&ช่วยเหลือ"

#: kstandardaction.cpp:526 kstandardaction_p.h:96
msgid "Show &Menubar"
msgstr "แสดงแถบเ&มนู"

#: kstandardaction.cpp:534
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "แสดงแถบเมนู<p>แสดงแถบเมนูอีกครั้งหลังจากที่ถูกซ่อน</p>"

#: kstandardaction.cpp:552 kstandardaction_p.h:98
msgid "Show St&atusbar"
msgstr "แสดงแถบ&สถานะ"

#: kstandardaction.cpp:555
#, fuzzy
#| msgid ""
#| "Show Statusbar<br /><br />Shows the statusbar, which is the bar at the "
#| "bottom of the window used for status information."
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"แสดงแถบสถานะ<br /><br />แสดงแถบสถานะ ซึ่งเป็นส่วนแถบที่อยู่ด้านล่างของหน้าต่าง "
"เพื่อใช้ในการแสดงข้อมูลสถานะ"

#: kstandardaction_p.h:41
msgid "&New"
msgstr "สร้างใ&หม่"

#: kstandardaction_p.h:41
#, fuzzy
#| msgctxt "@label"
#| msgid "Create new tag:"
msgid "Create new document"
msgstr "สร้างป้ายกำกับใหม่:"

#: kstandardaction_p.h:42
msgid "&Open..."
msgstr "เ&ปิด..."

#: kstandardaction_p.h:42
#, fuzzy
#| msgid "&Back in the Document"
msgid "Open an existing document"
msgstr "&ย้อนกลับในเอกสาร"

#: kstandardaction_p.h:43
msgid "Open &Recent"
msgstr "เปิดที่เ&คยเรียกใช้"

#: kstandardaction_p.h:43
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:44
msgid "&Save"
msgstr "&บันทึก"

#: kstandardaction_p.h:44
#, fuzzy
#| msgid "Close Document"
msgid "Save document"
msgstr "ปิดเอกสาร"

#: kstandardaction_p.h:45
msgid "Save &As..."
msgstr "บัน&ทึกเป็น..."

#: kstandardaction_p.h:45
#, fuzzy
#| msgid "Close Document"
msgid "Save document under a new name"
msgstr "ปิดเอกสาร"

#: kstandardaction_p.h:46
msgid "Re&vert"
msgstr "&กลับค่า"

#: kstandardaction_p.h:46
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:47
msgid "&Close"
msgstr "&ปิด"

#: kstandardaction_p.h:47
#, fuzzy
#| msgid "Close Document"
msgid "Close document"
msgstr "ปิดเอกสาร"

#: kstandardaction_p.h:48
msgid "&Print..."
msgstr "&พิมพ์..."

#: kstandardaction_p.h:48
#, fuzzy
#| msgctxt "keyboard-key-name"
#| msgid "PrintScreen"
msgid "Print document"
msgstr "PrintScreen"

#: kstandardaction_p.h:49
msgid "Print Previe&w"
msgstr "&ตัวอย่างก่อนพิมพ์"

#: kstandardaction_p.h:49
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:50
msgid "&Mail..."
msgstr "&อีเมล..."

#: kstandardaction_p.h:50
#, fuzzy
#| msgid "Close Document"
msgid "Send document by mail"
msgstr "ปิดเอกสาร"

#: kstandardaction_p.h:51
msgid "&Quit"
msgstr "&ออก"

#: kstandardaction_p.h:51
msgid "Quit application"
msgstr "ออกจากโปรแกรม"

#: kstandardaction_p.h:53
msgid "&Undo"
msgstr "เ&ลิกทำ"

#: kstandardaction_p.h:53
#, fuzzy
#| msgctxt ""
#| "A link to make a donation for a Get Hot New Stuff item (opens a web "
#| "browser)"
#| msgid "Make a donation"
msgid "Undo last action"
msgstr "ต้องการบริจาค"

#: kstandardaction_p.h:54
msgid "Re&do"
msgstr "&ทำซ้ำ"

#: kstandardaction_p.h:54
#, fuzzy
#| msgctxt ""
#| "A link to make a donation for a Get Hot New Stuff item (opens a web "
#| "browser)"
#| msgid "Make a donation"
msgid "Redo last undone action"
msgstr "ต้องการบริจาค"

#: kstandardaction_p.h:55
msgid "Cu&t"
msgstr "&ตัด"

#: kstandardaction_p.h:55
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:56
msgid "&Copy"
msgstr "&คัดลอก"

#: kstandardaction_p.h:56
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "&Paste"
msgstr "&วาง"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, fuzzy
#| msgid "Upload content"
msgid "Paste clipboard content"
msgstr "อัปโหลดเนื้อหา"

#: kstandardaction_p.h:59
msgid "C&lear"
msgstr "&ล้าง"

#: kstandardaction_p.h:60
msgid "Select &All"
msgstr "เลือกทั้งห&มด"

#: kstandardaction_p.h:61
msgid "Dese&lect"
msgstr "ยกเลิก&การเลือก"

#: kstandardaction_p.h:62
msgid "&Find..."
msgstr "ค้น&หา..."

#: kstandardaction_p.h:63
msgid "Find &Next"
msgstr "ค้&นหาตัวต่อไป"

#: kstandardaction_p.h:64
msgid "Find Pre&vious"
msgstr "ค้นหาก่อ&นหน้านี้"

#: kstandardaction_p.h:65
msgid "&Replace..."
msgstr "แ&ทนที่..."

#: kstandardaction_p.h:67
msgid "&Actual Size"
msgstr "ขนาด&จริง"

#: kstandardaction_p.h:67
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:68
msgid "&Fit to Page"
msgstr "&พอดีกับทั้งหน้า"

#: kstandardaction_p.h:68
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Zoom to fit page in window"
msgstr "ไปบรรทัดที่"

#: kstandardaction_p.h:69
msgid "Fit to Page &Width"
msgstr "พอดีกับความ&กว้างหน้า"

#: kstandardaction_p.h:69
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:70
msgid "Fit to Page &Height"
msgstr "พอดีกับความ&สูงหน้า"

#: kstandardaction_p.h:70
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:71
msgid "Zoom &In"
msgstr "ดู&ขยาย"

#: kstandardaction_p.h:72
msgid "Zoom &Out"
msgstr "ดู&ย่อ"

#: kstandardaction_p.h:73
msgid "&Zoom..."
msgstr "ดูย่อ/ขยาย..."

#: kstandardaction_p.h:73
#, fuzzy
#| msgid "Select a week"
msgid "Select zoom level"
msgstr "เลือกสัปดาห์"

#: kstandardaction_p.h:74
msgid "&Redisplay"
msgstr "เรียกแ&สดงใหม่"

#: kstandardaction_p.h:74
#, fuzzy
#| msgid "&Redisplay"
msgid "Redisplay document"
msgstr "เรียกแ&สดงใหม่"

#: kstandardaction_p.h:76
msgid "&Up"
msgstr "&ขึ้น"

#: kstandardaction_p.h:76
msgid "Go up"
msgstr ""

#: kstandardaction_p.h:81
msgid "&Previous Page"
msgstr "หน้า&ก่อน"

#: kstandardaction_p.h:81
#, fuzzy
#| msgid "&Previous Page"
msgid "Go to previous page"
msgstr "หน้า&ก่อน"

#: kstandardaction_p.h:82
msgid "&Next Page"
msgstr "หน้า&ถัดไป"

#: kstandardaction_p.h:82
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to next page"
msgstr "ไปบรรทัดที่"

#: kstandardaction_p.h:83
msgid "&Go To..."
msgstr "ไป&ยัง..."

#: kstandardaction_p.h:84
msgid "&Go to Page..."
msgstr "ไป&ยังหน้า..."

#: kstandardaction_p.h:85
msgid "&Go to Line..."
msgstr "ไป&ยังบรรทัด..."

#: kstandardaction_p.h:86
msgid "&First Page"
msgstr "หน้าแ&รก"

#: kstandardaction_p.h:86
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to first page"
msgstr "ไปบรรทัดที่"

#: kstandardaction_p.h:87
msgid "&Last Page"
msgstr "หน้าสุ&ดท้าย"

#: kstandardaction_p.h:87
#, fuzzy
#| msgid "&Go to Page..."
msgid "Go to last page"
msgstr "ไป&ยังหน้า..."

#: kstandardaction_p.h:88
msgid "&Back"
msgstr "&ย้อนกลับ"

#: kstandardaction_p.h:88
#, fuzzy
#| msgid "&Back in the Document"
msgid "Go back in document"
msgstr "&ย้อนกลับในเอกสาร"

#: kstandardaction_p.h:89
#, fuzzy
#| msgctxt "go forward"
#| msgid "&Forward"
msgid "&Forward"
msgstr "&ต่อไป"

#: kstandardaction_p.h:89
#, fuzzy
#| msgid "&Forward in the Document"
msgid "Go forward in document"
msgstr "เดินหน้า&ต่อไปในเอกสาร"

#: kstandardaction_p.h:91
msgid "&Add Bookmark"
msgstr "เ&พิ่มคั่นหน้า"

#: kstandardaction_p.h:92
msgid "&Edit Bookmarks..."
msgstr "แ&ก้ไขที่คั่นหน้า..."

#: kstandardaction_p.h:94
msgid "&Spelling..."
msgstr "ตรวจ&คำสะกด..."

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "Check Spelling"
msgid "Check spelling in document"
msgstr "ตรวจคำสะกด"

#: kstandardaction_p.h:96
#, fuzzy
#| msgid "Show &Menubar"
msgid "Show or hide menubar"
msgstr "แสดงแถบเ&มนู"

#: kstandardaction_p.h:97
msgid "Show &Toolbar"
msgstr "แสดงแถบเ&ครื่องมือ"

#: kstandardaction_p.h:97
#, fuzzy
#| msgctxt "@action"
#| msgid "Show Toolbar"
msgid "Show or hide toolbar"
msgstr "แสดงแถบเครื่องมือ"

#: kstandardaction_p.h:98
#, fuzzy
#| msgctxt "@action"
#| msgid "Show Statusbar"
msgid "Show or hide statusbar"
msgstr "แสดงแถบสถานะ"

#: kstandardaction_p.h:99
msgid "F&ull Screen Mode"
msgstr "โหมดเ&ต็มหน้าจอ"

#: kstandardaction_p.h:100
msgid "&Save Settings"
msgstr "&บันทึกการตั้งค่า"

#: kstandardaction_p.h:101
msgid "Configure S&hortcuts..."
msgstr "ปรับแต่งปุ่มพิมพ์&ลัด..."

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "&ปรับแต่ง %1..."

#: kstandardaction_p.h:103
msgid "Configure Tool&bars..."
msgstr "ปรับแต่งแถบเ&ครื่องมือ..."

#: kstandardaction_p.h:104
msgid "Configure &Notifications..."
msgstr "ปรับแต่งการแจ้งให้&ทราบ..."

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "&คู่มือ %1"

#: kstandardaction_p.h:110
msgid "What's &This?"
msgstr "นี่คือ&อะไร ?"

#: kstandardaction_p.h:111
msgid "Tip of the &Day"
msgstr "คำแนะนำประจำ&วัน"

#: kstandardaction_p.h:112
msgid "&Report Bug..."
msgstr "&รายงานข้อผิดพลาด..."

#: kstandardaction_p.h:113
msgid "Switch Application &Language..."
msgstr "เปลี่ยน&ภาษาของโปรแกรม...."

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "เ&กี่ยวกับ %1"

#: kstandardaction_p.h:115
msgid "About &KDE"
msgstr "เกี่ยวกับ &KDE"

#: ktipdialog.cpp:239
#, fuzzy
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "คำแนะนำประจำวัน"

#: ktipdialog.cpp:255
#, fuzzy
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "คุณทราบหรือไม่ว่า... ?\n"

#: ktipdialog.cpp:307
#, fuzzy
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "แ&สดงคำแนะนำเมื่อเริ่มทำงาน"

#: ktipdialog.cpp:312
#, fuzzy
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&ก่อนหน้า"

#: ktipdialog.cpp:317
#, fuzzy
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&ถัดไป"
