[KCM Locale]
Name=US English
Name[ca]=Anglès US
Name[da]=US Engelsk
Name[es]=Inglés de EE. UU.
Name[nl]=VS Engels
Name[pt]=Inglês dos EUA
Name[sv]=Amerikansk engelska
Name[uk]=Англійська (США)
Name[x-test]=xxUS Englishxx
