[KCM Locale]
Name=US English
Name[ar]=الإنجليزية الأمريكية
Name[bg]=Английски (САЩ)
Name[ca]=Anglès EUA
Name[ca@valencia]=Anglés EUA
Name[cs]=US Angličtina
Name[es]=Inglés de EE. UU.
Name[eu]=AEBtako ingelesa
Name[fi]=Amerikanenglanti
Name[fr]=Anglais US
Name[he]=אנגלית אמריקאית
Name[is]=Enska (BNA)
Name[it]=Inglese US
Name[ko]=미국 영어
Name[nl]=VS Engels
Name[pl]=Angielski amerykański
Name[pt_BR]=Inglês americano
Name[sl]=Angleščina (ZDA)
Name[sv]=Amerikansk engelska
Name[tr]=ABD İngilizcesi
Name[uk]=Англійська (США)
Name[zh_CN]=美式英语
Name[zh_TW]=美式英語
