[KCM Locale]
Name=US English
Name[ar]=الإنجليزية الأمريكية
Name[ca]=Anglès EUA
Name[ca@valencia]=Anglés EUA
Name[es]=Inglés de EE. UU.
Name[he]=אנגלית אמריקאית
Name[it]=Inglese US
Name[nl]=VS Engels
Name[sl]=Angleščina (ZDA)
Name[sv]=Amerikansk engelska
Name[tr]=ABD İngilizcesi
Name[uk]=Англійська (США)
Name[x-test]=xxUS Englishxx
Name[zh_TW]=美式英語
