include($KDE_DOCS/global/qt-module-defaults.qdocconf)

project = KConfigWidgets
description = Widgets for configuration dialogs

documentationinheaders = true

headerdirs += .
sourcedirs += .

imagedirs = ../docs/pics

outputformats = HTML

navigation.landingpage = "KConfigWidgets"

depends += \
    kde \
    qtcore \
    qtgui \
    qtwidgets \
    kwidgetsaddons \
    kcolorscheme \
    kconfigcore \
    kconfiggui

qhp.projects            = KConfigWidgets

qhp.KConfigWidgets.file                = kconfigwidgets.qhp
qhp.KConfigWidgets.namespace           = org.kde.kconfigwidgets.$QT_VERSION_TAG
qhp.KConfigWidgets.virtualFolder       = kconfigwidgets
qhp.KConfigWidgets.indexTitle          = KConfigWidgets
qhp.KConfigWidgets.indexRoot           =

qhp.KConfigWidgets.subprojects         = classes
qhp.KConfigWidgets.subprojects.classes.title = C++ Classes
qhp.KConfigWidgets.subprojects.classes.indexTitle = KConfigWidgets C++ Classes
qhp.KConfigWidgets.subprojects.classes.selectors = class fake:headerfile
qhp.KConfigWidgets.subprojects.classes.sortPages = true

tagfile = kconfigwidgets.tags
