[KCM Locale]
Name=Bulgarian
Name[ca]=Búlgar
Name[es]=Búlgaro
Name[ia]=Bulgaro 
Name[nl]=Bulgaars
Name[sl]=Bolgarščina
Name[tr]=Bulgarca
Name[uk]=болгарська
Name[x-test]=xxBulgarianxx
