[KCM Locale]
Name=Belarusian Latin
Name[ca]=Bielorús llatí
Name[es]=Bielorruso latino
Name[ia]=Bielorusso Latin
Name[nl]=Wit-Russisch Latijn
Name[sl]=Beloruščina (latinica)
Name[tr]=Beyaz Rusça Latin
Name[uk]=білоруська (латиниця)
Name[x-test]=xxBelarusian Latinxx
