[KCM Locale]
Name=Lithuanian
Name[ca]=Lituà
Name[es]=Lituano
Name[ia]=Lituano 
Name[nl]=Litouws
Name[sl]=Litvanščina
Name[tr]=Litvanca
Name[uk]=литовська
Name[x-test]=xxLithuanianxx
