# Kiszel Kristóf <ulysses@kubuntu.org>, 2010.
# Kristóf Kiszel <ulysses@kubuntu.org>, 2010, 2011, 2012.
# Balázs Úr <urbalazs@gmail.com>, 2012, 2013.
msgid ""
msgstr ""
"Project-Id-Version: KDE 4.4\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-27 20:57+0000\n"
"PO-Revision-Date: 2013-10-23 11:23+0200\n"
"Last-Translator: Balázs Úr <urbalazs@gmail.com>\n"
"Language-Team: Hungarian <kde-l10n-hu@kde.org>\n"
"Language: hu\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=(n != 1);\n"
"X-Generator: Lokalize 1.5\n"

msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Kiszel Kristóf,Szántó Tamás"

msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "ulysses@kubuntu.org,taszanto@gmail.com"

#: kcmodule.cpp:153
msgid "You will be asked to authenticate before saving"
msgstr "Mentés előtt felhasználóazonosítás történik"

#: kcmodule.cpp:157
msgid "You are not allowed to save the configuration"
msgstr "Nincs jogosultsága a beállítások elmentéséhez"

#: kcodecaction.cpp:90
msgctxt "Encodings menu"
msgid "Default"
msgstr "Alapértelmezés"

#: kcodecaction.cpp:98
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Automatikus felismerés"

#: klanguagebutton.cpp:194
msgid "without name"
msgstr "név nélkül"

#: krecentfilesaction.cpp:78
msgid "No Entries"
msgstr "Nincs bejegyzés"

#: krecentfilesaction.cpp:82
msgid "Clear List"
msgstr "A lista törlése"

#: kstandardaction.cpp:88
msgctxt "go back"
msgid "&Back"
msgstr "&Vissza"

#: kstandardaction.cpp:95
msgctxt "go forward"
msgid "&Forward"
msgstr "&Előre"

#: kstandardaction.cpp:102
msgctxt "home page"
msgid "&Home"
msgstr "&Alapkönyvtár"

#: kstandardaction.cpp:105
msgctxt "show help"
msgid "&Help"
msgstr "&Súgó"

#: kstandardaction.cpp:514 kstandardaction_p.h:96
msgid "Show &Menubar"
msgstr "&Menüsor"

#: kstandardaction.cpp:520
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "A menüsor megjelenítése<p>Ismét megjeleníti az elrejtett menüsort</p>"

#: kstandardaction.cpp:538 kstandardaction_p.h:98
msgid "Show St&atusbar"
msgstr "Áll&apotsor"

#: kstandardaction.cpp:541
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Az állapotsor megjelenítése<p>Megjeleníti az állapotsort, amely az ablak "
"alján különféle adatokat képes kijelezni.</p>"

#: kstandardaction_p.h:41
msgid "&New"
msgstr "Ú&j"

#: kstandardaction_p.h:41
msgid "Create new document"
msgstr "Új dokumentum létrehozása"

#: kstandardaction_p.h:42
msgid "&Open..."
msgstr "&Megnyitás…"

#: kstandardaction_p.h:42
msgid "Open an existing document"
msgstr "Meglévő dokumentum megnyitása"

#: kstandardaction_p.h:43
msgid "Open &Recent"
msgstr "Leg&utóbbi megnyitása"

#: kstandardaction_p.h:43
msgid "Open a document which was recently opened"
msgstr "Egy legutóbb megnyitott dokumentum megnyitása"

#: kstandardaction_p.h:44
msgid "&Save"
msgstr "M&entés"

#: kstandardaction_p.h:44
msgid "Save document"
msgstr "Dokumentum mentése"

#: kstandardaction_p.h:45
msgid "Save &As..."
msgstr "Mentés más&ként…"

#: kstandardaction_p.h:45
msgid "Save document under a new name"
msgstr "Dokumentum mentése új néven"

#: kstandardaction_p.h:46
msgid "Re&vert"
msgstr "&Visszafelé"

#: kstandardaction_p.h:46
msgid "Revert unsaved changes made to document"
msgstr "Nem mentett módosítások visszavonása"

#: kstandardaction_p.h:47
msgid "&Close"
msgstr "&Bezárás"

#: kstandardaction_p.h:47
msgid "Close document"
msgstr "Dokumentum bezárása"

#: kstandardaction_p.h:48
msgid "&Print..."
msgstr "&Nyomtatás…"

#: kstandardaction_p.h:48
msgid "Print document"
msgstr "Dokumentum nyomtatása"

#: kstandardaction_p.h:49
msgid "Print Previe&w"
msgstr "Nyomtatási &előnézet"

#: kstandardaction_p.h:49
msgid "Show a print preview of document"
msgstr "A  dokumentum nyomtatási előnézetének megjelenítése"

#: kstandardaction_p.h:50
msgid "&Mail..."
msgstr "Levél kül&dése…"

#: kstandardaction_p.h:50
msgid "Send document by mail"
msgstr "Dokumentum küldése e-mailben"

#: kstandardaction_p.h:51
msgid "&Quit"
msgstr "Ki&lépés"

#: kstandardaction_p.h:51
msgid "Quit application"
msgstr "Kilépés az alkalmazásból"

#: kstandardaction_p.h:53
msgid "&Undo"
msgstr "V&isszavonás"

#: kstandardaction_p.h:53
msgid "Undo last action"
msgstr "Legutóbbi művelet visszavonása"

#: kstandardaction_p.h:54
msgid "Re&do"
msgstr "Új&ra végrehajtás"

#: kstandardaction_p.h:54
msgid "Redo last undone action"
msgstr "Legutóbb visszavont művelet újra végrehajtása"

#: kstandardaction_p.h:55
msgid "Cu&t"
msgstr "Ki&vágás"

#: kstandardaction_p.h:55
msgid "Cut selection to clipboard"
msgstr "Kijelölés kivágása és a vágólapra helyezése"

#: kstandardaction_p.h:56
msgid "&Copy"
msgstr "&Másolás"

#: kstandardaction_p.h:56
msgid "Copy selection to clipboard"
msgstr "Kijelölés másolása a vágólapra"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "&Paste"
msgstr "&Beillesztés"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "Paste clipboard content"
msgstr "Vágólap tartalmának beillesztése"

#: kstandardaction_p.h:59
msgid "C&lear"
msgstr "A mező(k) tör&lése"

#: kstandardaction_p.h:60
msgid "Select &All"
msgstr "M&inden kijelölése"

#: kstandardaction_p.h:61
msgid "Dese&lect"
msgstr "A kijelölés megszünt&etése"

#: kstandardaction_p.h:62
msgid "&Find..."
msgstr "K&eresés…"

#: kstandardaction_p.h:63
msgid "Find &Next"
msgstr "&Következő keresése"

#: kstandardaction_p.h:64
msgid "Find Pre&vious"
msgstr "Az előző &keresése"

#: kstandardaction_p.h:65
msgid "&Replace..."
msgstr "Cse&re…"

#: kstandardaction_p.h:67
msgid "&Actual Size"
msgstr "&Tényleges méret"

#: kstandardaction_p.h:67
msgid "View document at its actual size"
msgstr "Dokumentum megjelenítése tényleges méretben"

#: kstandardaction_p.h:68
msgid "&Fit to Page"
msgstr "&Teljes oldal"

#: kstandardaction_p.h:68
msgid "Zoom to fit page in window"
msgstr "Nagyítás az oldal kitöltéséhez"

#: kstandardaction_p.h:69
msgid "Fit to Page &Width"
msgstr "Teljes &szélesség"

#: kstandardaction_p.h:69
msgid "Zoom to fit page width in window"
msgstr "Nagyítás az oldalszélesség kitöltéséhez"

#: kstandardaction_p.h:70
msgid "Fit to Page &Height"
msgstr "Teljes ma&gasság"

#: kstandardaction_p.h:70
msgid "Zoom to fit page height in window"
msgstr "Nagyítás az oldalmagasság kitöltéséhez"

#: kstandardaction_p.h:71
msgid "Zoom &In"
msgstr "N&agyítás"

#: kstandardaction_p.h:72
msgid "Zoom &Out"
msgstr "Ki&csinyítés"

#: kstandardaction_p.h:73
msgid "&Zoom..."
msgstr "N&agyítás…"

#: kstandardaction_p.h:73
msgid "Select zoom level"
msgstr "Válasszon nagyítási szintet"

#: kstandardaction_p.h:74
msgid "&Redisplay"
msgstr "Újból meg&jelenítés"

#: kstandardaction_p.h:74
msgid "Redisplay document"
msgstr "Dokumentum újból megjelenítése"

#: kstandardaction_p.h:76
msgid "&Up"
msgstr "&Fel"

#: kstandardaction_p.h:76
msgid "Go up"
msgstr "Ugrás felfelé"

#: kstandardaction_p.h:81
msgid "&Previous Page"
msgstr "El&őző oldal"

#: kstandardaction_p.h:81
msgid "Go to previous page"
msgstr "Ugrás az előző oldalra"

#: kstandardaction_p.h:82
msgid "&Next Page"
msgstr "Következő &oldal"

#: kstandardaction_p.h:82
msgid "Go to next page"
msgstr "Ugrás a következő oldalra"

#: kstandardaction_p.h:83
msgid "&Go To..."
msgstr "&Ugrás ide…"

#: kstandardaction_p.h:84
msgid "&Go to Page..."
msgstr "Ugrás egy ol&dalra…"

#: kstandardaction_p.h:85
msgid "&Go to Line..."
msgstr "Ug&rás egy sorra…"

#: kstandardaction_p.h:86
msgid "&First Page"
msgstr "El&ső oldal"

#: kstandardaction_p.h:86
msgid "Go to first page"
msgstr "Ugrás az első oldalra"

#: kstandardaction_p.h:87
msgid "&Last Page"
msgstr "Ut&olsó oldal"

#: kstandardaction_p.h:87
msgid "Go to last page"
msgstr "Ugrás az utolsó oldalra"

#: kstandardaction_p.h:88
msgid "&Back"
msgstr "&Vissza"

#: kstandardaction_p.h:88
msgid "Go back in document"
msgstr "Vissza a dokumentumban"

#: kstandardaction_p.h:89
msgid "&Forward"
msgstr "Előre"

#: kstandardaction_p.h:89
msgid "Go forward in document"
msgstr "Előre a dokumentumban"

#: kstandardaction_p.h:91
msgid "&Add Bookmark"
msgstr "Hozzá&adás a könyvjelzőkhöz"

#: kstandardaction_p.h:92
msgid "&Edit Bookmarks..."
msgstr "&Könyvjelzők szerkesztése…"

#: kstandardaction_p.h:94
msgid "&Spelling..."
msgstr "Helye&sírás-ellenőrzés…"

#: kstandardaction_p.h:94
msgid "Check spelling in document"
msgstr "Helyesírás-ellenőrzés a dokumentumban"

#: kstandardaction_p.h:96
msgid "Show or hide menubar"
msgstr "Menüsáv megjelenítése vagy elrejtése"

#: kstandardaction_p.h:97
msgid "Show &Toolbar"
msgstr "Eszköz&tár"

#: kstandardaction_p.h:97
msgid "Show or hide toolbar"
msgstr "Eszköztár megjelenítse vagy elrejtése"

#: kstandardaction_p.h:98
msgid "Show or hide statusbar"
msgstr "Állapotsor megjelenítése vagy elrejtése"

#: kstandardaction_p.h:99
msgid "F&ull Screen Mode"
msgstr "&Teljes képernyős mód"

#: kstandardaction_p.h:100
msgid "&Save Settings"
msgstr "A beállítások m&entése"

#: kstandardaction_p.h:101
msgid "Configure S&hortcuts..."
msgstr "Billentyű&parancsok…"

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "B&eállítóablak: %1…"

#: kstandardaction_p.h:103
msgid "Configure Tool&bars..."
msgstr "Eszkö&ztárak…"

#: kstandardaction_p.h:104
msgid "Configure &Notifications..."
msgstr "Értesí&tő üzenetek…"

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "A %1 kéz&ikönyve"

#: kstandardaction_p.h:110
msgid "What's &This?"
msgstr "Mi e&z?"

#: kstandardaction_p.h:111
msgid "Tip of the &Day"
msgstr "Mai ti&pp"

#: kstandardaction_p.h:112
msgid "&Report Bug..."
msgstr "&Hibabejelentés…"

#: kstandardaction_p.h:113
msgid "Switch Application &Language..."
msgstr "Más alkalmazásnyel&v…"

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "Né&vjegy: %1"

#: kstandardaction_p.h:115
msgid "About &KDE"
msgstr "Névjegy: &KDE"
