# Translation of kdelibs4 into Japanese.
# This file is distributed under the same license as the kdelibs package.
# Taiki Komoda <kom@kde.gr.jp>, 2002, 2004, 2006, 2010.
# Noboru Sinohara <shinobo@leo.bekkoame.ne.jp>, 2004.
# Toyohiro Asukai <toyohiro@ksmplus.com>, 2004.
# Kurose Shushi <md81@bird.email.ne.jp>, 2004.
# AWASHIRO Ikuya <ikuya@oooug.jp>, 2004.
# Shinichi Tsunoda <tsuno@ngy.1st.ne.jp>, 2005.
# Yukiko Bando <ybando@k6.dion.ne.jp>, 2006, 2007, 2008, 2009, 2010.
# Tomohiro Hyakutake <tomhioo@outlook.jp>, 2019, 2020.
# Fumiaki Okushi <fumiaki.okushi@gmail.com>, 2006, 2007, 2008, 2010, 2011, 2015, 2019.
#
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2021-03-31 00:15+0000\n"
"PO-Revision-Date: 2020-01-18 16:00+0900\n"
"Last-Translator: Tomohiro Hyakutake <tomhioo@outlook.jp>\n"
"Language-Team: Japanese <kde-jp@kde.org>\n"
"Language: ja\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Accelerator-Marker: &\n"
"X-Text-Markup: kde4\n"
"X-Generator: Lokalize 19.12.1\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr ""
"Taiki Komoda,Noboru Sinohara,Toyohiro Asukai,Kurose Shushi,Shinichi Tsunoda"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr ""
"kom@kde.gr.jp,shinobo@leo.bekkoame.ne.jp,toyohiro@ksmplus.com,md81@bird."
"email.ne.jp,tsuno@ngy.1st.ne.jp"

#: kcmodule.cpp:185
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "保存する前に認証を求められます"

#: kcmodule.cpp:189
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "あなたは設定を保存することを許可されていません"

#: kcodecaction.cpp:66
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "デフォルト"

#: kcodecaction.cpp:74
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "自動検出"

#: kcolorschememanager.cpp:147
#, fuzzy, kde-format
#| msgctxt "Encodings menu"
#| msgid "Default"
msgid "Default"
msgstr "デフォルト"

#: kcolorschememanager.cpp:224 kcolorschememanager.cpp:229
#, kde-format
msgid "Color Scheme"
msgstr ""

#: kconfigdialog.cpp:33
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "設定"

#: khamburgermenu.cpp:126
#, kde-format
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr ""

#: khamburgermenu.cpp:337
#, kde-format
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "For %1 more action:"
msgid_plural "For %1 more actions:"
msgstr[0] ""
msgstr[1] ""

#: khamburgermenu.cpp:340
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "%1 Menu Bar Exclusive Action"
msgid_plural "%1 Menu Bar Exclusive Actions"
msgstr[0] ""
msgstr[1] ""

#: krecentfilesaction.cpp:68
#, kde-format
msgid "No Entries"
msgstr "エントリなし"

#: krecentfilesaction.cpp:74
#, kde-format
msgid "Clear List"
msgstr "リストをクリア"

#: kstandardaction.cpp:139
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "戻る(&B)"

#: kstandardaction.cpp:146
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "進む(&F)"

#: kstandardaction.cpp:153
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "ホーム(&H)"

#: kstandardaction.cpp:157
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "ヘルプ(&H)"

#: kstandardaction.cpp:214
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "メニューバーを表示<p>隠したメニューバーを再び表示します</p>"

#: kstandardaction.cpp:235
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"ステータスバーを表示 <p>ステータスバーを表示します (ウィンドウの下方にある"
"バーで状態情報表示のために使用されています)。</p>"

#: kstandardaction_p.h:29
#, kde-format
msgid "&New"
msgstr "新規(&N)"

#: kstandardaction_p.h:29
#, kde-format
msgid "Create new document"
msgstr "新しい文書を作成"

#: kstandardaction_p.h:30
#, kde-format
msgid "&Open..."
msgstr "開く(&O)..."

#: kstandardaction_p.h:30
#, fuzzy, kde-format
#| msgid "&Back in the Document"
msgid "Open an existing document"
msgstr "文書の閲覧履歴の前へ戻る(&B)"

#: kstandardaction_p.h:31
#, kde-format
msgid "Open &Recent"
msgstr "最近のファイルを開く(&R)"

#: kstandardaction_p.h:31
#, kde-format
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:32
#, kde-format
msgid "&Save"
msgstr "保存(&S)"

#: kstandardaction_p.h:32
#, kde-format
msgid "Save document"
msgstr "文書を保存"

#: kstandardaction_p.h:33
#, kde-format
msgid "Save &As..."
msgstr "名前を付けて保存(&A)..."

#: kstandardaction_p.h:33
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Save document under a new name"
msgstr "文書を閉じる"

#: kstandardaction_p.h:34
#, kde-format
msgid "Re&vert"
msgstr "戻す(&V)"

#: kstandardaction_p.h:34
#, kde-format
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:35
#, kde-format
msgid "&Close"
msgstr "閉じる(&C)"

#: kstandardaction_p.h:35
#, kde-format
msgid "Close document"
msgstr "文書を閉じる"

#: kstandardaction_p.h:36
#, kde-format
msgid "&Print..."
msgstr "印刷(&P)..."

#: kstandardaction_p.h:36
#, kde-format
msgid "Print document"
msgstr "文書を印刷"

#: kstandardaction_p.h:37
#, kde-format
msgid "Print Previe&w"
msgstr "印刷プレビュー(&W)"

#: kstandardaction_p.h:37
#, kde-format
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:38
#, kde-format
msgid "&Mail..."
msgstr "メール(&M)..."

#: kstandardaction_p.h:38
#, fuzzy, kde-format
#| msgid "Close Document"
msgid "Send document by mail"
msgstr "文書を閉じる"

#: kstandardaction_p.h:39
#, kde-format
msgid "&Quit"
msgstr "終了(&Q)"

#: kstandardaction_p.h:39
#, kde-format
msgid "Quit application"
msgstr "アプリケーションを終了します"

#: kstandardaction_p.h:41
#, kde-format
msgid "&Undo"
msgstr "元に戻す(&U)"

#: kstandardaction_p.h:41
#, fuzzy, kde-format
#| msgctxt ""
#| "A link to make a donation for a Get Hot New Stuff item (opens a web "
#| "browser)"
#| msgid "Make a donation"
msgid "Undo last action"
msgstr "募金する"

#: kstandardaction_p.h:42
#, kde-format
msgid "Re&do"
msgstr "やり直す(&D)"

#: kstandardaction_p.h:42
#, fuzzy, kde-format
#| msgctxt ""
#| "A link to make a donation for a Get Hot New Stuff item (opens a web "
#| "browser)"
#| msgid "Make a donation"
msgid "Redo last undone action"
msgstr "募金する"

#: kstandardaction_p.h:43
#, kde-format
msgid "Cu&t"
msgstr "切り取り(&T)"

#: kstandardaction_p.h:43
#, kde-format
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:44
#, kde-format
msgid "&Copy"
msgstr "コピー(&C)"

#: kstandardaction_p.h:44
#, kde-format
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:45 kstandardaction_p.h:47
#, kde-format
msgid "&Paste"
msgstr "貼り付け(&P)"

#: kstandardaction_p.h:45 kstandardaction_p.h:47
#, fuzzy, kde-format
#| msgid "Upload content"
msgid "Paste clipboard content"
msgstr "コンテンツをアップロード"

#: kstandardaction_p.h:49
#, kde-format
msgid "C&lear"
msgstr "クリア(&L)"

#: kstandardaction_p.h:50
#, kde-format
msgid "Select &All"
msgstr "すべて選択(&A)"

#: kstandardaction_p.h:51
#, kde-format
msgid "Dese&lect"
msgstr "選択解除(&L)"

#: kstandardaction_p.h:52
#, kde-format
msgid "&Find..."
msgstr "検索(&F)..."

#: kstandardaction_p.h:53
#, kde-format
msgid "Find &Next"
msgstr "次を検索(&N)"

#: kstandardaction_p.h:54
#, kde-format
msgid "Find Pre&vious"
msgstr "前を検索(&V)"

#: kstandardaction_p.h:55
#, kde-format
msgid "&Replace..."
msgstr "置換(&R)..."

#: kstandardaction_p.h:57
#, kde-format
msgid "&Actual Size"
msgstr "実際のサイズ(&A)"

#: kstandardaction_p.h:57
#, kde-format
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:58
#, kde-format
msgid "&Fit to Page"
msgstr "ページに合わせる(&F)"

#: kstandardaction_p.h:58
#, fuzzy, kde-format
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Zoom to fit page in window"
msgstr "行に移動"

#: kstandardaction_p.h:59
#, kde-format
msgid "Fit to Page &Width"
msgstr "ページの幅に合わせる(&W)"

#: kstandardaction_p.h:59
#, kde-format
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:60
#, kde-format
msgid "Fit to Page &Height"
msgstr "ページの高さに合わせる(&H)"

#: kstandardaction_p.h:60
#, kde-format
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:61
#, kde-format
msgid "Zoom &In"
msgstr "拡大(&I)"

#: kstandardaction_p.h:62
#, kde-format
msgid "Zoom &Out"
msgstr "縮小(&O)"

#: kstandardaction_p.h:63
#, kde-format
msgid "&Zoom..."
msgstr "ズーム(&Z)..."

#: kstandardaction_p.h:63
#, fuzzy, kde-format
#| msgid "Select a week"
msgid "Select zoom level"
msgstr "週を選択"

#: kstandardaction_p.h:64
#, kde-format
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:64
#, fuzzy, kde-format
#| msgid "Redisplay document"
msgid "Refresh document"
msgstr "文書を再表示"

#: kstandardaction_p.h:66
#, kde-format
msgid "&Up"
msgstr "上へ(&U)"

#: kstandardaction_p.h:66
#, kde-format
msgid "Go up"
msgstr "上へ"

#: kstandardaction_p.h:71
#, kde-format
msgid "&Previous Page"
msgstr "前のページ(&P)"

#: kstandardaction_p.h:71
#, kde-format
msgid "Go to previous page"
msgstr "前のページへ"

#: kstandardaction_p.h:72
#, kde-format
msgid "&Next Page"
msgstr "次のページ(&N)"

#: kstandardaction_p.h:72
#, kde-format
msgid "Go to next page"
msgstr "次のページへ"

#: kstandardaction_p.h:73
#, kde-format
msgid "&Go To..."
msgstr "移動(&G)..."

#: kstandardaction_p.h:74
#, kde-format
msgid "&Go to Page..."
msgstr "ページに移動(&G)..."

#: kstandardaction_p.h:75
#, kde-format
msgid "&Go to Line..."
msgstr "行に移動(&G)..."

#: kstandardaction_p.h:76
#, kde-format
msgid "&First Page"
msgstr "最初のページ(&F)"

#: kstandardaction_p.h:76
#, kde-format
msgid "Go to first page"
msgstr "最初のページへ"

#: kstandardaction_p.h:77
#, kde-format
msgid "&Last Page"
msgstr "最後のページ(&L)"

#: kstandardaction_p.h:77
#, kde-format
msgid "Go to last page"
msgstr "最後のページへ"

#: kstandardaction_p.h:78
#, kde-format
msgid "&Back"
msgstr "戻る(&B)"

#: kstandardaction_p.h:78
#, fuzzy, kde-format
#| msgid "&Back in the Document"
msgid "Go back in document"
msgstr "文書の閲覧履歴の前へ戻る(&B)"

#: kstandardaction_p.h:79
#, kde-format
msgid "&Forward"
msgstr "進む(&F)"

#: kstandardaction_p.h:79
#, fuzzy, kde-format
#| msgid "&Forward in the Document"
msgid "Go forward in document"
msgstr "文書の閲覧履歴の先へ進む(&F)"

#: kstandardaction_p.h:81
#, kde-format
msgid "&Add Bookmark"
msgstr "ブックマークに追加(&A)"

#: kstandardaction_p.h:82
#, kde-format
msgid "&Edit Bookmarks..."
msgstr "ブックマークを編集(&E)..."

#: kstandardaction_p.h:84
#, kde-format
msgid "&Spelling..."
msgstr "スペルチェック(&S)..."

#: kstandardaction_p.h:84
#, kde-format
msgid "Check spelling in document"
msgstr "文書をスペルチェック"

#: kstandardaction_p.h:86
#, kde-format
msgid "Show &Menubar"
msgstr "メニューバーを表示(&M)"

#: kstandardaction_p.h:86
#, kde-format
msgid "Show or hide menubar"
msgstr "メニューバーを表示・非表示"

#: kstandardaction_p.h:87
#, kde-format
msgid "Show &Toolbar"
msgstr "ツールバーを表示(&T)"

#: kstandardaction_p.h:87
#, kde-format
msgid "Show or hide toolbar"
msgstr "ツールバーを表示・非表示"

#: kstandardaction_p.h:88
#, kde-format
msgid "Show St&atusbar"
msgstr "ステータスバーを表示(&A)"

#: kstandardaction_p.h:88
#, kde-format
msgid "Show or hide statusbar"
msgstr "ステータスバーを表示・非表示"

#: kstandardaction_p.h:89
#, kde-format
msgid "F&ull Screen Mode"
msgstr "フルスクリーンモード(&U)|/|$[~setProps ~label 'フルスクリーン']"

#: kstandardaction_p.h:91
#, kde-format
msgid "&Save Settings"
msgstr "設定を保存(&S)"

#: kstandardaction_p.h:93
#, fuzzy, kde-format
#| msgid "Configure S&hortcuts..."
msgid "Configure Keyboard S&hortcuts..."
msgstr "ショートカットを設定(&H)..."

#: kstandardaction_p.h:94
#, kde-format
msgid "&Configure %1..."
msgstr "%1 を設定(&C)..."

#: kstandardaction_p.h:95
#, kde-format
msgid "Configure Tool&bars..."
msgstr "ツールバーを設定(&B)..."

#: kstandardaction_p.h:96
#, kde-format
msgid "Configure &Notifications..."
msgstr "通知を設定(&N)..."

#: kstandardaction_p.h:103
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 ハンドブック(&H)"

#: kstandardaction_p.h:104
#, kde-format
msgid "What's &This?"
msgstr "これは何？(&T)"

#: kstandardaction_p.h:105
#, kde-format
msgid "Tip of the &Day"
msgstr "今日の一言(&D)"

#: kstandardaction_p.h:106
#, kde-format
msgid "&Report Bug..."
msgstr "バグを報告(&R)..."

#: kstandardaction_p.h:107
#, fuzzy, kde-format
#| msgid "&Configure %1..."
msgid "Configure &Language..."
msgstr "%1 を設定(&C)..."

#: kstandardaction_p.h:108
#, kde-format
msgid "&About %1"
msgstr "%1 について(&A)"

#: kstandardaction_p.h:109
#, kde-format
msgid "About &KDE"
msgstr "KDE について(&K)"

#: kstandardaction_p.h:110
#, kde-format
msgid "&Delete"
msgstr "削除(&D)"

#: kstandardaction_p.h:111
#, kde-format
msgid "&Rename..."
msgstr "名前変更(&R)..."

#: kstandardaction_p.h:112
#, kde-format
msgid "&Move to Trash"
msgstr "ごみ箱に移動(&M)"

#: kstandardaction_p.h:113
#, kde-format
msgid "&Donate"
msgstr "寄付(&D)"

#: kstandardaction_p.h:114
#, fuzzy, kde-format
#| msgid "Open &Recent"
msgid "Open &Menu"
msgstr "最近のファイルを開く(&R)"

#: ktipdialog.cpp:217
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "今日の一言"

#: ktipdialog.cpp:233
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr ""

#: ktipdialog.cpp:286
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr ""

#: ktipdialog.cpp:291
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "前へ(&P)"

#: ktipdialog.cpp:296
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "次へ(&N)"
