# Translation of kdelibs4 into Japanese.
# This file is distributed under the same license as the kdelibs package.
# Taiki Komoda <kom@kde.gr.jp>, 2002, 2004, 2006, 2010.
# Noboru Sinohara <shinobo@leo.bekkoame.ne.jp>, 2004.
# Toyohiro Asukai <toyohiro@ksmplus.com>, 2004.
# Kurose Shushi <md81@bird.email.ne.jp>, 2004.
# AWASHIRO Ikuya <ikuya@oooug.jp>, 2004.
# Shinichi Tsunoda <tsuno@ngy.1st.ne.jp>, 2005.
# Yukiko Bando <ybando@k6.dion.ne.jp>, 2006, 2007, 2008, 2009, 2010.
# Fumiaki Okushi <okushi@kde.gr.jp>, 2006, 2007, 2008, 2010, 2011.
#
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-09-08 07:56+0000\n"
"PO-Revision-Date: 2011-08-27 14:05-0700\n"
"Last-Translator: Fumiaki Okushi <okushi@kde.gr.jp>\n"
"Language-Team: Japanese <kde-jp@kde.org>\n"
"Language: ja\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Accelerator-Marker: &\n"
"X-Text-Markup: kde4\n"
"X-Generator: Lokalize 1.1\n"

msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr ""
"Taiki Komoda,Noboru Sinohara,Toyohiro Asukai,Kurose Shushi,Shinichi Tsunoda"

msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr ""
"kom@kde.gr.jp,shinobo@leo.bekkoame.ne.jp,toyohiro@ksmplus.com,md81@bird."
"email.ne.jp,tsuno@ngy.1st.ne.jp"

#: kcmodule.cpp:153
msgid "You will be asked to authenticate before saving"
msgstr "保存する前に認証を求められます"

#: kcmodule.cpp:157
msgid "You are not allowed to save the configuration"
msgstr "あなたは設定を保存することを許可されていません"

#: kcodecaction.cpp:90
msgctxt "Encodings menu"
msgid "Default"
msgstr "デフォルト"

#: kcodecaction.cpp:98
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "自動検出"

#: klanguagebutton.cpp:194
msgid "without name"
msgstr "名前なし"

#: krecentfilesaction.cpp:78
msgid "No Entries"
msgstr "エントリなし"

#: krecentfilesaction.cpp:82
msgid "Clear List"
msgstr "リストをクリア"

#: kstandardaction.cpp:90
msgctxt "go back"
msgid "&Back"
msgstr "戻る(&B)"

#: kstandardaction.cpp:97
msgctxt "go forward"
msgid "&Forward"
msgstr "進む(&F)"

#: kstandardaction.cpp:104
msgctxt "home page"
msgid "&Home"
msgstr "ホーム(&H)"

#: kstandardaction.cpp:107
msgctxt "show help"
msgid "&Help"
msgstr "ヘルプ(&H)"

#: kstandardaction.cpp:526 kstandardaction_p.h:96
msgid "Show &Menubar"
msgstr "メニューバーを表示(&M)"

#: kstandardaction.cpp:534
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "メニューバーを表示<p>隠したメニューバーを再び表示します</p>"

#: kstandardaction.cpp:552 kstandardaction_p.h:98
msgid "Show St&atusbar"
msgstr "ステータスバーを表示(&A)"

#: kstandardaction.cpp:555
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"ステータスバーを表示 <p>ステータスバーを表示します (ウィンドウの下方にある"
"バーで状態情報表示のために使用されています)。</p>"

#: kstandardaction_p.h:41
msgid "&New"
msgstr "新規(&N)"

#: kstandardaction_p.h:41
#, fuzzy
#| msgctxt "@label"
#| msgid "Create new tag:"
msgid "Create new document"
msgstr "新しいタグを作成:"

#: kstandardaction_p.h:42
msgid "&Open..."
msgstr "開く(&O)..."

#: kstandardaction_p.h:42
#, fuzzy
#| msgid "&Back in the Document"
msgid "Open an existing document"
msgstr "文書の閲覧履歴の前へ戻る(&B)"

#: kstandardaction_p.h:43
msgid "Open &Recent"
msgstr "最近のファイルを開く(&R)"

#: kstandardaction_p.h:43
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:44
msgid "&Save"
msgstr "保存(&S)"

#: kstandardaction_p.h:44
#, fuzzy
#| msgid "Close Document"
msgid "Save document"
msgstr "文書を閉じる"

#: kstandardaction_p.h:45
msgid "Save &As..."
msgstr "名前を付けて保存(&A)..."

#: kstandardaction_p.h:45
#, fuzzy
#| msgid "Close Document"
msgid "Save document under a new name"
msgstr "文書を閉じる"

#: kstandardaction_p.h:46
msgid "Re&vert"
msgstr "戻す(&V)"

#: kstandardaction_p.h:46
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:47
msgid "&Close"
msgstr "閉じる(&C)"

#: kstandardaction_p.h:47
#, fuzzy
#| msgid "Close Document"
msgid "Close document"
msgstr "文書を閉じる"

#: kstandardaction_p.h:48
msgid "&Print..."
msgstr "印刷(&P)..."

#: kstandardaction_p.h:48
#, fuzzy
#| msgctxt "keyboard-key-name"
#| msgid "PrintScreen"
msgid "Print document"
msgstr "PrintScreen"

#: kstandardaction_p.h:49
msgid "Print Previe&w"
msgstr "印刷プレビュー(&W)"

#: kstandardaction_p.h:49
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:50
msgid "&Mail..."
msgstr "メール(&M)..."

#: kstandardaction_p.h:50
#, fuzzy
#| msgid "Close Document"
msgid "Send document by mail"
msgstr "文書を閉じる"

#: kstandardaction_p.h:51
msgid "&Quit"
msgstr "終了(&Q)"

#: kstandardaction_p.h:51
msgid "Quit application"
msgstr "アプリケーションを終了します"

#: kstandardaction_p.h:53
msgid "&Undo"
msgstr "元に戻す(&U)"

#: kstandardaction_p.h:53
#, fuzzy
#| msgctxt ""
#| "A link to make a donation for a Get Hot New Stuff item (opens a web "
#| "browser)"
#| msgid "Make a donation"
msgid "Undo last action"
msgstr "募金する"

#: kstandardaction_p.h:54
msgid "Re&do"
msgstr "やり直す(&D)"

#: kstandardaction_p.h:54
#, fuzzy
#| msgctxt ""
#| "A link to make a donation for a Get Hot New Stuff item (opens a web "
#| "browser)"
#| msgid "Make a donation"
msgid "Redo last undone action"
msgstr "募金する"

#: kstandardaction_p.h:55
msgid "Cu&t"
msgstr "切り取り(&T)"

#: kstandardaction_p.h:55
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:56
msgid "&Copy"
msgstr "コピー(&C)"

#: kstandardaction_p.h:56
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:57 kstandardaction_p.h:58
msgid "&Paste"
msgstr "貼り付け(&P)"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, fuzzy
#| msgid "Upload content"
msgid "Paste clipboard content"
msgstr "コンテンツをアップロード"

#: kstandardaction_p.h:59
msgid "C&lear"
msgstr "クリア(&L)"

#: kstandardaction_p.h:60
msgid "Select &All"
msgstr "すべて選択(&A)"

#: kstandardaction_p.h:61
msgid "Dese&lect"
msgstr "選択解除(&L)"

#: kstandardaction_p.h:62
msgid "&Find..."
msgstr "検索(&F)..."

#: kstandardaction_p.h:63
msgid "Find &Next"
msgstr "次を検索(&N)"

#: kstandardaction_p.h:64
msgid "Find Pre&vious"
msgstr "前を検索(&V)"

#: kstandardaction_p.h:65
msgid "&Replace..."
msgstr "置換(&R)..."

#: kstandardaction_p.h:67
msgid "&Actual Size"
msgstr "実際のサイズ(&A)"

#: kstandardaction_p.h:67
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:68
msgid "&Fit to Page"
msgstr "ページに合わせる(&F)"

#: kstandardaction_p.h:68
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Zoom to fit page in window"
msgstr "行に移動"

#: kstandardaction_p.h:69
msgid "Fit to Page &Width"
msgstr "ページの幅に合わせる(&W)"

#: kstandardaction_p.h:69
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:70
msgid "Fit to Page &Height"
msgstr "ページの高さに合わせる(&H)"

#: kstandardaction_p.h:70
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:71
msgid "Zoom &In"
msgstr "拡大(&I)"

#: kstandardaction_p.h:72
msgid "Zoom &Out"
msgstr "縮小(&O)"

#: kstandardaction_p.h:73
msgid "&Zoom..."
msgstr "ズーム(&Z)..."

#: kstandardaction_p.h:73
#, fuzzy
#| msgid "Select a week"
msgid "Select zoom level"
msgstr "週を選択"

#: kstandardaction_p.h:74
msgid "&Redisplay"
msgstr "再表示(&R)"

#: kstandardaction_p.h:74
#, fuzzy
#| msgid "&Redisplay"
msgid "Redisplay document"
msgstr "再表示(&R)"

#: kstandardaction_p.h:76
msgid "&Up"
msgstr "上へ(&U)"

#: kstandardaction_p.h:76
msgid "Go up"
msgstr ""

#: kstandardaction_p.h:81
msgid "&Previous Page"
msgstr "前のページ(&P)"

#: kstandardaction_p.h:81
#, fuzzy
#| msgid "&Previous Page"
msgid "Go to previous page"
msgstr "前のページ(&P)"

#: kstandardaction_p.h:82
msgid "&Next Page"
msgstr "次のページ(&N)"

#: kstandardaction_p.h:82
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to next page"
msgstr "行に移動"

#: kstandardaction_p.h:83
msgid "&Go To..."
msgstr "移動(&G)..."

#: kstandardaction_p.h:84
msgid "&Go to Page..."
msgstr "ページに移動(&G)..."

#: kstandardaction_p.h:85
msgid "&Go to Line..."
msgstr "行に移動(&G)..."

#: kstandardaction_p.h:86
msgid "&First Page"
msgstr "最初のページ(&F)"

#: kstandardaction_p.h:86
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to first page"
msgstr "行に移動"

#: kstandardaction_p.h:87
msgid "&Last Page"
msgstr "最後のページ(&L)"

#: kstandardaction_p.h:87
#, fuzzy
#| msgid "&Go to Page..."
msgid "Go to last page"
msgstr "ページに移動(&G)..."

#: kstandardaction_p.h:88
msgid "&Back"
msgstr "戻る(&B)"

#: kstandardaction_p.h:88
#, fuzzy
#| msgid "&Back in the Document"
msgid "Go back in document"
msgstr "文書の閲覧履歴の前へ戻る(&B)"

#: kstandardaction_p.h:89
#, fuzzy
#| msgctxt "go forward"
#| msgid "&Forward"
msgid "&Forward"
msgstr "進む(&F)"

#: kstandardaction_p.h:89
#, fuzzy
#| msgid "&Forward in the Document"
msgid "Go forward in document"
msgstr "文書の閲覧履歴の先へ進む(&F)"

#: kstandardaction_p.h:91
msgid "&Add Bookmark"
msgstr "ブックマークに追加(&A)"

#: kstandardaction_p.h:92
msgid "&Edit Bookmarks..."
msgstr "ブックマークを編集(&E)..."

#: kstandardaction_p.h:94
msgid "&Spelling..."
msgstr "スペルチェック(&S)..."

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "Check Spelling"
msgid "Check spelling in document"
msgstr "スペルチェック"

#: kstandardaction_p.h:96
#, fuzzy
#| msgid "Show &Menubar"
msgid "Show or hide menubar"
msgstr "メニューバーを表示(&M)"

#: kstandardaction_p.h:97
msgid "Show &Toolbar"
msgstr "ツールバーを表示(&T)"

#: kstandardaction_p.h:97
#, fuzzy
#| msgctxt "@action"
#| msgid "Show Toolbar"
msgid "Show or hide toolbar"
msgstr "ツールバーを表示"

#: kstandardaction_p.h:98
#, fuzzy
#| msgctxt "@action"
#| msgid "Show Statusbar"
msgid "Show or hide statusbar"
msgstr "ステータスバーを表示"

#: kstandardaction_p.h:99
msgid "F&ull Screen Mode"
msgstr "フルスクリーンモード(&U)|/|$[~setProps ~label 'フルスクリーン']"

#: kstandardaction_p.h:100
msgid "&Save Settings"
msgstr "設定を保存(&S)"

#: kstandardaction_p.h:101
msgid "Configure S&hortcuts..."
msgstr "ショートカットを設定(&H)..."

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "%1 を設定(&C)..."

#: kstandardaction_p.h:103
msgid "Configure Tool&bars..."
msgstr "ツールバーを設定(&B)..."

#: kstandardaction_p.h:104
msgid "Configure &Notifications..."
msgstr "通知を設定(&N)..."

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 ハンドブック(&H)"

#: kstandardaction_p.h:110
msgid "What's &This?"
msgstr "これは何？(&T)"

#: kstandardaction_p.h:111
msgid "Tip of the &Day"
msgstr "今日の一言(&D)"

#: kstandardaction_p.h:112
msgid "&Report Bug..."
msgstr "バグを報告(&R)..."

#: kstandardaction_p.h:113
msgid "Switch Application &Language..."
msgstr "アプリケーションの言語を切り替え(&L)..."

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "%1 について(&A)"

#: kstandardaction_p.h:115
msgid "About &KDE"
msgstr "KDE について(&K)"
