# translation of kdelibs4.po to Bengali INDIA
# Copyright (C) YEAR This_file_is_part_of_KDE
# This file is distributed under the same license as the PACKAGE package.
#
# Runa Bhattacharjee <runabh@gmail.com>, 2007.
# Runa Bhattacharjee <runab@redhat.com>, 2008, 2009.
# Runa Bhattacharjee <runab@fedoraproject.org>, 2008.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2021-12-26 00:40+0000\n"
"PO-Revision-Date: 2009-12-28 14:35+0530\n"
"Last-Translator: Runa Bhattacharjee <runab@redhat.com>\n"
"Language-Team: Bengali INDIA <anubad@lists.ankur.org.in>\n"
"Language: bn_IN\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=(n != 1);\n"
"X-Generator: KBabel 1.11.4\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "রুণা ভট্টাচার্য্য"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "runabh@gmail.com"

#: kcmodule.cpp:189
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "সংরক্ষণের পূর্বে পরিচয় প্রমাণ করার অনুরোধ জানানো হবে"

#: kcmodule.cpp:193
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "কনফিগারেশন সংরক্ষণের জন্য আপনি অধিকারপ্রাপ্ত নন"

#: kcodecaction.cpp:66
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "ডিফল্ট"

#: kcodecaction.cpp:74
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "স্বয়ংক্রিয় সনাক্তকরণ"

#: kcolorschememanager.cpp:200 kcolorschememanager.cpp:205
#, fuzzy, kde-format
#| msgid "Shortcut Schemes"
msgid "Color Scheme"
msgstr "শর্ট-কাট স্কিম"

#: kcolorschememodel.cpp:71
#, fuzzy, kde-format
#| msgctxt "Encodings menu"
#| msgid "Default"
msgid "Default"
msgstr "ডিফল্ট"

#: kcommandbar.cpp:584
#, kde-format
msgid "No commands matching the filter"
msgstr ""

#: kconfigdialog.cpp:37
#, fuzzy, kde-format
#| msgid "Configure"
msgctxt "@title:window"
msgid "Configure"
msgstr "কনফিগার করুন"

#: khamburgermenu.cpp:126
#, fuzzy, kde-format
#| msgctxt "keyboard-key-name"
#| msgid "Menu"
msgctxt "@action:inmenu General purpose menu"
msgid "&Menu"
msgstr "Menu"

#: khamburgermenu.cpp:342
#, fuzzy, kde-format
#| msgid "Shortcut '%1' for action '%2'\n"
msgctxt "@action:inmenu A menu text advertising its contents (more features)."
msgid "For %1 more action:"
msgid_plural "For %1 more actions:"
msgstr[0] "'%1' শর্ট-কাট, '%2' কর্মের জন্য নিবন্ধিত\n"
msgstr[1] "'%1' শর্ট-কাট, '%2' কর্মের জন্য নিবন্ধিত\n"

#: khamburgermenu.cpp:345
#, kde-format
msgctxt ""
"@action:inmenu A section heading advertising the contents of the menu bar"
msgid "%1 Menu Bar Exclusive Action"
msgid_plural "%1 Menu Bar Exclusive Actions"
msgstr[0] ""
msgstr[1] ""

#: krecentfilesaction.cpp:68
#, kde-format
msgid "No Entries"
msgstr "কোনো এনট্রি উপস্থিত নেই"

#: krecentfilesaction.cpp:74
#, kde-format
msgid "Clear List"
msgstr "তালিকার তথ্য মুছে ফেলা হবে"

#: kstandardaction.cpp:140
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "পূর্ববর্তী ধাপ (&B)"

#: kstandardaction.cpp:147
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "পরবর্তী ধাপ (&F)"

#: kstandardaction.cpp:154
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "প্রথম পৃষ্ঠা (&H)"

#: kstandardaction.cpp:158
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "সাহায্য (&H)"

#: kstandardaction.cpp:215
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr ""

#: kstandardaction.cpp:236
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""

#: kstandardaction_p.h:30
msgid "&New"
msgstr "নতুন (&N)"

#: kstandardaction_p.h:30
#, fuzzy
#| msgid "Create New Tag..."
msgid "Create new document"
msgstr "নতুন ট্যাগ নির্মাণ করুন"

#: kstandardaction_p.h:31
msgid "&Open..."
msgstr "খুলুন...(&O)"

#: kstandardaction_p.h:31
#, fuzzy
#| msgid "&Back in the Document"
msgid "Open an existing document"
msgstr "ডকুমেন্টের পূর্ববর্তী অংশ (&B)"

#: kstandardaction_p.h:32
msgid "Open &Recent"
msgstr "সম্প্রতি ব্যবহৃত খুলুন (&R)"

#: kstandardaction_p.h:32
msgid "Open a document which was recently opened"
msgstr ""

#: kstandardaction_p.h:33
msgid "&Save"
msgstr "সংরক্ষণ করুন (&S)"

#: kstandardaction_p.h:33
#, fuzzy
#| msgid "Close Document"
msgid "Save document"
msgstr "ডকুমেন্ট বন্ধ করুন"

#: kstandardaction_p.h:34
msgid "Save &As..."
msgstr "নতুন রূপে সংরক্ষণ...(&A)"

#: kstandardaction_p.h:34
#, fuzzy
#| msgid "Close Document"
msgid "Save document under a new name"
msgstr "ডকুমেন্ট বন্ধ করুন"

#: kstandardaction_p.h:35
msgid "Re&vert"
msgstr "পূর্বাবস্থা (&v)"

#: kstandardaction_p.h:35
msgid "Revert unsaved changes made to document"
msgstr ""

#: kstandardaction_p.h:36
msgid "&Close"
msgstr "বন্ধ করুন (&C)"

#: kstandardaction_p.h:36
#, fuzzy
#| msgid "Close Document"
msgid "Close document"
msgstr "ডকুমেন্ট বন্ধ করুন"

#: kstandardaction_p.h:37
msgid "&Print..."
msgstr "প্রিন্ট করুন...(&P)"

#: kstandardaction_p.h:37
#, fuzzy
#| msgctxt "keyboard-key-name"
#| msgid "PrintScreen"
msgid "Print document"
msgstr "PrintScreen"

#: kstandardaction_p.h:38
msgid "Print Previe&w"
msgstr "প্রিন্টের পূর্বরূপ (&w)"

#: kstandardaction_p.h:38
msgid "Show a print preview of document"
msgstr ""

#: kstandardaction_p.h:39
msgid "&Mail..."
msgstr "মেইল...(&M)"

#: kstandardaction_p.h:39
#, fuzzy
#| msgid "Close Document"
msgid "Send document by mail"
msgstr "ডকুমেন্ট বন্ধ করুন"

#: kstandardaction_p.h:40
msgid "&Quit"
msgstr "প্রস্থান (&Q)"

#: kstandardaction_p.h:40
msgid "Quit application"
msgstr "অ্যাপ্লিকেশন থেকে প্রস্থান করুন"

#: kstandardaction_p.h:42
msgid "&Undo"
msgstr "পূর্বাবস্থা (&U)"

#: kstandardaction_p.h:42
#, fuzzy
#| msgid "HTML documentation"
msgid "Undo last action"
msgstr "HTML নথিপত্র"

#: kstandardaction_p.h:43
msgid "Re&do"
msgstr "পুনরাবৃত্তি (&d)"

#: kstandardaction_p.h:43
#, fuzzy
#| msgid "HTML documentation"
msgid "Redo last undone action"
msgstr "HTML নথিপত্র"

#: kstandardaction_p.h:44
msgid "Cu&t"
msgstr "কাট করুন (&t)"

#: kstandardaction_p.h:44
msgid "Cut selection to clipboard"
msgstr ""

#: kstandardaction_p.h:45
msgid "&Copy"
msgstr "কপি করুন (&C)"

#: kstandardaction_p.h:45
msgid "Copy selection to clipboard"
msgstr ""

#: kstandardaction_p.h:46 kstandardaction_p.h:48
msgid "&Paste"
msgstr "পেস্ট করুন (&P)"

#: kstandardaction_p.h:46 kstandardaction_p.h:48
#, fuzzy
#| msgid "Uploading content..."
msgid "Paste clipboard content"
msgstr "বিষয়বস্তু আপলোড করা হচ্ছে..."

#: kstandardaction_p.h:50
msgid "C&lear"
msgstr "পরিশ্রুত করুন (&l)"

#: kstandardaction_p.h:51
msgid "Select &All"
msgstr "সমগ্র নির্বাচন করুন (&A)"

#: kstandardaction_p.h:52
msgid "Dese&lect"
msgstr "নির্বাচন বাতিল (&l)"

#: kstandardaction_p.h:53
msgid "&Find..."
msgstr "অনুসন্ধান...(&F)"

#: kstandardaction_p.h:54
msgid "Find &Next"
msgstr "পরবর্তী উপস্থিতি অনুসন্ধান (&N)"

#: kstandardaction_p.h:55
msgid "Find Pre&vious"
msgstr "পূর্ববর্তী উপস্থিতি অনুসন্ধান (&v)"

#: kstandardaction_p.h:56
msgid "&Replace..."
msgstr "প্রতিস্থাপন...(&R)"

#: kstandardaction_p.h:58
msgid "&Actual Size"
msgstr "প্রকৃত মাপ (&A)"

#: kstandardaction_p.h:58
msgid "View document at its actual size"
msgstr ""

#: kstandardaction_p.h:59
msgid "&Fit to Page"
msgstr "পৃষ্ঠা অনুযায়ী মাপ নির্ধারণ (&F)"

#: kstandardaction_p.h:59
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Zoom to fit page in window"
msgstr "উল্লিখিত পংক্তি সংখ্যা দেখুন"

#: kstandardaction_p.h:60
msgid "Fit to Page &Width"
msgstr "পৃষ্ঠার প্রস্থ অনুযায়ী মাপ নির্ধারণ (&W)"

#: kstandardaction_p.h:60
msgid "Zoom to fit page width in window"
msgstr ""

#: kstandardaction_p.h:61
msgid "Fit to Page &Height"
msgstr "পৃষ্ঠার দৈর্ঘ্য অনুযায়ী মাপ নির্ধারণ (&H)"

#: kstandardaction_p.h:61
msgid "Zoom to fit page height in window"
msgstr ""

#: kstandardaction_p.h:62
msgid "Zoom &In"
msgstr "বড় করে প্রদর্শন (&I)"

#: kstandardaction_p.h:63
msgid "Zoom &Out"
msgstr "ছোট করে প্রদর্শন (&O)"

#: kstandardaction_p.h:64
msgid "&Zoom..."
msgstr "প্রদর্শনের মাপ...(&Z)"

#: kstandardaction_p.h:64
#, fuzzy
#| msgid "Select a week"
msgid "Select zoom level"
msgstr "একটি সপ্তাহ নির্বাচন করুন"

#: kstandardaction_p.h:65
msgid "&Refresh"
msgstr ""

#: kstandardaction_p.h:65
#, fuzzy
#| msgid "&Redisplay"
msgid "Refresh document"
msgstr "পুনরায় প্রদর্শন (&R)"

#: kstandardaction_p.h:67
msgid "&Up"
msgstr "উপরে (&U)"

#: kstandardaction_p.h:67
msgid "Go up"
msgstr ""

#: kstandardaction_p.h:72
msgid "&Previous Page"
msgstr "পূর্ববর্তী পৃষ্ঠা (&P)"

#: kstandardaction_p.h:72
#, fuzzy
#| msgid "&Previous Page"
msgid "Go to previous page"
msgstr "পূর্ববর্তী পৃষ্ঠা (&P)"

#: kstandardaction_p.h:73
msgid "&Next Page"
msgstr "পরবর্তী পৃষ্ঠা (&N)"

#: kstandardaction_p.h:73
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to next page"
msgstr "উল্লিখিত পংক্তি সংখ্যা দেখুন"

#: kstandardaction_p.h:74
msgid "&Go To..."
msgstr "চিহ্নিত অবস্থানে চলুন...(&G)"

#: kstandardaction_p.h:75
msgid "&Go to Page..."
msgstr "উল্লিখিত পৃষ্ঠা প্রদর্শন...(&G)"

#: kstandardaction_p.h:76
msgid "&Go to Line..."
msgstr "উল্লিখিত পংক্তি প্রদর্শন...(&G)"

#: kstandardaction_p.h:77
msgid "&First Page"
msgstr "প্রথম পৃষ্ঠা (&F)"

#: kstandardaction_p.h:77
#, fuzzy
#| msgctxt "@action"
#| msgid "Go to Line"
msgid "Go to first page"
msgstr "উল্লিখিত পংক্তি সংখ্যা দেখুন"

#: kstandardaction_p.h:78
msgid "&Last Page"
msgstr "অন্তিম পৃষ্ঠা (&L)"

#: kstandardaction_p.h:78
#, fuzzy
#| msgid "&Go to Page..."
msgid "Go to last page"
msgstr "উল্লিখিত পৃষ্ঠা প্রদর্শন...(&G)"

#: kstandardaction_p.h:79
msgid "&Back"
msgstr "পূর্ববর্তী (&B)"

#: kstandardaction_p.h:79
#, fuzzy
#| msgid "&Back in the Document"
msgid "Go back in document"
msgstr "ডকুমেন্টের পূর্ববর্তী অংশ (&B)"

#: kstandardaction_p.h:80
#, fuzzy
#| msgctxt "go forward"
#| msgid "&Forward"
msgid "&Forward"
msgstr "পরবর্তী ধাপ (&F)"

#: kstandardaction_p.h:80
#, fuzzy
#| msgid "&Forward in the Document"
msgid "Go forward in document"
msgstr "ডকুমেন্টের পরবর্তী অংশে (&F)"

#: kstandardaction_p.h:82
msgid "&Add Bookmark"
msgstr "বুকমার্ক যোগ করুন (&A)"

#: kstandardaction_p.h:83
#, fuzzy
#| msgid "&Edit Bookmarks"
msgid "&Edit Bookmarks..."
msgstr "বুকমার্ক সম্পাদনা (&E)"

#: kstandardaction_p.h:85
msgid "&Spelling..."
msgstr "বানান...(&S)"

#: kstandardaction_p.h:85
#, fuzzy
#| msgid "Check Spelling"
msgid "Check spelling in document"
msgstr "বানান পরীক্ষা করা হবে"

#: kstandardaction_p.h:87
msgid "Show &Menubar"
msgstr "মেনুবার প্রদর্শন (&M)"

#: kstandardaction_p.h:87
#, fuzzy
#| msgid "Show &Menubar"
msgid "Show or hide menubar"
msgstr "মেনুবার প্রদর্শন (&M)"

#: kstandardaction_p.h:88
msgid "Show &Toolbar"
msgstr "টুলবার প্রদর্শন (&T)"

#: kstandardaction_p.h:88
#, fuzzy
#| msgctxt "@action"
#| msgid "Show Toolbar"
msgid "Show or hide toolbar"
msgstr "টুলবার প্রদর্শন"

#: kstandardaction_p.h:89
msgid "Show St&atusbar"
msgstr "স্ট্যাটাস-বার প্রদর্শন (&a)"

#: kstandardaction_p.h:89
#, fuzzy
#| msgctxt "@action"
#| msgid "Show Statusbar"
msgid "Show or hide statusbar"
msgstr "স্ট্যাটাস-বার প্রদর্শন"

#: kstandardaction_p.h:90
msgid "F&ull Screen Mode"
msgstr "সম্পূর্ণ পর্দাজুড়ে প্রদর্শন (&u)"

#: kstandardaction_p.h:92
msgid "&Save Settings"
msgstr "বৈশিষ্ট্য সংরক্ষণ করুন (&S)"

#: kstandardaction_p.h:94
#, fuzzy
#| msgid "Configure S&hortcuts..."
msgid "Configure Keyboard S&hortcuts..."
msgstr "শর্টকাট কনফিগার করুন...(&h)"

#: kstandardaction_p.h:95
#, kde-format
msgid "&Configure %1..."
msgstr "%1 কনফিগার করুন...(&C)"

#: kstandardaction_p.h:96
msgid "Configure Tool&bars..."
msgstr "টুলবার কনফিগার করুন... (&b)"

#: kstandardaction_p.h:97
msgid "Configure &Notifications..."
msgstr "সূচনাবার্তা কনফিগার করুন... (&N)"

#: kstandardaction_p.h:104
#, kde-format
msgid "%1 &Handbook"
msgstr "%1 হ্যান্ড-বুক (&H)"

#: kstandardaction_p.h:105
msgid "What's &This?"
msgstr "এটি কী? (&T)"

#: kstandardaction_p.h:106
msgid "Tip of the &Day"
msgstr "দিনের উপদেশ (&D)"

#: kstandardaction_p.h:107
msgid "&Report Bug..."
msgstr "বাগ রিপোর্ট দায়ের করুন...(&R)"

#: kstandardaction_p.h:108
#, fuzzy
#| msgid "Configure Email..."
msgid "Configure &Language..."
msgstr "ই-মেইল কনফিগার করুন..."

#: kstandardaction_p.h:109
#, kde-format
msgid "&About %1"
msgstr "%1 পরিচিতি (&A)"

#: kstandardaction_p.h:110
msgid "About &KDE"
msgstr "KDE পরিচিতি (&K)"

#: kstandardaction_p.h:111
#, fuzzy
#| msgid "Delete"
msgid "&Delete"
msgstr "মুছে ফেলুন"

#: kstandardaction_p.h:112
#, fuzzy
#| msgid "&Replace..."
msgid "&Rename..."
msgstr "প্রতিস্থাপন...(&R)"

#: kstandardaction_p.h:113
msgid "&Move to Trash"
msgstr ""

#: kstandardaction_p.h:114
msgid "&Donate"
msgstr ""

#: kstandardaction_p.h:115
#, fuzzy
#| msgid "Open &Recent"
msgid "Open &Menu"
msgstr "সম্প্রতি ব্যবহৃত খুলুন (&R)"

#: ktipdialog.cpp:219
#, fuzzy, kde-format
#| msgid "Tip of the Day"
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "আজকের উপদেশ"

#: ktipdialog.cpp:235
#, fuzzy, kde-format
#| msgid "Did you know...?\n"
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "আপনি কি জানেন...?\n"

#: ktipdialog.cpp:288
#, fuzzy, kde-format
#| msgid "&Show tips on startup"
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "প্রারম্ভকালে উপেদশ প্রদর্শন করা হবে (&S)"

#: ktipdialog.cpp:293
#, fuzzy, kde-format
#| msgid "&Previous"
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "পূর্ববর্তী (&P)"

#: ktipdialog.cpp:298
#, fuzzy, kde-format
#| msgid "&Next"
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "পরবর্তী (&N)"
