[KCM Locale]
Name=Hungarian
Name[ca]=Hongarès
Name[es]=Húngaro
Name[ia]=Hungaro 
Name[nl]=Hongaars
Name[sl]=Madžarščina
Name[tr]=Macarca
Name[uk]=угорська
Name[x-test]=xxHungarianxx
