# Translation of kconfigwidgets5 to Norwegian Nynorsk
#
# Gaute Hvoslef Kvalnes <gaute@verdsveven.com>, 2003, 2004, 2005, 2006.
# Håvard Korsvoll <korsvoll@skulelinux.no>, 2003, 2005.
# Karl Ove Hufthammer <karl@huftis.org>, 2004, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2018.
# Eirik U. Birkeland <eirbir@gmail.com>, 2008, 2009, 2010.
msgid ""
msgstr ""
"Project-Id-Version: kdelibs4\n"
"Report-Msgid-Bugs-To: https://bugs.kde.org\n"
"POT-Creation-Date: 2019-08-05 02:40+0200\n"
"PO-Revision-Date: 2018-02-12 19:57+0100\n"
"Last-Translator: Karl Ove Hufthammer <karl@huftis.org>\n"
"Language-Team: Norwegian Nynorsk <i18n-nn@lister.ping.uio.no>\n"
"Language: nn\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 2.0\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Environment: kde\n"
"X-Accelerator-Marker: &\n"
"X-Text-Markup: kde4\n"

#, kde-format
msgctxt "NAME OF TRANSLATORS"
msgid "Your names"
msgstr "Gaute Hvoslef Kvalnes,Karl Ove Hufthammer"

#, kde-format
msgctxt "EMAIL OF TRANSLATORS"
msgid "Your emails"
msgstr "gaute@verdsveven.com,karl@huftis.org"

#: kcmodule.cpp:170
#, kde-format
msgid "You will be asked to authenticate before saving"
msgstr "Du vert spurd om innloggingsdetaljar før lagringa"

#: kcmodule.cpp:174
#, kde-format
msgid "You are not allowed to save the configuration"
msgstr "Du har ikkje løyve til å lagra oppsettet"

#: kcodecaction.cpp:90
#, kde-format
msgctxt "Encodings menu"
msgid "Default"
msgstr "Standard"

#: kcodecaction.cpp:98
#, kde-format
msgctxt "Encodings menu"
msgid "Autodetect"
msgstr "Oppdag automatisk"

#: kconfigdialog.cpp:44
#, kde-format
msgctxt "@title:window"
msgid "Configure"
msgstr "Set opp"

#: krecentfilesaction.cpp:77
#, kde-format
msgid "No Entries"
msgstr "Ingen oppføringar"

#: krecentfilesaction.cpp:83
#, kde-format
msgid "Clear List"
msgstr "Tøm liste"

#: kstandardaction.cpp:153
#, kde-format
msgctxt "go back"
msgid "&Back"
msgstr "&Tilbake"

#: kstandardaction.cpp:160
#, kde-format
msgctxt "go forward"
msgid "&Forward"
msgstr "&Fram"

#: kstandardaction.cpp:167
#, kde-format
msgctxt "home page"
msgid "&Home"
msgstr "&Heim"

#: kstandardaction.cpp:170
#, kde-format
msgctxt "show help"
msgid "&Help"
msgstr "&Hjelp"

#: kstandardaction.cpp:214
#, kde-format
msgid "Show Menubar<p>Shows the menubar again after it has been hidden</p>"
msgstr "Vis menylinje <p>Vis menylinja igjen etter at ho er gøymd.</p>"

#: kstandardaction.cpp:234
#, kde-format
msgid ""
"Show Statusbar<p>Shows the statusbar, which is the bar at the bottom of the "
"window used for status information.</p>"
msgstr ""
"Vis statuslinje<p>Viser statuslinja, som ligg nedst i vindauget og vert "
"brukt til å visa statusinformasjon.</p>"

#: kstandardaction_p.h:41
#, kde-format
msgid "&New"
msgstr "&Ny"

#: kstandardaction_p.h:41
#, kde-format
msgid "Create new document"
msgstr "Lag nytt dokument"

#: kstandardaction_p.h:42
#, kde-format
msgid "&Open..."
msgstr "&Opna …"

#: kstandardaction_p.h:42
#, kde-format
msgid "Open an existing document"
msgstr "Opna eit gammalt dokument"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open &Recent"
msgstr "Nyleg &brukt"

#: kstandardaction_p.h:43
#, kde-format
msgid "Open a document which was recently opened"
msgstr "Opna eit nyleg opna dokument"

#: kstandardaction_p.h:44
#, kde-format
msgid "&Save"
msgstr "&Lagra"

#: kstandardaction_p.h:44
#, kde-format
msgid "Save document"
msgstr "Lagra dokument"

#: kstandardaction_p.h:45
#, kde-format
msgid "Save &As..."
msgstr "Lagra &som …"

#: kstandardaction_p.h:45
#, kde-format
msgid "Save document under a new name"
msgstr "Lagra dokument med nytt namn"

#: kstandardaction_p.h:46
#, kde-format
msgid "Re&vert"
msgstr "&Tilbakestill"

#: kstandardaction_p.h:46
#, kde-format
msgid "Revert unsaved changes made to document"
msgstr "Tilbakestill ulagra endringar i dokumentet"

#: kstandardaction_p.h:47
#, kde-format
msgid "&Close"
msgstr "&Lukk"

#: kstandardaction_p.h:47
#, kde-format
msgid "Close document"
msgstr "Lukk dokument"

#: kstandardaction_p.h:48
#, kde-format
msgid "&Print..."
msgstr "Skriv &ut …"

#: kstandardaction_p.h:48
#, kde-format
msgid "Print document"
msgstr "Skriv ut dokument"

#: kstandardaction_p.h:49
#, kde-format
msgid "Print Previe&w"
msgstr "&Førehandsvising"

#: kstandardaction_p.h:49
#, kde-format
msgid "Show a print preview of document"
msgstr "Vis ei førehandsvising av dokument"

#: kstandardaction_p.h:50
#, kde-format
msgid "&Mail..."
msgstr "S&end …"

#: kstandardaction_p.h:50
#, kde-format
msgid "Send document by mail"
msgstr "Send dokumentet med e-post"

#: kstandardaction_p.h:51
#, kde-format
msgid "&Quit"
msgstr "&Avslutt"

#: kstandardaction_p.h:51
#, kde-format
msgid "Quit application"
msgstr "Avslutt program"

#: kstandardaction_p.h:53
#, kde-format
msgid "&Undo"
msgstr "A&ngra"

#: kstandardaction_p.h:53
#, kde-format
msgid "Undo last action"
msgstr "Angra siste handling"

#: kstandardaction_p.h:54
#, kde-format
msgid "Re&do"
msgstr "&Gjer om"

#: kstandardaction_p.h:54
#, kde-format
msgid "Redo last undone action"
msgstr "Gjer om siste angra handling"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cu&t"
msgstr "Klipp &ut"

#: kstandardaction_p.h:55
#, kde-format
msgid "Cut selection to clipboard"
msgstr "Klipp ut utvalet til utklippstavla"

#: kstandardaction_p.h:56
#, kde-format
msgid "&Copy"
msgstr "&Kopier"

#: kstandardaction_p.h:56
#, kde-format
msgid "Copy selection to clipboard"
msgstr "Kopierer utvalet til utklippstavla"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, kde-format
msgid "&Paste"
msgstr "&Lim inn"

#: kstandardaction_p.h:57 kstandardaction_p.h:58
#, kde-format
msgid "Paste clipboard content"
msgstr "Lim inn frå utklippstavla"

#: kstandardaction_p.h:59
#, kde-format
msgid "C&lear"
msgstr "&Tøm"

#: kstandardaction_p.h:60
#, kde-format
msgid "Select &All"
msgstr "&Merk alt"

#: kstandardaction_p.h:61
#, kde-format
msgid "Dese&lect"
msgstr "&Fjern merking"

#: kstandardaction_p.h:62
#, kde-format
msgid "&Find..."
msgstr "&Finn …"

#: kstandardaction_p.h:63
#, kde-format
msgid "Find &Next"
msgstr "Finn n&este"

#: kstandardaction_p.h:64
#, kde-format
msgid "Find Pre&vious"
msgstr "Finn &førre"

#: kstandardaction_p.h:65
#, kde-format
msgid "&Replace..."
msgstr "&Byt ut …"

#: kstandardaction_p.h:67
#, kde-format
msgid "&Actual Size"
msgstr "&Verkeleg storleik"

#: kstandardaction_p.h:67
#, kde-format
msgid "View document at its actual size"
msgstr "Vis dokumentet med faktisk storleik"

#: kstandardaction_p.h:68
#, kde-format
msgid "&Fit to Page"
msgstr "&Tilpass sidestorleik"

#: kstandardaction_p.h:68
#, kde-format
msgid "Zoom to fit page in window"
msgstr "Vis dokumentet slik at det får plass i vindauget"

#: kstandardaction_p.h:69
#, kde-format
msgid "Fit to Page &Width"
msgstr "Tilpass side&breidd"

#: kstandardaction_p.h:69
#, kde-format
msgid "Zoom to fit page width in window"
msgstr "Vis dokumentet slik at heile breidda får plass i vindauget"

#: kstandardaction_p.h:70
#, kde-format
msgid "Fit to Page &Height"
msgstr "Tilpass side&høgd"

#: kstandardaction_p.h:70
#, kde-format
msgid "Zoom to fit page height in window"
msgstr "Vis dokumentet slik at heile høgda får plass i vindauget"

#: kstandardaction_p.h:71
#, kde-format
msgid "Zoom &In"
msgstr "Vis &større"

#: kstandardaction_p.h:72
#, kde-format
msgid "Zoom &Out"
msgstr "Vis &mindre"

#: kstandardaction_p.h:73
#, kde-format
msgid "&Zoom..."
msgstr "&Vis større/mindre …"

#: kstandardaction_p.h:73
#, kde-format
msgid "Select zoom level"
msgstr "Vel forstørring"

#: kstandardaction_p.h:74
#, kde-format
msgid "&Redisplay"
msgstr "Frisk &opp"

#: kstandardaction_p.h:74
#, kde-format
msgid "Redisplay document"
msgstr "Vis dokumentet på nytt"

#: kstandardaction_p.h:76
#, kde-format
msgid "&Up"
msgstr "&Opp"

#: kstandardaction_p.h:76
#, kde-format
msgid "Go up"
msgstr "Gå opp"

#: kstandardaction_p.h:81
#, kde-format
msgid "&Previous Page"
msgstr "&Førre side"

#: kstandardaction_p.h:81
#, kde-format
msgid "Go to previous page"
msgstr "Gå til førre side"

#: kstandardaction_p.h:82
#, kde-format
msgid "&Next Page"
msgstr "&Neste side"

#: kstandardaction_p.h:82
#, kde-format
msgid "Go to next page"
msgstr "Gå til neste side"

#: kstandardaction_p.h:83
#, kde-format
msgid "&Go To..."
msgstr "&Gå til …"

#: kstandardaction_p.h:84
#, kde-format
msgid "&Go to Page..."
msgstr "&Gå til side …"

#: kstandardaction_p.h:85
#, kde-format
msgid "&Go to Line..."
msgstr "G&å til linje …"

#: kstandardaction_p.h:86
#, kde-format
msgid "&First Page"
msgstr "&Første side"

#: kstandardaction_p.h:86
#, kde-format
msgid "Go to first page"
msgstr "Gå til første side"

#: kstandardaction_p.h:87
#, kde-format
msgid "&Last Page"
msgstr "&Siste side"

#: kstandardaction_p.h:87
#, kde-format
msgid "Go to last page"
msgstr "Gå til siste side"

#: kstandardaction_p.h:88
#, kde-format
msgid "&Back"
msgstr "&Tilbake"

#: kstandardaction_p.h:88
#, kde-format
msgid "Go back in document"
msgstr "Gå bakover i dokumentet"

#: kstandardaction_p.h:89
#, kde-format
msgid "&Forward"
msgstr "&Fram"

#: kstandardaction_p.h:89
#, kde-format
msgid "Go forward in document"
msgstr "Gå framover i dokumentet"

#: kstandardaction_p.h:91
#, kde-format
msgid "&Add Bookmark"
msgstr "&Legg til bokmerke"

#: kstandardaction_p.h:92
#, kde-format
msgid "&Edit Bookmarks..."
msgstr "&Rediger bokmerke …"

#: kstandardaction_p.h:94
#, kde-format
msgid "&Spelling..."
msgstr "&Stavekontroll …"

#: kstandardaction_p.h:94
#, kde-format
msgid "Check spelling in document"
msgstr "Køyr stavekontroll på dokumentet"

#: kstandardaction_p.h:96
#, kde-format
msgid "Show &Menubar"
msgstr "Vis &menylinje"

#: kstandardaction_p.h:96
#, kde-format
msgid "Show or hide menubar"
msgstr "Vis eller gøym menylinja"

#: kstandardaction_p.h:97
#, kde-format
msgid "Show &Toolbar"
msgstr "Vis &verktøylinje"

#: kstandardaction_p.h:97
#, kde-format
msgid "Show or hide toolbar"
msgstr "Vis eller gøym verktøylinja"

#: kstandardaction_p.h:98
#, kde-format
msgid "Show St&atusbar"
msgstr "Vis st&atuslinje"

#: kstandardaction_p.h:98
#, kde-format
msgid "Show or hide statusbar"
msgstr "Vis eller gøym statuslinja"

#: kstandardaction_p.h:99
#, kde-format
msgid "F&ull Screen Mode"
msgstr "F&ullskjermmodus"

#: kstandardaction_p.h:100
#, kde-format
msgid "&Save Settings"
msgstr "&Lagra innstillingar"

#: kstandardaction_p.h:101
#, kde-format
msgid "Configure S&hortcuts..."
msgstr "Set opp snøgg&tastar …"

#: kstandardaction_p.h:102
#, kde-format
msgid "&Configure %1..."
msgstr "&Set opp %1 …"

#: kstandardaction_p.h:103
#, kde-format
msgid "Configure Tool&bars..."
msgstr "Set opp verktøy&linjer …"

#: kstandardaction_p.h:104
#, kde-format
msgid "Configure &Notifications..."
msgstr "Set opp &varslingar …"

#: kstandardaction_p.h:109
#, kde-format
msgid "%1 &Handbook"
msgstr "%1-&handbok"

#: kstandardaction_p.h:110
#, kde-format
msgid "What's &This?"
msgstr "Kva er de&tte?"

#: kstandardaction_p.h:111
#, kde-format
msgid "Tip of the &Day"
msgstr "&Dagens tips"

#: kstandardaction_p.h:112
#, kde-format
msgid "&Report Bug..."
msgstr "&Meld frå om feil …"

#: kstandardaction_p.h:113
#, kde-format
msgid "Switch Application &Language..."
msgstr "Byt &programspråk …"

#: kstandardaction_p.h:114
#, kde-format
msgid "&About %1"
msgstr "&Om %1"

#: kstandardaction_p.h:115
#, kde-format
msgid "About &KDE"
msgstr "Om &KDE"

#: kstandardaction_p.h:116
#, kde-format
msgid "&Delete"
msgstr "&Slett"

#: kstandardaction_p.h:117
#, kde-format
msgid "&Rename..."
msgstr "&Endra namn …"

#: kstandardaction_p.h:118
#, kde-format
msgid "&Move to Trash"
msgstr "&Flytt til papirkorga"

#: kstandardaction_p.h:119
#, kde-format
msgid "&Donate"
msgstr "&Gje pengegåve"

#: ktipdialog.cpp:239
#, kde-format
msgctxt "@title:window"
msgid "Tip of the Day"
msgstr "Dagens tips"

#: ktipdialog.cpp:255
#, kde-format
msgctxt "@title"
msgid "Did you know...?\n"
msgstr "Visste du …?\n"

#: ktipdialog.cpp:307
#, kde-format
msgctxt "@option:check"
msgid "&Show tips on startup"
msgstr "&Vis tips ved oppstart"

#: ktipdialog.cpp:312
#, kde-format
msgctxt "@action:button Goes to previous tip"
msgid "&Previous"
msgstr "&Førre"

#: ktipdialog.cpp:317
#, kde-format
msgctxt "@action:button Goes to next tip, opposite to previous"
msgid "&Next"
msgstr "&Neste"
