[KCM Locale]
Name=Maithili
Name[ca]=Maithili
Name[es]=Maithili
Name[ia]=Maithili
Name[nl]=Maithili
Name[sl]=Maitilščina
Name[tr]=Maithili Dili
Name[uk]=майтхілі
Name[x-test]=xxMaithilixx
